Repository flutter/plugins, pull requests merged in 2018-07, with the labels that each got.

#620 Fixed bug in handleStopListeningAuthState method
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#648 Bump firebase_storage to 1.0
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/lib/src/upload_task.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#655 url_launcher: Add statusBarBrightness field to launch for iOS
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#653 On disconnect
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/lib/firebase_database.dart
  packages/firebase_database/lib/src/database_reference.dart
  packages/firebase_database/lib/src/on_disconnect.dart
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
Labels: cla: yes, flutterfire

#646 Add barcode detector for ML Vision
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#652 Setup detectors to be called with options
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/Detector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/LabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextDetector.java
  packages/firebase_ml_vision/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/TextDetector.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/lib/src/text_detector.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes

#649 Dart side of face detector
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/text_detector.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#663 Bump http version to match flutter_test
  packages/firebase_performance/example/pubspec.yaml
Labels: cla: yes, flutterfire

#662 Dart side of label detector
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes

#606 Add phone auth
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/README.md
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#666 bump firebase_auth version
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#667 Fix plugin formatting
  packages/device_info/lib/device_info.dart
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/lib/src/firebase_database.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_sign_in/lib/widgets.dart
  packages/path_provider/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
Labels: cla: yes

#661 Android and iOS FaceDetector
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
Labels: cla: yes

#670 Fix auto phone auth
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#669 Update README with new detectors
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#675 Bump Firebase Android dependencies
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/build.gradle
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/build.gradle
  packages/cloud_functions/example/android/build.gradle
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/build.gradle
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/example/android/build.gradle
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/example/android/build.gradle
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/example/android/build.gradle
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/example/android/build.gradle
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/example/android/build.gradle
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/android/build.gradle
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes, flutterfire

#681 Fix formatting
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_sign_in/lib/widgets.dart
  packages/path_provider/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
Labels: cla: yes

#683 Adding support to setLanguageCode to FirebaseAuth
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#668 Android and iOS implementations of LabelDetector
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/LabelDetector.java
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/LabelDetector.m
Labels: cla: yes, flutterfire

#684 Adding support for FirebaseUser.delete()
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#677 Android and iOS BarcodeDetector options
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes, flutterfire

#673 Update barcode detector to handle options
  packages/firebase_ml_vision/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#629 Update docs to reflect field paths separated by '.'
  AUTHORS
  packages/cloud_firestore/lib/src/query.dart
Labels: cla: yes, flutterfire, needs love

#647 Support updateEmail in firebase_auth
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: no, flutterfire

#687 Allowed extending the RemoteConfig class
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes, flutterfire

#694 Fix incomplete README for FirebaseAuth
  packages/firebase_auth/README.md
Labels: cla: yes
