Repository flutter/plugins, pull requests merged in 2018-11, with the labels that each got.

#883 Pin mockito to 3.0.0 to unbreak CI
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes

#882 Only update state for the registrar's activity
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
Labels: cla: yes

#783 Allow quick_actions to register more than once
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/pubspec.yaml
Labels: cla: yes

#758 local_auth: Use minimal support library
  packages/local_auth/android/build.gradle
Labels: cla: yes

#889 Run cleartoken task in background
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
Labels: cla: yes

#768 Support sign-in with Github and linking Github accounts to existing users
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#859 Change google-services.json and GoogleService-Info.plist of example
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/example/android/app/google-services.json
  packages/google_sign_in/example/android/build.gradle
  packages/google_sign_in/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/example/ios/Runner/GoogleService-Info.plist
  packages/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#777 Resolved compiler warnings in CloudFirestorePlugin.m
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, flutterfire

#780 Set iOS deployment target to 8.0, fixes compilation errors
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/ios/cloud_functions.podspec
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes, flutterfire

#893 guild how to fix crash with admod version 17.0.0
  AUTHORS
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
Labels: cla: no, flutterfire

#888 [firebase_analytics] Allow setUserID input to be null
  packages/firebase_analytics/lib/firebase_analytics.dart
Labels: cla: yes, flutterfire

#890 Initial iOS implementation for webview_flutter.
  packages/webview_flutter/example/ios/Runner/Info.plist
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/Classes/WebViewFlutterPlugin.h
  packages/webview_flutter/ios/Classes/WebViewFlutterPlugin.m
  packages/webview_flutter/ios/Classes/WebviewFlutterPlugin.m
  packages/webview_flutter/lib/webview_flutter.dart
Labels: cla: yes

#892 Migrate google_maps_flutter to use UiKitView.
  packages/google_maps_flutter/example/ios/Runner/Info.plist
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.m
  packages/google_maps_flutter/lib/src/google_map.dart
Labels: cla: yes

#894 Bump firebase_analytics version to 1.0.6
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes, flutterfire

#880 Update docs/example for AdMob
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/android/src/main/AndroidManifest.xml
  packages/firebase_admob/example/android/app/src/main/AndroidManifest.xml
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#891 Increase play-services-auth dependency
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#872 Fix crash when repeating detection
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/CloudLabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/LabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
Labels: cla: yes, flutterfire

#899 Fix null language code and no detected text bug
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#906 Update location_background
  packages/location_background/ios/Classes/LocationBackgroundPlugin.m
Labels: cla: yes

#898 Adding My Location parameter to the Google Maps plugin
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/example/ios/Runner/Info.plist
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/ui.dart
Labels: cla: yes

#910 Don't depend on the Android support library in google_maps_flutter.
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
Labels: cla: yes

#911 Shuffle text selection TODOs.
  packages/webview_flutter/lib/webview_flutter.dart
Labels: cla: yes

#908 [video_player] ExoPlayer 2.9.1, Android 9, Demo fixes
  packages/video_player/CHANGELOG.md
  packages/video_player/android/build.gradle
  packages/video_player/example/android/app/build.gradle
  packages/video_player/example/android/app/src/main/AndroidManifest.xml
  packages/video_player/example/android/app/src/main/res/xml/network_security_config.xml
  packages/video_player/example/android/build.gradle
  packages/video_player/pubspec.yaml
Labels: cla: yes

#913 reformat FirebaseAuthPlugin.m
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
Labels: cla: yes

#915 Set all gradle-wrapper versions to 4.10.2
  packages/android_alarm_manager/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/android_intent/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/battery/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/camera/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/connectivity/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/device_info/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_admob/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/location_background/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/package_info/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/sensors/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/share/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes

#919 docs: Improves READMEs styles
  packages/firebase_admob/README.md
  packages/firebase_ml_vision/README.md
  packages/firebase_remote_config/README.md
  packages/google_sign_in/README.md
  packages/local_auth/README.md
  packages/shared_preferences/README.md
Labels: cla: yes

#921 Use context() instead of activity()
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/DeviceInfoPlugin.java
Labels: cla: yes

#775 Fixes error handling in firebase_auth on Android and iOS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#920 Update Google Maps Plugin README.
  packages/google_maps_flutter/README.md
Labels: cla: yes

#922 [android_alarm_manager] bump firebase_auth dependencies
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#917 Upgrade Google services plugin to 4.2.0
  packages/android_alarm_manager/example/android/build.gradle
  packages/cloud_firestore/example/android/build.gradle
  packages/cloud_functions/example/android/build.gradle
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_auth/README.md
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_database/example/android/build.gradle
  packages/firebase_dynamic_links/example/android/build.gradle
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_ml_vision/example/android/build.gradle
  packages/firebase_performance/example/android/build.gradle
  packages/firebase_remote_config/README.md
  packages/firebase_remote_config/example/android/build.gradle
  packages/firebase_storage/example/android/build.gradle
Labels: cla: yes

#925 Delete reference to the pub plugin
  packages/google_maps_flutter/README.md
Labels: cla: yes

#924 Adding closeWebView feature to url_launcher
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#930 Initial README for the WebView plugin.
  packages/webview_flutter/README.md
Labels: cla: yes

#928 Introduce credentials to firebase_auth
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/lib/src/auth_credential.dart
  packages/firebase_auth/lib/src/auth_exception.dart
  packages/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/facebook_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/github_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/google_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/twitter_auth_provider.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/lib/src/user_info.dart
  packages/firebase_auth/lib/src/user_metadata.dart
  packages/firebase_auth/lib/src/user_update_info.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes

#932 Bump google_maps_flutter version to 0.0.2 (pre release).
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#933 Update the IAP README
  packages/in_app_purchase/README.md
Labels: cla: yes

#934 Re-hook the Google Map callbacks on iOS(and some cleanups).
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
Labels: cla: yes

#935 Remove unused map id fields.
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Labels: cla: yes

#937 Don't export dart:async by the Google Maps plugin.
  packages/google_maps_flutter/lib/google_maps_flutter.dart
Labels: cla: yes

#938 Bring back the google_maps_flutter pub badge.
  packages/google_maps_flutter/README.md
Labels: cla: yes

#939 Bump google_maps_flutter's version to 0.0.3.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#940 Set a minimal Flutter version for the webview plugin.
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#943 Keep a reference to the plugin registrar in `FLTGoogleMapController`.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#942 Camera uses the device orientation on Android
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#944 Don't recommend to add maps as a git dependency any more.
  packages/google_maps_flutter/README.md
Labels: cla: yes

#945 Bump maps plugin version.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#946 [google_maps_flutter] Relax Flutter version requirement to 0.11.9
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes
