Repository flutter/plugins, pull requests merged in 2018-03, with the labels that each got.

#400 Fix Dart 2 type errors in cloud_firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#401 Fix Dart 2 type errors in firebase_admob
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#403 Fix Dart 2 issues in firebase plugins
  packages/battery/pubspec.yaml
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes

#389 Banner Ad Positioning
  packages/firebase_admob/README.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/ios/Classes/FLTMobileAd.h
  packages/firebase_admob/ios/Classes/FLTMobileAd.m
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/test/firebase_admob_test.dart
Labels: cla: yes

#407 Fix url_launcher for iOS <10
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
Labels: cla: yes

#408 Fix new formatting errors
  packages/android_intent/lib/android_intent.dart
  packages/device_info/lib/device_info.dart
  packages/firebase_core/lib/src/firebase_options.dart
  packages/firebase_database/lib/ui/firebase_animated_list.dart
  packages/video_player/lib/video_player.dart
Labels: cla: yes

#406 Firestore: Allow null document snapshot data when document does not exist
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#414 Remove Gradle artifacts from repo
  packages/android_alarm_manager/example/android/gradle/wrapper/gradle-wrapper.jar
  packages/android_alarm_manager/example/android/gradlew
  packages/android_alarm_manager/example/android/gradlew.bat
  packages/camera/example/android/gradle/wrapper/gradle-wrapper.jar
  packages/device_info/example/android/gradle/wrapper/gradle-wrapper.jar
  packages/device_info/example/android/gradlew
  packages/device_info/example/android/gradlew.bat
  packages/firebase_core/example/android/gradle/wrapper/gradle-wrapper.jar
  packages/firebase_core/example/android/gradlew
  packages/firebase_core/example/android/gradlew.bat
Labels: cla: yes

#412 Set SDK constraints to match Flutter beta
  .travis.yml
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/pubspec.yaml
  packages/battery/CHANGELOG.md
  packages/battery/pubspec.yaml
  packages/camera/CHANGELOG.md
  packages/camera/pubspec.yaml
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/pubspec.yaml
  packages/connectivity/CHANGELOG.md
  packages/connectivity/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/pubspec.yaml
  packages/google_mobile_maps/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/pubspec.yaml
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/pubspec.yaml
  packages/path_provider/CHANGELOG.md
  packages/path_provider/pubspec.yaml
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/pubspec.yaml
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/pubspec.yaml
  packages/video_player/CHANGELOG.md
  packages/video_player/pubspec.yaml
Labels: cla: yes

#383 Configure Flutter CI
  .cirrus.yml
Labels: cla: yes

#411 Spelling
  CONTRIBUTING.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/connectivity/lib/connectivity.dart
  packages/firebase_admob/README.md
  packages/firebase_analytics/lib/observer.dart
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/lib/auth_strings.dart
  packages/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
Labels: cla: yes, needs love

#415 Always use the latest Flutter available
  .cirrus.yml
Labels: cla: yes

#417 Fix Dart 2 runtime error in the camera plugin
  packages/camera/CHANGELOG.md
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#420 Fixed deprecation warnings
  packages/cloud_firestore/test/cloud_firestore_test.dart
  packages/google_sign_in/example/lib/main.dart
Labels: cla: yes

#419 Fix a Dart 2 runtime cast failure in firebase_database test
  packages/firebase_database/test/firebase_database_test.dart
Labels: cla: yes

#425 Fix Dart 2 type error and deprecation
  packages/battery/CHANGELOG.md
  packages/battery/example/lib/main.dart
  packages/battery/lib/battery.dart
  packages/battery/pubspec.yaml
  packages/firebase_messaging/example/lib/main.dart
Labels: cla: yes

#424 add runtime permission requests for external storage and camera
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/lib/main.dart
Labels: cla: yes

#422 Incremental Build Script
  .cirrus.yml
  script/incremental_build.sh
Labels: cla: yes

#410 add fetchProvidersForEmail wrapper
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes

#427 bump minor version and add changelog entry
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#402 AdSizes for AdMob banner ads
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/example/.gitignore
  packages/firebase_admob/example/ios/Flutter/Debug.xcconfig
  packages/firebase_admob/example/ios/Flutter/Release.xcconfig
  packages/firebase_admob/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/ios/Classes/FLTMobileAd.h
  packages/firebase_admob/ios/Classes/FLTMobileAd.m
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/test/firebase_admob_test.dart
Labels: cla: no

#428 Updated to 0.5.0
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#430 [AndroidAlarmManager] Update README.md
  packages/android_alarm_manager/README.md
Labels: cla: yes

#431 Cut a new firebase_database version with dart2 runtime cast fix
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#432 Fix Dart 2 type error
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#433 Fix null error in example
  packages/cloud_firestore/example/lib/main.dart
Labels: cla: yes

#434 Fix Dart 2 runtime type error in msg handler
  packages/firebase_messaging/lib/firebase_messaging.dart
Labels: cla: yes

#429 Extend StandardMessageCodec for Cloud Firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#361 Batch support for Firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/write_batch.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, needs love

#438 Bump version for re-publication
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#439 Fix Dart 2 runtime type errors
  packages/camera/CHANGELOG.md
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#436 Replace AnchorType.andhorBottom with AnchorType.bottom
  packages/firebase_admob/README.md
Labels: cla: yes

#443 Secure fetchProvidersForEmail (no providers)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#423 Image picker plugin: use the native Android gallery / file chooser
  packages/image_picker/CHANGELOG.md
  packages/image_picker/LICENSE
  packages/image_picker/README.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ExifDataCopier.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/example/lib/main.dart
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Labels: cla: yes

#445 [Image Picker] Import foundation for the @required annotations
  packages/image_picker/lib/image_picker.dart
Labels: cla: yes

#446 Keep git states clean after flutter package get on all plugins
  packages/android_alarm_manager/example/ios/Flutter/Debug.xcconfig
  packages/android_alarm_manager/example/ios/Flutter/Release.xcconfig
  packages/android_intent/example/ios/Flutter/Debug.xcconfig
  packages/android_intent/example/ios/Flutter/Release.xcconfig
  packages/battery/example/ios/Flutter/Debug.xcconfig
  packages/battery/example/ios/Flutter/Release.xcconfig
  packages/camera/example/ios/Flutter/Debug.xcconfig
  packages/camera/example/ios/Flutter/Release.xcconfig
  packages/connectivity/example/ios/Flutter/Debug.xcconfig
  packages/connectivity/example/ios/Flutter/Release.xcconfig
  packages/device_info/example/ios/Flutter/Debug.xcconfig
  packages/device_info/example/ios/Flutter/Release.xcconfig
  packages/firebase_analytics/example/ios/.gitignore
  packages/firebase_core/example/ios/Flutter/Debug.xcconfig
  packages/firebase_core/example/ios/Flutter/Release.xcconfig
  packages/firebase_messaging/example/ios/.gitignore
  packages/local_auth/example/ios/Flutter/Debug.xcconfig
  packages/local_auth/example/ios/Flutter/Release.xcconfig
  packages/package_info/example/ios/Flutter/Debug.xcconfig
  packages/package_info/example/ios/Flutter/Release.xcconfig
  packages/path_provider/example/ios/.gitignore
  packages/quick_actions/example/ios/Flutter/Debug.xcconfig
  packages/quick_actions/example/ios/Flutter/Release.xcconfig
  packages/sensors/example/ios/Flutter/Debug.xcconfig
  packages/sensors/example/ios/Flutter/Release.xcconfig
  packages/share/example/ios/Flutter/Debug.xcconfig
  packages/share/example/ios/Flutter/Release.xcconfig
  packages/url_launcher/example/ios/.gitignore
  packages/video_player/example/ios/Flutter/Debug.xcconfig
  packages/video_player/example/ios/Flutter/Release.xcconfig
Labels: cla: yes
