Repository flutter/plugins, pull requests merged in 2018-10, with the labels that each got.

#796 add option to enable javascript in android webview
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#802 Bump camera version
  packages/camera/CHANGELOG.md
  packages/camera/pubspec.yaml
Labels: cla: yes

#805 Handle user cancel when signing in
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
Labels: cla: yes

#795 Updating arrays in Firestore always throws an Exception on Android
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
Labels: cla: yes, flutterfire

#808 Bump version for #795
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#807 Check activity isFinishing before authentication
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
Labels: cla: yes

#811 Add page names for firebaseopensource.com
  .opensource/project.json
Labels: cla: yes

#810 Set http version to be compatible with flutter_test
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes, flutterfire

#639 Added android device id to android device info
  packages/device_info/CHANGELOG.md
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/DeviceInfoPlugin.java
  packages/device_info/example/lib/main.dart
  packages/device_info/lib/device_info.dart
  packages/device_info/pubspec.yaml
Labels: cla: yes, needs love

#812 Set http version to be compatible with flutter_test
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes, flutterfire

#697 adding support auth link for Twitter
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#718 [Firebase Auth] added access to User metadata
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#821 Bump firebase_core Android dependencies to latest
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/build.gradle
  packages/firebase_core/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#786 Added getter for Marker ID in maps package
  packages/google_maps_flutter/lib/src/marker.dart
Labels: cla: yes

#825 fix CI
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_intent/example/lib/main.dart
  packages/android_intent/lib/android_intent.dart
  packages/camera/lib/camera.dart
  packages/cloud_firestore/lib/src/blob.dart
  packages/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/geo_point.dart
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/lib/src/snapshot_metadata.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_functions/lib/cloud_functions.dart
  packages/device_info/lib/device_info.dart
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_analytics/example/lib/tabs_page.dart
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_database/lib/src/event.dart
  packages/firebase_database/lib/src/firebase_database.dart
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_remote_config/lib/src/remote_config_fetch_throttled_exception.dart
  packages/firebase_remote_config/lib/src/remote_config_settings.dart
  packages/firebase_remote_config/lib/src/remote_config_value.dart
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/lib/src/upload_task.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/ui.dart
  packages/google_sign_in/lib/google_sign_in.dart
  packages/image_picker/example/lib/main.dart
  packages/local_auth/lib/auth_strings.dart
  packages/location_background/lib/location_background_plugin.dart
  packages/quick_actions/lib/quick_actions.dart
  packages/sensors/example/lib/main.dart
  packages/sensors/example/lib/snake.dart
  packages/sensors/lib/sensors.dart
  packages/video_player/example/lib/main.dart
  packages/video_player/lib/video_player.dart
Labels: cla: yes

#830 Bump android dependencies to latest
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/build.gradle
  packages/cloud_functions/example/android/build.gradle
  packages/cloud_functions/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#829 bump cloud_firestore android dependencies
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/build.gradle
  packages/cloud_firestore/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#833 bump firebase_database android dependencies to latest
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/example/android/build.gradle
  packages/firebase_database/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#834 Bump firebase_storage Android dependencies to latest
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/android/build.gradle
  packages/firebase_storage/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#835 Bump firebase_admob Android dependencies to latest
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_admob/example/pubspec.yaml
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#836 Bump firebase_analytics Android dependencies to latest
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes

#774 Update firebase_ml_vision for latest Firebase MLKit API
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/CloudLabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/CloudLabelDetector.m
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/cloud_detector_options.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/lib/src/text_detector.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/lib/src/vision_cloud_detector_options.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#839 Bump firebase_auth Android dependencies
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#841 bump firebase_messaging android dependencies to latest
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#840 Bump firebase_dynamic_links Android dependencies
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/example/android/build.gradle
  packages/firebase_dynamic_links/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes

#847 Bump firebase_performance Android dependencies to latest.
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/example/android/build.gradle
  packages/firebase_performance/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes

#846 Bump firebase_ml_vision Android dependencies to latest
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/example/android/build.gradle
  packages/firebase_ml_vision/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#843 Add clearMarkers() functionality to GoogleMapController
  packages/google_maps_flutter/lib/src/controller.dart
Labels: cla: yes

#845 Add biometry type detection to local_auth plugin
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/lib/main.dart
  packages/local_auth/ios/Classes/LocalAuthPlugin.m
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#818 remove unnecessary new from samples
  packages/android_alarm_manager/README.md
  packages/android_intent/README.md
  packages/battery/README.md
  packages/camera/README.md
  packages/cloud_firestore/README.md
  packages/connectivity/README.md
  packages/device_info/README.md
  packages/firebase_admob/README.md
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_analytics/README.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_dynamic_links/README.md
  packages/firebase_messaging/README.md
  packages/firebase_performance/README.md
  packages/google_maps_flutter/README.md
  packages/google_sign_in/README.md
  packages/google_sign_in/lib/testing.dart
  packages/image_picker/README.md
  packages/local_auth/README.md
  packages/quick_actions/README.md
  packages/shared_preferences/README.md
  packages/url_launcher/README.md
Labels: cla: yes

#778 Change webview and maps to use gesture factories.
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/webview_flutter/lib/webview_flutter.dart
Labels: cla: yes

#853 Change android invites dependency to dynamic links
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes, flutterfire

#813 video_player: Fixed null exception when file has no width or height.
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#857 Use exoplayer's prefered API for MediaSources
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/pubspec.yaml
Labels: cla: yes

#759 Correct usage of StreamBuilder
  packages/cloud_firestore/README.md
Labels: cla: yes, flutterfire

#761 fix requestNotificationPermissions api
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes, flutterfire

#765 Timestamps firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/lib/src/timestamp.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: no, flutterfire

#861 fixing formatting
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
Labels: cla: yes

#773 Fix a crash in the snapshot callback
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, flutterfire

#781 FirebaseAuth multi app support
  packages/firebase_auth/README.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#873 Get rid of unneeded Firebase import
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.h
Labels: cla: yes

#868 Rev version
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#869 [firebase_messaging] changing getToken to rely on platform's getToken (2)
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Labels: cla: yes

#824 Use METHOD value instead of SIGN_UP_METHOD
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes, flutterfire

#785 Update example with interactable link
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes, flutterfire

#689 Fix preview and video size with satisfying conditions of multiple outputs.
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
Labels: cla: yes
