Repository flutter/plugins, pull requests merged in 2018-09, with the labels that each got.

#754 cloud_functions readme: Fix Dart source formatting
  packages/cloud_functions/README.md
Labels: cla: yes

#531 Add monitoring and management to uploads
  AUTHORS
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/lib/src/error.dart
  packages/firebase_storage/lib/src/event.dart
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/lib/src/upload_task.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes, flutterfire, needs love

#650 listener on MobileAd shouldn't be final
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes, flutterfire

#672 Firebase Messaging: fix Android notification body and title not sent to Flutter
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes, flutterfire

#685 Adding getWifiName to connectivity plugin
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/AndroidManifest.xml
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/ios/Classes/ConnectivityPlugin.m
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#763 Remove unused navigatorObservers from the Google Maps example.
  packages/google_maps_flutter/example/lib/main.dart
Labels: cla: yes

#760 Firestore FieldValues and persistence
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#762 Removed Google Guava dependency from firebase_auth.
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
Labels: cla: yes, flutterfire

#733 Update ios MLKit Text Recognition to '5.6.0'
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/TextDetector.m
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
Labels: cla: yes, flutterfire

#764 Bump firebase_auth version number
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#732 Update Text Recognition for android to 17.0.0
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
Labels: cla: yes, flutterfire

#767 Rebuild VideoPlayer once VideoPlayerController finishes initialization.
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/QueuingEventSink.java
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#753 Add an initialUrl and a javaScriptMode parameters to WebView
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#755 Add a gestureRecognizers parameter to GoogleMap.
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/google_map.dart
Labels: cla: yes

#695 Vision cloud label detection
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/CloudLabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/CloudLabelDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/lib/src/vision_cloud_detector_options.dart
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#769 Update VideoPlayer widget when the attached controller changes
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
  packages/video_player/test/video_player_test.dart
Labels: cla: yes

#779 Mark textureId as @visibleForTesting.
  packages/video_player/lib/video_player.dart
Labels: cla: yes

#792 Switch over to new GoogleSignIn APIs
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
Labels: cla: yes

#797 use WidgetsBindingObserver as a mixin
  packages/video_player/lib/video_player.dart
Labels: cla: yes

#798 Ban string values which clash with special prefixes
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#678 Add updatePassword functionality to firebase_auth plugin.
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#799 Add ability to clear auth cache on Android
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#800 Move SystemChrome update to platform side
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#645 Unregister the activity lifecycle callbacks when disposing the camera
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
Labels: cla: yes

#804 Allow latest version for MLVision on ios
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
Labels: cla: yes, flutterfire
