Repository flutter/plugins, pull requests merged in 2018-04, with the labels that each got.

#441 Make SharedPreferences return failures
  packages/shared_preferences/README.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/ios/Classes/SharedPreferencesPlugin.m
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes

#448 Remove yourcompany.com from iOS product bundle IDs
  packages/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/device_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes

#451 Remove yourcompany.com from google_sign_in
  packages/google_sign_in/example/android/app/google-services.json
  packages/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/example/ios/Runner/GoogleService-Info.plist
  packages/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/example/lib/main.dart
Labels: cla: yes

#447 Remove yourcompany.com from cloud_firestore
  packages/cloud_firestore/example/android/app/google-services.json
  packages/cloud_firestore/example/ios/Runner.xcodeproj/project.pbxproj
  packages/cloud_firestore/example/ios/Runner/GoogleService-Info.plist
  packages/cloud_firestore/example/ios/Runner/Info.plist
  packages/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/lib/cloud_firestore.dart
Labels: cla: yes

#450 Remove yourcompany.com from firebase_database
  packages/firebase_database/example/android/app/google-services.json
  packages/firebase_database/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_database/example/ios/Runner/GoogleService-Info.plist
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/example/pubspec.yaml
Labels: cla: yes

#449 Remove yourcompany.com from firebase_storage
  packages/firebase_storage/example/android/app/google-services.json
  packages/firebase_storage/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_storage/example/ios/Runner/GoogleService-Info.plist
Labels: cla: yes

#452 Hide Firestore codec class and move each class into separate files
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/lib/src/geo_point.dart
  packages/cloud_firestore/lib/src/transaction.dart
Labels: cla: yes

#454 Fix behavior of constructor for named FirebaseApps
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/pubspec.yaml
  packages/firebase_core/test/firebase_core_test.dart
Labels: cla: yes

#455 Fix FirebaseApp projectID on iOS
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#456 Bump Flutter SDK requirement
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#444 Don't fail an incremental build if can't find a merge base
  script/incremental_build.sh
Labels: cla: yes

#453 [Image Picker] - Use native Android APIs for taking images with camera and remove unneeded 3rd party dependency
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/android/build.gradle
  packages/image_picker/android/src/main/AndroidManifest.xml
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/android/src/main/res/xml/flutter_image_picker_file_paths.xml
  packages/image_picker/example/android/app/build.gradle
  packages/image_picker/example/android/build.gradle
  packages/image_picker/example/lib/main.dart
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Labels: cla: yes

#437 Enable playing video from local asset.
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/example/assets/Butterfly-209.mp4
  packages/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/example/ios/Runner/Info.plist
  packages/video_player/example/lib/main.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#462 Play video from file descriptor
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
Labels: cla: yes

#464 rename the analysis options file
  analysis_options.yaml
Labels: cla: yes

#460 Enable playing video from package asset
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/lib/video_player.dart
Labels: cla: yes

#465 Fix firebase_database dependencies
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/lib/firebase_database.dart
  packages/firebase_database/lib/ui/firebase_animated_list.dart
  packages/firebase_database/lib/ui/firebase_list.dart
  packages/firebase_database/lib/ui/firebase_sorted_list.dart
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#463 Add map camera control API
  packages/google_mobile_maps/android/src/main/java/io/flutter/plugins/googlemobilemaps/GoogleMobileMapsPlugin.java
  packages/google_mobile_maps/example/lib/animate_camera.dart
  packages/google_mobile_maps/example/lib/main.dart
  packages/google_mobile_maps/example/lib/move_camera.dart
  packages/google_mobile_maps/example/lib/page.dart
  packages/google_mobile_maps/example/lib/place_marker.dart
  packages/google_mobile_maps/google_mobile_maps.iml
  packages/google_mobile_maps/lib/google_mobile_maps.dart
  packages/google_mobile_maps/lib/src/camera.dart
  packages/google_mobile_maps/lib/src/controller.dart
  packages/google_mobile_maps/lib/src/marker.dart
  packages/google_mobile_maps/lib/src/model.dart
  packages/google_mobile_maps/lib/src/platform_overlay.dart
Labels: cla: yes

#468 Make shared preferences ready for publication
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#477 Fix macOS build
  .travis.yml
Labels: cla: yes

#471 Readme.md should use gender enum constants
  packages/firebase_admob/README.md
Labels: cla: no

#470 Fix broken listeners in firebase_admob
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#457 Add download url support to Firebase Storage plugin
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: no

#474 Bump Flutter SDK constraint
  packages/video_player/CHANGELOG.md
  packages/video_player/pubspec.yaml
Labels: cla: yes

#479 Add id getter to Firestore CollectionReference and move path getter to CollectionReference
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#480 Remove confusing comment from firebase_database
  packages/firebase_database/lib/ui/firebase_list.dart
Labels: cla: yes

#478 Support for firebase_core interoperating with native code that configures Firebase apps.
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
  packages/firebase_core/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_core/example/lib/main.dart
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.h
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/lib/firebase_core.dart
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/lib/src/firebase_options.dart
  packages/firebase_core/pubspec.yaml
  packages/firebase_core/test/firebase_core_test.dart
Labels: cla: yes

#466 Prevent crash on share on iPads, add ability to specify popover origin
  .gitignore
  packages/share/CHANGELOG.md
  packages/share/android/src/main/java/io/flutter/plugins/share/SharePlugin.java
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/lib/main.dart
  packages/share/ios/Classes/SharePlugin.m
  packages/share/lib/share.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes

#481 Add marker API
  packages/google_mobile_maps/android/src/main/java/io/flutter/plugins/googlemobilemaps/GoogleMobileMapsPlugin.java
  packages/google_mobile_maps/example/lib/animate_camera.dart
  packages/google_mobile_maps/example/lib/main.dart
  packages/google_mobile_maps/example/lib/move_camera.dart
  packages/google_mobile_maps/example/lib/page.dart
  packages/google_mobile_maps/example/lib/place_marker.dart
  packages/google_mobile_maps/lib/google_mobile_maps.dart
  packages/google_mobile_maps/lib/src/bitmap.dart
  packages/google_mobile_maps/lib/src/controller.dart
  packages/google_mobile_maps/lib/src/marker.dart
Labels: cla: yes

#476 Multiple app support for cloud_firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/gradle.properties
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/lib/src/write_batch.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#485 Add required argument to Firebase admob readme
  packages/firebase_admob/README.md
Labels: cla: yes

#486 Use const constructors where possible
  packages/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/test/cloud_firestore_test.dart
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_database/example/lib/main.dart
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_storage/example/lib/main.dart
  packages/google_mobile_maps/example/lib/animate_camera.dart
  packages/google_mobile_maps/example/lib/move_camera.dart
  packages/google_mobile_maps/example/lib/place_marker.dart
  packages/image_picker/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
  packages/video_player/example/lib/main.dart
Labels: cla: yes

#469 Fix crash on iOS when loading a video from assets without a package
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
Labels: cla: yes

#488 Renamed 'getCollection()' to 'collection()' for DocumentReference
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#483 Simplify podspecs for Cocoapods 1.5.0
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/firebase_admob.podspec
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/firebase_database.podspec
  packages/firebase_database/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/firebase_messaging.podspec
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/firebase_storage.podspec
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#473 Add Blob support to cloud_firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/blob.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire, needs love

#489 Remove app.flx reference in ios example apps
  packages/firebase_admob/example/.gitignore
  packages/google_mobile_maps/example/ios/.gitignore
  packages/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes

#491 Update firebase_database to firebase_core 0.2.2
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/lib/main.dart
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/lib/src/firebase_database.dart
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
Labels: cla: yes

#493 Add constructor VideoPlayerController.file()
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#497 Make iOS sensor events same type as on Android
  packages/sensors/CHANGELOG.md
  packages/sensors/ios/Classes/SensorsPlugin.m
  packages/sensors/pubspec.yaml
Labels: cla: yes

#498 Updated plugin channel names to 'plugins.flutter.io/<plugin>'
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: yes

#495 Firestore readme fix
  packages/cloud_firestore/README.md
Labels: cla: yes

#496 Video player fix for looping value on ios
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes

#499 AdMob Readme Enhancement
  packages/firebase_admob/README.md
Labels: cla: yes

#500 Upgrade Flutterfire to Android version 15.0
  packages/android_alarm_manager/example/android/build.gradle
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/build.gradle
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/RewardedVideoAdWrapper.java
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_admob/ios/Classes/FLTRewardedVideoAdWrapper.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/example/android/build.gradle
  packages/firebase_database/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/example/android/build.gradle
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#461 [Image Picker] Add tests to Android implementation of ImagePickerDelegate
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/example/android/app/build.gradle
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: cla: yes

#502 Add some support for StorageMetadata.
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: yes

#505 [Image Picker] - Add contract tests for Android implementation
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
Labels: cla: yes

#503 Add support for updateMetadata
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: yes, flutterfire

#504 Allow null value for startAt, endAt and equalTo database queries on Android
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/lib/src/query.dart
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#506 Add support for putData on StorageReference
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#501 Add isSignedIn to GoogleSignIn; allow clients to customize error handling
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes

#510 Add more getters to StorageReference
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/lib/main.dart
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: yes

#515 Add environment to Remote Config plugin pubspec
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes
