Repository flutter/plugins, pull requests merged in 2019-09, with the labels that each got.

#2016 [In_App_Purchase] Improve testability
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, in review

#1813 [video-player] add support for content uris as urls
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
Labels: cla: yes, in review

#2036 video player version fix
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1990 [path_provider] Add missing tests
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
  packages/path_provider/test/path_provider_test.dart
Labels: backlog, cla: yes

#2045 [android_intent] Add action_application_details_settings
  packages/android_intent/CHANGELOG.md
  packages/android_intent/README.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/example/lib/main.dart
  packages/android_intent/pubspec.yaml
Labels: cla: yes, submit queue

#1953 [path_provider] add getApplicationLibraryDirectory
  .gitignore
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/ios/Classes/PathProviderPlugin.m
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
  packages/path_provider/test/path_provider_test.dart
Labels: cla: yes

#2004 [cirrus] Use flutter create for all_plugins test
  examples/all_plugins/.metadata
  examples/all_plugins/README.md
  examples/all_plugins/android/app/build.gradle
  examples/all_plugins/android/app/src/debug/AndroidManifest.xml
  examples/all_plugins/android/app/src/main/AndroidManifest.xml
  examples/all_plugins/android/app/src/main/java/io/plugins/all_plugins/MainActivity.java
  examples/all_plugins/android/app/src/main/res/drawable/launch_background.xml
  examples/all_plugins/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/values/styles.xml
  examples/all_plugins/android/app/src/profile/AndroidManifest.xml
  examples/all_plugins/android/build.gradle
  examples/all_plugins/android/gradle.properties
  examples/all_plugins/android/gradle/wrapper/gradle-wrapper.properties
  examples/all_plugins/android/settings.gradle
  examples/all_plugins/ios/Flutter/AppFrameworkInfo.plist
  examples/all_plugins/ios/Flutter/Debug.xcconfig
  examples/all_plugins/ios/Flutter/Release.xcconfig
  examples/all_plugins/ios/Runner.xcodeproj/project.pbxproj
  examples/all_plugins/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/all_plugins/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/all_plugins/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/all_plugins/ios/Runner/AppDelegate.h
  examples/all_plugins/ios/Runner/AppDelegate.m
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  examples/all_plugins/ios/Runner/Base.lproj/LaunchScreen.storyboard
  examples/all_plugins/ios/Runner/Base.lproj/Main.storyboard
  examples/all_plugins/ios/Runner/Info.plist
  examples/all_plugins/ios/Runner/main.m
  examples/all_plugins/lib/main.dart
  examples/all_plugins/pubspec.yaml
  examples/all_plugins/test/widget_test.dart
  script/build_all_plugins_app.sh
Labels: cla: yes

#2050 [instrumentation_adapter] Add support for running tests with Flutter driver
  packages/instrumentation_adapter/CHANGELOG.md
  packages/instrumentation_adapter/README.md
  packages/instrumentation_adapter/lib/instrumentation_adapter.dart
Labels: cla: yes

#2051 [instrumentation_adapter] update for release
  packages/instrumentation_adapter/pubspec.yaml
Labels: cla: yes

#2053 [google_maps_flutter] Fix analyzer failures relating to prefer_const_constructors
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2056 Reland "[webview_flutter] Add a getTitle method to WebViewController"…
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2047 [local_auth] Avoid user confirmation on face unlock
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_test.dart
Labels: cla: yes, submit queue, waiting for test harness

#2057 [Camera] Fixes NullPointerException
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/pubspec.yaml
Labels: cla: yes, submit queue, waiting for test harness

#2065 [google_maps_flutter] Prefer const constructors.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2068 [google_maps_flutter] Fix iOS MyLocationButton on iOS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2075 [instrumentation_adapter] Migrate example to AndroidX
  packages/instrumentation_adapter/CHANGELOG.md
  packages/instrumentation_adapter/example/android/gradle.properties
  packages/instrumentation_adapter/pubspec.yaml
Labels: cla: yes

#2108 [google_maps_flutter] Add Projection methods to google_maps
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/screen_coordinate.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2087 [android_alarm_manager] Update and migrate iOS example project
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/ios/Runner.xcodeproj/project.pbxproj
  packages/android_alarm_manager/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2088 [android_intent] Update and migrate iOS example project
  packages/android_intent/CHANGELOG.md
  packages/android_intent/example/ios/Runner.xcodeproj/project.pbxproj
  packages/android_intent/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2090 [camera] Update and migrate iOS example project
  packages/camera/CHANGELOG.md
  packages/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/pubspec.yaml
Labels: cla: yes, submit queue

#2096 [in_app_purchase] Update and migrate iOS example project
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, submit queue

#2109 [url_launcher] Update and migrate iOS example project
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/pubspec.yaml
Labels: cla: yes, submit queue

#2084 [update] local_auth - intl version
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#2110 [video_player] Update and migrate iOS example project
  packages/video_player/CHANGELOG.md
  packages/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/pubspec.yaml
Labels: cla: yes

#2091 [connectivity] Update and migrate iOS example project
  packages/connectivity/CHANGELOG.md
  packages/connectivity/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#2094 [google_sign_in] Update and migrate iOS example project
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#2098 [package_info] Update and migrate iOS example project
  packages/package_info/CHANGELOG.md
  packages/package_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/package_info/pubspec.yaml
Labels: cla: yes

#2112 Run flutter_plugin_tools format
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
Labels: cla: yes

#2093 [google_maps_flutter] Update and migrate iOS example project
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2113 [google_maps_flutter] Avoid AbstractMethod crash
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/example/android/gradle.properties
  packages/google_maps_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2092 [device_info] Update and migrate iOS example project
  packages/device_info/CHANGELOG.md
  packages/device_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/device_info/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/device_info/pubspec.yaml
Labels: cla: yes

#2095 [image_picker] Update and migrate iOS example project
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2097 [local_auth] Update and migrate iOS example project
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#2115 [camera] Define clang modules in for iOS
  .cirrus.yml
  packages/camera/CHANGELOG.md
  packages/camera/ios/Tests/CameraPluginTests.m
  packages/camera/ios/camera.podspec
  packages/camera/pubspec.yaml
  script/build_all_plugins_app.sh
  script/check_publish.sh
  script/incremental_build.sh
  script/lint_darwin_plugins.sh
Labels: cla: yes
