Repository flutter/plugins, pull requests merged in 2019-10, with the labels that each got.

#2125 [in_app_purchase] Define clang module for iOS
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/ios/Tests/ProductRequestHandlerTest.m
  packages/in_app_purchase/ios/Tests/Stubs.h
  packages/in_app_purchase/ios/Tests/Stubs.m
  packages/in_app_purchase/ios/Tests/TranslatorTest.m
  packages/in_app_purchase/ios/in_app_purchase.podspec
  packages/in_app_purchase/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2128 [image_picker] Define clang module for iOS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Tests/ImagePickerTestImages.h
  packages/image_picker/ios/Tests/ImagePickerTestImages.m
  packages/image_picker/ios/Tests/ImageUtilTests.m
  packages/image_picker/ios/Tests/MetaDataUtilTests.m
  packages/image_picker/ios/Tests/PhotoAssetUtilTests.m
  packages/image_picker/ios/image_picker.podspec
  packages/image_picker/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2076 [google_maps_flutter] Clone cached elements in GoogleMap
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/test/polyline_updates_test.dart
Labels: cla: yes

#2123 [camera] Fix event type check
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#2138 [device_info] Define clang module for iOS
  packages/device_info/CHANGELOG.md
  packages/device_info/ios/device_info.podspec
  packages/device_info/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2101 [sensors] Update and migrate iOS example project
  packages/sensors/CHANGELOG.md
  packages/sensors/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/sensors/pubspec.yaml
Labels: cla: yes

#2102 [share] Update and migrate iOS example project
  packages/share/CHANGELOG.md
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/share/pubspec.yaml
Labels: cla: yes

#2137 [connectivity] Define clang module for iOS
  packages/connectivity/CHANGELOG.md
  packages/connectivity/ios/connectivity.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2135 [android_alarm_manager] Define clang module for iOS
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/ios/Classes/AndroidAlarmManagerPlugin.m
  packages/android_alarm_manager/ios/android_alarm_manager.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2145 [instrumentation_adapter] Define clang module for iOS
  packages/instrumentation_adapter/CHANGELOG.md
  packages/instrumentation_adapter/ios/instrumentation_adapter.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2144 [android_intent] Define clang module for iOS
  packages/android_intent/CHANGELOG.md
  packages/android_intent/ios/android_intent.podspec
  packages/android_intent/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2131 [share]fix iOS crash when setting the subject to null
  packages/share/CHANGELOG.md
  packages/share/ios/Classes/SharePlugin.m
  packages/share/pubspec.yaml
Labels: cla: yes

#2154 Use stable Flutter image as base
  .ci/Dockerfile
Labels: cla: yes

#2136 [url_launcher_web] Fix README.md pubspec example
  packages/url_launcher/url_launcher_web/README.md
Labels: cla: yes

#2158 [video_player] Basic test for VideoPlayerController initialization
  packages/video_player/test/video_player_test.dart
Labels: cla: yes

#2141 BugFix: `formatHint` was meant for network streams.
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
  packages/video_player/test/video_player_test.dart
Labels: cla: yes

#2146 [local_auth] Define clang module for iOS
  packages/local_auth/CHANGELOG.md
  packages/local_auth/ios/local_auth.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2174 [url_launcher] Enable androidx and jetifier in android gradle properties
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/gradle.properties
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2177 [url_launcher] Define clang module for iOS
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/ios/url_launcher.podspec
  packages/url_launcher/url_launcher/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2176 [shared_preferences] Define clang module for iOS
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/ios/shared_preferences.podspec
  packages/shared_preferences/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2175 [sensors] Define clang module for iOS
  packages/sensors/CHANGELOG.md
  packages/sensors/ios/sensors.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2148 [package_info] Define clang module for iOS
  packages/package_info/CHANGELOG.md
  packages/package_info/ios/package_info.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2149 [quick_actions] Define clang module for iOS
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/ios/quick_actions.podspec
  packages/quick_actions/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2147 [path_provider] Define clang module for iOS
  packages/path_provider/CHANGELOG.md
  packages/path_provider/ios/path_provider.podspec
  packages/path_provider/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2178 [e2e] update README
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2143 [android_intent] Migrate to the new embedding
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent/example/android/app/src/main/AndroidManifest.xml
  packages/android_intent/example/android/app/src/main/java/io/flutter/plugins/androidintentexample/EmbeddingV1Activity.java
  packages/android_intent/example/android/app/src/main/java/io/flutter/plugins/androidintentexample/MainActivity.java
  packages/android_intent/example/android/gradle.properties
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2183 [video_player] Define clang module for iOS
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/video_player.podspec
  packages/video_player/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2184 [google_sign_in] Define clang module for iOS
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/google_sign_in.podspec
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2185 [webview_flutter] Define clang module for iOS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2179 [battery] Define clang module for iOS
  packages/battery/CHANGELOG.md
  packages/battery/ios/battery.podspec
  packages/battery/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2188 [android_intent] Bump the Flutter SDK min version
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2186 Run clang analyzer on iOS and macOS code in CI test when packages change
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2152 [battery] Support the v2 Android embedder
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/android/src/main/java/io/flutter/plugins/battery/BatteryPlugin.java
  packages/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/EmbedderV1ActivityTest.java
  packages/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/MainActivityTest.java
  packages/battery/example/android/app/src/main/AndroidManifest.xml
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/EmbedderV1Activity.java
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/MainActivity.java
  packages/battery/example/android/gradle.properties
  packages/battery/example/pubspec.yaml
  packages/battery/pubspec.yaml
  packages/battery/test/battery_e2e.dart
Labels: cla: yes

#2189 [battery] relax the example app minimal required Flutter version
  packages/battery/example/pubspec.yaml
Labels: cla: yes

#2120 [image_picker] fix crash when aar from 'flutter build aar'
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, in review

#2169 [flutter_webview] Migrate to the new embedding
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/android/gradle.properties
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1ActivityTest.java
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1Activity.java
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/MainActivity.java
  packages/webview_flutter/example/android/gradle.properties
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e_test.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2191 [image_picker] Fix iOS build and analyzer warnings
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/pubspec.yaml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2165 [camera] Migrate to the new embedding
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/android/gradle.properties
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/example/android/app/build.gradle
  packages/camera/example/android/app/src/androidTestDebug/java/io/flutter/plugins/cameraexample/EmbeddingV1ActivityTest.java
  packages/camera/example/android/app/src/androidTestDebug/java/io/flutter/plugins/cameraexample/MainActivityTest.java
  packages/camera/example/android/app/src/main/AndroidManifest.xml
  packages/camera/example/android/app/src/main/java/io/flutter/plugins/cameraexample/EmbeddingV1Activity.java
  packages/camera/example/android/app/src/main/java/io/flutter/plugins/cameraexample/MainActivity.java
  packages/camera/example/android/gradle.properties
  packages/camera/example/pubspec.yaml
  packages/camera/example/test_driver/camera_e2e.dart
  packages/camera/example/test_driver/camera_e2e_test.dart
  packages/camera/example/test_driver/camera_test.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#2142 [Connectivity] migrate to the new android embedding
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/build.gradle
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/Connectivity.java
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityMethodChannelHandler.java
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/example/android/app/src/main/AndroidManifest.xml
  packages/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/EmbeddingV1Activity.java
  packages/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/EmbeddingV1ActivityTest.java
  packages/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/MainActivity.java
  packages/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/MainActivityTest.java
  packages/connectivity/example/android/gradle.properties
  packages/connectivity/example/pubspec.yaml
  packages/connectivity/example/test_driver/connectivity_test.dart
  packages/connectivity/example/test_driver/test/connectivity_e2e_test.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_e2e.dart
Labels: cla: yes

#2192 [in_app_purchase] Fix iOS build warning
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2155 [in_app_purchase] migrate to the v2 android embedding
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/example/android/app/src/main/AndroidManifest.xml
  packages/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/EmbeddingV1Activity.java
  packages/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/EmbeddingV1ActivityTest.java
  packages/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/MainActivity.java
  packages/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/MainActivityTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/example/android/gradle.properties
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/example/test_driver/test/in_app_purchase_e2e_test.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_e2e.dart
Labels: cla: yes

#2157 [url_launcher] Migrate to the new embedding
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/EmbeddingV1ActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/MainActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/EmbeddingV1Activity.java
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/MainActivity.java
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e.dart
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2196 [webview_flutter] (Trivial) Add V2 warnings
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/MainActivity.java
Labels: cla: yes

#2194 [battery] add e2e dependency to the example app
  packages/battery/example/pubspec.yaml
  packages/battery/pubspec.yaml
Labels: cla: yes

#2197 Enable testing on both master and stable
  .cirrus.yml
Labels: cla: yes

#2199 Revert "Enable testing on both master and stable (#2197)"
  .cirrus.yml
Labels: cla: yes

#2201 [url_launcher] Revert embedding support
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/EmbeddingV1ActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/MainActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/EmbeddingV1Activity.java
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/MainActivity.java
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e.dart
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2200 [flutter_webview] Revert v2 embedder support
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/android/gradle.properties
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1ActivityTest.java
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1Activity.java
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/MainActivity.java
  packages/webview_flutter/example/android/gradle.properties
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/example/test_driver/webview_test.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2206 [flutter_plugin_android_lifecycle] Update README with new plugin name
  packages/flutter_plugin_android_lifecycle/README.md
Labels: cla: yes

#2207 [flutter_plugin_android_lifecycle] bump e2e depenency to 0.2.1
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
Labels: cla: yes

#2195 [android_intent] Cleanup the V2 migration
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/example/android/app/src/androidTestDebug/java/io/flutter/plugins/androidintentexample/EmbeddingV1ActivityTest.java
  packages/android_intent/example/android/app/src/androidTestDebug/java/io/flutter/plugins/androidintentexample/MainActivityTest.java
  packages/android_intent/example/android/gradle.properties
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/example/test_driver/android_intent_e2e.dart
  packages/android_intent/example/test_driver/android_intent_e2e_test.dart
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2160 [package_info] Support the v2 Android embedder (with e2e tests)
  .ci/Dockerfile
  .cirrus.yml
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/android/gradle.properties
  packages/package_info/android/src/main/java/io/flutter/plugins/packageinfo/PackageInfoPlugin.java
  packages/package_info/example/android/app/gradle.properties
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/packageinfoexample/EmbedderV1ActivityTest.java
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/packageinfoexample/MainActivityTest.java
  packages/package_info/example/android/app/src/main/AndroidManifest.xml
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/EmbedderV1Activity.java
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/MainActivity.java
  packages/package_info/example/android/gradle.properties
  packages/package_info/example/pubspec.yaml
  packages/package_info/example/test_driver/package_info.dart
  packages/package_info/example/test_driver/package_info_e2e.dart
  packages/package_info/example/test_driver/package_info_e2e_test.dart
  packages/package_info/example/test_driver/package_info_test.dart
  packages/package_info/pubspec.yaml
  packages/package_info/test/package_info_test.dart
Labels: cla: yes

#2203 Re-land testing of plugins on stable
  .cirrus.yml
  packages/video_player/CHANGELOG.md
  packages/video_player/pubspec.yaml
  packages/video_player/test/video_player_test.dart
  script/incremental_build.sh
Labels: cla: yes

#2204 [url_launcher] Re-land v2 embedding support
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/EmbeddingV1ActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/MainActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/EmbeddingV1Activity.java
  packages/url_launcher/url_launcher/example/android/app/src/main/java/io/flutter/plugins/urllauncherexample/MainActivity.java
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e.dart
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2211 Ensure that when testing on stable Cirrus is upgraded to latest on iOS
  .cirrus.yml
Labels: cla: yes

#2139 [google_maps_flutter] Add NonNull macro to reduce warnings in iOS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2202 [android_intent] componentName must be provided before resolveActivity is called
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2216 [battery]Use android.arch.lifecycle instead of androidx.lifecycle:lifecycle in
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/pubspec.yaml
Labels: cla: yes

#2215 [in_app_purchase] remove AndroidX constraint
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2218 [package_info]remove AndroidX constraint
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/android/gradle.properties
  packages/package_info/pubspec.yaml
Labels: cla: yes

#2219 [camera]remove androidx constraint
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/android/gradle.properties
  packages/camera/pubspec.yaml
Labels: cla: yes

#2212 [connectivity]remove AndroidX constraint
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/build.gradle
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/Connectivity.java
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityMethodChannelHandler.java
  packages/connectivity/example/android/app/gradle.properties
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#2220 [url_launcher]remove AndroidX constraint
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/android/gradle.properties
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2221 [android_intent]remove AndroidX constraint
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/android/gradle.properties
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2156 [Share] Support v2 android embedder.
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/android/src/main/java/io/flutter/plugins/share/MethodCallHandler.java
  packages/share/android/src/main/java/io/flutter/plugins/share/Share.java
  packages/share/android/src/main/java/io/flutter/plugins/share/SharePlugin.java
  packages/share/example/android/app/src/main/AndroidManifest.xml
  packages/share/example/android/app/src/main/java/io/flutter/plugins/shareexample/EmbeddingV1Activity.java
  packages/share/example/android/app/src/main/java/io/flutter/plugins/shareexample/EmbeddingV1ActivityTest.java
  packages/share/example/android/app/src/main/java/io/flutter/plugins/shareexample/MainActivity.java
  packages/share/example/android/app/src/main/java/io/flutter/plugins/shareexample/MainActivityTest.java
  packages/share/example/android/gradle.properties
  packages/share/example/pubspec.yaml
  packages/share/example/test_driver/test/share_e2e_test.dart
  packages/share/pubspec.yaml
  packages/share/test/share_e2e.dart
Labels: cla: yes

#2164 [sensor] Support v2 android embedder.
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/sensors/android/src/main/java/io/flutter/plugins/sensors/SensorsPlugin.java
  packages/sensors/android/src/main/java/io/flutter/plugins/sensors/StreamHandlerImpl.java
  packages/sensors/example/android/app/src/main/AndroidManifest.xml
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/sensorsexample/EmbeddingV1Activity.java
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/sensorsexample/EmbeddingV1ActivityTest.java
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/sensorsexample/MainActivity.java
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/sensorsexample/MainActivityTest.java
  packages/sensors/example/android/gradle.properties
  packages/sensors/example/pubspec.yaml
  packages/sensors/example/test_driver/test/sensors_e2e_test.dart
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_e2e.dart
Labels: cla: yes

#2163 [device_info] Support v2 android embedder.
  packages/device_info/CHANGELOG.md
  packages/device_info/android/build.gradle
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/DeviceInfoPlugin.java
  packages/device_info/android/src/main/java/io/flutter/plugins/deviceinfo/MethodCallHandlerImpl.java
  packages/device_info/example/android/app/src/main/AndroidManifest.xml
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/EmbeddingV1Activity.java
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/EmbeddingV1ActivityTest.java
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/MainActivity.java
  packages/device_info/example/android/app/src/main/java/io/flutter/plugins/deviceinfoexample/MainActivityTest.java
  packages/device_info/example/android/gradle.properties
  packages/device_info/example/pubspec.yaml
  packages/device_info/example/test_driver/device_info_e2e.dart
  packages/device_info/example/test_driver/device_info_e2e_test.dart
  packages/device_info/pubspec.yaml
Labels: cla: yes

#2223 [flutter_plugin_android_lifecycle] register the e2e plugin in the example app
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/example/android/app/src/main/java/io/flutter/plugins/flutter_plugin_android_lifecycle_example/MainActivity.java
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#2162 [shared_preferences] Support v2 android embedder.
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/build.gradle
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1Activity.java
  packages/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1ActivityTest.java
  packages/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/MainActivity.java
  packages/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/MainActivityTest.java
  packages/shared_preferences/example/android/gradle.properties
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/example/test/shared_preferences_test.dart
  packages/shared_preferences/example/test_driver/shared_preferences_e2e.dart
  packages/shared_preferences/example/test_driver/shared_preferences_e2e_test.dart
  packages/shared_preferences/example/test_driver/shared_preferences_test.dart
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#2217 [url_launcher] Add `url_launcher_platform_interface` package
  packages/url_launcher/url_launcher_platform_interface/LICENSE
  packages/url_launcher/url_launcher_platform_interface/README.md
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Labels: cla: yes

#2230 Forbid `... implements UrlLauncherPlatform`
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Labels: cla: yes

#2228 [url_launcher] Use `url_launcher_platform_interface` to handle calls
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  script/build_all_plugins_app.sh
Labels: cla: yes

#2232 [multiple] V2 embedding plugins use compileOnly
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/pubspec.yaml
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/pubspec.yaml
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/pubspec.yaml
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/build.gradle
  packages/connectivity/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/android/build.gradle
  packages/device_info/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/pubspec.yaml
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/build.gradle
  packages/shared_preferences/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2236 Use package import to import files inside lib/ directory.
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Labels: cla: yes

#2231 [cleanup] Remove AndroidX warning
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/pubspec.yaml
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/pubspec.yaml
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/pubspec.yaml
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/build.gradle
  packages/connectivity/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/android/build.gradle
  packages/device_info/pubspec.yaml
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/pubspec.yaml
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/build.gradle
  packages/image_picker/pubspec.yaml
  packages/in_app_purchase/android/build.gradle
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/pubspec.yaml
  packages/path_provider/CHANGELOG.md
  packages/path_provider/android/build.gradle
  packages/path_provider/pubspec.yaml
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/build.gradle
  packages/quick_actions/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/pubspec.yaml
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/build.gradle
  packages/shared_preferences/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/video_player/CHANGELOG.md
  packages/video_player/android/build.gradle
  packages/video_player/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2241 [Shared_preferences]suppress warnings
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#2233 [e2e] update README
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2070 [image_picker] swap width and height when source image orientation is left or right
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes, in review

#2242 [google_maps_flutter] Cast error.code to unsigned long to avoid using NSInteger as %ld format warnings.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
Labels: cla: yes, submit queue

#2243 [flutter_plugin_android_lifecycle] Adapt the FlutterLifecycleAdapter to the new embedding API
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/README.md
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapter.java
  packages/flutter_plugin_android_lifecycle/example/android/app/src/main/java/io/flutter/plugins/flutter_plugin_android_lifecycle_example/MainActivity.java
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#2239 [camera] Android: Improve image streaming by creating a request suita…
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/example/test_driver/camera_e2e.dart
Labels: cla: yes, waiting for test harness

#2127 [google_sign_in] Fix deprecated API usage issue by upgrading CocoaPod to 5.0
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes, submit queue
