Repository flutter/plugins, pull requests merged in 2019-12, with the labels that each got.

#2327 [android_alarm_manager] Update minimum Flutter version to 1.12.0
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2323 Adds a macos stub implementation of E2EPlugin
  packages/e2e/CHANGELOG.md
  packages/e2e/e2e_macos/.gitignore
  packages/e2e/e2e_macos/LICENSE
  packages/e2e/e2e_macos/analysis_options.yaml
  packages/e2e/e2e_macos/ios/.gitignore
  packages/e2e/e2e_macos/ios/e2e_macos.podspec
  packages/e2e/e2e_macos/macos/.gitignore
  packages/e2e/e2e_macos/macos/Assets/.gitkeep
  packages/e2e/e2e_macos/macos/Classes/E2EPlugin.swift
  packages/e2e/e2e_macos/macos/e2e_macos.podspec
  packages/e2e/e2e_macos/pubspec.yaml
  packages/e2e/example/android/settings.gradle
  packages/e2e/example/macos/.gitignore
  packages/e2e/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/e2e/example/macos/Flutter/Flutter-Release.xcconfig
  packages/e2e/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/e2e/example/macos/Runner.xcodeproj/project.pbxproj
  packages/e2e/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/e2e/example/macos/Runner/AppDelegate.swift
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/e2e/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/e2e/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/e2e/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/e2e/example/macos/Runner/Configs/Debug.xcconfig
  packages/e2e/example/macos/Runner/Configs/Release.xcconfig
  packages/e2e/example/macos/Runner/Configs/Warnings.xcconfig
  packages/e2e/example/macos/Runner/DebugProfile.entitlements
  packages/e2e/example/macos/Runner/Info.plist
  packages/e2e/example/macos/Runner/MainFlutterWindow.swift
  packages/e2e/example/macos/Runner/Release.entitlements
  packages/e2e/example/pubspec.yaml
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2332 Web implementation of shared_preferences
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/LICENSE
  packages/shared_preferences/shared_preferences_web/README.md
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/test/shared_preferences_web_test.dart
Labels: cla: yes

#2313 [connectivity] Fix unawaited futures
  packages/connectivity/CHANGELOG.md
  packages/connectivity/analysis_options.yaml
  packages/connectivity/example/lib/main.dart
  packages/connectivity/example/test_driver/test/connectivity_e2e_test.dart
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#2319 [package_info] Fix pedantic lints
  packages/package_info/CHANGELOG.md
  packages/package_info/analysis_options.yaml
  packages/package_info/example/lib/main.dart
  packages/package_info/example/test_driver/package_info_e2e_test.dart
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
Labels: cla: yes

#2317 [in_app_purchase] Fix most failing pedantic lints
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/analysis_options.yaml
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/test_driver/test/in_app_purchase_e2e_test.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2314 [device_info] Fix pedantic errors
  packages/device_info/CHANGELOG.md
  packages/device_info/analysis_options.yaml
  packages/device_info/example/lib/main.dart
  packages/device_info/example/test_driver/device_info_e2e_test.dart
  packages/device_info/lib/device_info.dart
  packages/device_info/pubspec.yaml
Labels: cla: yes

#2311 [battery] Fix pedantic linter errors
  packages/battery/CHANGELOG.md
  packages/battery/analysis_options.yaml
  packages/battery/example/lib/main.dart
  packages/battery/lib/battery.dart
  packages/battery/pubspec.yaml
Labels: cla: yes

#2320 [share] Fix pedantic lints
  packages/share/CHANGELOG.md
  packages/share/analysis_options.yaml
  packages/share/example/test_driver/test/share_e2e_test.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes

#2321 [video_player] Fix pedantic lints
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player/example/test_driver/video_player_test.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2315 [e2e] Fix pedantic lints
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/analysis_options.yaml
  packages/e2e/example/lib/main.dart
  packages/e2e/example/test_driver/example_e2e_test.dart
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2303 [google_maps_flutter] Add documentation
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/example/lib/page.dart
  packages/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e_test.dart
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/lib/src/camera.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/pattern_item.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/screen_coordinate.dart
  packages/google_maps_flutter/lib/src/ui.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, documentation

#2322 [webview_flutter] Fix pedantic lint errors
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/analysis_options.yaml
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e_test.dart
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#2279 [video_player] Add web implementation using platform interface
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/LICENSE
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/ios/video_player_web.podspec
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes

#2345 Revert "[android_alarm_manager] Update minimum Flutter version to 1.12.0"
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2347 [e2e_macos] Remove redundant analysis_options.yaml
  packages/e2e/e2e_macos/analysis_options.yaml
Labels: cla: yes

#2338 [ android_alarm_manager ] Loosen Flutter SDK lower bound, update README
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2328 Update documentation for connectivity
  packages/connectivity/CHANGELOG.md
  packages/connectivity/README.md
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#2350 Export SignInOption from interface since it is used in the frontend
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2349 [video_player_platform_interface] Fix some pedantic lints
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes

#2354 [none] Lock pedantic version
  analysis_options.yaml
  pubspec.yaml
Labels: cla: yes

#2355 [video_player] Document public API of video_player_platform_interface.
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2356 [none] Pass --custom-analysis flag through CI
  script/incremental_build.sh
Labels: cla: yes

#2358 adds missing [[ to elif statement in scripts/incremental_build.sh
  script/incremental_build.sh
Labels: cla: yes

#2295 [webview_flutter] Add support for onPageStarted event
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#2340 [camera] Resolve example null exception
  packages/camera/CHANGELOG.md
  packages/camera/example/lib/main.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#2264 [google_maps_flutter] Adds support for BuildingsEnabled property
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes

#2306 [connectivity] Adds Macos support
  packages/connectivity/CHANGELOG.md
  packages/connectivity/connectivity_macos/LICENSE
  packages/connectivity/connectivity_macos/android/README.md
  packages/connectivity/connectivity_macos/android/build.gradle
  packages/connectivity/connectivity_macos/android/gradle.properties
  packages/connectivity/connectivity_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/connectivity/connectivity_macos/android/settings.gradle
  packages/connectivity/connectivity_macos/android/src/main/AndroidManifest.xml
  packages/connectivity/connectivity_macos/android/src/main/java/com/example/connectivity/ConnectivityPlugin.java
  packages/connectivity/connectivity_macos/ios/connectivity_macos.podspec
  packages/connectivity/connectivity_macos/macos/Classes/ConnectivityPlugin.swift
  packages/connectivity/connectivity_macos/macos/Classes/IPHelper.h
  packages/connectivity/connectivity_macos/macos/connectivity_macos.podspec
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/connectivity/example/android/settings.gradle
  packages/connectivity/example/lib/main.dart
  packages/connectivity/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/connectivity/example/macos/Flutter/Flutter-Release.xcconfig
  packages/connectivity/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/connectivity/example/macos/Runner.xcodeproj/project.pbxproj
  packages/connectivity/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/connectivity/example/macos/Runner/AppDelegate.swift
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/connectivity/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/connectivity/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/connectivity/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/connectivity/example/macos/Runner/Configs/Debug.xcconfig
  packages/connectivity/example/macos/Runner/Configs/Release.xcconfig
  packages/connectivity/example/macos/Runner/Configs/Warnings.xcconfig
  packages/connectivity/example/macos/Runner/DebugProfile.entitlements
  packages/connectivity/example/macos/Runner/Info.plist
  packages/connectivity/example/macos/Runner/MainFlutterWindow.swift
  packages/connectivity/example/macos/Runner/Release.entitlements
  packages/connectivity/example/pubspec.yaml
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#2359 [google_sign_in_platform_interface] Add missing docs
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/analysis_options.yaml
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  script/incremental_build.sh
Labels: cla: yes

#2363 [e2e ]Add dummy android project
  packages/e2e/CHANGELOG.md
  packages/e2e/e2e_macos/.gitignore
  packages/e2e/e2e_macos/android/build.gradle
  packages/e2e/e2e_macos/android/gradle.properties
  packages/e2e/e2e_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/e2e/e2e_macos/android/settings.gradle
  packages/e2e/e2e_macos/android/src/main/AndroidManifest.xml
  packages/e2e/e2e_macos/android/src/main/java/com/example/e2e/E2ePlugin.java
  packages/e2e/e2e_macos/ios/.gitignore
  packages/e2e/e2e_macos/macos/.gitignore
  packages/e2e/example/android/settings.gradle
  packages/e2e/example/macos/.gitignore
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2342 [path_provider] Adds macOS support
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/android/settings.gradle
  packages/path_provider/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/path_provider/example/macos/Flutter/Flutter-Release.xcconfig
  packages/path_provider/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/path_provider/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/example/macos/Runner/AppDelegate.swift
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/path_provider/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/path_provider/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/path_provider/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/path_provider/example/macos/Runner/Configs/Debug.xcconfig
  packages/path_provider/example/macos/Runner/Configs/Release.xcconfig
  packages/path_provider/example/macos/Runner/Configs/Warnings.xcconfig
  packages/path_provider/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/example/macos/Runner/Info.plist
  packages/path_provider/example/macos/Runner/MainFlutterWindow.swift
  packages/path_provider/example/macos/Runner/Release.entitlements
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_macos/.gitignore
  packages/path_provider/path_provider_macos/LICENSE
  packages/path_provider/path_provider_macos/android/build.gradle
  packages/path_provider/path_provider_macos/android/gradle.properties
  packages/path_provider/path_provider_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_macos/android/settings.gradle
  packages/path_provider/path_provider_macos/android/src/main/AndroidManifest.xml
  packages/path_provider/path_provider_macos/android/src/main/java/com/example/path_provider/PathProviderPlugin.java
  packages/path_provider/path_provider_macos/ios/path_provider_macos.podspec
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/macos/path_provider_macos.podspec
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#2365 [google_sign_in_web] Fix pedantic lints
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/auth2_test.dart
  script/incremental_build.sh
Labels: cla: yes

#2334 [CI] Adds task to build and test plugins with macos implementations
  .cirrus.yml
Labels: WIP, cla: yes

#2367 Temporarily disable CI on stable Flutter
  .cirrus.yml
Labels: cla: yes

#2366 [connecitivity_macos] Fix warnings to publish
  packages/connectivity/connectivity_macos/README.md
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes

#2372 [path_provider_macos] Fix publish warnings
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes

#2373 Disable stable for check publish
  .cirrus.yml
Labels: cla: yes

#2374 [url_launcher_web] Add a no-op android/ folder
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/android/.gitignore
  packages/url_launcher/url_launcher_web/android/build.gradle
  packages/url_launcher/url_launcher_web/android/gradle.properties
  packages/url_launcher/url_launcher_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_web/android/settings.gradle
  packages/url_launcher/url_launcher_web/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_web/android/src/main/java/io/flutter/url_launcher_web/UrlLauncherWebPlugin.java
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#2378 [url_launcher_web] bump the minimal flutter requirement to 1.10.0
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#2368 [url_launcher] Migrate to new pubspec plugins schema and endorse url_launcher_web
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/ios/Classes/FLTURLLauncherPlugin.h
  packages/url_launcher/url_launcher/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2362 [Image_picker] fix rotation regression on Android.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/example/lib/main.dart
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2384 [video_player_web] Play videos from assets
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes

#2364 [google_sign_in] Fix pedantic lints
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/testing.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  script/incremental_build.sh
Labels: cla: yes

#2386 [url_launcher] Endorse macos package
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/url_launcher/url_launcher/example/macos/Flutter/Flutter-Release.xcconfig
  packages/url_launcher/url_launcher/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/url_launcher/url_launcher/example/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  packages/url_launcher/url_launcher/example/macos/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher/example/macos/Runner/AppDelegate.swift
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/url_launcher/url_launcher/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/url_launcher/url_launcher/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/url_launcher/url_launcher/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/url_launcher/url_launcher/example/macos/Runner/Configs/Debug.xcconfig
  packages/url_launcher/url_launcher/example/macos/Runner/Configs/Release.xcconfig
  packages/url_launcher/url_launcher/example/macos/Runner/Configs/Warnings.xcconfig
  packages/url_launcher/url_launcher/example/macos/Runner/DebugProfile.entitlements
  packages/url_launcher/url_launcher/example/macos/Runner/Info.plist
  packages/url_launcher/url_launcher/example/macos/Runner/MainFlutterWindow.swift
  packages/url_launcher/url_launcher/example/macos/Runner/Release.entitlements
  packages/url_launcher/url_launcher/macos/url_launcher.podspec
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos.podspec
  script/build_all_plugins_app.sh
Labels: cla: yes

#2337 [webview_flutter] Make it more explicit that webview keyboard is not ready for production
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2389 [video_player] Endorse web implementation.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/web/index.html
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2348 Add a plugin_platform_interface package
  packages/plugin_platform_interface/.gitignore
  packages/plugin_platform_interface/.metadata
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/LICENSE
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: cla: yes

#2392 [shared_preferences_web] Prepare to be endorsed
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/ios/shared_preferences_web.podspec
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Labels: cla: yes

#2393 [google_sign_in_web] Prepare for endorsement.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes

#2371 [google_sign_in] Migrate to new pubspec plugins schema
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/web/index.html
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2390 [shared_preferences] Endorse web plugin.
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/web/index.html
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes

#2331 [in_app_purchase]Update json_annotation version
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2396 [skip ci] don't run Cirrus on tags
  .cirrus.yml
Labels: cla: yes

#2399 [url_launcher] Use the common PlatformInterface functionality
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  script/check_publish.sh
Labels: cla: yes

#2401 [url_launcher] remove temporary dependency override
  packages/url_launcher/url_launcher/pubspec.yaml
  script/build_all_plugins_app.sh
  script/check_publish.sh
Labels: cla: yes

#2299 [local_auth] support v2 embedding
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/localauth/EmbeddingV1ActivityTest.java
  packages/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/localauth/MainActivityTest.java
  packages/local_auth/example/android/app/src/main/AndroidManifest.xml
  packages/local_auth/example/android/app/src/main/java/io/flutter/plugins/localauthexample/EmbeddingV1Activity.java
  packages/local_auth/example/android/app/src/main/java/io/flutter/plugins/localauthexample/MainActivity.java
  packages/local_auth/example/android/gradle.properties
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_e2e.dart
  script/build_all_plugins_app.sh
Labels: cla: yes

#2403 [url_launcher_macos] add a no-op android implementation
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/android/.gitignore
  packages/url_launcher/url_launcher_macos/android/build.gradle
  packages/url_launcher/url_launcher_macos/android/gradle.properties
  packages/url_launcher/url_launcher_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_macos/android/settings.gradle
  packages/url_launcher/url_launcher_macos/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_macos/android/src/main/java/io/flutter/plugins/url_launcher_macos/UrlLauncherMacosPlugin.java
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: cla: yes

#2408 [video_player_web] add a no-op android folder
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/android/.gitignore
  packages/video_player/video_player_web/android/build.gradle
  packages/video_player/video_player_web/android/gradle.properties
  packages/video_player/video_player_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_web/android/settings.gradle
  packages/video_player/video_player_web/android/src/main/AndroidManifest.xml
  packages/video_player/video_player_web/android/src/main/java/io/flutter/plugins/video_player_web/VideoPlayerWebPlugin.java
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes

#2410 [google_sign_in_web] Add a no-op Android implementation
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/android/build.gradle
  packages/google_sign_in/google_sign_in_web/android/gradle.properties
  packages/google_sign_in/google_sign_in_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_web/android/settings.gradle
  packages/google_sign_in/google_sign_in_web/android/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in_web/android/src/main/java/io/flutter/plugins/google_sign_in_web/GoogleSignInWebPlugin.java
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes

#2411 Remove AndroidX references from no-op android implementations
  packages/url_launcher/url_launcher_macos/android/build.gradle
  packages/url_launcher/url_launcher_macos/android/gradle.properties
  packages/url_launcher/url_launcher_macos/android/src/main/java/io/flutter/plugins/url_launcher_macos/UrlLauncherMacosPlugin.java
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/android/build.gradle
  packages/url_launcher/url_launcher_web/android/gradle.properties
  packages/url_launcher/url_launcher_web/android/src/main/java/io/flutter/url_launcher_web/UrlLauncherWebPlugin.java
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/android/build.gradle
  packages/video_player/video_player_web/android/gradle.properties
  packages/video_player/video_player_web/android/src/main/java/io/flutter/plugins/video_player_web/VideoPlayerWebPlugin.java
Labels: cla: yes

#2375 [sensors]Cancel sensors example timer avoid exception
  packages/sensors/CHANGELOG.md
  packages/sensors/example/lib/snake.dart
  packages/sensors/pubspec.yaml
Labels: cla: yes

#2394 [e2e] Creates basic support/documentation/example to iOS.
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/example/ios/Runner.xcodeproj/project.pbxproj
  packages/e2e/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/e2e/example/ios/RunnerTests/Info.plist
  packages/e2e/example/ios/RunnerTests/RunnerTests.m
  packages/e2e/ios/Classes/E2EIosTest.h
  packages/e2e/ios/Classes/E2EIosTest.m
  packages/e2e/ios/Classes/E2EPlugin.h
  packages/e2e/ios/Classes/E2EPlugin.m
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2412 [shared_preferences web/macos] remove unused onMethodCall methods
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/src/main/java/io/flutter/plugins/shared_preferences_macos/SharedPreferencesMacosPlugin.java
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/src/main/java/io/flutter/plugins/shared_preferences_web/SharedPreferencesWebPlugin.java
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Labels: cla: yes

#2339 [webview_flutter] add gesture navigation for iOS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#2407 Update endorsed macos plugins readme and update others
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/README.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/README.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: cla: yes

#2417 [plugin_platform_interface] Don't use const Object as a token
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: cla: yes

#2418 [url_launcher] use non static token for platform interface
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: cla: yes

#2414 [ios_platform_images] Made ios_platform_images set the correct image scale.
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.m
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: cla: yes

#2427 [google_sign_in] Pass the client id to the platform interface.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2329 [in_app_purchase]Change a comment.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, in review

#2402 re-enable stable CI
  .cirrus.yml
Labels: cla: yes

#2425 [flutter_webview] Raise min Flutter SDK to stable
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/example/android/app/src/androidTestDebug/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1Activity.java
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/MainActivity.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2400 [battery] cleanup for Android embedding post 1.12
  packages/battery/CHANGELOG.md
  packages/battery/android/build.gradle
  packages/battery/android/src/main/java/io/flutter/plugins/battery/BatteryPlugin.java
  packages/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/FlutterActivityTest.java
  packages/battery/example/android/app/src/main/AndroidManifest.xml
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/EmbedderV1Activity.java
  packages/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/MainActivity.java
  packages/battery/pubspec.yaml
Labels: cla: yes

#2398 [google_sign_in] Expose network error
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2432 Removed android support from the pubspec.
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/pubspec.yaml
Labels: cla: yes

#2335 [google_sign_in]Update google_sign_in_example name in pubspec.yaml
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes
