Repository flutter/plugins, pull requests merged in 2019-04, with the labels that each got.

#1387 [cloud_firestore] Add metadata field to DocumentSnapshot
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/document_change.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/document_snapshot.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, feature, flutterfire

#1411 [android_intent] add type params for invokeMethod calls.
  packages/android_intent/CHANGELOG.md
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
Labels: cla: yes, feature

#1416 [Connectivity]add type params for invokeMethod calls.
  packages/connectivity/CHANGELOG.md
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
Labels: cla: yes, feature

#1412 [Battery]add type params for invokeMethod calls.
  packages/battery/CHANGELOG.md
  packages/battery/lib/battery.dart
  packages/battery/pubspec.yaml
  packages/battery/test/battery_test.dart
Labels: cla: yes

#1429 Make sure to post javascript channel messages from the platform thread.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1430 [google_maps] Maps zoom level tests
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Labels: cla: yes

#1428 [firebase_analytics] Added Navigator.pushReplacement screen tracking
  AUTHORS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/observer_test.dart
Labels: bugfix, cla: yes, feature, flutterfire

#1435 [cloud_firestore] Remove usage of `invokeMapMethod`
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1434 [google_map] Test zoom gestures enabled
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Labels: cla: yes

#1436 Fix formatting in main.dart of firebase_database, firebase_storage, google_sign_in, shared_preference
  packages/firebase_database/example/lib/main.dart
  packages/firebase_storage/example/lib/main.dart
  packages/google_sign_in/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
Labels: cla: yes

#1442 [google_maps] Add tests for rotate tilt and zoom gestures
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
Labels: cla: yes

#1441 [google_maps] Update android gradle version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#991 [firebase_core]Fix firebase core registration and fix firestore document observer cleanup
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
Labels: cla: yes

#1306 [cloud_firestore] Update firebase-firestore to 18.2.0
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/app/build.gradle
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, submit queue

#1438 [google_sign_in] Handle `null` check in example app
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/example/lib/main.dart
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1418 [firebase_crashlytics] Rely on firebase_core to set up Firebase Analytics dependency
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/build.gradle
  packages/firebase_crashlytics/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1439 [battery] Update example in README.md
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
Labels: cla: yes

#1445 [Image_picker]Android: fix original image deleted after scaling.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1364 [firebase_ml_vision] Update ImageDetector for iOS
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/ios/Podfile
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/CloudLabelDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/ImageLabeler.m
  packages/firebase_ml_vision/ios/Classes/LabelDetector.m
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/cloud_detector_options.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/test/image_labeler_test.dart
Labels: bugfix, cla: yes, flutterfire

#1367 [firebase_ml_vision] Android side of upgrade to new ImageLabeler
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/CloudLabelDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/ImageLabeler.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/LabelDetector.java
  packages/firebase_ml_vision/example/android/app/build.gradle
Labels: bugfix, cla: yes, flutterfire

#985 [google_maps_flutter]add support for map tapping
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
Labels: cla: yes

#1447 Update changelog and pubspec for onTap
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1380 [in_app_purchase]load purchase
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes, feature

#1437 [firebase_crashlytics] Fix to Initialize Fabric
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes, submit queue

#1443 [firebase_core] Use Gradle BoM with firebase_core
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/settings.gradle
  packages/firebase_core/pubspec.yaml
Labels: cla: yes, flutterfire

#1444 [firebase_crashlytics] Added a simple integration test
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/pubspec.yaml
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/example/test_driver/crashlytics_test.dart
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1159 [firebase_auth] Enable passwordless sign in
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, feature, flutterfire, submit queue

#1440 [image_picker] Check camera permissions and return error
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1453 [cloud_firestore] Use Gradle BoM with cloud_firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/settings.gradle
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#815 [google_maps_flutter] adds support for custom icon from a byte array (PNG)
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/example/assets/red_square.png
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, feature, needs love

#1455 [connectivity]Added integration test.
  packages/connectivity/CHANGELOG.md
  packages/connectivity/example/pubspec.yaml
  packages/connectivity/example/test_driver/connectivity.dart
  packages/connectivity/example/test_driver/connectivity_test.dart
  packages/connectivity/pubspec.yaml
Labels: cla: yes, submit queue

#1462 Remove BoM to avoid Gradle issues
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/android/settings.gradle
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/example/android/settings.gradle
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1464 [firebase_core] fix BoM-related build incompatibility regression
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1458 [firebase_auth] AuthCredential for email and link
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes

#1343 [firebase_auth] fix error code in doc of createUserWithEmailAndPassword()
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1237 [share] Changed compileSdkVersion of share plugin to 28
  AUTHORS
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/pubspec.yaml
Labels: cla: yes, submit queue

#1448 [in_app_purchase] Add references to the original object for PurchaseDetails and ProductDetails
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/product_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#1352 [google_maps_flutter] Add method getVisibleRegion
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1466 [cloud_firestore]remove white spaces.
  packages/cloud_firestore/CHANGELOG.md
Labels: cla: yes

#1467 [cloud_firestore]remove blank line.
  packages/cloud_firestore/example/android/settings.gradle
Labels: cla: yes

#1421 [in_app_purchase]make payment unified APIs
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Labels: cla: yes, feature

#1468 Migrate firebase messaging plugin away from token
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
Labels: cla: yes

#1472 [Google_map]Enable iOS a11y by default.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1353 [firebase_messaging] Update example
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes, submit queue

#1471 [image_picker] Fix invalid path being returned from Google Photos
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1465 Integration tests for cloud_firestore and firebase_database transactions
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/example/test_driver/firebase_database.dart
  packages/firebase_database/example/test_driver/firebase_database_test.dart
  packages/firebase_database/pubspec.yaml
Labels: cla: yes, flutterfire

#1473 [package_info] Integration tests.
  packages/package_info/CHANGELOG.md
  packages/package_info/example/pubspec.yaml
  packages/package_info/example/test_driver/package_info.dart
  packages/package_info/example/test_driver/package_info_test.dart
  packages/package_info/pubspec.yaml
Labels: cla: yes

#1096 [firebase_database]Return error message from DatabaseError#toString()
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/lib/src/event.dart
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
Labels: cla: yes, submit queue

#1474 [in_app_purchase]remove SKDownloadWrapper and related code.
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes

#1049 [google_maps_flutter] Widget based polyline support for google maps.
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.m
  packages/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/cap.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/joint_type.dart
  packages/google_maps_flutter/lib/src/pattern_item.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/polyline_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/polyline_updates_test.dart
Labels: cla: yes

#1478 [google_maps_flutter] Add a bitmap descriptor that is aware of scale
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/example/assets/2.0x/red_square.png
  packages/google_maps_flutter/example/assets/3.0x/red_square.png
  packages/google_maps_flutter/example/assets/red_square.png
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1483 [Image_picker] ios minimum deployment target to 8.0.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/image_picker.podspec
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1485 Fix unused vars and rename
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1486 [firebase_performance] Firebase Performance integration tests
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/example/test_driver/firebase_performance_test.dart
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes

#1488 [image_picker]version fix.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1484 [video_player] Explicitly indicate that self should be retained
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1479 Adding links to the firebase_analytics example
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/README.md
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes

#1405 [firebase_messaging] Additional step for iOS
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes, documentation, flutterfire

#1489 BitmapDescriptor#fromBytes should be consistent across platforms
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1490 [firebase_analytics] Fixes errors in firebase_analytics docs
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/observer.dart
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes

#1427 [firebase_crashlytics] Do not break debug log formatting.
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes, flutterfire

#1470 [video_player] Android: Added missing event.put("event", "completed");
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: bugfix, cla: yes

#1331 [connectivity] Enable fetching current Wi-Fi network's BSSID
  AUTHORS
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/example/lib/main.dart
  packages/connectivity/example/test_driver/connectivity.dart
  packages/connectivity/ios/Classes/ConnectivityPlugin.m
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
Labels: cla: yes, feature

#1487 [firebase_auth] Migrate FlutterAuthPlugin from deprecated APIs
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1377 [firebase_admob] Update documentation to add iOS Admob ID & add iOS Admob ID in example project
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/example/ios/Runner/Info.plist
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes, documentation, flutterfire

#1503 Update firebase_auth CocoaPod dependency
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1496 Add myself to video_player CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#1508 [firebase_auth] Increase iOS Firebase/Auth CocoaPods dependency to 5.19
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1509 [Image_picker] Android: fix a crash when the MainActivity is destroyed after selecting the image/video.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1495 [in_app_purchase ]add cyanglaz to code owner.
  CODEOWNERS
Labels: cla: yes

#1511 [webview_flutter]bugfix:webview example should be statefulWidget
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1492 [firebase_analytics] Initial integration test
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/example/test_driver/firebase_analytics.dart
  packages/firebase_analytics/example/test_driver/firebase_analytics_test.dart
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes, flutterfire

#1502 [connectivity] Fixes lint error by using getApplicationContext()
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#1514 [firebase_remote_config] Initial integration tests
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/example/pubspec.yaml
  packages/firebase_remote_config/example/test_driver/firebase_remote_config.dart
  packages/firebase_remote_config/example/test_driver/firebase_remote_config_test.dart
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes, flutterfire

#1501 [webview_flutter] Fixed documentation for usage example of JavaScript message
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1513 [firebase_storage] Initial integration testing
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/example/test_driver/firebase_storage.dart
  packages/firebase_storage/example/test_driver/firebase_storage_test.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1506 [firebase_ml_vision] Start of ML Kit integration tests
  packages/firebase_ml_vision/example/assets/test_barcode.jpg
  packages/firebase_ml_vision/example/assets/test_face.jpg
  packages/firebase_ml_vision/example/assets/test_text.png
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1477 [camera] Remove activity lifecycle
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/example/lib/main.dart
  packages/camera/pubspec.yaml
Labels: cla: yes, submit queue

#1512 [Image_picker] retrieve lost image.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/lib/main.dart
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Labels: cla: yes

#1517 [in_app_purchase] Rename the unified API
  packages/in_app_purchase/README.md
  packages/in_app_purchase/example/android/keystore.example.properties
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/lib/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#1523 [firebase_performance] Deprecate incrementCounter in favor of incrementMetric
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/README.md
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/example/lib/main.dart
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/lib/src/trace.dart
  packages/firebase_performance/pubspec.yaml
  packages/firebase_performance/test/firebase_performance_test.dart
Labels: cla: yes

#1516 [webview_flutter] controller headers loadurl
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1493 [android_alarm_manager] Added comments and refactored android_alarm_manager plugin for clarity.
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmBroadcastReceiver.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/RebootBroadcastReceiver.java
Labels: cla: yes

#1528 [webview_flutter] Remove un-used method params
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1527 Some additions to CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#1372 [image_picker] fix "Cancel button not visible in gallery, if camera was accessed first"
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1519 [image_picker] request camera permission if need
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerUtils.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
Labels: cla: yes

#1533 [image_picker] version fix.
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1532 [firebase_messaging] remove obsolete docs instruction
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes, flutterfire

#1534 [webview_flutter] Skip loadUrlWithHeaders test
  packages/webview_flutter/example/test_driver/webview.dart
Labels: cla: yes

#1535 [webview_flutter] Test: wait for page to load before checking the content
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1531 [image_picker] example app video load error fix.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1491 [cloud_firestore] Support for FieldValue.increment
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/example/test_driver/cloud_firestore_test.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/field_value.dart
  packages/cloud_firestore/lib/src/firestore_message_codec.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, feature, flutterfire

#1536 [in_app_purchase] Minor doc updates
  packages/in_app_purchase/lib/src/billing_client_wrappers/README.md
  packages/in_app_purchase/lib/src/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/README.md
Labels: cla: yes

#1537 [in_app_purchase] Add auto-consume errors to PurchaseDetails
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1505 [image_picker] Fix path of returned File objects when picking videos
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1541 [image_picker] correct suffix on android.
  AUTHORS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1123 [video_player] Correctly report buffering status on Android
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1539 [firebase_ml_vision] Update Firebase ML Vision documentation
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes, documentation, flutterfire, submit queue

#1542 [video_player] Android: Fix ide warnings in video_player
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
Labels: cla: yes

#1544 [image_picker]fix license format.
  packages/image_picker/LICENSE
Labels: cla: yes

#1545 [firebase_ml_vision] [share] Fix analyzer warnings from const Rect constructor.
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/share/CHANGELOG.md
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes

#1543 [cloud_firestore] Fix wrong FieldValue
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
Labels: cla: yes

#1504 [firebase_storage] Return error when failing to read file
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1540 [in_app_purchase] Only fetch owned purchases
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1549 [google_maps_flutter] Support Color's alpha channel when converting to UIColor on iOS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1552 [video_player] Fix player initialization and other warnings
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1269 [image_picker] set real extension instead always jpg
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, submit queue
