Repository flutter/plugins, pull requests merged in 2019-08, with the labels that each got.

#1937 [google_sign_in] Fixes PlataformException leaking in debug mode (#37343)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes, in review

#1904 Enable --stacktrace by default for the Android all_plugins example
  examples/all_plugins/android/app/build.gradle
  examples/all_plugins/android/build.gradle
Labels: cla: yes

#1936 [url_launcher] Split Activity and plugin files
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/build.gradle
  packages/url_launcher/android/src/main/AndroidManifest.xml
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/example/android/build.gradle
  packages/url_launcher/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/pubspec.yaml
Labels: cla: yes, in review

#1944 [firebase_storage] Remove StorageTaskEvent prints
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/README.md
  packages/firebase_storage/lib/src/upload_task.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1940 [local_auth] Add Face Unlock support for Android
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1948 [all] Add new generated file to .gitignore
  .gitignore
Labels: cla: yes

#1950 [firebase_inappmessaging] update AGP, gradle and inappmessaging-display
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/android/build.gradle
  packages/firebase_in_app_messaging/example/android/app/build.gradle
  packages/firebase_in_app_messaging/example/android/build.gradle
  packages/firebase_in_app_messaging/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_in_app_messaging/example/pubspec.yaml
  packages/firebase_in_app_messaging/pubspec.yaml
Labels: cla: yes

#1938 [Firebase Analytics] Update AGP, remove deprecated method and remove castings
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/example/test_driver/firebase_analytics.dart
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: yes, flutterfire

#1949 [camera] Refactor Camera/Android implementation to allow reuse of Camera functionality
  packages/camera/android/build.gradle
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
Labels: cla: yes

#1935 [google_maps] Set correct polyline width when building polylines.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#1951 Add an initialAutoMediaPlaybackPolicy setting
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/assets/sample_audio.ogg
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1952 [Camera] Improved resolution presets
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/example/lib/main.dart
  packages/camera/example/pubspec.yaml
  packages/camera/example/test_driver/camera.dart
  packages/camera/example/test_driver/camera_test.dart
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#1957 [connectivity] update the connectivity readme to include info about changes in iOS 13
  packages/connectivity/CHANGELOG.md
  packages/connectivity/README.md
  packages/connectivity/pubspec.yaml
Labels: cla: yes, in review

#1958 [camera] Fix permissions bug in sample code.
  packages/camera/example/lib/main.dart
Labels: cla: yes

#1961 [shared_preferences] Allow getInstance() to be reentrant
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes

#1934 [image_picker] Depend on AndroidX Core instead of Legacy Support v4
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/build.gradle
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1964 [webview_flutter] Filter onChanged events for invalid displays
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/DisplayListenerProxy.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1965 [webview_flutter] Fix double tap on resize issue
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1947 [android_alarm_manager] Added oneShotAt method to schedule a alarm at a given time
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1968 Request code needs to be below 2^16 for FragmentActivity
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/pubspec.yaml
Labels: cla: yes, submit queue

#1941 [flutter_google_maps] Upgrade google-services-maps v17.0.0 - AndroidX compatible
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#1975 [webview_flutter] Workaround display listeners bug on all Android versions prior to P
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/DisplayListenerProxy.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1973 [firebase_auth] use long datatype for timestamps (iOS)
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1978 [webview_flutter] Remove noisy log messages on iOS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1976 [webview_flutter] Remove warnings regarding iOS9 SDK methods
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1886 [webview_flutter] Calling destroy on webview when flutter part is getting disposed
  AUTHORS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, in review

#1979 [webview_flutter] Add a getTitle method to WebViewController
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1981 Revert "[webview_flutter] Add a getTitle method to WebViewController"
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1980 [image_picker] Image picker rotation fix on iOS after scaling.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1925 [firebase_admob] Banner Ad Horizontal Positioning
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/README.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/MobileAd.java
  packages/firebase_admob/example/lib/main.dart
  packages/firebase_admob/ios/Classes/FLTMobileAd.h
  packages/firebase_admob/ios/Classes/FLTMobileAd.m
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
  packages/firebase_admob/test/firebase_admob_test.dart
Labels: cla: yes, flutterfire

#1982 [webview_flutter] Comment asking to extend WebViewPlatformController
  packages/webview_flutter/lib/platform_interface.dart
Labels: cla: yes

#1920 [webview_flutter] get/set a custom User Agent
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, in review

#1985 [android_alarm_manager] Added ability to get id in the callback
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1702 [google_maps_flutter]Marker drag event
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#1370 [camera] Pause/resume video recording for Android
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/example/lib/main.dart
  packages/camera/example/test_driver/camera.dart
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes, feature

#1784 [google_maps_flutter] Allow (de-)serialization of CameraPosition
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/camera.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review, submit queue

#1993 [pathprovider] Fix fall through bug
  packages/path_provider/CHANGELOG.md
  packages/path_provider/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1998 [video_player] Fix deprecated member use
  packages/video_player/CHANGELOG.md
  packages/video_player/example/lib/main.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1767 [google_maps_flutter] Adds support for displaying the traffic layer
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes, in review

#2003 [video_player] Added `formatHint` to to override video format on Android
  packages/video_player/CHANGELOG.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
  packages/video_player/test/video_player_test.dart
Labels: cla: yes

#2005 Add explicit initialization of TestWidgets binding to all breaking unit tests
  packages/camera/test/camera_test.dart
  packages/camera/test/support_android/support_android_test.dart
  packages/connectivity/test/connectivity_test.dart
  packages/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_sign_in/test/google_sign_in_test.dart
  packages/image_picker/test/image_picker_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/path_provider/test/path_provider_test.dart
  packages/quick_actions/test/quick_actions_test.dart
  packages/share/test/share_test.dart
  packages/shared_preferences/test/shared_preferences_test.dart
  packages/url_launcher/test/url_launcher_test.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#2010 [Image_picker] fix `retrieveImage` breakage, added tests.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerCacheTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2009 Fix unit test for sensors
  packages/sensors/test/sensors_test.dart
Labels: cla: yes

#2027 [in_app_purchase] Remove skipped driver test
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/test_driver/app.dart
  packages/in_app_purchase/example/test_driver/app_test.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2028 [instrumentation_adapter] Update documentation about using androidx
  packages/instrumentation_adapter/CHANGELOG.md
  packages/instrumentation_adapter/README.md
  packages/instrumentation_adapter/android/build.gradle
  packages/instrumentation_adapter/pubspec.yaml
Labels: cla: yes

#2014 [In_App_Purchase] Avoids possible NullPointerException with background registrations.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, submit queue

#2029 fix android crash when pausing or resuming video on APIs lower than 24.
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/example/lib/main.dart
  packages/camera/pubspec.yaml
Labels: cla: yes, in review

#1999 [Connectivity] add a method to request location on iOS (for iOS 13)
  packages/connectivity/CHANGELOG.md
  packages/connectivity/README.md
  packages/connectivity/example/ios/Runner/Info.plist
  packages/connectivity/example/ios/Runner/Runner.entitlements
  packages/connectivity/example/lib/main.dart
  packages/connectivity/example/test_driver/connectivity.dart
  packages/connectivity/ios/Classes/ConnectivityPlugin.m
  packages/connectivity/ios/Classes/FLTConnectivityLocationHandler.h
  packages/connectivity/ios/Classes/FLTConnectivityLocationHandler.m
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
Labels: cla: yes
