Repository flutter/plugins, pull requests merged in 2019-07, with the labels that each got.

#1785 [in_app_purchase]fix the regression introduced in 0.2.0+1
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1786 Disable version-check until we fix the patch version
  script/incremental_build.sh
Labels: cla: yes

#1787 re-enable version check
  script/incremental_build.sh
Labels: cla: yes

#1781 [cloud_firestore] Support for map fields in document pagination
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1801 [google_maps_flutter] Fix incorrect polygon argument name in google maps controller
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1795 [image_picker] Don't use modules
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1799 [firebase_crashlytics] make sure the keys are actually added to the returned map
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes

#1780 [cloud_firestore] Transactions improvements
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
Labels: cla: yes

#1811 [path_provider] Update to use getExternalFilesDir
  packages/path_provider/CHANGELOG.md
  packages/path_provider/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1812 [firebase_database] Move firebase_database transaction calls to UI thread on Android
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/src/main/java/io/flutter/plugins/firebase/database/FirebaseDatabasePlugin.java
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#1779 Add a PR triage policy to the contributing guide.
  CONTRIBUTING.md
Labels: cla: yes

#1756 [firebase_messaging] fix crash when func deleteInstanceID return result in incorrect thread
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Labels: cla: no, flutterfire

#1815 [firebase_crashlytics] Update README with advice on testing installation
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1798 [in_app_purchase] Readme updates
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, documentation, submit queue

#1817 [image_picker]use class instead of struct for GIFInfo on iOS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/ImageUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1816 [firebase_messaging] add integration tests
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/example/test_driver/firebase_messaging.dart
  packages/firebase_messaging/example/test_driver/firebase_messaging_test.dart
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#1818 [firebase_messaging] Change signature of subscribe/unsubscribe
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/example/test_driver/firebase_messaging.dart
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Labels: cla: yes

#1804 [image_picker] Removed cursor to prevent crash
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1751 [in_app_purchase] Fixed code example error & README links
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, documentation, submit queue

#1823 [image_picker] Update README example
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1761 [Connectivity][Android] Updated check network info logic
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Labels: cla: yes, submit queue

#1744 [image_picker] return error in the event that permissions are not granted
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, submit queue

#844 [google_sign_in] Added NonNull annotations, reduce Guava usage
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1819 [in_app_purchase] iOS: Support unsupported UserInfo value types on NSError.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
Labels: cla: yes, submit queue

#1827 [in_app_purchase] fix version
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1782 [url_launcher]: add option to enable DOM storage in android webview
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#1828 Revert "[google_sign_in] Added NonNull annotations, reduce Guava usage (#844)
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1067 [quick_actions]make QuickActions testable
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
Labels: cla: yes

#1776 [all_plugins] Compile all plugins together
  .gitignore
  examples/all_plugins/android/app/build.gradle
  examples/all_plugins/android/app/src/main/AndroidManifest.xml
  examples/all_plugins/android/gradle.properties
  examples/all_plugins/ios/Runner/Info.plist
  examples/all_plugins/pubspec.yaml
  script/build_all_plugins_app.sh
Labels: cla: yes

#1833 [in_app_purchase] add missing `hashCode` implementation
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1834 [firebase_storage] Fix Content-Type auto-detection for Android
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1831 [firebase_crashlytics] Handle case where function isn't in class for stack
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes

#1835 [firebase_dynamic_links] Allow FDL plugin to be registered without an activity
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes

#1805 [firebase_auth] Fix typo in some comments.
  packages/firebase_auth/example/lib/signin_page.dart
Labels: cla: yes, submit queue

#1832 [camera] Dart Interface for camera refactor
  packages/camera/README.md
  packages/camera/lib/new/camera.dart
  packages/camera/lib/new/src/camera_controller.dart
  packages/camera/lib/new/src/camera_testing.dart
  packages/camera/lib/new/src/common/camera_channel.dart
  packages/camera/lib/new/src/common/camera_interface.dart
  packages/camera/lib/new/src/common/camera_mixins.dart
  packages/camera/lib/new/src/common/native_texture.dart
  packages/camera/pubspec.yaml
  packages/camera/test/camera_test.dart
Labels: cla: yes

#1808 [google_maps_flutter] Add map toolbar support
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes

#1119 [android_alarm_manager] add support for specifying startAt time for AlarmManager.periodic()
  packages/android_alarm_manager/lib/android_alarm_manager.dart
Labels: cla: yes

#1826 [firebase_auth] Register for iOS notifications to support phone auth
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
Labels: cla: yes

#1839 [firebase_auth] CHANGELOG entry and update pubspec.yaml for release
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1313 [ci] Switch to macOS VM with Flutter pre-installed
  .cirrus.yml
Labels: WIP, bugfix, cla: yes

#1806 [video_player] fixed markdown which causes pub.dev not show actu…
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
Labels: cla: no, submit queue

#1840 [local_auth] Fix usage syntax on README
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1845 [webview_flutter] Basic fix for input pre N
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/ThreadedInputConnectionProxyAdapterView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1850 [firebase_analytics] add missing named events tracking
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: yes

#1800 [quick_actions] Implementing sharedpreferences approach for killed apps
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/src/main/AndroidManifest.xml
  packages/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/ios/Classes/QuickActionsPlugin.m
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
Labels: cla: yes

#1634 Add in_app_purchase for readme and replace pub.dartlang.org to pub.dev.
  README.md
Labels: cla: yes

#1846 [firebase_auth] [google_sign_in] Update consent screen docs
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1830 [firebase_remote_config] fix config value source parsing
  AUTHORS
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/example/test_driver/firebase_remote_config.dart
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/lib/src/remote_config_value.dart
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_remote_config/test/firebase_remote_config_test.dart
Labels: cla: yes

#1844 [image_picker] Fix image_picker Hanging After Attempting to Open Unavailable Camera on iOS Simulator
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1714 [quick_actions] Update README.md
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/README.md
  packages/quick_actions/pubspec.yaml
Labels: cla: yes

#1735 Remove hard coded version check
  .cirrus.yml
  script/check_hard_coded_version.sh
Labels: cla: yes

#1852 [webview_flutter] Support Flutter `TextInput`s
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1766 [firebase_messaging] Update README for build.gradle configuration
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#1849 [android alarm manager] Fix crash below API 19
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/RebootBroadcastReceiver.java
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1765 [firebase_auth] Leave UserInfo for phone provider in providerData
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1853 [webview_flutter] Fix input bug on route changes
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1855 Update CODEWNERS for google_maps_flutter and webview_flutter
  CODEOWNERS
Labels: cla: yes

#1753 [share] Add subject as optional parameter
  packages/share/CHANGELOG.md
  packages/share/android/src/main/java/io/flutter/plugins/share/SharePlugin.java
  packages/share/example/lib/main.dart
  packages/share/ios/Classes/SharePlugin.m
  packages/share/lib/share.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes

#1854 [webview_flutter] Fix typo
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
Labels: cla: yes

#1515 [firebase_admob] Fix firebase_admob crash when used with android alarm manager
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/src/main/java/io/flutter/plugins/firebaseadmob/FirebaseAdMobPlugin.java
  packages/firebase_admob/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire, submit queue

#1308 [shared_preferences] release active instance for create new singleton with new mock values
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes

#1858 Update CHANGELOG and pubspec.yaml for release
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#1848 [url_launcher] add support for android headers
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#1276 [shared_preferences] copying list for prevent mutate from outside
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: bugfix, cla: yes

#1075 [firebase_analytics]Refactor unit test to use `setMockMethodCallHandler`
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
  packages/firebase_analytics/test/observer_test.dart
Labels: cla: yes, flutterfire

#1703 [package_info]Update README.md to reflect iOS issue.
  packages/package_info/CHANGELOG.md
  packages/package_info/README.md
  packages/package_info/pubspec.yaml
Labels: cla: yes

#1862 [image_picker] Fix a crash when user takes a photo using devices under iOS 11.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1822 [Connectivity] Fixes issue "connectivity using deprecated api"
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Labels: cla: yes, submit queue

#1857 [webview_flutter] Don't log unknown setting key for debuggingEnabled …
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1863 [webview_flutter] fix typo in comment
  packages/webview_flutter/ios/Classes/FlutterWebView.m
Labels: cla: yes

#1856 [quick_actions] Fixes Android action forwarding
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/android/src/main/AndroidManifest.xml
  packages/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/example/android/app/src/main/AndroidManifest.xml
  packages/quick_actions/example/android/app/src/main/res/drawable/ic_launcher_background.xml
  packages/quick_actions/example/android/app/src/main/res/values/styles.xml
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/pubspec.yaml
Labels: cla: yes

#1728 [firebase_messaging]: add additional documentation for the data in notifications
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
Labels: cla: no, flutterfire, submit queue

#1870 Cirrus should report errors on failures of incremental_build.sh
  script/common.sh
Labels: cla: yes

#1872 [connectivity] Fix the typo in the suppresswarnings qualifier
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#1865 [ci] Use the same upgrade script on Mac
  .cirrus.yml
Labels: cla: yes

#1873 Add some more CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#1869 [firebase_auth] Fix getIdToken refresh param on iOS
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1874 [firebase_performance] Fix invokeMethod formatting that caused a bug with Dart code obfuscation
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/lib/src/firebase_performance.dart
  packages/firebase_performance/lib/src/http_metric.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/lib/src/trace.dart
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes

#1847 [firebase_ml_vision] Add support for cloud text recognizer
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/example/lib/camera_preview_scanner.dart
  packages/firebase_ml_vision/example/lib/detector_painters.dart
  packages/firebase_ml_vision/example/lib/picture_scanner.dart
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#1562 [video_player] Fix race condition on disposing the VideoController.
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1838 [camera] Implement initialize and add documentation
  packages/camera/lib/new/src/camera_controller.dart
  packages/camera/lib/new/src/common/camera_interface.dart
  packages/camera/test/camera_test.dart
Labels: cla: yes

#1883 [firebase_core] Fix Android compile warning
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FirebaseCorePlugin.java
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1881 [share] Specify explicit type for invokeMethod & const for Rect
  packages/share/CHANGELOG.md
  packages/share/lib/share.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes

#1885 Recommend 4.3.0 version of google-services in READMEs/examples
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/build.gradle
  packages/android_alarm_manager/pubspec.yaml
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/android/build.gradle
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/android/build.gradle
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/example/android/build.gradle
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/pubspec.yaml
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/example/android/build.gradle
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/example/android/build.gradle
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/example/android/build.gradle
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/README.md
  packages/firebase_in_app_messaging/example/android/build.gradle
  packages/firebase_in_app_messaging/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/README.md
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/android/build.gradle
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/example/android/build.gradle
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/README.md
  packages/firebase_remote_config/example/android/build.gradle
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/android/build.gradle
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1875 [firebase_in_app_messaging] add firebase_in_app_messaging in README
  CODEOWNERS
  FlutterFire.md
  README.md
Labels: cla: yes

#1745 [camera] Fix camera memory leak on IOS
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
Labels: bugfix, cla: yes, in review

#1890 [location_background] Ignore for CI
  script/common.sh
Labels: cla: yes

#1867 [android_intent] Added "action_location_source_settings" action to start Location Settings Activity
  packages/android_alarm_manager/android_alarm_manager.iml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/README.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/android_intent.iml
  packages/android_intent/example/lib/main.dart
  packages/android_intent/pubspec.yaml
  packages/camera/camera.iml
  packages/connectivity/connectivity.iml
  packages/device_info/device_info.iml
  packages/firebase_admob/firebase_admob.iml
  packages/firebase_core/firebase_core.iml
  packages/firebase_dynamic_links/firebase_dynamic_links.iml
  packages/firebase_messaging/firebase_messaging.iml
  packages/firebase_performance/firebase_performance.iml
  packages/firebase_remote_config/firebase_remote_config.iml
  packages/in_app_purchase/in_app_purchase.iml
  packages/local_auth/local_auth.iml
  packages/package_info/package_info.iml
  packages/quick_actions/quick_actions.iml
  packages/video_player/video_player.iml
Labels: cla: yes, feature, in review

#1687 [firebase_dynamic_links] Change architecture to work correctly on async links and launch links
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/lib/src/firebase_dynamic_links.dart
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_test.dart
Labels: cla: yes, flutterfire, in review

#1599 [firebase_ml_vision] adds facial contours
  .gitignore
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/example/assets/test_face.jpg
  packages/firebase_ml_vision/example/test_driver/face_detector.dart
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, feature, flutterfire, in review

#1895 [android_alarm_manager] Added support for setting alarms which work when the phone is in doze mode
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes, feature

#1891 [path_provider] Add support to access getApplicationSupportDirectory on Android
  packages/path_provider/CHANGELOG.md
  packages/path_provider/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1884 [package_info] [location_background] Fix remaining Android compiler warnings
  packages/location_background/CHANGELOG.md
  packages/location_background/lib/location_background_plugin.dart
  packages/location_background/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/android/src/main/java/io/flutter/plugins/packageinfo/PackageInfoPlugin.java
  packages/package_info/pubspec.yaml
Labels: cla: yes

#1901 Final release of the location_background plugin.
  packages/location_background/CHANGELOG.md
  packages/location_background/README.md
  packages/location_background/pubspec.yaml
Labels: cla: yes

#1803 [firebase_crashlytics] runtime exceptions
  AUTHORS
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/example/lib/main.dart
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: no, flutterfire, in review

#1905 [in_app_purchase] Use correct Gradle distribution
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1892 [google_maps_flutter]Google maps plugin memory leak fix
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#1910 [webview_flutter] Add keyboard info to the README
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1912 [firebase_crashlytics] Fix Printing, README, Changelog & log FlutterErrorDetails.informationCollector
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/example/test_driver/crashlytics.dart
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes, flutterfire

#1907 [cloud_firestore] Update autoId generation to match native implementation more closely
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/utils/auto_id_generator.dart
  packages/cloud_firestore/lib/src/utils/push_id_generator.dart
Labels: cla: yes, flutterfire, in review

#1611 [url_launcher] avoid deprecation warning in guarded code
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/pubspec.yaml
Labels: cla: yes, submit queue

#1889 [camera] Dart side of camera API
  packages/camera/lib/new/camera.dart
  packages/camera/lib/new/src/support_android/camera.dart
  packages/camera/lib/new/src/support_android/camera_info.dart
  packages/camera/test/support_android/support_android_test.dart
Labels: cla: yes, feature

#1916 Bump cloud_firestore version for release
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, flutterfire

#1911 [firebase_auth] Update auth methods to return AuthResult instead of FirebaseUser
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/lib/src/additional_user_info.dart
  packages/firebase_auth/lib/src/auth_result.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#1915 [cloud_firestore] Add metadata to QuerySnapshot
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query_snapshot.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#1921 [firebase_auth] Fixes exceptions when signing in on iOS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1887 [cloud_functions] Support for cloud functions emulators
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/lib/src/cloud_functions.dart
  packages/cloud_functions/lib/src/https_callable.dart
  packages/cloud_functions/pubspec.yaml
  packages/cloud_functions/test/cloud_functions_test.dart
Labels: cla: no, flutterfire

#1919 [firebase_auth] fix inconsistency between iOS and Android on FirebaseUserMetadata
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/user_metadata.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#1918 [cloud_firestore] add support for MetadataChanges
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/lib/main.dart
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#1876 [Image_Picker] Fix example
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/pubspec.yaml
Labels: cla: yes, submit queue

#1922 [cloud_functions] Hide the origin attribute of CloudFunctions constructor.
  packages/cloud_functions/lib/src/cloud_functions.dart
Labels: cla: yes

#1893 [image_picker] image picker memory leak fix on Android
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, submit queue

#1928 [firebase_auth] Fixes for iOS auth crash on failed sign-in
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/android/app/build.gradle
  packages/firebase_auth/example/android/app/google-services.json
  packages/firebase_auth/example/ios/Runner/GoogleService-Info.plist
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1924 [firebase_auth] update README
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1871 [firebase_auth] Add missing method getIdTokenResult()
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/lib/src/id_token_result.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes, flutterfire

#1877 [Image_Picker] Use cache instance on Android
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, submit queue

#1660 [video_player] [iOS] Fixed a memory leak in the video player plugin.
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes, submit queue

#1931 [firebase_crashlytics] Fixes exception when trying to format crash re…
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes, flutterfire, submit queue

#1896 [image_picker] New feature : pick images with image quality
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Labels: cla: yes, submit queue

#1917 Fix annotation dependency
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/pubspec.yaml
  packages/firebase_in_app_messaging/CHANGELOG.md
  packages/firebase_in_app_messaging/android/build.gradle
  packages/firebase_in_app_messaging/pubspec.yaml
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/build.gradle
  packages/image_picker/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1888 [in_app_purchase] In app purchase ios price locale currency code
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, feature, submit queue
