Repository flutter/plugins, pull requests merged in 2019-02, with the labels that each got.

#1147 Use json serializer for skproduct wrapper and related classes.
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
Labels: cla: yes

#1130 WebView JavasScript channels Android implementation.
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
Labels: cla: yes, feature, webview

#1116 Add WebView JavaScript channels (Dart side).
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1133 Added support for persisting alarms across reboots
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/RebootBroadcastReceiver.java
  packages/android_alarm_manager/example/android/app/src/main/AndroidManifest.xml
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes, feature

#1155 Updating the example to match the new API
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, documentation, flutterfire, submit queue

#1157 Workaround to fix the camera positioning issue on the google map view
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1162 Expose nslocale and expose currencySymbol instead of currencyCode to match android
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
Labels: cla: yes

#1126 IAP add payment translators in objc
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
Labels: cla: yes

#1171 Revert "IAP add payment translators in objc (#1126)"
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
Labels: cla: yes

#1172 Iap add payment objc translators
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
Labels: cla: yes

#1149 Allow clearing cookies for FlutterWebView
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/ios/Classes/WebViewFlutterPlugin.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1135 FIx issue with calculating iOS image orientation in certain special c…
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
Labels: cla: yes

#1180 Expose exception on the signIn method in Google sign in.
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1173 Fix biometrics check error below ios11.
  packages/local_auth/ios/Classes/LocalAuthPlugin.m
Labels: cla: yes

#1185 remove extra space
  packages/firebase_auth/README.md
Labels: cla: yes

#1161 Add Swift example to README.md for google_maps_flutter
  packages/google_maps_flutter/README.md
Labels: cla: yes

#1125 Fixed image picker crash when used with android alarm manager
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1176 Fix Firebase phone auth on Android
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1175 Add unit tests to connectivity plugin
  packages/connectivity/CHANGELOG.md
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
Labels: cla: yes

#895 [connectivity] Added getWifiIP()
  AUTHORS
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/example/README.md
  packages/connectivity/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/connectivity/example/lib/main.dart
  packages/connectivity/ios/Classes/ConnectivityPlugin.m
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
Labels: cla: yes

#1193 Mark some packages as unpublishable
  packages/in_app_purchase/pubspec.yaml
  packages/location_background/pubspec.yaml
  script/check_publish.sh
Labels: cla: yes

#1163 Change from Rectangle<num>/Point<num> to Rect/Offset for ui convenience
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes

#1194 Fix the param map passed down to the platform channel when calling querySkuDetails
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
Labels: cla: yes

#1195 Fix bug where HttpMetric/Trace dictionaries weren't being initialized on iOS
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes

#1177 Fix bug causing black screen on some Android devices
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#1178 Iap iOS add payment dart wrappers
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
Labels: cla: yes

#1205 Introduce CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#1200 WebView controller let's you clear cache
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1169 Iap getproductlist basic draft
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/product_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#1212 Change version webview flutter
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1214 Video player supported formats
  packages/video_player/README.md
Labels: cla: yes

#1213 Set GoogleAppMeasurement dependency version
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1215 Bump video_player version to 0.10.0+2
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1217 [android_alarm_manager] Include missing dependency
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1220 remove the blank line in CODEOWNER
  CODEOWNERS
Labels: cla: yes

#1199 Iap fix requesthandler crash
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Labels: cla: yes

#1156 Add capability of using single plane buffers
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1140 Change iOS video format back to bgra8888
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/lib/camera_image.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#1221 Remove the method channel's reference to webview/maps on dispose.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1222 [In_app_purchase]remove categories
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Labels: cla: yes

#997 closeWebView fixes for url_launcher
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/pubspec.yaml
Labels: cla: yes

#1230 [IAP] Add Java call for launchBillingFlow
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
Labels: cla: yes

#1226 Remove categories
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/ios/Classes/GoogleSignInPlugin.m
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1238 [Camera] remove extra space in CHANGELOG
  packages/camera/CHANGELOG.md
Labels: cla: yes

#1232 [IAP] Add the Dart API for launchBillingFlow
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
Labels: cla: yes

#1225 Rotate image file based on Exif data
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
Labels: cla: yes, submit queue

#1170 Remove ML models from ML Kit Vision plugin
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/example/README.md
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/ios/firebase_ml_vision.podspec
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1246 Collection literals ignores in webview flutter plugin
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1231 Iap make payment objc
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/PaymentQueueTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
Labels: cla: yes

#1209 fix firestore multiple app support for DocumentSnapshot and transactions
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#1202 Fix IllegalStateException for cloud_firestore transactions
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1204 Remove assertion for firebase_core that can interfere with hot-restart
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/pubspec.yaml
  packages/firebase_core/test/firebase_core_test.dart
Labels: cla: yes

#1206 Fix iOS transactions when getting a snapshot that doesn't exist
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#957 fix message structure from intent
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#1242 Bugfix documents: webview_flutter JavascriptChannel, Example is not updated.
  packages/webview_flutter/lib/webview_flutter.dart
Labels: cla: yes

#1203 Don’t send empty cloud_firestore snapshots on iOS when encountering errors
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1248 Remove left over conflict marker
  packages/firebase_messaging/CHANGELOG.md
Labels: cla: yes

#936 Fixed typo `BarcodeValueType`
  packages/firebase_ml_vision/README.md
Labels: cla: yes

#1207 Fix cloud_firestore dates on some iOS devices
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#896 [firebase-analytics] Enable setAnalyticsCollectionEnabled support for iOS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/example/lib/main.dart
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: no, flutterfire, submit queue

#1210 cloud functions multiple app support
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/lib/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
  packages/cloud_functions/test/cloud_functions_test.dart
Labels: cla: yes

#1251 Update android_alarm_manager with instructions on setting WAKE_LOCK permissions
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/example/android/app/src/main/AndroidManifest.xml
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes, documentation

#1192 Flutterfire apps no longer show a confusing log message about configuring default app
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/ios/Classes/FirebaseAdMobPlugin.m
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
Labels: cla: yes

#1208 [firebase_storage] Support for getReferenceFromUrl
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/pubspec.yaml
  packages/firebase_storage/test/firebase_storage_test.dart
Labels: cla: yes

#1252 [In_app_purchase]SKProduct related fixes
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
Labels: cla: yes

#1250 [video_player] Cast the NSInteger to long and use %ld formatter
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
Labels: cla: yes, submit queue

#1241 [camera] 28180 fix exif data bug for first time camera use android
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes, submit queue

#1253 Disable analyzer error
  packages/google_maps_flutter/example/lib/scrolling_map.dart
Labels: cla: yes

#1255 Don't register the Maps and Camera plugin for background FlutterViews.
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#963 Reduce Android compiler warnings, prevent NPE
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/android/build.gradle
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1256 Skip Gradle's static permission check for the Maps MyLocation feature.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1257 Suppress unchecked cast warning for the PlatformViewFactory creation …
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
Labels: cla: yes

#1274 [cloud_firestore,firebase_database,firebase_storage] handling error nil on getFlutterError
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1279 [firebase_core][firebase_database]Add nil check for some static methods to avoid unwanted behaviors
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/ios/Classes/FirebaseDatabasePlugin.m
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#1259 [in_app_purchase] Java API for querying purchases
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
Labels: cla: yes

#1271 [google_maps_flutter] Update the sample app in README.md
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1281 [in_app_purchase] Fix CI formatting errors.
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
Labels: cla: yes

#1219 [firebase_auth] update example app and README
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/example/lib/main.dart
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, documentation, feature, flutterfire

#1284 [in_app_purchase] Minor bugfixes and code cleanup
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/keystore.example.properties
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
Labels: cla: yes

#1240 [google_maps_flutter] Marker APIs are now widget based (iOS Changes)
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/ios/Classes/JsonConversions.m
Labels: cla: yes, feature

#1229 [google_maps_flutter] Marker APIs are now widget based (Android)
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnCameraMoveListener.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnInfoWindowTappedListener.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/OnMarkerTappedListener.java
Labels: bugfix, cla: yes, feature

#1239 [google_maps_flutter] Marker APIs are now widget based (Dart Changes)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/marker_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/test/marker_updates_test.dart
Labels: cla: yes, documentation

#1289 Add missing license headers
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFactory.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
Labels: cla: yes

#1291 Bugfix/account for nsnull
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1294 Fix icon issue on ios and manifest on android
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1293 [google_maps_flutter] The FloatingActionButton requires an icon
  packages/google_maps_flutter/README.md
Labels: cla: yes

#742 [image_picker]Fixed losing transparency of PNGs
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
Labels: bugfix, cla: yes, submit queue

#1297 Update play-services-maps from 15.+ to 16.1.0
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1022 [camera] Add serial dispatch_queue for camera plugin to avoid blocking the UI
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1296 [image_picker] Update pub info for #742
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1249 [in_app_purchase] payment queue dart ios
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
Labels: bugfix, cla: yes, feature

#1277 [firebase_performance] Fix incorrect setting of Trace & HttpMetric attributes
  AUTHORS
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
Labels: cla: yes, flutterfire
