Repository flutter/plugins, pull requests merged in 2019-05, with the labels that each got.

#1350 [google_maps_flutter] add My location button enabled option
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes

#1520 [cloud_functions] update Dart API to replace call with getHttpsCallable
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/build.gradle
  packages/cloud_functions/android/src/main/java/io/flutter/plugins/firebase/cloudfunctions/cloudfunctions/CloudFunctionsPlugin.java
  packages/cloud_functions/example/lib/main.dart
  packages/cloud_functions/example/test/cloud_functions.dart
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/lib/cloud_functions.dart
  packages/cloud_functions/lib/src/cloud_functions.dart
  packages/cloud_functions/lib/src/https_callable.dart
  packages/cloud_functions/lib/src/https_callable_result.dart
  packages/cloud_functions/pubspec.yaml
  packages/cloud_functions/test/cloud_functions_test.dart
Labels: cla: yes, feature, flutterfire

#1476 [cloud_firestore] support for pagination using startAtDocument, endAtDocument, etc.
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: no, flutterfire

#1555 [in_app_purchase] Minor doc updates
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
Labels: cla: yes

#1558 [google_maps_flutter] Android: update myLocationButton preference on map load
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1559 add cyanglaz to codeowner of video_player
  CODEOWNERS
Labels: cla: yes

#1560 [in_app_purchase] Remove extraneous download logic
  packages/in_app_purchase/README.md
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/PaymentQueueTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes

#1355 [firebase_storage] Fix putFile method's Content-Type auto-detection for iOS
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/example/test_driver/firebase_storage.dart
  packages/firebase_storage/ios/Classes/FirebaseStoragePlugin.m
  packages/firebase_storage/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1561 [in_app_purchase] Update README. Increment version.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/example/README.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1553 [google_maps_flutter] Avoid calling null callbacks
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1564 [firebase_crashlytics] Migrate FlutterErrorDetails
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes

#1565 [path_provider] Release as 1.0 and add integration tests
  CODEOWNERS
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/example/test_driver/path_provider_test.dart
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1568 [firebase_auth] Removed automatic signing in behaviour when signing in with phone auth.
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/example/lib/signin_page.dart
  packages/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1550 [google_maps_flutter] Adds support for circle overlays to the Google Maps plugin
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/circle_updates.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/test/fake_maps_controllers.dart
Labels: cla: yes

#1571 Updates to dynamic links plugin to remove deprecated API usage and update Android dependencies.
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/README.md
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/lib/src/dynamic_link_parameters.dart
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_dynamic_links/test/firebase_dynamic_links_test.dart
Labels: cla: yes

#1576 Update firebase_core dependency
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1573 Remove flaky timeout test
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/test/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#1572 Update Flutterfire Android dependencies.
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/android/build.gradle
  packages/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/pubspec.yaml
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/android/build.gradle
  packages/firebase_admob/example/pubspec.yaml
  packages/firebase_admob/pubspec.yaml
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/build.gradle
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/pubspec.yaml
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/example/pubspec.yaml
  packages/firebase_dynamic_links/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/android/src/main/AndroidManifest.xml
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseInstanceIDService.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/build.gradle
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/pubspec.yaml
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/example/pubspec.yaml
  packages/firebase_remote_config/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1579 [firebase_messaging] more graceful handling of failed token read on startup
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/pubspec.yaml
Labels: cla: yes

#1580 [cloud_firestore] Update CocoaPod versions dependency
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1578 [firebase_auth] Update to latest CocoaPod
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1581 Fix break in firebase_analytics CocoaPod
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_analytics/pubspec.yaml
Labels: cla: yes

#1577 [in_app_purchase] Add consumable demo
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/consumable_store.dart
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1584 Migrated linkWithCredential function to FirebaseUser object instead of FirebaseAuth
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: cla: yes

#1566 [path_provider] add getApplicationSupportDirectory
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/test_driver/path_provider.dart
  packages/path_provider/ios/Classes/PathProviderPlugin.m
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1585 Return image picker method call results on the platform thread
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1078 [firebase_remote_config)Remove unused property "channel"
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FirebaseRemoteConfigPlugin.java
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes, submit queue

#1318 [Firebase messaging] iOS direct data messages
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/ios/Classes/FirebaseMessagingPlugin.m
  packages/firebase_messaging/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1589 [in_app_purchase] Fix issue with empty purchase updates
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1588 [in_app_purchase] Guard against dupe onBillingSetupFinished calls
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1590 [in_app_purchase] Propagate launchBillingFlow failures
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1554 [video_player] Prevent Div/0 during network playback initialization.
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1582 [firebase_core] set user agent
  .cirrus.yml
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/AndroidManifest.xml
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
  script/check_hard_coded_version.sh
Labels: cla: yes, flutterfire

#1601 Adjust user agent name
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1593 remove iOS dependency on Firebase/Database and Firebase/Auth
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1557 [firebase_performance] Testing of firebase performance rewrite PRs
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterFirebasePerformance.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterHttpMetric.java
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FlutterTrace.java
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/ios/Classes/FLTFirebasePerformance.m
  packages/firebase_performance/ios/Classes/FLTHttpMetric.m
  packages/firebase_performance/ios/Classes/FLTTrace.m
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin+Internal.h
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.h
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/lib/firebase_performance.dart
  packages/firebase_performance/lib/src/firebase_performance.dart
  packages/firebase_performance/lib/src/http_metric.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/lib/src/trace.dart
  packages/firebase_performance/test/firebase_performance_test.dart
Labels: cla: yes, flutterfire

#1592 [android_intent] Add the component name to the intent.
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#1158 [firebase_auth] Add updatePhoneNumber function
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
Labels: WIP, cla: no, feature, flutterfire

#1603 Fix to check_hard_coded_version script
  script/check_hard_coded_version.sh
Labels: cla: yes

#1602 [webview_flutter] Fix wrong main thread checking condition.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/example/test_driver/webview.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1607 [cloud_functions] Update iOS dependencies to latest to match Android
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/cloud_functions.podspec
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#1401 [webview_flutter] add debuggingEnabled property
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, feature, webview

#1598 [camera] Enable camera plugin to compile with earlier android apis with custom AndroidManifest settings
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#837 [camera] Add the ability to disable audio for video recording and image streaming
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/example/lib/main.dart
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes, feature, marketplace

#1610 [camera] Fix bug preventing video recording with audio
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#1612 [video_player] avoid deprecated seekToTime API
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1600 [shared_preferences] Asynchronous commit() callback
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#1586 [image_picker] iOS: save image to the correct type based on its original type and copy over exif data from the original image
  AUTHORS
  packages/firebase_messaging/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/image_picker/example/ios/Runner/Assets.xcassets/Contents.json
  packages/image_picker/example/ios/TestImages/jpgImage.jpg
  packages/image_picker/example/ios/TestImages/pngImage.png
  packages/image_picker/example/ios/image_picker_exampleTests/Info.plist
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1575 [google_maps_flutter] Adds long press / long click support to GoogleMap
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1618 Allow changing the webview's platform specific implementation
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1617 [image_picker] ios: copy all meta data from the original image.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/ImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/ImagePickerPhotoAssetUtil.m
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1625 [image_picker] Rename iOS class according to the official Objective-C naming convention.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1621 Change LocalAuth to use Biometric API
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/app/src/main/java/io/flutter/plugins/localauthexample/MainActivity.java
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1583 [image_picker] Add return statement into the image_picker example
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1633 [cloud_firestore] Fixed parent() methods
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/collection_reference.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#1639 [cloud_functions]:Replace `call` with `getHttpsCallable` under Usage section in readme
  packages/cloud_functions/README.md
Labels: cla: yes

#1640 [google_maps_flutter] Update and comment out the 'set marker icon' sample.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1597 [firebase_auth] Updated linking error code documentation
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1641 [android_alarm_manager] Move method channel usage to the platform main thread
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
Labels: cla: yes

#1642 [firebase_ml_vision] Update sample to use new ImageStreamListener API
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1643 suppress deprecation warning for BinaryMessages
  packages/cloud_firestore/test/cloud_firestore_test.dart
  packages/connectivity/test/connectivity_test.dart
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/pubspec.yaml
  packages/firebase_auth/test/firebase_auth_test.dart
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/pubspec.yaml
  packages/firebase_database/test/firebase_database_test.dart
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1624 [webview_flutter] platform_interface: Use Dart objects for creationParams and webSettings.
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1604 [firebase_performance] Update integration tests & version bump
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/example/pubspec.yaml
  packages/firebase_performance/example/test_driver/firebase_performance.dart
  packages/firebase_performance/example/test_driver/firebase_performance_test.dart
  packages/firebase_performance/lib/src/performance_attributes.dart
  packages/firebase_performance/pubspec.yaml
  packages/firebase_performance/test/firebase_performance_test.dart
Labels: cla: yes, flutterfire

#1648 [connectivity]Adding missing type params.
  packages/connectivity/CHANGELOG.md
  packages/connectivity/lib/connectivity.dart
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#1569 [firebase_dynamic_links] support clicking on link while app is running.
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/example/lib/main.dart
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes, flutterfire

#1651 [firebase_admob]add missing type params for invokeMethod and bump min flutter version to 1.5.0…
  packages/firebase_admob/CHANGELOG.md
  packages/firebase_admob/lib/firebase_admob.dart
  packages/firebase_admob/pubspec.yaml
Labels: cla: yes

#1649 [Device_info] Replace invokeMethod with invokeMapMethod and some refactoring around this change.
  packages/device_info/CHANGELOG.md
  packages/device_info/lib/device_info.dart
  packages/device_info/pubspec.yaml
Labels: cla: yes

#1644 [cloud_firestore] Add user agent submission to Firestore plugin
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/build.gradle
  packages/cloud_firestore/android/src/main/AndroidManifest.xml
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1587 [in_app_purchase] Updated error handling in `queryPastPurchases` and `queryProductDetails`
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#1653 [shared_preferences] Updated Gradle tooling to match Android Studio 3.4.
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/build.gradle
  packages/shared_preferences/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/example/android/build.gradle
  packages/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes

#1656 Fixes merge conflict in shared_preferences release of 0.5.2+2
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#1652 [firebase_analytics]bump min flutter version to 1.5.0 and add type params to invokeMethod…
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: yes, flutterfire

#1650 [cloud_firestore]bump up flutter version to 1.5 and use invokeMapMethod instead of invokeMethod
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, flutterfire

#1655 [firebase_auth] add type parameters for invokeMethod and bump min flutter version to 1.5.0
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/lib/src/firebase_user.dart
  packages/firebase_auth/lib/src/user_metadata.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1551 [google_maps_flutter] Adds support for polygon overlays to the Google Maps plugin
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonOptionsSink.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapsPlugin.h
  packages/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polygon_updates.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/polygon_updates_test.dart
Labels: cla: yes

#1647 [cloud_firestore] Added source support
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/cloud_firestore.dart
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/source.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#1654 [path_provider] Cast NSInteger to long
  packages/path_provider/CHANGELOG.md
  packages/path_provider/ios/Classes/PathProviderPlugin.m
  packages/path_provider/pubspec.yaml
Labels: cla: yes

#1620 [cloud_functions] Update README and dart docs, remove unused parameters.
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/README.md
  packages/cloud_functions/lib/src/cloud_functions.dart
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes, flutterfire

#1658 [firebase_ml_vision] Fix crash when passing contact info from barcode
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/example/assets/test_contact_barcode.png
  packages/firebase_ml_vision/example/pubspec.yaml
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1645 [webview_flutter] Move the method channel behind the platform interface
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1662 [in_app_purchase]fix missing return statement analyzer warning
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Labels: cla: yes

#1665 Fix firebase_crashlytics analyze errors
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes

#1664 Fix firebase_auth analyze issues
  packages/firebase_auth/example/lib/register_page.dart
  packages/firebase_auth/example/lib/signin_page.dart
Labels: cla: yes

#1659 [local_auth] Fixed crash on API<28 while invoking authenticateWithBiometrics
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/example/lib/main.dart
  packages/local_auth/lib/error_codes.dart
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1657 [firebase_core] replace invokeMethod with invokeMapMethod, add type parameters to invokeMethod calls, bump min Flutter version to 1.5.0
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/lib/src/firebase_app.dart
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1672 [local_auth] The thread for executor needs to be UI thread.
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1676 [local_auth] Use post instead of postDelayed
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1666 [firebase_auth] Fix iOS updatePhoneNumberCredential crash
  AUTHORS
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1609 [firebase_auth] Fix onMethodCall missing for updatePhoneNumberCredential
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1663 Move clearCookies behind the platform abstraction
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1198 [shared_preferences] Added reload method
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes, feature

#1671 [firebase_ml_vision] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1670 [firebase_messaging]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/lib/firebase_messaging.dart
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_messaging/test/firebase_messaging_test.dart
Labels: cla: yes

#1668 [firebase_database]Add missing template type parameter to calls. Bump minimum Flutter v…
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/lib/src/database_reference.dart
  packages/firebase_database/lib/src/firebase_database.dart
  packages/firebase_database/lib/src/on_disconnect.dart
  packages/firebase_database/lib/src/query.dart
  packages/firebase_database/pubspec.yaml
Labels: cla: yes

#1667 [firebase_crashlytics]add missing type parameters and pump min flutter version to 1.5.0
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1678 [firebase_remote_config] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/lib/src/remote_config.dart
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes
