Repository flutter/plugins, pull requests merged in 2019-01, with the labels that each got.

#976 [camera] Fix issue with crash when the physical device's orientation is unknown on Android.
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#1025 Fix CI analyzer errors
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/video_player/test/video_player_test.dart
Labels: cla: yes

#965 Add byte streaming capability for the camera
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/lib/camera_image.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#971 Add the ability for ML Kit to create image from bytes
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/firebase_ml_vision.dart
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/cloud_detector_options.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes

#1031 Workaround the Gradle crash due to non ASCII characters.
  .cirrus.yml
Labels: cla: yes

#1021 javascript evaluation ios/android
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, feature, webview

#1040 Rev version to publish 0.3.1 to pub
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1034 Remove comments from license file
  LICENSE
Labels: cla: yes

#1024 Doc and build script updates to the IAP plugin
  .gitignore
  packages/in_app_purchase/README.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/example/README.md
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/example/keystore.example.properties
Labels: cla: yes

#1037 Save photo orientation on iOS
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/pubspec.yaml
Labels: cla: yes

#1051 Fix image picker crash on IOS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1058 Update dart doc for forceSafariVC for the usage of universal links on iOS
  packages/url_launcher/lib/url_launcher.dart
Labels: cla: yes

#1046 Fix Crash When StartPreview Error
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
Labels: cla: yes

#1060 Bump camera plugin version and update changelog.
  packages/camera/CHANGELOG.md
  packages/camera/pubspec.yaml
Labels: cla: yes

#1072 adding nil check
  packages/package_info/CHANGELOG.md
  packages/package_info/ios/Classes/PackageInfoPlugin.m
  packages/package_info/pubspec.yaml
Labels: cla: yes

#1076 Fix `Manifest versionCode not found`
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_intent/example/android/app/build.gradle
  packages/battery/example/android/app/build.gradle
  packages/camera/example/android/app/build.gradle
  packages/cloud_firestore/example/android/app/build.gradle
  packages/cloud_functions/example/android/app/build.gradle
  packages/connectivity/example/android/app/build.gradle
  packages/device_info/example/android/app/build.gradle
  packages/firebase_admob/example/android/app/build.gradle
  packages/firebase_analytics/example/android/app/build.gradle
  packages/firebase_auth/example/android/app/build.gradle
  packages/firebase_core/example/android/app/build.gradle
  packages/firebase_database/example/android/app/build.gradle
  packages/firebase_dynamic_links/example/android/app/build.gradle
  packages/firebase_messaging/example/android/app/build.gradle
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_performance/example/android/app/build.gradle
  packages/firebase_remote_config/example/android/app/build.gradle
  packages/firebase_storage/example/android/app/build.gradle
  packages/google_maps_flutter/example/android/app/build.gradle
  packages/google_sign_in/example/android/app/build.gradle
  packages/image_picker/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/build.gradle
  packages/local_auth/example/android/app/build.gradle
  packages/location_background/example/android/app/build.gradle
  packages/package_info/example/android/app/build.gradle
  packages/path_provider/example/android/app/build.gradle
  packages/quick_actions/example/android/app/build.gradle
  packages/sensors/example/android/app/build.gradle
  packages/share/example/android/app/build.gradle
  packages/shared_preferences/example/android/app/build.gradle
  packages/url_launcher/example/android/app/build.gradle
  packages/video_player/example/android/app/build.gradle
Labels: cla: yes

#1082 [IAP] Clean up Dart unit tests
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Labels: cla: yes

#1083 [IAP] Add missing license headers
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/example/android/app/src/main/java/com/example/inapppurchaseexample/MainActivity.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/test_driver/app.dart
  packages/in_app_purchase/example/test_driver/app_test.dart
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/billing_client_wrappers.dart
  packages/in_app_purchase/lib/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
Labels: cla: yes

#1062 Url launcher ios universallinksonly
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/ios/Classes/UrlLauncherPlugin.m
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
  packages/url_launcher/test/url_launcher_test.dart
Labels: cla: yes

#1086 Enable compute credits for commits, and for macOS PRs
  .cirrus.yml
Labels: cla: yes

#1088 add deprecated_member_use_from_same_package to pass analyzer
  packages/firebase_admob/lib/firebase_admob.dart
Labels: cla: yes

#1087 cirrues update to mojave-xcode-10.1
  .cirrus.yml
Labels: cla: yes

#1089 Fix a crash when selecting downloaded images on certain devices
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1084 [IAP] Fetch SkuDetails from Google Play
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/lib/billing_client_wrappers.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
Labels: cla: yes

#1102 cleanup
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/pubspec.yaml
Labels: cla: yes

#1104 Include Android SDK 27 in the docker image and accept licenses
  .ci/Dockerfile
  .cirrus.yml
Labels: cla: yes

#1105 update change log for url launcher
  packages/url_launcher/CHANGELOG.md
Labels: cla: yes

#1090 [IAP] Generate boilerplate serializers
  packages/in_app_purchase/README.md
  packages/in_app_purchase/analysis_options.yaml
  packages/in_app_purchase/build.yaml
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1109 Update all plugins to minimum iOS 8.0
  packages/cloud_firestore/example/ios/Runner.xcodeproj/project.pbxproj
  packages/cloud_firestore/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/cloud_firestore/ios/cloud_firestore.podspec
  packages/firebase_analytics/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_analytics/ios/firebase_analytics.podspec
  packages/firebase_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_auth/ios/firebase_auth.podspec
  packages/firebase_database/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_database/ios/firebase_database.podspec
  packages/firebase_ml_vision/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_remote_config/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
  packages/firebase_storage/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_storage/ios/firebase_storage.podspec
Labels: cla: yes

#690 [video_player] Fix aspect ratio
  packages/image_picker/example/lib/main.dart
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/example/lib/main.dart
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1112 [IAP] Update README
  packages/in_app_purchase/README.md
Labels: cla: yes

#1118 [IAP] Update dev deps to match flutter_driver
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1068 Iap productlist ios
  packages/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/ProductRequestHandlerTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/TranslatorTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/in_app_purchase_pluginTests.m
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/ios/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/ios/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
Labels: cla: yes

#1124 Updated `launch` to use async and await, fixed the incorrect return value by `launch` method.
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
Labels: cla: yes

#1108 Remove 'init' static method
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#1128 Migrate to AndroidX forward roll
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/build.gradle
  packages/firebase_analytics/example/android/app/build.gradle
  packages/firebase_analytics/example/android/app/gradle.properties
  packages/firebase_analytics/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_analytics/example/android/build.gradle
  packages/firebase_analytics/example/pubspec.yaml
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_database/CHANGELOG.md
  packages/firebase_database/android/build.gradle
  packages/firebase_database/example/android/app/build.gradle
  packages/firebase_database/example/android/app/gradle.properties
  packages/firebase_database/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_database/example/android/build.gradle
  packages/firebase_database/example/pubspec.yaml
  packages/firebase_database/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/android/build.gradle
  packages/firebase_messaging/android/firebase_messaging.iml
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FirebaseMessagingPlugin.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseInstanceIDService.java
  packages/firebase_messaging/android/src/main/java/io/flutter/plugins/firebasemessaging/FlutterFirebaseMessagingService.java
  packages/firebase_messaging/example/android/app/build.gradle
  packages/firebase_messaging/example/android/app/gradle.properties
  packages/firebase_messaging/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_messaging/example/android/build.gradle
  packages/firebase_messaging/example/pubspec.yaml
  packages/firebase_messaging/pubspec.yaml
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/android/build.gradle
  packages/firebase_storage/android/src/main/java/io/flutter/plugins/firebase/storage/FirebaseStoragePlugin.java
  packages/firebase_storage/example/android/app/build.gradle
  packages/firebase_storage/example/android/app/gradle.properties
  packages/firebase_storage/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/firebase_storage/example/android/build.gradle
  packages/firebase_storage/example/pubspec.yaml
  packages/firebase_storage/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/android/build.gradle
  packages/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/example/android/app/gradle.properties
  packages/google_sign_in/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/example/android/build.gradle
  packages/google_sign_in/pubspec.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/android/build.gradle
  packages/url_launcher/example/android/app/build.gradle
  packages/url_launcher/example/android/app/gradle.properties
  packages/url_launcher/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/example/android/build.gradle
  packages/url_launcher/pubspec.yaml
Labels: cla: yes

#1129 android_alarm_manager background execution bug fixes
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmBroadcastReceiver.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/example/android/app/src/main/AndroidManifest.xml
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1132 Use string to save double for shared_preference(Android).
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/pubspec.yaml
Labels: bugfix, cla: yes, needs love, submit queue

#1092 Fix broken documentation link to AndroidBuildVersionCodes
  packages/device_info/lib/device_info.dart
Labels: cla: yes

#1120 A few additional Androix dependencies
  packages/cloud_firestore/android/build.gradle
  packages/cloud_functions/android/build.gradle
  packages/firebase_dynamic_links/android/build.gradle
  packages/firebase_messaging/android/build.gradle
  packages/firebase_ml_vision/android/build.gradle
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_storage/android/build.gradle
Labels: cla: yes

#842 Remove base detector class and change detection method name
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/label_detector.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
Labels: cla: yes, flutterfire

#1093 [image_picker] Fixed a crash that would occur when called in quick succession on Android
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes
