Repository flutter/plugins, pull requests merged in 2019-06, with the labels that each got.

#1680 [google_map_flutter] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1688 [google_map_flutter] correct version
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1684 [in_app_purchase]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1691 [In_app_purchase] Correct version.
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1696 [video_player] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player.dart
  packages/video_player/pubspec.yaml
Labels: cla: yes

#1698 [webview_flutter]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1700 [android_alarm_manager] Wait in onHandleWork until the Dart callback returns a result
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
Labels: cla: yes

#1695 [url_launcher] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/lib/url_launcher.dart
  packages/url_launcher/pubspec.yaml
Labels: cla: yes

#1694 [shared_preferences]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/pubspec.yaml
  packages/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes

#1693 [quick_ actions] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
Labels: cla: yes

#1692 [Package_info] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/package_info/CHANGELOG.md
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
Labels: cla: yes

#1683 [image_picker]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1681 [google_sign_in] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/pubspec.yaml
Labels: cla: yes

#1689 [local_auth]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter versi
  packages/local_auth/CHANGELOG.md
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1637 [in_app_purchase] Expanded description
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#1679 [firebase_storage]Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/firebase_storage/CHANGELOG.md
  packages/firebase_storage/lib/src/event.dart
  packages/firebase_storage/lib/src/firebase_storage.dart
  packages/firebase_storage/lib/src/storage_metadata.dart
  packages/firebase_storage/lib/src/storage_reference.dart
  packages/firebase_storage/lib/src/upload_task.dart
  packages/firebase_storage/pubspec.yaml
Labels: cla: yes

#1669 [firebase_dynamic_links]Add missing template type parameter to calls. Bump minimum Flutter v…
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/lib/src/dynamic_link_parameters.dart
  packages/firebase_dynamic_links/lib/src/firebase_dynamic_links.dart
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes

#1701 [cloud_firestore] Invoke on ui thread only
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, flutterfire

#1690 [location_background] Add missing template type parameter to `invokeMethod` calls. Bump minimum Flutter version to 1.5.0. Replace invokeMethod with invokeMapMethod wherever necessary.
  packages/location_background/CHANGELOG.md
  packages/location_background/lib/location_background_plugin.dart
  packages/location_background/pubspec.yaml
Labels: cla: yes

#1697 [google_maps_flutter] Add support for styling google maps
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/assets/night_mode.json
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/ui.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1707 Ensure that CocoaPods on Cirrus is always the latest version.
  .cirrus.yml
Labels: cla: yes

#1623 [cloud_firestore] add support for cacheSizeBytes
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#1705 Revert "1690"
  packages/location_background/CHANGELOG.md
  packages/location_background/lib/location_background_plugin.dart
  packages/location_background/pubspec.yaml
Labels: cla: yes

#1682 [firebase_auth] Document support email requirement in README
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/README.md
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1685 [connectivity] android: Respect case TYPE_MOBILE_HIPRI
  packages/connectivity/CHANGELOG.md
  packages/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/pubspec.yaml
Labels: cla: yes

#1619 [cloud_firestore] Group collection query on cloud firestore
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes, flutterfire

#1630 [firebase_ml_vision] Add close method for detectors
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/README.md
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/BarcodeDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/Detector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FaceDetector.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/FirebaseMlVisionPlugin.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/ImageLabeler.java
  packages/firebase_ml_vision/android/src/main/java/io/flutter/plugins/firebasemlvision/TextRecognizer.java
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/ios/Classes/FaceDetector.m
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.h
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/ios/Classes/ImageLabeler.m
  packages/firebase_ml_vision/ios/Classes/TextRecognizer.m
  packages/firebase_ml_vision/lib/src/barcode_detector.dart
  packages/firebase_ml_vision/lib/src/face_detector.dart
  packages/firebase_ml_vision/lib/src/firebase_vision.dart
  packages/firebase_ml_vision/lib/src/image_labeler.dart
  packages/firebase_ml_vision/lib/src/text_recognizer.dart
  packages/firebase_ml_vision/pubspec.yaml
  packages/firebase_ml_vision/test/firebase_ml_vision_test.dart
  packages/firebase_ml_vision/test/image_labeler_test.dart
Labels: cla: yes, flutterfire

#1720 [cloud_firestore] Fix document pagination
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#1711 Initial plugins test app
  examples/all_plugins/.metadata
  examples/all_plugins/README.md
  examples/all_plugins/android/app/build.gradle
  examples/all_plugins/android/app/src/debug/AndroidManifest.xml
  examples/all_plugins/android/app/src/main/AndroidManifest.xml
  examples/all_plugins/android/app/src/main/java/io/plugins/all_plugins/MainActivity.java
  examples/all_plugins/android/app/src/main/res/drawable/launch_background.xml
  examples/all_plugins/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/all_plugins/android/app/src/main/res/values/styles.xml
  examples/all_plugins/android/app/src/profile/AndroidManifest.xml
  examples/all_plugins/android/build.gradle
  examples/all_plugins/android/gradle.properties
  examples/all_plugins/android/gradle/wrapper/gradle-wrapper.properties
  examples/all_plugins/android/settings.gradle
  examples/all_plugins/ios/Flutter/AppFrameworkInfo.plist
  examples/all_plugins/ios/Flutter/Debug.xcconfig
  examples/all_plugins/ios/Flutter/Release.xcconfig
  examples/all_plugins/ios/Runner.xcodeproj/project.pbxproj
  examples/all_plugins/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  examples/all_plugins/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/all_plugins/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/all_plugins/ios/Runner/AppDelegate.h
  examples/all_plugins/ios/Runner/AppDelegate.m
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  examples/all_plugins/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  examples/all_plugins/ios/Runner/Base.lproj/LaunchScreen.storyboard
  examples/all_plugins/ios/Runner/Base.lproj/Main.storyboard
  examples/all_plugins/ios/Runner/Info.plist
  examples/all_plugins/ios/Runner/main.m
  examples/all_plugins/lib/main.dart
  examples/all_plugins/pubspec.yaml
  examples/all_plugins/test/widget_test.dart
Labels: cla: yes

#1724 Add a note about mockito to contribution guide
  CONTRIBUTING.md
Labels: cla: yes

#1729 Fix build failures due to CocoaPods version
  .cirrus.yml
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/example/ios/Podfile
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1731 Update plugin Dart code to conform to current Dart formatter
  packages/battery/CHANGELOG.md
  packages/battery/example/lib/main.dart
  packages/battery/pubspec.yaml
  packages/firebase_messaging/CHANGELOG.md
  packages/firebase_messaging/example/lib/main.dart
  packages/firebase_messaging/pubspec.yaml
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/example/lib/main.dart
  packages/share/pubspec.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1733 [firebase_core] Automate version retrieval
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/ios/Classes/.gitignore
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1738 Update API link
  packages/android_alarm_manager/README.md
Labels: cla: yes

#1742 [firebase_core] roll back to 0.4.0+3
  packages/firebase_core/CHANGELOG.md
  packages/firebase_core/android/build.gradle
  packages/firebase_core/android/src/main/java/io/flutter/plugins/firebase/core/FlutterFirebaseAppRegistrar.java
  packages/firebase_core/example/ios/Runner.xcodeproj/project.pbxproj
  packages/firebase_core/ios/Classes/.gitignore
  packages/firebase_core/ios/Classes/FirebaseCorePlugin.m
  packages/firebase_core/ios/firebase_core.podspec
  packages/firebase_core/pubspec.yaml
Labels: cla: yes

#1739 [firebase_crashlytics] Fix parsing stacktrace
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/lib/src/firebase_crashlytics.dart
  packages/firebase_crashlytics/pubspec.yaml
  packages/firebase_crashlytics/test/firebase_crashlytics_test.dart
Labels: cla: yes

#1713 [firebase_ml_vision] Prepare example app to include Live Camera Preview demo and Material Barcode Scanner demo
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/lib/picture_scanner.dart
Labels: cla: yes

#1699 [In_app_purchase] rename `PurchaseError` to `IAPError` and rename `PurchaseSource` to `IAPSource`
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#1722 [cloud_firestore] Added support for combining document pagination methods
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/CloudFirestorePlugin.java
  packages/cloud_firestore/android/src/main/java/io/flutter/plugins/firebase/cloudfirestore/FlutterFirebaseAppRegistrar.java
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/pubspec.yaml
  packages/cloud_firestore/test/cloud_firestore_test.dart
Labels: cla: yes

#1747 [cloud_functions] Remove unused header reference
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#1748 Auto retrieve version to report user agent
  .gitignore
  packages/firebase_remote_config/.gitignore
  packages/firebase_remote_config/CHANGELOG.md
  packages/firebase_remote_config/android/build.gradle
  packages/firebase_remote_config/android/src/main/AndroidManifest.xml
  packages/firebase_remote_config/android/src/main/java/io/flutter/plugins/firebase/firebaseremoteconfig/FlutterFirebaseAppRegistrar.java
  packages/firebase_remote_config/android/user-agent.gradle
  packages/firebase_remote_config/ios/Classes/FirebaseRemoteConfigPlugin.m
  packages/firebase_remote_config/ios/firebase_remote_config.podspec
  packages/firebase_remote_config/pubspec.yaml
Labels: cla: yes

#1674 [google_maps_flutter] Adds support for add padding to the map
  .gitignore
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/android.iml
  packages/google_maps_flutter/example/google_maps_flutter_example.iml
  packages/google_maps_flutter/example/google_maps_flutter_example_android.iml
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes

#1749 re-add deleted files
  packages/google_maps_flutter/example/android.iml
  packages/google_maps_flutter/example/google_maps_flutter_example.iml
  packages/google_maps_flutter/example/google_maps_flutter_example_android.iml
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: cla: yes

#1712 [firebase_ml_vision] Separate integration tests
  packages/firebase_ml_vision/example/test_driver/barcode_detector.dart
  packages/firebase_ml_vision/example/test_driver/face_detector.dart
  packages/firebase_ml_vision/example/test_driver/firebase_ml_vision.dart
  packages/firebase_ml_vision/example/test_driver/image_labeler.dart
  packages/firebase_ml_vision/example/test_driver/text_recognizer.dart
Labels: cla: yes

#1615 [firebase_ml_vision] release CVPixelBuffer to prevent memory leak
  AUTHORS
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/FirebaseMlVisionPlugin.m
  packages/firebase_ml_vision/pubspec.yaml
Labels: cla: yes

#1758 [firebase_ml_vision] Move firebase_ml_vision examples to this repo
  packages/firebase_ml_vision/example/android/app/build.gradle
  packages/firebase_ml_vision/example/assets/span_book.jpg
  packages/firebase_ml_vision/example/ios/Runner/Info.plist
  packages/firebase_ml_vision/example/lib/camera_preview_scanner.dart
  packages/firebase_ml_vision/example/lib/colors.dart
  packages/firebase_ml_vision/example/lib/main.dart
  packages/firebase_ml_vision/example/lib/material_barcode_scanner.dart
  packages/firebase_ml_vision/example/lib/scanner_utils.dart
  packages/firebase_ml_vision/example/pubspec.yaml
Labels: cla: yes, flutterfire

#1759 [firebase_crashlyitcs] On Android, use actual the Dart exception name instead of "Dart error."
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/src/main/java/io/flutter/plugins/firebase/crashlytics/firebasecrashlytics/FirebaseCrashlyticsPlugin.java
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1750 [firebase_crashlytics][ios] setUserIdentifier incorrectly calls setUserEmail
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/Classes/FirebaseCrashlyticsPlugin.m
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1638 [image_picker] ios: support GIF animation and the scaling
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/ios/TestImages/gifImage.gif
  packages/image_picker/example/ios/image_picker_exampleTests/ImageUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/MetaDataUtilTests.m
  packages/image_picker/example/ios/image_picker_exampleTests/PhotoAssetUtilTests.m
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1734 [google_maps_flutter] ios build fix
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1677 [firebase_dynamic_links] Fix Android crashing when a headless plugin register this plugin.
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/pubspec.yaml
Labels: cla: yes

#1763 [firebase_performance] Fix bug that prevented plugin to work with hot restart
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/android/src/main/java/io/flutter/plugins/firebaseperformance/FirebasePerformancePlugin.java
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1737 [google_maps_flutter] Allow BitmapDescriptor scaling override
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#826 [google_maps_flutter] enable/disable indoor view
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/google_map.dart
Labels: cla: yes, feature, needs love

#1764 [none] Update README.md
  README.md
Labels: cla: yes

#1768 [script] Don't run incremental build when there are no changes in packages
  script/incremental_build.sh
Labels: cla: yes

#1769 Update README to reflect the requirement to use fragment activity
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#1772 Set device density to polylines
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylineController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1725 [all_plugins] Build all_plugins app on cirrus script
  .cirrus.yml
  script/build_all_plugins_app.sh
Labels: cla: yes

#1775 [in_app_purchase]fix the type casting issue
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1778 Enable version checker to be run on cirrus
  script/common.sh
  script/incremental_build.sh
Labels: cla: yes
