Repository flutter/plugins, pull requests merged in 2019-03, with the labels that each got.

#1278 [firebase_performance] remove deprecated trace counter API usage
  packages/firebase_performance/CHANGELOG.md
  packages/firebase_performance/ios/Classes/FirebasePerformancePlugin.m
  packages/firebase_performance/pubspec.yaml
Labels: cla: yes, flutterfire

#1270 [firebase_ml_vision] Incorrect link for including the ML Model pods into the example project
  packages/firebase_ml_vision/example/README.md
Labels: cla: yes, documentation, submit queue

#1223 [firebase_ml_vision] Fix crash when scanning URL QR-code on iOS
  packages/firebase_ml_vision/CHANGELOG.md
  packages/firebase_ml_vision/ios/Classes/BarcodeDetector.m
  packages/firebase_ml_vision/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1299 [in_app_purchase]restore purchases
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
Labels: cla: yes

#1300 Add my name to firebase_performance and firebase_dynamic_links owners
  CODEOWNERS
Labels: cla: yes, submit queue

#927 [firebase_admob]Fix typo in RewardedVideoAdd sample
  packages/firebase_admob/README.md
Labels: bugfix, cla: yes, documentation, flutterfire, submit queue

#1142 [firebase_dynamic_links] fix dynamic link crash when creating shortlink if warnings are null
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
Labels: bugfix, cla: yes, flutterfire, submit queue

#1309 [firebase_dynamic_links] Version bump for firebase_dynamic_links PR #1142
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire, submit queue

#793 [video_player]Do not divide by zero
  packages/video_player/CHANGELOG.md
  packages/video_player/ios/Classes/VideoPlayerPlugin.m
  packages/video_player/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1302 [google_maps_flutter]ChangeNotifier is replaced with granular callbacks
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1314 trackCameraPosition is inferred from GoogleMap.onCameraMove
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes

#1311 [firebase_analytics] Add resetAnalyticsData method
  AUTHORS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/android/src/main/java/io/flutter/plugins/firebaseanalytics/FirebaseAnalyticsPlugin.java
  packages/firebase_analytics/ios/Classes/FirebaseAnalyticsPlugin.m
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: yes

#1303 [in_app_purchase]retrieve receipt
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/InAppPurchasePluginTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/ProductRequestHandlerTest.m
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.h
  packages/in_app_purchase/example/ios/in_app_purchase_pluginTests/Stubs.m
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/ios/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/ios/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_receipt_manager_test.dart
Labels: cla: yes

#1316 [cloud_functions] Specify version for CocoaPod and handle null regions gracefully
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/ios/Classes/CloudFunctionsPlugin.m
  packages/cloud_functions/ios/cloud_functions.podspec
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#1261 [camera] Fixes #28350
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: bugfix, cla: yes, feature, submit queue

#1201 [connectivity] Update README.md
  packages/connectivity/README.md
Labels: cla: yes, documentation, submit queue

#1286 [in_app_purchase] Adds Dart BillingClient APIs for loading purchases
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/lib/billing_client_wrappers.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase_connection/google_play_connection.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#1322 [in_app_purchase] refactoring and tests
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_payment_queue_wrapper_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_receipt_manager_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_request_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes

#1324 Exclude longPress from semantics
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#1268 [image_picker] remove unnecessary camera permmision
  packages/image_picker/android/src/main/AndroidManifest.xml
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
Labels: bugfix, cla: yes

#1326 [image_picker] Update versioning for #1268
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1327 Change build link in contributors site to cirrus
  CONTRIBUTING.md
Labels: cla: yes

#1323 Allow specifying a navigation delegate (iOS implementation).
  packages/webview_flutter/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/webview_flutter/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
Labels: cla: yes

#1236 [webview_flutter]Allow specifying a navigation delegate(Android and Dart).
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/android/gradle.properties
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#1288 [image_picker] delete original file if scaled
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#1275 [package_info] calling new method for BuildNumber in new android versions
  packages/package_info/CHANGELOG.md
  packages/package_info/android/src/main/java/io/flutter/plugins/packageinfo/PackageInfoPlugin.java
  packages/package_info/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1265 [image_picker] fix error if pick image from yandex disk(dropbox)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes

#1023 [camera]Fix CameraPreview freezes during startVideoRecording on iOS
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#1154 [video_player] Upgrade ExoPlayer dependency to 2.9.4
  packages/video_player/CHANGELOG.md
  packages/video_player/android/build.gradle
  packages/video_player/pubspec.yaml
Labels: cla: yes, feature, submit queue

#1329 [firebase_messaging] Fix Changelog.md version for firebase_messaging
  packages/firebase_messaging/CHANGELOG.md
Labels: cla: yes, documentation, flutterfire

#1338 Add Kaushik to maps code owners
  CODEOWNERS
Labels: cla: yes

#1335 [webview_flutter] Add a page loaded callback
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, feature, submit queue

#1339 [cloud_firestore] ios ceck for nil snapshot in cloud_firestore error handling instead of checking for non-nil error
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1285 [shared_preferences] driver test using package:test on device
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/example/test/shared_preferences.dart
  packages/shared_preferences/example/test/shared_preferences_test.dart
  packages/shared_preferences/example/test_driver/shared_preferences_test.dart
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#1344 [shared_preferences] Update shared_preferences CHANGELOG for release
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/pubspec.yaml
Labels: cla: yes

#1345 [cloud_firestore] fix NoSuchMethodError regression and add test
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/example/pubspec.yaml
  packages/cloud_firestore/example/test_driver/cloud_firestore.dart
  packages/cloud_firestore/example/test_driver/cloud_firestore_test.dart
  packages/cloud_firestore/ios/Classes/CloudFirestorePlugin.m
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1346 [cloud_functions] add a driver test
  packages/cloud_functions/CHANGELOG.md
  packages/cloud_functions/example/pubspec.yaml
  packages/cloud_functions/example/test/cloud_functions.dart
  packages/cloud_functions/example/test/cloud_functions_test.dart
  packages/cloud_functions/example/test/widget_test.dart
  packages/cloud_functions/example/test_driver/cloud_functions_test.dart
  packages/cloud_functions/pubspec.yaml
Labels: cla: yes

#1348 [firebase_auth] Add a driver test
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/example/pubspec.yaml
  packages/firebase_auth/example/test/firebase_auth.dart
  packages/firebase_auth/example/test/firebase_auth_test.dart
  packages/firebase_auth/example/test_driver/firebase_auth_test.dart
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes

#1342 add driver test command to cirrus
  .ci/Dockerfile
  .cirrus.yml
  packages/in_app_purchase/example/test_driver/app_test.dart
Labels: cla: yes

#1357 Disable Android emulator testing for now to fix tests
  .cirrus.yml
Labels: cla: yes

#1266 [image_picker] update Uri Authority for GooglePhotos
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes, submit queue

#1315 [image_picker] remove unnecessary file path for video.
  packages/connectivity/README.md
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/ImagePickerPlugin.m
  packages/image_picker/pubspec.yaml
Labels: bugfix, cla: yes, needs love, submit queue

#1361 [webview_flutter] Update changelog and bump versions.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, submit queue

#790 [cloud_firestore]add sample to get specific document
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/README.md
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes, documentation, flutterfire, submit queue

#721 [google_sign_in]Fix filename in google_sign_in docs, which leads to crash
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/pubspec.yaml
Labels: bugfix, cla: yes, documentation

#1374 Update CONTRIBUTING.md with test info
  CONTRIBUTING.md
Labels: cla: yes

#1375 Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#1341 Removed dependency on Firebase for android_alarm_manager example
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_alarm_manager/example/android/app/google-services.json
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1378 [firebase_crashlytics] Support compatibility with Swift plugins
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/ios/firebase_crashlytics.podspec
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes

#1379 [firebase_crashlytics] Upgrade dependencies
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/android/build.gradle
Labels: cla: yes

#1333 [firebase_auth] fixes Android linkWithCredential
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/android/src/main/java/io/flutter/plugins/firebaseauth/FirebaseAuthPlugin.java
  packages/firebase_auth/pubspec.yaml
Labels: cla: yes, flutterfire

#1381 [in_app_purchase] Iap refactor
  packages/in_app_purchase/build.yaml
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_download_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/lib/store_kit_wrappers.dart
Labels: cla: yes

#1360 [webview_flutter] Create WebView client depending on version and hasDelegate
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/pubspec.yaml
Labels: bugfix, cla: yes, webview

#1385 [firebase_crashlytics]Remove white spaces to make git happy
  packages/firebase_crashlytics/example/README.md
  packages/firebase_crashlytics/ios/firebase_crashlytics.podspec
Labels: cla: yes

#1384 Send success result for `AlarmService.initialized` method call
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
Labels: cla: yes

#1394 Add Crashlytics plugin to FlutterFire docs
  FlutterFire.md
Labels: cla: no, flutterfire, submit queue

#1395 Add Crashlytics plugin to opensource list
  .opensource/project.json
Labels: cla: yes, flutterfire, submit queue

#1386 [google_maps_flutter] Add failing test verifying that only changed markers are updated
  packages/google_maps_flutter/test/marker_updates_test.dart
Labels: cla: yes

#1337 [android_alarm_manager] Improve error message seen when an alarm fires and `AlarmService.setPluginRegistrant` has not been called.
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/PluginRegistrantException.java
Labels: bugfix, cla: yes

#1404 Bump version to 0.4.1+5
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1182 [firebase_dynamic_links] sometimes got error NSPOSIXErrorDomain Code=53 in ios
  packages/firebase_dynamic_links/CHANGELOG.md
  packages/firebase_dynamic_links/android/src/main/java/io/flutter/plugins/firebasedynamiclinks/FirebaseDynamicLinksPlugin.java
  packages/firebase_dynamic_links/ios/Classes/FirebaseDynamicLinksPlugin.m
  packages/firebase_dynamic_links/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire, submit queue

#1398 [firebase_auth]Fix PhoneCodeAuthRetrievalTimeout callback never called
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/firebase_auth.dart
  packages/firebase_auth/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire

#1407 [firebase_crashlytics] Update README code example
  packages/firebase_crashlytics/CHANGELOG.md
  packages/firebase_crashlytics/README.md
  packages/firebase_crashlytics/pubspec.yaml
Labels: cla: yes, documentation, flutterfire

#1388 [firebase_crashlytics] Add firebase_crashlytics for Readme.
  README.md
Labels: cla: yes, documentation, flutterfire

#1393 [camera] Fixes (#29925)
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: bugfix, cla: yes

#1008 [firebase_analytics] Add 'loginMethod' parameter to logLogin()
  AUTHORS
  packages/firebase_analytics/CHANGELOG.md
  packages/firebase_analytics/lib/firebase_analytics.dart
  packages/firebase_analytics/pubspec.yaml
  packages/firebase_analytics/test/firebase_analytics_test.dart
Labels: cla: yes, feature, flutterfire, submit queue

#1292 [firebase_auth] Make providerId 'const String' for easier use in switch statements
  packages/firebase_auth/CHANGELOG.md
  packages/firebase_auth/lib/src/auth_provider/email_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/facebook_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/github_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/google_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/phone_auth_provider.dart
  packages/firebase_auth/lib/src/auth_provider/twitter_auth_provider.dart
  packages/firebase_auth/pubspec.yaml
Labels: bugfix, cla: yes, flutterfire, submit queue

#1414 [Cloud_firestore]add type params for invokeMethod calls.
  packages/cloud_firestore/CHANGELOG.md
  packages/cloud_firestore/lib/src/document_reference.dart
  packages/cloud_firestore/lib/src/firestore.dart
  packages/cloud_firestore/lib/src/query.dart
  packages/cloud_firestore/lib/src/transaction.dart
  packages/cloud_firestore/lib/src/write_batch.dart
  packages/cloud_firestore/pubspec.yaml
Labels: cla: yes

#1409 [google_maps] Add initial google_maps tests
  .cirrus.yml
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/example/ios/Runner/AppDelegate.m
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps.dart
  packages/google_maps_flutter/example/test_driver/google_maps_test.dart
  packages/google_maps_flutter/example/test_driver/test_widgets.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#1420 [webview_flutter] Use a pumpWidget utility in e2e tests
  packages/webview_flutter/example/test_driver/webview.dart
Labels: cla: yes

#1413 [Camera]add type params for invokeMethod calls.
  packages/camera/CHANGELOG.md
  packages/camera/lib/camera.dart
  packages/camera/pubspec.yaml
Labels: cla: yes

#1410 [android_alarm_manager] add type params for invokeMethod calls.
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#1424 [google_maps_flutter] Add a key parameter to the GoogleMap widget
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes
