Repository flutter/plugins, pull requests merged in 2020-09, with the labels that each got.

#2985 [google_maps_flutter] Fix Android unit test.
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
Labels: cla: yes, waiting for test harness

#2964 Geodesic Polyline support in iOS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2980 [battery] Port battery to use platform interface
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/lib/battery.dart
  packages/battery/battery/pubspec.yaml
  packages/battery/battery/test/battery_test.dart
Labels: cla: yes

#2989 Support Windows in incremental_build.sh
  script/incremental_build.sh
Labels: cla: yes

#2993 Add LUCI try builders json config file
  .ci/dev/README.md
  .ci/dev/try_builders.json
Labels: cla: yes

#2992 Standardize LICENSE body text formatting
  LICENSE
  packages/android_alarm_manager/LICENSE
  packages/android_intent/LICENSE
  packages/battery/battery/LICENSE
  packages/battery/battery_platform_interface/LICENSE
  packages/camera/LICENSE
  packages/connectivity/connectivity/LICENSE
  packages/connectivity/connectivity_for_web/LICENSE
  packages/connectivity/connectivity_macos/LICENSE
  packages/connectivity/connectivity_platform_interface/LICENSE
  packages/device_info/device_info/LICENSE
  packages/device_info/device_info_platform_interface/LICENSE
  packages/espresso/LICENSE
  packages/flutter_plugin_android_lifecycle/LICENSE
  packages/google_maps_flutter/google_maps_flutter/LICENSE
  packages/google_maps_flutter/google_maps_flutter_platform_interface/LICENSE
  packages/google_maps_flutter/google_maps_flutter_web/LICENSE
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/LICENSE
  packages/google_sign_in/google_sign_in/LICENSE
  packages/google_sign_in/google_sign_in_platform_interface/LICENSE
  packages/google_sign_in/google_sign_in_web/LICENSE
  packages/image_picker/image_picker/LICENSE
  packages/image_picker/image_picker_for_web/LICENSE
  packages/image_picker/image_picker_platform_interface/LICENSE
  packages/in_app_purchase/LICENSE
  packages/integration_test/LICENSE
  packages/integration_test/integration_test_macos/LICENSE
  packages/ios_platform_images/LICENSE
  packages/local_auth/LICENSE
  packages/package_info/LICENSE
  packages/path_provider/path_provider/LICENSE
  packages/path_provider/path_provider_linux/LICENSE
  packages/path_provider/path_provider_macos/LICENSE
  packages/path_provider/path_provider_platform_interface/LICENSE
  packages/plugin_platform_interface/LICENSE
  packages/quick_actions/LICENSE
  packages/sensors/LICENSE
  packages/share/LICENSE
  packages/shared_preferences/shared_preferences/LICENSE
  packages/shared_preferences/shared_preferences_linux/LICENSE
  packages/shared_preferences/shared_preferences_macos/LICENSE
  packages/shared_preferences/shared_preferences_platform_interface/LICENSE
  packages/shared_preferences/shared_preferences_web/LICENSE
  packages/url_launcher/url_launcher/LICENSE
  packages/url_launcher/url_launcher_linux/LICENSE
  packages/url_launcher/url_launcher_macos/LICENSE
  packages/url_launcher/url_launcher_platform_interface/LICENSE
  packages/url_launcher/url_launcher_web/LICENSE
  packages/video_player/video_player/LICENSE
  packages/video_player/video_player_platform_interface/LICENSE
  packages/video_player/video_player_web/LICENSE
  packages/webview_flutter/LICENSE
Labels: cla: yes

#2977 [flutter_plugin_android_lifecycle] add no-op v2 plugin
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/plugins/flutter_plugin_android_lifecycle/FlutterAndroidLifecyclePlugin.java
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#3008 [url_launcher] Suppress deprecation warning in WebViewActivity
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3006 [device_info_platform_interface] Typo in doc fixed
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/lib/device_info_platform_interface.dart
  packages/device_info/device_info_platform_interface/pubspec.yaml
Labels: cla: yes

#3007 [image_picker_for_web] Can't select some video file types (3gp, mp4, possibly others...)
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: cla: yes

#3011 [google_maps_flutter] Fix typo in google_maps_flutter/example/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2872 [in_app_purchase] Fix the bug that prevent restored subscription transactions from being completed
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3010 [url_launcher_web] Fix a typo in a test name and fix quote consistency
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes, waiting for test harness

#3016 [in_app_purchase] Fix typo on `simulatesAskToBuyInSandBox`
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2998 [google_maps_flutter_web] Allow Markers with icon:null
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_integration.dart
Labels: cla: yes

#2911 [in_app_purchase] Removed maintaining own cache of transactions
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes

#2986 [integration_test] Recommend tests to be in `integration_test/`, fix example
  .cirrus.yml
  packages/integration_test/README.md
  packages/integration_test/example/README.md
  packages/integration_test/example/integration_test/_example_test_io.dart
  packages/integration_test/example/integration_test/_example_test_web.dart
  packages/integration_test/example/integration_test/_extended_test_io.dart
  packages/integration_test/example/integration_test/_extended_test_web.dart
  packages/integration_test/example/integration_test/example_test.dart
  packages/integration_test/example/integration_test/extended_test.dart
  packages/integration_test/example/integration_test/failure_test.dart
  packages/integration_test/example/test_driver/example_integration_test.dart
  packages/integration_test/example/test_driver/integration_test_driver.dart
  packages/integration_test/example/test_driver/integration_test_extended_driver.dart
  packages/integration_test/example/test_driver/integration_test_failure_driver.dart
Labels: cla: yes

#3023 Fix formatting
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences_linux/example/linux/my_application.cc
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher/example/linux/my_application.cc
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_linux/example/linux/my_application.cc
Labels: cla: yes

#3015 Add url_launcher_windows
  .clang-format
  packages/url_launcher/url_launcher_windows/.gitignore
  packages/url_launcher/url_launcher_windows/.metadata
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/LICENSE
  packages/url_launcher/url_launcher_windows/README.md
  packages/url_launcher/url_launcher_windows/example/.gitignore
  packages/url_launcher/url_launcher_windows/example/.metadata
  packages/url_launcher/url_launcher_windows/example/README.md
  packages/url_launcher/url_launcher_windows/example/lib/main.dart
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/test_driver/url_launcher_e2e.dart
  packages/url_launcher/url_launcher_windows/example/test_driver/url_launcher_e2e_test.dart
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/.gitignore
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/windows/include/url_launcher_windows/url_launcher_plugin.h
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
Labels: cla: yes

#3022 [in_app_purchase] fix version
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3020 [android_alarm_manager] Android Code Inspection and Clean up
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AlarmService.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/AndroidAlarmManagerPlugin.java
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/FlutterBackgroundExecutor.java
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2943 [google_sign_in_web] Ensure web plugin throws PlatformExceptions
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/README.md
  packages/google_sign_in/google_sign_in_web/test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/test/lib/main.dart
  packages/google_sign_in/google_sign_in_web/test/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/run_test
  packages/google_sign_in/google_sign_in_web/test/test_driver/auth2_integration.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/auth2_integration_test.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_load_integration.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_load_integration_test.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_mocks/gapi_mocks.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_mocks/src/gapi.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_mocks/src/google_user.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_mocks/src/test_iife.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_utils_integration.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/gapi_utils_integration_test.dart
  packages/google_sign_in/google_sign_in_web/test/test_driver/src/test_utils.dart
  packages/google_sign_in/google_sign_in_web/test/web/index.html
Labels: cla: yes

#3028 [android_alarm_manager] version fix
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#3024 [url_launcher] Endorse Windows implementation
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/test_driver/url_launcher_e2e.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/README.md
  packages/url_launcher/url_launcher_windows/ios/url_launcher_windows.podspec
  packages/url_launcher/url_launcher_windows/pubspec.yaml
Labels: cla: yes

#3034 [all] Update CODEOWNERS to properly request reviews
  CODEOWNERS
Labels: cla: yes

#3004 [share] MethodCallHandler.java uses unchecked or unsafe operations
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/android/src/main/java/io/flutter/plugins/share/MethodCallHandler.java
  packages/share/pubspec.yaml
Labels: cla: yes

#3018 [camera] CameraPlugin.java uses or overrides a deprecated API
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#3019 [video_player] VideoPlayerPlugin.java uses or overrides a deprecated API
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#3037 [image_picker] Updated docs getImage() about preference rear front not working on Android
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Labels: cla: yes

#2818 [path_provider] Add Windows support
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
  packages/path_provider/path_provider_windows/.gitignore
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/LICENSE
  packages/path_provider/path_provider_windows/README.md
  packages/path_provider/path_provider_windows/example/.gitignore
  packages/path_provider/path_provider_windows/example/.metadata
  packages/path_provider/path_provider_windows/example/README.md
  packages/path_provider/path_provider_windows/example/lib/main.dart
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/test_driver/path_provider_e2e.dart
  packages/path_provider/path_provider_windows/example/test_driver/path_provider_e2e_test.dart
  packages/path_provider/path_provider_windows/lib/folders.dart
  packages/path_provider/path_provider_windows/lib/path_provider_windows.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: WIP, cla: yes

#3026 badges for pub.dev scores
  README.md
Labels: cla: yes

#3049 [path_provider] Path provider windows updates
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_windows/ios/path_provider_windows.podspec
Labels: cla: yes

#2988 [shared_preferences] Add shared_preferences_windows
  packages/shared_preferences/shared_preferences_windows/.metadata
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/LICENSE
  packages/shared_preferences/shared_preferences_windows/README.md
  packages/shared_preferences/shared_preferences_windows/example/.gitignore
  packages/shared_preferences/shared_preferences_windows/example/.metadata
  packages/shared_preferences/shared_preferences_windows/example/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/LICENSE
  packages/shared_preferences/shared_preferences_windows/example/README.md
  packages/shared_preferences/shared_preferences_windows/example/lib/main.dart
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/test_driver/shared_preferences_e2e.dart
  packages/shared_preferences/shared_preferences_windows/example/test_driver/shared_preferences_e2e_test.dart
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Labels: cla: yes

#3036 [image_picker] changed ExifInterface to AndroidX version, including d…
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/build.gradle
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ExifDataCopier.java
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Labels: cla: yes

#3052 [path_provider] Add missing pluginClass: none to path_provider_windows
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes

#3058 [shared_preferences] Add iOS stub to shared_preferences_windows
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/ios/shared_preferences_windows.podspec
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: cla: yes

#3054 [Connectivity] Fix mistake in license headers
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/macos/Classes/ConnectivityPlugin.swift
  packages/connectivity/connectivity_macos/macos/Classes/IPHelper.h
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes

#3044 [image_picker] Updated README.md with new example
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#3055 [path_provider] Fix mistake in license headers
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes

#2991 [webview_flutter] [url_launcher] Handle Multiwindows in WebViews
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3056 [path_provider] Move Windows FFI behind a conditional import
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/path_provider_windows.dart
  packages/path_provider/path_provider_windows/lib/src/folders.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_stub.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes

#2883 [webview_flutter] Add new entrypoint that uses hybrid composition on Android
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3066 Revert "[webview_flutter] Add new entrypoint that uses hybrid composition on Android"
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3068 [path_provider_windows] Add missing method to fake
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/path_provider_windows.dart
  packages/path_provider/path_provider_windows/lib/src/folders_stub.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_stub.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes

#3063 [integration_test] Test drivers should end with `_test.dart`
  .cirrus.yml
  packages/integration_test/README.md
  packages/integration_test/example/README.md
  packages/integration_test/example/test_driver/extended_integration_test.dart
  packages/integration_test/example/test_driver/failure.dart
  packages/integration_test/example/test_driver/failure_test.dart
  packages/integration_test/example/test_driver/integration_test.dart
Labels: cla: yes

#3065 [path_provider] Update endorsed Windows version
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes

#3059 [shared_preferences] Endorse Windows
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes

#3050 [flutter_plugin_android_lifecycle] update to android 29
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#3071 [url_launcher_web] Remove package:platform_detect
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/README.md
  packages/url_launcher/url_launcher_web/test/lib/main.dart
  packages/url_launcher/url_launcher_web/test/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/run_test
  packages/url_launcher/url_launcher_web/test/test_driver/url_launcher_web_integration.dart
  packages/url_launcher/url_launcher_web/test/test_driver/url_launcher_web_integration_test.dart
  packages/url_launcher/url_launcher_web/test/web/index.html
Labels: cla: yes

#3075 [url_launcher_web] Improve attribution of package:platform_detect
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/LICENSE
  packages/url_launcher/url_launcher_web/lib/third_party/platform_detect/LICENSE
  packages/url_launcher/url_launcher_web/lib/third_party/platform_detect/README.md
  packages/url_launcher/url_launcher_web/lib/third_party/platform_detect/browser.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#3070 [path_provider_android] Move Path operations to background thread
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/android/build.gradle
  packages/path_provider/path_provider/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, waiting for test harness

#3040 [url_launcher] Document why canLaunch can return false on Android API 30
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3032 [video_player_platform_interface] Playback speed
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes

#2995 [file_selector_platform_interface] Add platform interface for new file_selector plugin
  CODEOWNERS
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/LICENSE
  packages/file_selector/file_selector_platform_interface/README.md
  packages/file_selector/file_selector_platform_interface/lib/file_selector_platform_interface.dart
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/types.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_file/base.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_file/html.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_file/interface.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_file/io.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_file/x_file.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/lib/src/web_helpers/web_helpers.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/assets/hello.txt
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_file_html_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_file_io_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: cla: yes

#3082 [video_player] Fix tests
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#3081 [video_player_web] Playback speed
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes

#3084 [video_player] Playback speed
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#3073 [in_app_purchase] Update typo in example main.dart
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3089 [connectivity_for_web] Fix homepage in pubspec.yaml
  packages/connectivity/connectivity_for_web/CHANGELOG.md
  packages/connectivity/connectivity_for_web/pubspec.yaml
Labels: cla: yes

#3088 [plugin_platform_interface] Fix homepage in pubspec.yaml
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
Labels: cla: yes

#3080 [url_launcher_web] Move third_party under src.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/LICENSE
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/README.md
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/browser.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#3091 [google_maps_flutter] Out of developers preview, bump to 1.0.0
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#3067 [webview_flutter] Add new entrypoint that uses hybrid composition on Android
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/ios/Runner/Info.plist
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes
