Repository flutter/plugins, pull requests merged in 2020-04, with the labels that each got.

#2627 [google_maps_flutter] Rename 'Page' in the example app to avoid type conflict with the Flutter Framework.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/page.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2624 [google_sign_in] Migrate to Android v2 embedder.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/EmbeddingV1Activity.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/EmbeddingV1ActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/FlutterActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInPluginTests.java
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_e2e.dart
  packages/google_sign_in/google_sign_in/test_driver/google_sign_in_e2e_test.dart
Labels: cla: yes

#2628 [path_provider] Fix misaligned enum values in StorageDirectoryMapperTest
  packages/path_provider/path_provider/android/src/test/java/io/flutter/plugins/pathprovider/StorageDirectoryMapperTest.java
Labels: cla: yes

#2630 [scripts] Exclude shared_preferences_windows package
  script/build_all_plugins_app.sh
Labels: cla: yes

#2598 [android_intent] Adds canResolveActivity method
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/example/test_driver/android_intent_e2e.dart
  packages/android_intent/ios/android_intent.podspec
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
Labels: cla: yes

#2636 [google_sign_in] Move GoogleSignInWrapper to a separate file.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInWrapper.java
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2641 Add LHLL to co-owner
  CODEOWNERS
Labels: cla: yes

#2639 [webview_flutter] Add onReceivedError callback
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2643 [image_picker] Added maxDuration property to pickVideo method
  AUTHORS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/example/lib/main.dart
  packages/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/ios/Tests/ImagePickerPluginTests.m
  packages/image_picker/lib/image_picker.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_test.dart
Labels: cla: yes

#2633 [e2e] Replaces the check for ActivityTestRule
  packages/e2e/CHANGELOG.md
  packages/e2e/android/src/main/java/dev/flutter/plugins/e2e/FlutterTestRunner.java
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/MainActivityWithPermissionTest.java
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2657 Revert "[e2e] Replaces the check for ActivityTestRule"
  packages/e2e/CHANGELOG.md
  packages/e2e/android/src/main/java/dev/flutter/plugins/e2e/FlutterTestRunner.java
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/MainActivityWithPermissionTest.java
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2658 [video_player_web] Add a custom analysis_options file to video_player_web.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/pubspec.yaml
  script/incremental_build.sh
Labels: cla: yes

#2651 Remove Gradle hacks and upgrade SDK
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/pubspec.yaml
  packages/e2e/CHANGELOG.md
  packages/e2e/android/build.gradle
  packages/e2e/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/android/build.gradle
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/android/build.gradle
  packages/path_provider/path_provider/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/build.gradle
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2661 Reland: [e2e] Replaces the check for ActivityTestRule (#2633)
  packages/e2e/CHANGELOG.md
  packages/e2e/android/src/main/java/dev/flutter/plugins/e2e/FlutterTestRunner.java
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/MainActivityWithPermissionTest.java
  packages/e2e/pubspec.yaml
Labels: cla: yes

#831 [google_maps_flutter] add zoom controls property
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
Labels: cla: yes, feature, submit queue

#2654 [ios_platform_images] Fix crash when parameter extension is null
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner/textfile
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.m
  packages/ios_platform_images/pubspec.yaml
  packages/webview_flutter/lib/webview_flutter.dart
Labels: cla: yes

#2660 [google_sign_in] Make the Delegate non-final to allow overriding
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2649 [google_sign_in_web] Ensure not-signed-in users are returned as `null`.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/google_user.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_utils_test.dart
Labels: cla: yes, waiting for test harness

#2646 [in_app_purchase] Fix cannot fix transaction issue
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/ios/Tests/Stubs.h
  packages/in_app_purchase/ios/Tests/Stubs.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes

#2647 Upgrade dependency google_sign_in_web: ^0.9.1
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2346 Remove podspec lint bash script, use flutter_plugin_tools
  .cirrus.yml
  script/lint_darwin_plugins.sh
Labels: cla: yes

#2665 [webview_flutter] OCMock module import -> #import
  .cirrus.yml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2664 Remove out of date pod repo update from Cirrus
  .cirrus.yml
Labels: cla: yes

#2663 [webview_flutter] Workaround old Android tablets select drop down crash
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
Labels: cla: yes

#2669 [webview_flutter] Bump the Dart SDK requirement to 2.7.0
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2637 [google_maps_flutter] Introduce Platform Interface package.
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/LICENSE
  packages/google_maps_flutter/google_maps_flutter_platform_interface/README.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/callbacks.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/joint_type.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/pattern_item.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  script/build_all_plugins_app.sh
Labels: cla: yes

#2670 [google_maps_flutter] Removes setZoomControlsEnabled from GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2672 [android_intent] Fix pod lint warnings
  packages/android_intent/CHANGELOG.md
  packages/android_intent/ios/android_intent.podspec
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#2671 [android_alarm_manager] Fix pod lint warnings
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/ios/android_alarm_manager.podspec
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2673 [battery] Fix pod lint warnings
  packages/battery/CHANGELOG.md
  packages/battery/ios/battery.podspec
Labels: cla: yes

#2675 [connectivity] Fix pod lint warnings
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/ios/connectivity.podspec
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/macos/connectivity_macos.podspec
Labels: cla: yes

#2676 [device_info] Fix pod lint warnings
  packages/device_info/CHANGELOG.md
  packages/device_info/ios/device_info.podspec
  packages/device_info/pubspec.yaml
Labels: cla: yes

#2679 [espresso] Fix pod lint warnings
  packages/espresso/CHANGELOG.md
  packages/espresso/ios/espresso.podspec
Labels: cla: yes

#2678 [e2e] Fix pod lint warnings
  packages/e2e/CHANGELOG.md
  packages/e2e/e2e_macos/macos/e2e_macos.podspec
  packages/e2e/ios/e2e.podspec
Labels: cla: yes

#2680 [flutter_plugin_android_lifecycle] Fix pod lint warnings
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/ios/flutter_plugin_android_lifecycle.podspec
Labels: cla: yes

#2682 [image_picker] Fix pod lint warnings
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/image_picker.podspec
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2683 [in_app_purchase] Fix pod lint warnings
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/in_app_purchase.podspec
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2686 [package_info] Fix pod lint warnings
  packages/package_info/CHANGELOG.md
  packages/package_info/ios/package_info.podspec
Labels: cla: yes

#2684 [ios_platform_images] Fix pod lint warnings
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/ios/ios_platform_images.podspec
Labels: cla: yes

#2685 [local_auth] Fix retain self warning and pod lint warnings
  packages/local_auth/CHANGELOG.md
  packages/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/ios/local_auth.podspec
Labels: cla: yes

#2688 [sensors] Fix pod lint warnings
  packages/sensors/CHANGELOG.md
  packages/sensors/ios/sensors.podspec
Labels: cla: yes

#2692 [video_player] Fix pod lint warnings
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/ios/video_player.podspec
Labels: cla: yes

#2689 [share] Fix pod lint warnings
  packages/share/CHANGELOG.md
  packages/share/ios/share.podspec
Labels: cla: yes

#2690 [shared_preferences] Fix pod lint warnings
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/ios/shared_preferences.podspec
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/macos/shared_preferences_macos.podspec
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
Labels: cla: yes

#2691 [url_launcher] Fix pod lint warnings
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/ios/url_launcher.podspec
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos.podspec
Labels: cla: yes

#2687 [quick_actions] Fix UIApplicationShortcutItem availability and pod lint warnings
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/ios/quick_actions.podspec
Labels: cla: yes

#2681 [google_maps_flutter] Fix UIKit availability and pod lint warnings
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2693 [webview_flutter] Fix pod lint warnings
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2694 [path_provider] Fix pod lint warnings
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/ios/path_provider.podspec
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/macos/path_provider_macos.podspec
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes

#2695 [local_auth] Bump version
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes

#2668 [image_picker] Fixes crash when an image in the gallery is tapped mor…
  packages/image_picker/CHANGELOG.md
  packages/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/ios/Tests/ImagePickerPluginTests.m
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2696 [image_picker] fix version.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2697 Skip linting camera
  .cirrus.yml
Labels: cla: yes

#2699 Run camera linter, skip warnings
  .cirrus.yml
Labels: cla: yes

#2677 [google_maps_flutter_platform_interface] Bump to 1.0.1 version.
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes

#2700 [google_sign_in] OCMock module import -> #import, pod lint warnings
  .cirrus.yml
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/ios/Tests/GoogleSignInPluginTest.m
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2703 [video_player] Update README to mention web support.
  packages/video_player/video_player/README.md
Labels: cla: yes, waiting for test harness

#2656 [url_launcher] Open url in same window when browser is in standalone mode.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/navigator.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes

#2706 [video_player] Update version and changelog
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2634 [google_sign_in] Add serverAuthCode attribute to google_sign_in_platform_interface
  AUTHORS
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: cla: yes, submit queue, waiting for test harness

#2629 [google_maps_flutter] Fix the visual jarring during the first gesture on the map
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2704 [google_maps_flutter] fix crash and remove listeners
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2674 [google_maps_flutter] Migrate plugin to platform_interface API.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/callbacks.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/camera.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/cap.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/circle_updates.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/joint_type.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/marker_updates.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/pattern_item.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polygon_updates.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/polyline_updates.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/ui.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2510 [in_app_purchase] Expose SKPaymentQueue.transactions to dart
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/ios/in_app_purchase.podspec
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes

#2533 [webview_flutter] Enable WebView programmatic scrolling.
  AUTHORS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2710 [ci] Use Xcode 11.3.1
  .cirrus.yml
Labels: cla: yes

#2702 [google_sign_in] Fix issue with repeated calls to requestScopes.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInPluginTests.java
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes

#2716 [url_launcher] Remove an ephemeral file from macOS example
  packages/url_launcher/url_launcher/example/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Labels: cla: yes

#2715 [connectivity_platform_interface] Remove Platform asserts.
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/src/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes

#2713 [image_picker_platform_interface] Create image_picker_platform_interface package.
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/LICENSE
  packages/image_picker/image_picker_platform_interface/README.md
  packages/image_picker/image_picker_platform_interface/lib/image_picker_platform_interface.dart
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/camera_device.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_source.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/retrieve_type.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
  script/build_all_plugins_app.sh
Labels: cla: yes

#2723 [battery] Bump to 1.0.0
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
Labels: cla: yes
