Repository flutter/plugins, pull requests merged in 2020-01, with the labels that each got.

#2444 Migrate away from deprecated `BinaryMessages`
  packages/connectivity/CHANGELOG.md
  packages/connectivity/pubspec.yaml
  packages/connectivity/test/connectivity_test.dart
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#2287 [In_app_purchases] migrate to Play Billing Library 2.0.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#2435 [ci] Upgrade to Xcode 11.3
  .cirrus.yml
Labels: cla: yes

#2134 [video_player] Fixes video initialization future stall.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for test harness

#2445 [webview_flutter] Setup XCTests
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/example/ios/webview_flutter_exampleTests/Info.plist
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2430 [image_picker] support android V2 embedding
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/example/android/app/src/main/AndroidManifest.xml
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1Activity.java
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1ActivityTest.java
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/FlutterActivityTest.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/example/test_driver/test/image_picker_e2e_test.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/test/image_picker_e2e.dart
Labels: cla: yes

#2448 Update Gradle version
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: cla: yes

#2453 [android_alarm_manager] Fixed issue where callback lookup was failing in the background
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/src/main/java/io/flutter/plugins/androidalarmmanager/FlutterBackgroundExecutor.java
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2455 [google_sign_in_web] Fix race condition on init.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_load_test.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/gapi_mocks.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/test/gapi_mocks/src/gapi_load.dart
Labels: cla: yes

#2446 Update CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#2447 [camera] Fix crash from changing permissions
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/android/src/test/java/io/flutter/plugins/camera/CameraPermissionsTest.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#2459 Updates CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#2343 [webview_flutter] Fix iOS WebView ignoring SafeArea widget and iOS 13 WebView scroll indicator showing at random location.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2461 Updates to espresso docs
  packages/espresso/CHANGELOG.md
  packages/espresso/README.md
  packages/espresso/pubspec.yaml
Labels: cla: yes

#1983 [android_intent] support for setType() and setDataAndType()
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/IntentSender.java
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/android/src/test/java/io/flutter/plugins/androidintent/MethodCallHandlerImplTest.java
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
Labels: backlog, cla: yes

#2467 [flutter_plugin_android_lifecycle] Stop reflecting
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapter.java
  packages/flutter_plugin_android_lifecycle/android/src/test/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapterTest.java
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2469 [image_picker] Fix an issue that the example app won't launch the image picker after Android V2 embedding migration.
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/android/app/src/main/AndroidManifest.xml
  packages/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/EmbeddingV1Activity.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2466 [webview_flutter] always make sure the contentInset or the sum of contentInset and adjustedContentInset is 0 on iOS.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/ios/Tests/FLTWebViewTests.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2474 [in_app_purchase] Remove unused method from example app
  packages/in_app_purchase/example/lib/main.dart
Labels: cla: yes

#2476 Add missing Xcode workspaces to examples
  .gitignore
  packages/connectivity/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/connectivity/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/e2e/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/e2e/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/path_provider/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/path_provider/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/url_launcher/url_launcher/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: cla: yes

#2475 Bump roboelectric version
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/android/app/build.gradle
  packages/image_picker/example/android/gradle.properties
  packages/image_picker/pubspec.yaml
Labels: cla: yes

#2434 [video_player] Make sure the plugin is correctly initialized
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
Labels: cla: yes

#2452 [sensors] Update readme documentation
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2470 [shared_preferences] Fixes gradle version for shared preferences (macos, web) bug on android
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Labels: cla: yes

#2376 [flutter_plugin_android_lifecycle] Add example notice like android_intent_example
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/example/lib/main.dart
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#2042 [google_maps_flutter] Fixed typo in LatLngBounds constructor
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/location.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, submit queue

#2477 [shared_preferences] fix typo in readme
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes

#2481 [In_app_purchases] Removing extra testing changes for in-app-purchase example
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2483 [video_player, video_player_web] PlatformException fix
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/.gitignore
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes, waiting for test harness

#2485 Fix ci error: deprecated api
  packages/espresso/CHANGELOG.md
  packages/espresso/example/lib/main.dart
  packages/espresso/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2428 [google_maps_flutter] fix swift example in readme
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, submit queue

#2473 [Closed Captioning] Create SubRip file parser and dart closed caption data object
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/sub_rip_file_test.dart
Labels: cla: yes

#2436 [path_provider] now supports getDownloadsDirectory() on macOS.
  packages/path_provider/CHANGELOG.md
  packages/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/pubspec.yaml
  packages/path_provider/test/path_provider_test.dart
Labels: cla: yes

#2488 [google_maps_flutter] supports v2 android embedding.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/android/gradle.properties
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemaps/EmbeddingV1ActivityTest.java
  packages/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemaps/MainActivityTest.java
  packages/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/example/android/app/src/main/java/io/flutter/plugins/googlemapsexample/EmbeddingV1Activity.java
  packages/google_maps_flutter/example/android/app/src/main/java/io/flutter/plugins/googlemapsexample/MainActivity.java
  packages/google_maps_flutter/example/android/gradle.properties
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes
