Repository flutter/plugins, pull requests merged in 2020-05, with the labels that each got.

#2727 [url_launcher_web] Refactor unit tests to reduce flakiness.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes

#2718 [image_picker] Port core plugin to platform_interface APIs.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2728 [image_picker] Handle all images through URI
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2735 [google_maps_flutter] Remove endorsement of web platform.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2734 Announce 1.0.0 compatibility for multiple plugins
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/README.md
  packages/android_intent/pubspec.yaml
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/README.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/README.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/README.md
  packages/device_info/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/README.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/README.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/README.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes

#2717 Add support for running Linux desktop tests on CI
  .ci/Dockerfile-LinuxDesktop
  .cirrus.yml
Labels: cla: yes

#2617 [video-player] upgraded video_player_interface to use pigeon
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: cla: yes

#2741 [video_player]: updated video_player_web to use the new video_player_platform_interface
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes

#2744 [video_player]: added test class to fix video_player unit tests
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: cla: yes

#2745 [video_player]: fixed platform_interface unit tests
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes

#2544 [video_player] upgraded video_player to use pigeon
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2739 [in_app_purchase] update docs to warn about `completePurchase`
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2736 [url_launcher] Add web to example app.
  .gitignore
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/web/favicon.png
  packages/url_launcher/url_launcher/example/web/icons/Icon-192.png
  packages/url_launcher/url_launcher/example/web/icons/Icon-512.png
  packages/url_launcher/url_launcher/example/web/index.html
  packages/url_launcher/url_launcher/example/web/manifest.json
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2747 [android_alarm_manager] update dart deps lower bound to 2.1.0
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#2748 [battery] update dart deps lower bound to 2.1.0
  packages/battery/CHANGELOG.md
  packages/battery/pubspec.yaml
Labels: cla: yes

#2749 [camera] Update lower bound of dart dependency to 2.1.0.
  packages/camera/CHANGELOG.md
  packages/camera/pubspec.yaml
Labels: cla: yes

#2751 [Many]Update lower dart bound to 2.1.0
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#2750 Use Xvfb for Linux desktop tests
  .ci/Dockerfile-LinuxDesktop
  .cirrus.yml
Labels: cla: yes

#2746 [google_maps_flutter] use `WaitUntilTouchesEndedPolicy` to fix the cameraIdle not called issue on iOS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapsPlugin.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2752 [google_maps_flutter] add todo on skipped test.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
Labels: cla: yes

#2757 [url_launcher] Initialize previousAutomaticSystemUiAdjustment in launch
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
Labels: bugfix, cla: yes

#2759 [video_player] fixed detach from engine logic
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2765 [image_picker] Add documentation for Android external storage permissions
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2764 Run the publish with the pub version from flutter master
  .cirrus.yml
Labels: cla: yes

#2766 [url_launcher] update README with enableJavaScript info
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, documentation, webview

#2740 [url_launcher] Launches only mailto urls in same window on iOS devices
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/navigator.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes

#2768 Typo in e2e README.md
  packages/e2e/README.md
Labels: cla: yes

#2449 [google_maps_flutter] Add liteModeEnabled option
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/test/android_google_map_test.dart
Labels: cla: yes

#2625 [image_picker] fix bug, sometimes double click cancel button will crash
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Tests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2116 [google_sign_in] Add ability to return serverAuthCode
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/values/strings.xml
  packages/google_sign_in/google_sign_in/example/ios/Runner/GoogleService-Info.plist
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, in review

#2770 [e2e] Use CompletableFuture from package for lower API level support
  packages/e2e/CHANGELOG.md
  packages/e2e/android/build.gradle
  packages/e2e/android/src/main/java/dev/flutter/plugins/e2e/E2EPlugin.java
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2763 [webview_flutter] Add support for passing a failing url
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2777 [video_player] remove android no-op implementation
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/android/.gitignore
  packages/video_player/video_player_web/android/build.gradle
  packages/video_player/video_player_web/android/gradle.properties
  packages/video_player/video_player_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_web/android/settings.gradle
  packages/video_player/video_player_web/android/src/main/AndroidManifest.xml
  packages/video_player/video_player_web/android/src/main/java/io/flutter/plugins/video_player_web/VideoPlayerWebPlugin.java
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes

#2776 [url_launcher] remove android no-op implementation
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/android/.gitignore
  packages/url_launcher/url_launcher_macos/android/build.gradle
  packages/url_launcher/url_launcher_macos/android/gradle.properties
  packages/url_launcher/url_launcher_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_macos/android/settings.gradle
  packages/url_launcher/url_launcher_macos/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_macos/android/src/main/java/io/flutter/plugins/url_launcher_macos/UrlLauncherMacosPlugin.java
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/android/.gitignore
  packages/url_launcher/url_launcher_web/android/build.gradle
  packages/url_launcher/url_launcher_web/android/gradle.properties
  packages/url_launcher/url_launcher_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_web/android/settings.gradle
  packages/url_launcher/url_launcher_web/android/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_web/android/src/main/java/io/flutter/url_launcher_web/UrlLauncherWebPlugin.java
Labels: cla: yes

#2774 Update Linux desktop Dockerfile for CMake switch
  .ci/Dockerfile-LinuxDesktop
Labels: cla: yes

#2781 [ios_platform_images] remove android no-op implementation
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/android/.gitignore
  packages/ios_platform_images/android/build.gradle
  packages/ios_platform_images/android/gradle.properties
  packages/ios_platform_images/android/settings.gradle
  packages/ios_platform_images/android/src/main/AndroidManifest.xml
  packages/ios_platform_images/android/src/main/java/io/flutter/ios_platform_images/IosPlatformImagesPlugin.java
  packages/ios_platform_images/pubspec.yaml
Labels: cla: yes

#2783 [e2e] remove android no-op implementation
  packages/e2e/e2e_macos/CHANGELOG.md
  packages/e2e/e2e_macos/android/build.gradle
  packages/e2e/e2e_macos/android/gradle.properties
  packages/e2e/e2e_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/e2e/e2e_macos/android/settings.gradle
  packages/e2e/e2e_macos/android/src/main/AndroidManifest.xml
  packages/e2e/e2e_macos/android/src/main/java/com/example/e2e/E2ePlugin.java
  packages/e2e/e2e_macos/pubspec.yaml
Labels: cla: yes

#2780 [path_provider] remove android no-op implementation
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/android/build.gradle
  packages/path_provider/path_provider_macos/android/gradle.properties
  packages/path_provider/path_provider_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_macos/android/settings.gradle
  packages/path_provider/path_provider_macos/android/src/main/AndroidManifest.xml
  packages/path_provider/path_provider_macos/android/src/main/java/com/example/path_provider/PathProviderPlugin.java
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes

#2782 [google_sign_in] remove android no-op implementation
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/android/build.gradle
  packages/google_sign_in/google_sign_in_web/android/gradle.properties
  packages/google_sign_in/google_sign_in_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_web/android/settings.gradle
  packages/google_sign_in/google_sign_in_web/android/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in_web/android/src/main/java/io/flutter/plugins/google_sign_in_web/GoogleSignInWebPlugin.java
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes

#2743 reference apple sign in plugin from google sign in plugin
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, submit queue

#2779 [shared_preferences] remove android no-op implementation
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/android/.gitignore
  packages/shared_preferences/shared_preferences_macos/android/build.gradle
  packages/shared_preferences/shared_preferences_macos/android/gradle.properties
  packages/shared_preferences/shared_preferences_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/android/settings.gradle
  packages/shared_preferences/shared_preferences_macos/android/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_macos/android/src/main/java/io/flutter/plugins/shared_preferences_macos/SharedPreferencesMacosPlugin.java
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/android/.gitignore
  packages/shared_preferences/shared_preferences_web/android/build.gradle
  packages/shared_preferences/shared_preferences_web/android/gradle.properties
  packages/shared_preferences/shared_preferences_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_web/android/settings.gradle
  packages/shared_preferences/shared_preferences_web/android/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_web/android/src/main/java/io/flutter/plugins/shared_preferences_web/SharedPreferencesWebPlugin.java
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Labels: cla: yes

#2785 [webview_flutter] use hard coded values in `setAndGetScrollPosition` test
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2772 [google_maps_flutter] Android: only destroy mapView once
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2790 v2 embedding cleanup version bump
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2796 Error
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
Labels: cla: yes

#2798 [google_maps_flutter] Move test to its correct location.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/android_google_map_test.dart
Labels: cla: yes

#2799 [image_picker] Pin version of platform_interface.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2784 [connectivity] remove android no-op implementation
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/android/README.md
  packages/connectivity/connectivity_macos/android/build.gradle
  packages/connectivity/connectivity_macos/android/gradle.properties
  packages/connectivity/connectivity_macos/android/gradle/wrapper/gradle-wrapper.properties
  packages/connectivity/connectivity_macos/android/settings.gradle
  packages/connectivity/connectivity_macos/android/src/main/AndroidManifest.xml
  packages/connectivity/connectivity_macos/android/src/main/java/com/example/connectivity/ConnectivityPlugin.java
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes

#2800 [e2e] Android: Remove warning, bump AGP
  packages/e2e/CHANGELOG.md
  packages/e2e/android/build.gradle
  packages/e2e/example/android/app/src/androidTest/java/com/example/e2e_example/FlutterActivityWithPermissionTest.java
  packages/e2e/example/android/build.gradle
  packages/e2e/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2794 [e2e] fixed code snippet in readme that referenced a non-existent variable
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2805 [e2e] Avoid overriding http, textinput, window size
  packages/e2e/lib/e2e.dart
Labels: cla: yes
