Repository flutter/plugins, pull requests merged in 2020-12, with the labels that each got.

#3295 bump integration test to 1.0.0
  packages/integration_test/CHANGELOG.md
  packages/integration_test/pubspec.yaml
Labels: cla: yes

#3299 [camera] Support Android 30
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3253 [camera] Add `camera_platform_interface` package
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/LICENSE
  packages/camera/camera_platform_interface/README.md
  packages/camera/camera_platform_interface/lib/camera_platform_interface.dart
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_exception.dart
  packages/camera/camera_platform_interface/lib/src/types/resolution_preset.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/lib/src/utils/utils.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
  packages/camera/camera_platform_interface/test/types/camera_exception_test.dart
  packages/camera/camera_platform_interface/test/types/resolution_preset_test.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/utils_test.dart
Labels: cla: yes

#3111 [Espresso] Android Code Inspection and Clean up
  packages/espresso/CHANGELOG.md
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/EspressoFlutter.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterViewAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/internal/protocol/impl/DartVmService.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/internal/protocol/impl/DartVmServiceUtil.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/matcher/FlutterMatchers.java
  packages/espresso/example/android/app/build.gradle
  packages/espresso/pubspec.yaml
Labels: cla: yes

#3313 [camera] Expanded platform interface to support setting flash mode
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/flash_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/flash_mode_test.dart
Labels: cla: yes

#3317 [image_picker] [integration_test] Fixes to make the tree green
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker/pubspec.yaml
  packages/integration_test/CHANGELOG.md
  packages/integration_test/lib/common.dart
  packages/integration_test/pubspec.yaml
Labels: cla: yes

#3316 [camera] Suppress unchecked cast warning in java test
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3319 Update analysis options for nnbd
  analysis_options.yaml
Labels: cla: yes

#3312 [camera] Add zoom support to platform interface
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: cla: yes

#3308 [documentation] [url_launcher] fix for readme code sample
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3318 Exclude null-safe plugins from testing on stable
  script/build_all_plugins_app.sh
  script/incremental_build.sh
  script/nnbd_plugins.sh
Labels: cla: yes

#3309 Pass a Uri to package:http APIs
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for test harness

#3320 Update Flutter SDK constraint to match templates; plugins A-C
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/pubspec.yaml
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/pubspec.yaml
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/cross_file/CHANGELOG.md
  packages/cross_file/pubspec.yaml
Labels: cla: yes

#3321 Update Flutter SDK constraint to match templates; plugins D-G
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/pubspec.yaml
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/pubspec.yaml
  packages/espresso/CHANGELOG.md
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes

#3322 Update Flutter SDK constraint to match templates; plugins I-P
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/integration_test/CHANGELOG.md
  packages/integration_test/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes

#3323 Update Flutter SDK constraint to match templates; plugins Q-W
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
Labels: cla: yes

#3302 [camera] Add implementations for `camera_platform_interface` package.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, feature

#3327 [webview_flutter] Migrate to nnbd
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes

#3311 [share] Migrate to null-safety
  packages/share/CHANGELOG.md
  packages/share/lib/share.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes

#3328 [android_intent] Migrate to nnbd
  packages/android_intent/CHANGELOG.md
  packages/android_intent/lib/android_intent.dart
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes

#3271 [wifi_info_flutter] Edit sample wifi_info_flutter plugin
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/README.md
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes

#3326 [camera_platform_interface] Add torch definition to the FlashModes enum
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/flash_mode.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/types/flash_mode_test.dart
Labels: cla: yes

#3334 [webview_flutter] Added 'allowsInlineMediaPlayback' property
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/assets/sample_video.mp4
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes

#3339 Remove custom null safety analysis_options files
  packages/connectivity/connectivity/analysis_options.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/example/test_driver/test/integration_test.dart
  packages/connectivity/connectivity_platform_interface/analysis_options.yaml
  packages/device_info/device_info/analysis_options.yaml
  packages/device_info/device_info_platform_interface/analysis_options.yaml
  packages/plugin_platform_interface/analysis_options.yaml
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/analysis_options.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/analysis_options.yaml
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_web/analysis_options.yaml
  script/incremental_build.sh
Labels: cla: yes, waiting for tree to go green

#3335 [camera] Ios support documentation
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#2563 fix(video_player): buffering state events missing on Android & Web (fixes flutter/flutter#28494)
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3347 Upgrade CocoaPods in Cirrus
  .cirrus.yml
Labels: cla: yes

#3349 [image_picker] use LocalizedString to fix lint error.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#3303 [connectivity] Clear networkCallback object as soon as stream is cancelled
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/connectivity/pubspec.yaml
Labels: cla: yes

#3348 [local_auth] Update README for Android Integration
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3314 [camera] Flash functionality for Android and iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/PictureCaptureRequest.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/FlashMode.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/ResolutionPreset.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/PictureCaptureRequestTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/types/FlashModeTest.java
  packages/camera/camera/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
Labels: cla: yes

#3337 [camera] Add implementation of didFinishProcessingPhoto callback (iOS)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3315 [camera] Zoom functionality for Android and iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraZoom.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraZoomTest.java
  packages/camera/camera/example/android/build.gradle
  packages/camera/camera/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes

#3342 Fix test exclusion logic for nnbd plugins
  .cirrus.yml
  packages/android_intent/test/android_intent_test.dart
  packages/flutter_plugin_android_lifecycle/example/integration_test/flutter_plugin_android_lifecycle_test.dart
  packages/flutter_plugin_android_lifecycle/example/lib/main.dart
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/localauth/FlutterFragmentActivityTest.java
  packages/local_auth/example/lib/main.dart
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/integration_test/local_auth_test.dart
  packages/share/integration_test/share_test.dart
  packages/share/test/share_test.dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/integration_test.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/pubspec.yaml
  script/build_all_plugins_app.sh
  script/incremental_build.sh
Labels: cla: yes

#3361 [video_player] Fix video player test
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#3353 [image_picker] Do not copy a static field into another static field
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
Labels: cla: yes

#3354 [url_launcher] forceSafariVC should be nullable to avoid breaking change
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3362 [camera] Fix API documentation of the `CameraController.takePicture` method
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3363 [cross_file] Make sure saveTo returns a Future
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/pubspec.yaml
Labels: cla: yes

#3338 [camera] Add implementations for the torch flash mode.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/FlashMode.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/types/FlashModeTest.java
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: cla: yes

#3367 [camera] Fix flash/torch not working on some Android devices.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/PictureCaptureRequest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/PictureCaptureRequestTest.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3375 [camera] Fix video recording exception on Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3365 [camera] Added maxVideoDuration to startVideoRecording
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: cla: yes

#3345 [camera_platform_interface] Add platform interface methods for setting auto exposure.
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/exposure_mode_test.dart
Labels: cla: yes

#3376 [camera] Update camera_platform_interface dependency to 1.2.0
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes, waiting for tree to go green

#3377 [camera] Revert platform interface dependency to lower version
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes, waiting for tree to go green

#3336 [camera] Added closeCaptureSession() to stopVideoRecording in Java side
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
  packages/camera/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes
