Repository flutter/plugins, pull requests merged in 2020-10, with the labels that each got.

#3100 [google_maps_flutter] Fix headline in the readme
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#3101 Remove `io.flutter.embedded_views_preview` from README
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#3043 [android_intent] Android Code Inspection and Clean up
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/MethodCallHandlerImpl.java
  packages/android_intent/pubspec.yaml
Labels: cla: yes

#3051 [connectivity] Android Code Inspection and Clean up
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/README.md
  packages/connectivity/connectivity/android/build.gradle
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/Connectivity.java
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/connectivity/pubspec.yaml
Labels: cla: yes

#3110 in_app_purchase: started supported null as a parameter for the simulatesAskToBuyInSandbox
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3114 [webview_flutter] add public documentation.
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3113 [multiple] Opt-out of null-safety
  packages/connectivity/connectivity/test/connectivity_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#3093 [google_maps_flutter_web] Fix convert.dart issues
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_integration.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shapes_integration.dart
Labels: cla: yes

#3106 [in_app_purchase] Fix finishing purchases upon payment dialog cancel…
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes

#3117 [webview_flutter] Android Code Inspection and Clean up
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3120 [in_app_purchase] Android Code Inspection and Clean up
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3122 [video_player] Fix SSLProtocolException for low API version
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/CustomSSLSocketFactory.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#3124 [camera] Camera fix android audio
  packages/camera/CHANGELOG.md
  packages/camera/android/build.gradle
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/android/src/test/java/io/flutter/plugins/camera/media/MediaRecorderBuilderTest.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#3130 Fix links in package example readmes
  packages/android_alarm_manager/example/README.md
  packages/android_intent/example/README.md
  packages/battery/battery/example/README.md
  packages/device_info/device_info/example/README.md
  packages/google_maps_flutter/google_maps_flutter/example/README.md
  packages/google_sign_in/google_sign_in/example/README.md
  packages/image_picker/image_picker/example/README.md
  packages/local_auth/example/README.md
  packages/package_info/example/README.md
  packages/path_provider/path_provider/example/README.md
  packages/path_provider/path_provider_macos/example/README.md
  packages/path_provider/path_provider_windows/example/README.md
  packages/quick_actions/example/README.md
  packages/sensors/example/README.md
  packages/share/example/README.md
  packages/shared_preferences/shared_preferences/example/README.md
  packages/shared_preferences/shared_preferences_linux/example/README.md
  packages/shared_preferences/shared_preferences_macos/example/README.md
  packages/url_launcher/url_launcher/example/README.md
  packages/url_launcher/url_launcher_macos/example/README.md
  packages/video_player/video_player/example/README.md
  packages/webview_flutter/example/README.md
Labels: cla: yes

#3116 [integration_test] Add watchPerformance
  packages/integration_test/CHANGELOG.md
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/pubspec.yaml
Labels: cla: yes, waiting for test harness

#3115 [plugin_platform_interface] Migrate to null safety
  .cirrus.yml
  analysis_options.yaml
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: cla: yes

#3119 [video_player] fix Timer Leak
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#3145 [in_app_purchase] Add example test target to Podfile, add OCMock dependency
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/ios/Podfile
  packages/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3064 Add linux directory to examples
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/linux/.gitignore
  packages/path_provider/path_provider/example/linux/CMakeLists.txt
  packages/path_provider/path_provider/example/linux/flutter/CMakeLists.txt
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider/example/linux/flutter/generated_plugins.cmake
  packages/path_provider/path_provider/example/linux/main.cc
  packages/path_provider/path_provider/example/linux/my_application.cc
  packages/path_provider/path_provider/example/linux/my_application.h
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/linux/.gitignore
  packages/path_provider/path_provider_linux/example/linux/CMakeLists.txt
  packages/path_provider/path_provider_linux/example/linux/flutter/CMakeLists.txt
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugins.cmake
  packages/path_provider/path_provider_linux/example/linux/main.cc
  packages/path_provider/path_provider_linux/example/linux/my_application.cc
  packages/path_provider/path_provider_linux/example/linux/my_application.h
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/linux/.gitignore
  packages/shared_preferences/shared_preferences/example/linux/CMakeLists.txt
  packages/shared_preferences/shared_preferences/example/linux/flutter/CMakeLists.txt
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences/example/linux/main.cc
  packages/shared_preferences/shared_preferences/example/linux/my_application.cc
  packages/shared_preferences/shared_preferences/example/linux/my_application.h
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/linux/.gitignore
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/linux/.gitignore
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
Labels: cla: yes

#3134 [wifi_info_flutter_plugin_interface] implement wifi platform interface
  packages/wifi_info_flutter/wifi_info_flutter/example/test/widget_test.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/README.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/src/enums.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/src/method_channel_wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/wifi_info_flutter_platform_interface.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/test/method_channel_wifi_info_flutter_test.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/test/wifi_info_flutter_platform_interface_test.dart
Labels: cla: yes

#3150 Configure analyzer for plugins that are migrated to nnbd
  analysis_options.yaml
  packages/plugin_platform_interface/analysis_options.yaml
  script/incremental_build.sh
Labels: cla: yes

#3152 [share] Replace deprecated Environment.getExternalStorageDirectory() call on Android.
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/android/src/main/java/io/flutter/plugins/share/Share.java
  packages/share/example/android/app/build.gradle
  packages/share/example/android/build.gradle
  packages/share/pubspec.yaml
Labels: cla: yes

#3153 [google_sign_in] Fix merge mistake.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
Labels: cla: yes

#3142 [url_launcher] Url launcher platform interface null safety
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/analysis_options.yaml
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  script/incremental_build.sh
Labels: cla: yes

#3156 [google_maps_flutter_web] Fix InfoWindow snippets.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_integration.dart
Labels: cla: yes

#3097 [url_launcher] Improved documentation of the `headers` parameter.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3159 [video_player_platform_interface] Migrate to null safety
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  script/incremental_build.sh
Labels: cla: yes

#3144 [device_info_platform_interface][device_info] nnbd
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/analysis_options.yaml
  packages/device_info/device_info/example/integration_test/device_info_test.dart
  packages/device_info/device_info/example/lib/main.dart
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info/example/test_driver/integration_test.dart
  packages/device_info/device_info/lib/device_info.dart
  packages/device_info/device_info/pubspec.yaml
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/analysis_options.yaml
  packages/device_info/device_info_platform_interface/lib/model/android_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/ios_device_info.dart
  packages/device_info/device_info_platform_interface/pubspec.yaml
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
  script/incremental_build.sh
Labels: cla: yes

#3164 [device_info][device_info_platform_interface] update to git deps
  packages/device_info/device_info/pubspec.yaml
  packages/device_info/device_info_platform_interface/pubspec.yaml
Labels: cla: yes

#3154 Prepare url_launcher for the Link widget
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Labels: cla: yes, feature

#3165 [video_player] Migrate video player to null safety
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/example/test_driver/integration_test.dart
  packages/video_player/video_player/example/test_driver/video_player.dart
  packages/video_player/video_player/example/test_driver/video_player_test.dart
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/sub_rip_file_test.dart
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
  script/incremental_build.sh
Labels: cla: yes

#3155 [web] Implement Link for web
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/analysis_options.yaml
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/test_driver/url_launcher_web_integration.dart
  script/incremental_build.sh
Labels: cla: yes, feature

#3174 Fix deprecation warning in ci failure
  packages/camera/CHANGELOG.md
  packages/camera/example/lib/main.dart
  packages/camera/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3148 [url_launcher] migrate url_launcher package to null safety
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/analysis_options.yaml
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/analysis_options.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/pubspec.yaml
  script/incremental_build.sh
Labels: cla: yes

#3143 [wifi_info_flutter] Wifi plugin implementation
  packages/wifi_info_flutter/wifi_info_flutter/README.md
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/AndroidManifest.xml
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutter.java
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutterMethodChannelHandler.java
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutterPlugin.java
  packages/wifi_info_flutter/wifi_info_flutter/example/android/gradle.properties
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Runner/Info.plist
  packages/wifi_info_flutter/wifi_info_flutter/example/lib/main.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/test/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/ios/Classes/FLTWifiInfoLocationHandler.h
  packages/wifi_info_flutter/wifi_info_flutter/ios/Classes/FLTWifiInfoLocationHandler.m
  packages/wifi_info_flutter/wifi_info_flutter/ios/Classes/WifiInfoFlutterPlugin.h
  packages/wifi_info_flutter/wifi_info_flutter/ios/Classes/WifiInfoFlutterPlugin.m
  packages/wifi_info_flutter/wifi_info_flutter/lib/wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/test/wifi_info_flutter_test.dart
Labels: cla: yes

#3169 [webview_flutter] Fix example in readme
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#3132 [url_launcher] suppress a `uses or overrides a deprecated API` warning in WebViewActivity
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3175 [nnbd] Various fixes
  packages/connectivity/connectivity/test/connectivity_test.dart
  packages/device_info/device_info/example/integration_test/device_info_test.dart
  packages/device_info/device_info/example/test_driver/integration_test.dart
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/url_launcher/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/example/test/url_launcher_example_test.dart
  packages/url_launcher/url_launcher/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/analysis_options.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes

#3127 [camera] Add null check before starting preview
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#3184 [url_launcher_linux] Add missing #include
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
Labels: cla: yes

#3183 [connectivity] announce 1.0, deprecate wifi APIs
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/lib/main.dart
  packages/connectivity/connectivity/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/lib/connectivity.dart
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
Labels: cla: yes

#3177 Implement Link for native platforms
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/link.dart
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
Labels: cla: yes, feature

#3190 [wifi_info_flutter_platform_interface] Ready to publish
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
Labels: cla: yes

#3163 [google_maps_flutter_web] Fix InfoWindows and getLatLng.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_integration.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_integration.dart
Labels: cla: yes, waiting for test harness

#3192 [path_provider] Depend on guava-android instead of full guava library
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/android/build.gradle
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes

#3125 [url_launcher] Handling the ActivityNotFoundExeption.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3191 [wifi_info_flutter] make it ready for initial 1.0.0 release
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes

#3173 [Connectivity] wifi removal
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/README.md
  packages/connectivity/connectivity/android/src/main/AndroidManifest.xml
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/Connectivity.java
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityMethodChannelHandler.java
  packages/connectivity/connectivity/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityPlugin.java
  packages/connectivity/connectivity/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/connectivity/connectivity/example/ios/Runner/Info.plist
  packages/connectivity/connectivity/example/lib/main.dart
  packages/connectivity/connectivity/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/ios/Classes/FLTConnectivityLocationHandler.h
  packages/connectivity/connectivity/ios/Classes/FLTConnectivityLocationHandler.m
  packages/connectivity/connectivity/ios/Classes/FLTConnectivityPlugin.m
  packages/connectivity/connectivity/lib/connectivity.dart
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
Labels: cla: yes

#3196 [url_launcher] Migrates Link to null safety
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
Labels: cla: yes

#3176 [connectivity][connectvity_platform_interface] migrate to nnbd
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/analysis_options.yaml
  packages/connectivity/connectivity/example/lib/main.dart
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/lib/connectivity.dart
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/analysis_options.yaml
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/lib/src/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/test/method_channel_connectivity_test.dart
  script/incremental_build.sh
Labels: cla: yes

#3199 [connectivity][connectivity_platform_interface] update to git deps
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes

#3197 [device_info_platform_interface] version fix
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/pubspec.yaml
Labels: cla: yes

#3189 enable xctest in .cirrus.yml
  .cirrus.yml
Labels: cla: yes

#3200 [android_alarm_manager] deprecated display1
  packages/android_alarm_manager/example/lib/main.dart
Labels: cla: yes

#3204 [video_player] Upgrade ExoPlayer
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player/example/android/build.gradle
  packages/video_player/video_player/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#3188 [share] Fix bug on iPad where `origin` is null and enable XCUITests
  .cirrus.yml
  packages/share/CHANGELOG.md
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/share/example/ios/RunnerUITests/FLTShareExampleUITests.m
  packages/share/example/ios/RunnerUITests/Info.plist
  packages/share/example/lib/main.dart
  packages/share/ios/Classes/FLTSharePlugin.m
  packages/share/ios/share.podspec
  packages/share/pubspec.yaml
Labels: cla: yes

#3209 Remove unnecessary work around from test in prep for vm_service migration
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/test_driver/integration_test.dart
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes

#3208 broaden the constraint on package:vm_service
  packages/integration_test/CHANGELOG.md
  packages/integration_test/pubspec.yaml
Labels: cla: yes

#3198 Exclude generated_plugin_registrant.cc
  .gitignore
Labels: cla: yes

#3206 [google_maps_flutter] Clean up google_maps_flutter plugin
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapListener.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#3210 [share] Fix bug on iPad where `origin` is null and enable XCUITests in the repo
  .cirrus.yml
  packages/share/CHANGELOG.md
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/share/example/ios/RunnerUITests/FLTShareExampleUITests.m
  packages/share/example/ios/RunnerUITests/Info.plist
  packages/share/example/lib/main.dart
  packages/share/ios/Classes/FLTSharePlugin.m
  packages/share/ios/share.podspec
  packages/share/pubspec.yaml
Labels: cla: yes

#3207 [wifi_info_flutter] Method channel name fixed for android
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutterPlugin.java
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes

#3180 [camera] Added documentation about video not working correctly on Android emulators
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/pubspec.yaml
Labels: cla: yes

#3123 Fixes Playing video from asset on Android
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
Labels: cla: yes

#3220 [in_app_purchase] Remove the custom analysis options, fix failing lints.
  packages/in_app_purchase/analysis_options.yaml
  packages/in_app_purchase/example/lib/consumable_store.dart
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  script/incremental_build.sh
Labels: cla: yes

#3213 [google_maps_flutter] Overhaul lifecycle management in GoogleMapsPlugin
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/LifecycleProvider.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#3227 [in_app_purchase] Bump version
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#3224 [google_maps_flutter_web] show only single infoWindow
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_integration.dart
Labels: cla: yes

#3233 [video_player] Add toString() to Caption
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/closed_caption_file_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#3229 [camera] Add missing Dartdocs
  packages/camera/CHANGELOG.md
  packages/camera/analysis_options.yaml
  packages/camera/lib/camera.dart
  packages/camera/lib/new/camera.dart
  packages/camera/lib/new/src/camera_controller.dart
  packages/camera/lib/new/src/camera_testing.dart
  packages/camera/lib/new/src/common/camera_channel.dart
  packages/camera/lib/new/src/common/camera_interface.dart
  packages/camera/lib/new/src/common/camera_mixins.dart
  packages/camera/lib/new/src/common/native_texture.dart
  packages/camera/lib/new/src/support_android/camera.dart
  packages/camera/lib/new/src/support_android/camera_info.dart
  packages/camera/pubspec.yaml
  packages/camera/test/camera_test.dart
  packages/camera/test/support_android/support_android_test.dart
  script/incremental_build.sh
Labels: cla: yes
