Repository flutter/plugins, pull requests merged in 2020-08, with the labels that each got.

#2902 [in_app_purchases] Fixed typo 'manuelly' for 'manually'
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2903 [google_maps_flutter(_platform_interface)] Make the plugin friendlier to the web implementation.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes

#2906 [e2e] Add new e2e_driver for handling response data and performance watcher
  packages/e2e/CHANGELOG.md
  packages/e2e/example/test_driver/example_e2e_test.dart
  packages/e2e/lib/e2e_driver.dart
  packages/e2e/lib/e2e_perf.dart
  packages/e2e/pubspec.yaml
  packages/e2e/test/frame_timing_summarizer_test.dart
Labels: waiting for test harness

#2848 [camera] Improving handling when camera permissions are not granted.
  packages/camera/CHANGELOG.md
  packages/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/pubspec.yaml
Labels: cla: yes

#2917 [e2e] revert performance tracker utilities
  packages/e2e/CHANGELOG.md
  packages/e2e/lib/e2e_perf.dart
  packages/e2e/pubspec.yaml
  packages/e2e/test/frame_timing_summarizer_test.dart
Labels: waiting for test harness

#2924 [google_maps_flutter] Pin GoogleMaps cocoapod dep to last good known version
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2909 [google_maps_flutter] Call platform.dispose on GoogleMap widget dispose.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
Labels: cla: yes

#2927 [video_player_platform_interface] Add interface changes for audio mix mode
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: cla: yes

#2928 Fix unguarded availability in Camera plugin
  .cirrus.yml
  packages/camera/CHANGELOG.md
  packages/camera/ios/Classes/CameraPlugin.m
  packages/camera/ios/camera.podspec
  packages/camera/pubspec.yaml
Labels: cla: yes

#2932 fixed url_launcher link in url_launcher_web README
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/README.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes

#2922 [video_player] Set audio mix options
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerOptions.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2934 [versions] increase package:platform constraint
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
Labels: cla: yes

#2938 Revert "[video_player] Set audio mix options (#2922)"
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerOptions.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2939 Reland "[video_player] Set audio mix options (#2922)"
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerOptions.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2936 MORE SHARDS MEANS MORE CI
  .cirrus.yml
  script/incremental_build.sh
Labels: cla: yes

#2929 [device_info] Platform interface added in device_info
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/LICENSE
  packages/device_info/device_info_platform_interface/README.md
  packages/device_info/device_info_platform_interface/lib/device_info_platform_interface.dart
  packages/device_info/device_info_platform_interface/lib/method_channel/method_channel_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/android_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/ios_device_info.dart
  packages/device_info/device_info_platform_interface/pubspec.yaml
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
Labels: cla: yes, waiting for test harness

#2933 [google_maps_flutter_web] First version of the plugin.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/LICENSE
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/ios/google_maps_flutter_web.podspec
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circle.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circles.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygons.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polylines.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/types.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/README.md
  packages/google_maps_flutter/google_maps_flutter_web/test/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/run_test
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_plugin_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_plugin_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/marker_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/marker_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/markers_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shape_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shape_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shapes_e2e.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shapes_e2e_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/web/index.html
  script/incremental_build.sh
Labels: cla: yes

#2915 [e2e] Update code onwer.
  CODEOWNERS
Labels: cla: yes

#2942 [device_info] Port device_info to use platform interface
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/lib/device_info.dart
  packages/device_info/device_info/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2959 [path_provider, video_player] Tweak pubspecs to pass bulk analysis.
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2956 [integration_test] Minor cleanup
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/IntegrationTestPlugin.java
  packages/integration_test/lib/common.dart
  packages/integration_test/lib/integration_test_driver.dart
Labels: cla: yes

#2955 [image_picker] Updating documentation to use isEmpty check.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2944 [battery] Updated README.md
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2963 [integration_test] Remove debugging statement
  packages/integration_test/lib/integration_test.dart
Labels: cla: yes

#2966 Rebase previous commits
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
  packages/integration_test/lib/integration_test.dart
Labels: cla: yes

#2921 Add README instructions for enablePendingPurchases
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2968 [video_player_platform_interface] fix `setMixIWithOthers` test channel
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes

#2970 [video_player] Fix `setWithOthers` test
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes

#2967 [integration_test] Show stack trace of widget test errors on the platform side
  packages/integration_test/CHANGELOG.md
  packages/integration_test/android/src/main/java/dev/flutter/plugins/integration_test/FlutterTestRunner.java
  packages/integration_test/ios/Classes/IntegrationTestIosTest.m
  packages/integration_test/lib/common.dart
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/pubspec.yaml
  packages/integration_test/test/binding_fail_test.dart
Labels: cla: yes

#2972 [integration_test] Fix channel name for iOS, docs
  packages/integration_test/CHANGELOG.md
  packages/integration_test/README.md
  packages/integration_test/example/README.md
  packages/integration_test/ios/Classes/IntegrationTestPlugin.m
Labels: cla: yes

#2947 [integration_test] add support to get timeline
  packages/integration_test/CHANGELOG.md
  packages/integration_test/example/test_driver/example_integration_io.dart
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/pubspec.yaml
  packages/integration_test/test/binding_test.dart
Labels: cla: yes, waiting for test harness

#970 [share] Add sharing file support (android & ios)
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/android/build.gradle
  packages/share/android/src/main/AndroidManifest.xml
  packages/share/android/src/main/java/io/flutter/plugins/share/MethodCallHandler.java
  packages/share/android/src/main/java/io/flutter/plugins/share/Share.java
  packages/share/android/src/main/java/io/flutter/plugins/share/ShareFileProvider.java
  packages/share/android/src/main/java/io/flutter/plugins/share/SharePlugin.java
  packages/share/android/src/main/res/xml/flutter_share_file_paths.xml
  packages/share/example/ios/Runner/Info.plist
  packages/share/example/lib/image_previews.dart
  packages/share/example/lib/main.dart
  packages/share/example/pubspec.yaml
  packages/share/ios/Classes/FLTSharePlugin.m
  packages/share/lib/share.dart
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes, in review

#2974 [url_launcher_platform_interface] Add webOnlyWindowName parameter to launch()
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2975 [battery_platform_interface] Introduce package.
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/LICENSE
  packages/battery/battery_platform_interface/README.md
  packages/battery/battery_platform_interface/lib/battery_platform_interface.dart
  packages/battery/battery_platform_interface/lib/enums/battery_state.dart
  packages/battery/battery_platform_interface/lib/method_channel/method_channel_battery.dart
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/battery/battery_platform_interface/test/method_channel_battery_test.dart
Labels: cla: yes

#2979 [url_launcher]Added webOnlyWindowName parameter to launch()
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes

#2984 [url_launcher, url_launcher_web] Fix API dependencies.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2904 [web] Adding capability to e2e to take screenshot for web tests.
  packages/integration_test/CHANGELOG.md
  packages/integration_test/example/test_driver/example_integration_extended.dart
  packages/integration_test/example/test_driver/example_integration_extended_test.dart
  packages/integration_test/example/test_driver/example_integration_io_extended.dart
  packages/integration_test/example/test_driver/example_integration_web_extended.dart
  packages/integration_test/lib/_callback_io.dart
  packages/integration_test/lib/_callback_web.dart
  packages/integration_test/lib/common.dart
  packages/integration_test/lib/integration_test.dart
  packages/integration_test/lib/integration_test_driver_extended.dart
  packages/integration_test/pubspec.yaml
Labels: cla: yes, waiting for test harness
