Repository flutter/plugins, pull requests merged in 2020-02, with the labels that each got.

#2492 Configure Cirrus Branch Guard
  .github/workflows/branch-guard.yml
Labels: cla: yes

#2496 Revert "Configure Cirrus Branch Guard"
  .github/workflows/branch-guard.yml
Labels: cla: yes

#2497 [google_maps_flutter] Fixes toggling traffic layer not working on Android
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#2500 [webview_flutter] Fix iOS WebView not opening href with target="_blank"
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/test_driver/webview_flutter_e2e.dart
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2504 [in_app_purchase] Fix wrong _pendingCompletePurchase flag value
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
Labels: cla: yes

#2507 [google_maps_flutter] Add steps to set up google map sdk on each platform in readme.
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes

#2487 [video_player] Add caption to VideoPlayerValue to get the current closed caption
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/bumble_bee_captions.srt
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for test harness

#2044 [google_maps_flutter] Fix circle and polygon stroke width
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CircleController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonBuilder.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleControllerTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonControllerTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineBuilderTest.java
  packages/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineControllerTest.java
  packages/google_maps_flutter/android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#2508 [google_sign_in_web] Add more detailed setup instructions.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes

#2509 [in_app_purchases] Android: make sure properly disconnect the billing client object.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes

#2514 [e2e] Test multiple failure behavior
  packages/e2e/CHANGELOG.md
  packages/e2e/example/pubspec.yaml
  packages/e2e/example/test_driver/failure_e2e.dart
  packages/e2e/example/test_driver/failure_e2e_test.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2516 [e2e] Avoid running failure test using native instrumentation test frameworks
  packages/e2e/example/test_driver/failure.dart
  packages/e2e/example/test_driver/failure_test.dart
Labels: cla: yes

#2517 [webview_flutter] Remove the upper bound from the Flutter SDK constraint
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes

#2515 [Connectivity] Adds platform interface to connectivity plugin
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/LICENSE
  packages/connectivity/connectivity_platform_interface/README.md
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/lib/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/test/method_channel_connectivity_test.dart
Labels: cla: yes

#2518 [in_app_purchase] Fix version.
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes

#2465 [e2e] Fixed bug in e2e for ios where it doesn't exit.
  packages/e2e/CHANGELOG.md
  packages/e2e/example/test_driver/failure_test.dart
  packages/e2e/ios/Classes/E2EIosTest.m
  packages/e2e/ios/Classes/E2EPlugin.h
  packages/e2e/ios/Classes/E2EPlugin.m
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2519 [connectivity_platform_interface] Fix README
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/README.md
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes

#2502 [e2e] e2e web changes part1: registering web extension.
  packages/e2e/CHANGELOG.md
  packages/e2e/lib/_extension_io.dart
  packages/e2e/lib/_extension_web.dart
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2181 [google_maps_flutter] Add methods to programmatically show/hide marker's infowindow
  AUTHORS
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkerController.java
  packages/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: cla: yes, in review

#2526 [connectivity] Use platform_interface in the core plugin
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/connectivity_platform_interface.dart
  packages/connectivity/connectivity_platform_interface/lib/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/lib/src/enums.dart
  packages/connectivity/connectivity_platform_interface/lib/src/method_channel_connectivity.dart
  packages/connectivity/connectivity_platform_interface/lib/src/utils.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/test/method_channel_connectivity_test.dart
Labels: cla: yes, waiting for test harness

#2525 Add matthew-carroll to reviewers
  CODEOWNERS
Labels: cla: yes

#2522 [shared_preferences] Fix README broken link
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
Labels: cla: yes

#2529 Exclude connectivity packages
  script/build_all_plugins_app.sh
Labels: cla: yes

#2534 fix break on switch
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
Labels: cla: yes

#2505 [google_maps_flutter] getZoomLevel for map controller
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/google_maps_e2e.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, submit queue

#2539 [camera][in_app_purchase] Fix pedantic dependency. Remove `pubspec.yaml` in root folder.
  packages/camera/CHANGELOG.md
  packages/camera/example/pubspec.yaml
  packages/camera/pubspec.yaml
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
  pubspec.yaml
Labels: cla: yes

#2538 [connectivity] Endorse macos implementation
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/lib/main.dart
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/example/test_driver/test/connectivity_e2e.dart
  packages/connectivity/connectivity/macos/connectivity.podspec
  packages/connectivity/connectivity/pubspec.yaml
Labels: cla: yes

#2341 [image_picker] Fix file not found exception
  AUTHORS
  packages/image_picker/CHANGELOG.md
  packages/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/pubspec.yaml
Labels: cla: yes, in review, waiting for test harness

#2528 [video_player] Made the video_player clean up after itself on iOS.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes

#2541 Updates gitignore with unwanted macos files
  .gitignore
Labels: cla: yes

#2530 [none] Update CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#2551 [flutter-plugin-android-lifecycle] Update Gradle version
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes

#2549 [e2e] fix flutter driver code snippet in readme and improve formatting of code snippets
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2553 [path_provider] Create platform interface
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/LICENSE
  packages/path_provider/path_provider_platform_interface/README.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/lib/src/enums.dart
  packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
Labels: cla: yes

#2558 Exclude path_provider packages
  script/build_all_plugins_app.sh
Labels: cla: yes

#2560 [connectivity_platform_interface] Add `ConnectivityResult.unknown`.
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/src/enums.dart
  packages/connectivity/connectivity_platform_interface/lib/src/utils.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes

#2561 Revert "[connectivity_platform_interface] Add `ConnectivityResult.unknown`."
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/lib/src/enums.dart
  packages/connectivity/connectivity_platform_interface/lib/src/utils.dart
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes

#2552 [url_launcher] fix: url_launcher - updated _launchUniversalLinkIos and Added Tests
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/test/url_launcher_example_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/lib/main.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2555 [share] plugin: Update gradle version of example for Android
  packages/share/CHANGELOG.md
  packages/share/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/share/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2564 [path_provider_platform_interface] Rename back to StorageDirectory
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/lib/src/enums.dart
  packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
Labels: cla: yes

#2554 [web] adding a test for e2e web testing.
  .cirrus.yml
  packages/e2e/CHANGELOG.md
  packages/e2e/README.md
  packages/e2e/example/lib/main.dart
  packages/e2e/example/lib/my_app.dart
  packages/e2e/example/lib/my_web_app.dart
  packages/e2e/example/test_driver/example_e2e.dart
  packages/e2e/example/test_driver/example_e2e_io.dart
  packages/e2e/example/test_driver/example_e2e_web.dart
  packages/e2e/example/test_driver/failure.dart
  packages/e2e/example/web/favicon.png
  packages/e2e/example/web/icons/Icon-192.png
  packages/e2e/example/web/icons/Icon-512.png
  packages/e2e/example/web/index.html
  packages/e2e/example/web/manifest.json
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes
