Repository flutter/plugins, pull requests merged in 2020-06, with the labels that each got.

#2804 [shared_preference_macos] Remove iOS and Android folder in example app
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_macos/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1Activity.java
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1ActivityTest.java
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/MainActivity.java
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/MainActivityTest.java
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/shared_preferences/shared_preferences_macos/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/shared_preferences/shared_preferences_macos/example/android/build.gradle
  packages/shared_preferences/shared_preferences_macos/example/android/gradle.properties
  packages/shared_preferences/shared_preferences_macos/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_macos/example/android/settings.gradle
  packages/shared_preferences/shared_preferences_macos/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences_macos/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences_macos/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Base.lproj/Main.storyboard
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences_macos/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
Labels: cla: yes

#2789 [path_provider] linux endorsement
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/README.md
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/test/widget_test.dart
  packages/path_provider/path_provider_linux/example/test_driver/path_provider_e2e.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  script/build_all_plugins_app.sh
Labels: cla: yes

#2807 Version bump for v0.5.0
  packages/e2e/CHANGELOG.md
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2809 [path_provider] Change Linux example to depend on endorsed plugin from pub.dev
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/android/app/build.gradle
  packages/path_provider/path_provider_linux/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_linux/example/android/app/src/androidTest/java/EmbeddingV1ActivityTest.java
  packages/path_provider/path_provider_linux/example/android/app/src/androidTest/java/MainActivityTest.java
  packages/path_provider/path_provider_linux/example/android/app/src/main/AndroidManifest.xml
  packages/path_provider/path_provider_linux/example/android/app/src/main/java/io/flutter/plugins/pathproviderexample/EmbeddingV1Activity.java
  packages/path_provider/path_provider_linux/example/android/app/src/main/java/io/flutter/plugins/pathproviderexample/MainActivity.java
  packages/path_provider/path_provider_linux/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/path_provider/path_provider_linux/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/path_provider/path_provider_linux/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/path_provider/path_provider_linux/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/path_provider/path_provider_linux/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/path_provider/path_provider_linux/example/android/build.gradle
  packages/path_provider/path_provider_linux/example/android/gradle.properties
  packages/path_provider/path_provider_linux/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_linux/example/android/settings.gradle
  packages/path_provider/path_provider_linux/example/ios/Flutter/AppFrameworkInfo.plist
  packages/path_provider/path_provider_linux/example/ios/Flutter/Debug.xcconfig
  packages/path_provider/path_provider_linux/example/ios/Flutter/Release.xcconfig
  packages/path_provider/path_provider_linux/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_linux/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/path_provider/path_provider_linux/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider_linux/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/path_provider/path_provider_linux/example/ios/Runner/AppDelegate.h
  packages/path_provider/path_provider_linux/example/ios/Runner/AppDelegate.m
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/path_provider/path_provider_linux/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/path_provider/path_provider_linux/example/ios/Runner/Base.lproj/Main.storyboard
  packages/path_provider/path_provider_linux/example/ios/Runner/Info.plist
  packages/path_provider/path_provider_linux/example/ios/Runner/main.m
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
Labels: cla: yes

#2802 [image_picker_for_web] Introduce image_picker_for_web package
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/LICENSE
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/android/.gitignore
  packages/image_picker/image_picker_for_web/android/build.gradle
  packages/image_picker/image_picker_for_web/android/gradle.properties
  packages/image_picker/image_picker_for_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_for_web/android/settings.gradle
  packages/image_picker/image_picker_for_web/android/src/main/AndroidManifest.xml
  packages/image_picker/image_picker_for_web/android/src/main/java/io/flutter/image_picker_for_web/ImagePickerWebPlugin.java
  packages/image_picker/image_picker_for_web/ios/image_picker_for_web.podspec
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/image_picker_for_web_test.dart
Labels: cla: yes

#2817 [image_picker_for_web] Remove android directory.
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/android/.gitignore
  packages/image_picker/image_picker_for_web/android/build.gradle
  packages/image_picker/image_picker_for_web/android/gradle.properties
  packages/image_picker/image_picker_for_web/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_for_web/android/settings.gradle
  packages/image_picker/image_picker_for_web/android/src/main/AndroidManifest.xml
  packages/image_picker/image_picker_for_web/android/src/main/java/io/flutter/image_picker_for_web/ImagePickerWebPlugin.java
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: cla: yes, waiting for test harness

#2816 [image_picker] Add web support to the example app.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/example/web/favicon.png
  packages/image_picker/image_picker/example/web/icons/Icon-192.png
  packages/image_picker/image_picker/example/web/icons/Icon-512.png
  packages/image_picker/image_picker/example/web/index.html
  packages/image_picker/image_picker/example/web/manifest.json
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes

#2801 [camera] Fix bug in example
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/pubspec.yaml
Labels: cla: yes

#2826 Update Linux desktop Dockerfile for GTK switch
  .ci/Dockerfile-LinuxDesktop
Labels: cla: yes

#2755 [image_picker] fixes for iOS which doesn't present camera/albums with more complex navigation
  AUTHORS
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Tests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, in review

#2815 [path_provider] Updated documentation reflecting changes needed for testing
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes

#2172 [url_launcher] docs: note about encoding URIs
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#2834 [In_App_Purchase]queryPastPurchases() shouldn't block transaction updates.
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/ios/Tests/Stubs.m
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes

#2842 [e2e] Fix e2e pixel ratio
  packages/e2e/CHANGELOG.md
  packages/e2e/lib/e2e.dart
  packages/e2e/pubspec.yaml
Labels: cla: yes

#2843 Update README for plugin list
  README.md
Labels: cla: yes

#2820 [connectivity] Bring "experimental" connectivity web to main repo.
  packages/connectivity/connectivity_for_web/.gitignore
  packages/connectivity/connectivity_for_web/.metadata
  packages/connectivity/connectivity_for_web/CHANGELOG.md
  packages/connectivity/connectivity_for_web/LICENSE
  packages/connectivity/connectivity_for_web/README.md
  packages/connectivity/connectivity_for_web/ios/connectivity_for_web.podspec
  packages/connectivity/connectivity_for_web/lib/connectivity_for_web.dart
  packages/connectivity/connectivity_for_web/lib/src/dart_html_connectivity_plugin.dart
  packages/connectivity/connectivity_for_web/lib/src/generated/network_information_types.dart
  packages/connectivity/connectivity_for_web/lib/src/network_information_api_connectivity_plugin.dart
  packages/connectivity/connectivity_for_web/lib/src/utils/connectivity_result.dart
  packages/connectivity/connectivity_for_web/pubspec.yaml
  packages/connectivity/connectivity_for_web/test/.gitignore
  packages/connectivity/connectivity_for_web/test/lib/main.dart
  packages/connectivity/connectivity_for_web/test/lib/src/connectivity_mocks.dart
  packages/connectivity/connectivity_for_web/test/pubspec.yaml
  packages/connectivity/connectivity_for_web/test/web/index.html
  packages/connectivity/connectivity_for_web/ts/.gitignore
  packages/connectivity/connectivity_for_web/ts/README.md
  packages/connectivity/connectivity_for_web/ts/package-lock.json
  packages/connectivity/connectivity_for_web/ts/package.json
  packages/connectivity/connectivity_for_web/ts/scripts/run_facade_gen.sh
Labels: cla: yes

#2847 [url_launcher_web] Add tel URL support
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/url_launcher_web_test.dart
Labels: cla: yes

#2836 [shared_preferences_linux] Add support for Linux
  packages/shared_preferences/shared_preferences_linux/.gitignore
  packages/shared_preferences/shared_preferences_linux/.metadata
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/LICENSE
  packages/shared_preferences/shared_preferences_linux/README.md
  packages/shared_preferences/shared_preferences_linux/example/.gitignore
  packages/shared_preferences/shared_preferences_linux/example/.metadata
  packages/shared_preferences/shared_preferences_linux/example/README.md
  packages/shared_preferences/shared_preferences_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  script/build_all_plugins_app.sh
Labels: cla: yes
