Repository flutter/plugins, pull requests merged in 2021-03, with the labels that each got.

#3645 [connectivity] migrate unit tests to null safety
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
Labels: cla: yes, nnbd, p: connectivity

#3647 Update pull_request_label.yml to make actions pointing to refs
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#3646 move integration test to null safety for multiple plugins.
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/example/test_driver/test/integration_test.dart
  packages/connectivity/connectivity/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/pubspec.yaml
  packages/device_info/device_info/example/integration_test/device_info_test.dart
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info/example/test_driver/integration_test.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/example/test_driver/integration_test/image_picker_test.dart
  packages/image_picker/image_picker/integration_test/old_image_picker_test.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/example/test_driver/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/example/test_driver/test/integration_test.dart
  packages/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/example/pubspec.yaml
  packages/quick_actions/example/test_driver/integration_test.dart
  packages/quick_actions/pubspec.yaml
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/example/test_driver/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/test/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, nnbd, p: connectivity, p: device_info, p: image_picker, p: in_app_purchase, p: quick_actions, p: webview_flutter, p: wifi_info_flutter

#3650 Update plugin_platform_interface min version
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/pubspec.yaml
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: battery, p: camera, p: connectivity, p: device_info, p: file_selector, p: google_maps_flutter, p: image_picker, p: path_provider, p: url_launcher, p: wifi_info_flutter

#3636 [in_app_purchase] migrate playing billing library to v3
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/android/build.gradle
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#3606 Move plugin tool tests over
  .cirrus.yml
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#3654 [in_app_purchase] fix plugin version
  packages/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase

#3641 [camera] Stable release for null safety.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/example/test_driver/integration_test.dart
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, nnbd, p: camera

#3652 [connectivity_for_web] Migration to null-safety.
  packages/connectivity/connectivity_for_web/CHANGELOG.md
  packages/connectivity/connectivity_for_web/example/README.md
  packages/connectivity/connectivity_for_web/example/integration_test/network_information_test.dart
  packages/connectivity/connectivity_for_web/example/integration_test/src/connectivity_mocks.dart
  packages/connectivity/connectivity_for_web/example/lib/main.dart
  packages/connectivity/connectivity_for_web/example/pubspec.yaml
  packages/connectivity/connectivity_for_web/example/run_test.sh
  packages/connectivity/connectivity_for_web/example/test_driver/integration_driver.dart
  packages/connectivity/connectivity_for_web/example/web/index.html
  packages/connectivity/connectivity_for_web/lib/src/dart_html_connectivity_plugin.dart
  packages/connectivity/connectivity_for_web/lib/src/network_information_api_connectivity_plugin.dart
  packages/connectivity/connectivity_for_web/lib/src/utils/connectivity_result.dart
  packages/connectivity/connectivity_for_web/pubspec.yaml
  packages/connectivity/connectivity_for_web/test/.gitignore
  packages/connectivity/connectivity_for_web/test/README.md
  packages/connectivity/connectivity_for_web/test/lib/src/connectivity_mocks.dart
  packages/connectivity/connectivity_for_web/test/pubspec.yaml
  packages/connectivity/connectivity_for_web/test/tests_exist_elsewhere_test.dart
Labels: cla: yes, p: connectivity, platform-web, waiting for tree to go green

#3660 [share] Migrate unit tests to null-safety.
  packages/share/CHANGELOG.md
  packages/share/pubspec.yaml
  packages/share/test/share_test.dart
Labels: cla: yes, p: share, waiting for tree to go green

#3657 [url_launcher] Migrate unit tests to NNBD
  packages/url_launcher/url_launcher/example/test/url_launcher_example_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
Labels: cla: yes, p: url_launcher

#3659 [android_intent] move unit test to nullsafety
  packages/android_intent/pubspec.yaml
  packages/android_intent/test/android_intent_test.dart
  packages/android_intent/test/android_intent_test.mocks.dart
Labels: cla: yes, p: android_intent, waiting for tree to go green

#3661 Remove unused plugin (integration_test_macos)
  packages/integration_test/example/pubspec.yaml
  packages/integration_test/integration_test_macos/CHANGELOG.md
  packages/integration_test/integration_test_macos/LICENSE
  packages/integration_test/integration_test_macos/macos/Assets/.gitkeep
  packages/integration_test/integration_test_macos/macos/Classes/IntegrationTestPlugin.swift
  packages/integration_test/integration_test_macos/macos/integration_test_macos.podspec
  packages/integration_test/integration_test_macos/pubspec.yaml
Labels: cla: yes, p: integration_test, platform-macos, waiting for tree to go green

#3658 [device_info] Enable NNBD for unit test
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
Labels: cla: yes, p: device_info

#3664 [webview_flutter] Run CocoaPods iOS tests in RunnerUITests target
  .cirrus.yml
  .gitignore
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Podfile
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerUITests.xcscheme
  packages/webview_flutter/example/ios/RunnerUITests/Info.plist
  packages/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios

#3662 [google_maps_flutter_web] update min flutter sdk version to 1.20.0
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-web, waiting for tree to go green

#3667 Run static analyzer during xctest
  .cirrus.yml
  CONTRIBUTING.md
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#3672 [path_provider] Make a 0.0.5 for Dart 2.12 compat
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/lib/main.dart
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: cla: yes, p: path_provider, platform-windows

#3653 Adopt Xcode 12 for podspec lints
  .cirrus.yml
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/test/lint_podspecs_command_test.dart
Labels: cla: yes

#3673 [google_maps_flutter_web] Make google_maps_flutter_web work with latest plugins
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_integration.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_plugin_integration.dart
  script/nnbd_plugins.sh
Labels: cla: yes, p: google_maps_flutter, platform-web

#3676 [image_picker] fix flutter/flutter#71927
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
Labels: cla: yes, p: image_picker, platform-ios, waiting for tree to go green

#3674 Update CI config for Flutter 2
  .ci/Dockerfile
  .ci/Dockerfile-LegacyChrome
  .cirrus.yml
  packages/wifi_info_flutter/wifi_info_flutter/ios/Classes/WifiInfoFlutterPlugin.m
  script/build_all_plugins_app.sh
  script/incremental_build.sh
  script/nnbd_plugins.sh
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/test/build_examples_command_test.dart
Labels: cla: yes, p: wifi_info_flutter, platform-ios

#3679 [google_maps_flutter_web] Downgrade mockito in example app.
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-web

#3274 [in_app_purchase] presentCodeRedemptionSheet
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#3655 Bring HTML inputs into view automatically
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-android

#3681 [ci] Disable analyze on stable for web plugins that contains null safety integration tests.
  .cirrus.yml
  packages/connectivity/connectivity_macos/example/test_driver/test/integration_test.dart
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/image_picker/image_picker/example/test_driver/test/integration_test.dart
Labels: cla: yes, p: connectivity, p: google_sign_in, p: image_picker, platform-macos

#3665 [various] Import flutter_test for future compatibility
  packages/camera/camera/test/utils/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/sensors/test/sensors_test.dart
Labels: cla: yes, p: camera, p: in_app_purchase, p: sensors, waiting for tree to go green

#3686 [google_sign_in] Updates google_sign_in_platform_interfaces adding parametrized `clientId`
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: cla: yes, p: google_sign_in

#3689 [extension_google_sign_in_as_googleapis_auth] Update import
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/lib/extension_google_sign_in_as_googleapis_auth.dart
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/test/extension_google_sign_in_as_googleapis_auth_test.dart
Labels: cla: yes, p: google_sign_in, waiting for tree to go green

#3690 [google_sign_in] fix test
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, p: google_sign_in

#3669 [Video_Player] Remove the deprecated API reference.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-android, waiting for tree to go green

#3692 Skip pod lint tests
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/test/lint_podspecs_command_test.dart
Labels: cla: yes

#3684 [shared_preferences] Fix concurrent modification of the shared preferences on Android
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences, platform-android

#3668 [video_player] fixed misleading size and aspect ratio documentation
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, waiting for tree to go green

#3697 Streamline CI setup, and reenable macOS credits
  .cirrus.yml
Labels: cla: yes

#3678 [tool] Improve check version ci so that it enforces the version in CHANGELOG and pubspec matches.
  .cirrus.yml
  script/incremental_build.sh
  script/tool/lib/src/common.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
Labels: cla: yes, waiting for tree to go green

#3698 [cross_file] Delete.
  CODEOWNERS
  packages/cross_file/CHANGELOG.md
  packages/cross_file/LICENSE
  packages/cross_file/README.md
  packages/cross_file/lib/cross_file.dart
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/lib/src/x_file.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/assets/hello.txt
  packages/cross_file/test/x_file_html_test.dart
  packages/cross_file/test/x_file_io_test.dart
Labels: cla: yes, p: cross_file

#3700 Skip flutter upgrade for pod linting Cirrus task
  .cirrus.yml
Labels: cla: yes

#2846 [in_app_purchase] Typos in comments
  packages/in_app_purchase/example/lib/main.dart
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#3705 [shared_preferences] Fix missing declaration of windows' default_package
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences

#3708 [connectivity] re-endorse connectivity_for_web
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/pubspec.yaml
Labels: cla: yes, p: connectivity

#3666 Reorder the checkboxes in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#3711 [ci] Add libgcrypt to Docker image.
  .ci/Dockerfile
Labels: cla: yes

#3717 [image_picker] endorse image_picker_for_web in image_picker plugin
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker

#3718 [google_maps_flutter_platform_interface] Mark constructors as const for ids
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
Labels: cla: yes, p: google_maps_flutter

#3703 Prep for alignment with Flutter analysis options
  analysis_options.yaml
  analysis_options_legacy.yaml
  packages/android_alarm_manager/analysis_options.yaml
  packages/android_intent/analysis_options.yaml
  packages/battery/analysis_options.yaml
  packages/camera/analysis_options.yaml
  packages/connectivity/analysis_options.yaml
  packages/cross_file/analysis_options.yaml
  packages/device_info/analysis_options.yaml
  packages/e2e/analysis_options.yaml
  packages/espresso/analysis_options.yaml
  packages/file_selector/analysis_options.yaml
  packages/flutter_plugin_android_lifecycle/analysis_options.yaml
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_sign_in/analysis_options.yaml
  packages/image_picker/analysis_options.yaml
  packages/in_app_purchase/analysis_options.yaml
  packages/integration_test/analysis_options.yaml
  packages/ios_platform_images/analysis_options.yaml
  packages/local_auth/analysis_options.yaml
  packages/package_info/analysis_options.yaml
  packages/path_provider/analysis_options.yaml
  packages/plugin_platform_interface/analysis_options.yaml
  packages/quick_actions/analysis_options.yaml
  packages/sensors/analysis_options.yaml
  packages/share/analysis_options.yaml
  packages/shared_preferences/analysis_options.yaml
  packages/url_launcher/analysis_options.yaml
  packages/video_player/analysis_options.yaml
  packages/webview_flutter/analysis_options.yaml
  packages/wifi_info_flutter/analysis_options.yaml
  script/tool/analysis_options.yaml
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: cross_file, p: device_info, p: e2e, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter

#3640 [google_sign_in] Adds support to send `clientId` as a parameter
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, last mile, p: google_sign_in, platform-android, platform-ios, waiting for tree to go green

#3730 Fix cosmetic variations in copyrights and license files
  packages/connectivity/connectivity_for_web/LICENSE
  packages/file_selector/file_selector/LICENSE
  packages/file_selector/file_selector_platform_interface/LICENSE
  packages/file_selector/file_selector_web/LICENSE
  packages/google_maps_flutter/google_maps_flutter_web/LICENSE
  packages/google_sign_in/google_sign_in/LICENSE
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/BackgroundTaskRunner.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/Executors.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInWrapper.java
  packages/google_sign_in/google_sign_in/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.h
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/src/common.dart
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in_web/LICENSE
  packages/google_sign_in/google_sign_in_web/test/tests_exist_elsewhere_test.dart
  packages/image_picker/image_picker/LICENSE
  packages/path_provider/path_provider/LICENSE
  packages/share/LICENSE
  packages/shared_preferences/shared_preferences_macos/LICENSE
  packages/shared_preferences/shared_preferences_windows/LICENSE
  packages/shared_preferences/shared_preferences_windows/example/LICENSE
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: cla: yes, p: connectivity, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: path_provider, p: share, p: shared_preferences, platform-android, platform-ios, platform-macos, platform-web, platform-windows

#3723 [integration_test] Deprecate, and stop using in this repository
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/battery/battery/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
  packages/integration_test/CHANGELOG.md
  packages/integration_test/README.md
  packages/integration_test/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/package_info/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/example/pubspec.yaml
  packages/quick_actions/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/sensors/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
  packages/webview_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-linux, platform-macos, platform-windows

#3738 Enable web integration tests in CI
  .ci/Dockerfile-LegacyChrome
  .cirrus.yml
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: cla: yes, waiting for tree to go green

#3739 [ci] Fix test driver name
  packages/connectivity/connectivity_for_web/example/run_test.sh
  packages/connectivity/connectivity_for_web/example/test_driver/integration_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/run_test.sh
  packages/google_maps_flutter/google_maps_flutter_web/example/test_driver/integration_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/web/index.html
  packages/google_sign_in/google_sign_in_web/example/run_test.sh
  packages/google_sign_in/google_sign_in_web/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/example/run_test.sh
  packages/url_launcher/url_launcher_web/example/test_driver/integration_test.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: cla: yes, p: connectivity, p: google_maps_flutter, p: google_sign_in, p: url_launcher, platform-web

#3741 [quick_actions_platform_interface] Update license file
  packages/quick_actions/quick_actions_platform_interface/LICENSE
Labels: cla: yes, p: quick_actions

#3252 [url_launcher] Update readme for URL schemes on iOS
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, last mile, p: url_launcher, waiting for tree to go green

#3733 Use flutter gcp project for linux tasks.
  .cirrus.yml
Labels: cla: yes

#3591 [camera] Fix iOS rotation issue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
Labels: cla: yes, p: camera, platform-ios, waiting for tree to go green

#3702 [video_player_platform_interface] add http headers
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes, p: video_player

#3745 [quick_actions] example fix
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/lib/main.dart
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: cla: yes, p: quick_actions, waiting for tree to go green

#2606 Updated README.md typo
  packages/in_app_purchase/example/README.md
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#3742 [flutter_plugin_tools] Also look for Java tests in plugin path
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  script/tool/lib/src/java_test_command.dart
  script/tool/test/java_test_command_test.dart
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#3747 [all] remove podfile in gitignore and update all podfiles
  .gitignore
  packages/battery/battery/example/ios/Podfile
  packages/camera/camera/example/ios/Podfile
  packages/connectivity/connectivity/example/ios/Podfile
  packages/device_info/device_info/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/integration_test/example/ios/Podfile
  packages/ios_platform_images/example/ios/Podfile
  packages/local_auth/example/ios/Podfile
  packages/package_info/example/ios/Podfile
  packages/path_provider/path_provider/example/ios/Podfile
  packages/quick_actions/quick_actions/example/ios/Podfile
  packages/sensors/example/ios/Podfile
  packages/share/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/url_launcher/url_launcher/example/ios/Podfile
  packages/video_player/video_player/example/ios/Podfile
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Podfile
Labels: cla: yes, p: battery, p: camera, p: connectivity, p: device_info, p: google_maps_flutter, p: google_sign_in, p: integration_test, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: wifi_info_flutter, platform-ios, waiting for tree to go green

#3748 [ci] Do not use empty exclude directories in analyze_command.
  script/incremental_build.sh
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: cla: yes

#3736 [quick_actions] 3/3 Quick actions federated migration
  AUTHORS
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/lib/quick_actions.dart
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions/test/quick_actions_test.dart
Labels: cla: yes, p: quick_actions, waiting for tree to go green

#3749 [in_app_purchase] Fixed some minor spelling mistakes in README
  packages/in_app_purchase/in_app_purchase/README.md
Labels: cla: yes, p: in_app_purchase

#3750 [in_app_purchase] Fix error message when trying to consume purchase on iOS
  packages/in_app_purchase/in_app_purchase/AUTHORS
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
Labels: cla: yes, p: in_app_purchase

#3751 Revert "[in_app_purchase] Fix error message when trying to consume purchase on iOS"
  packages/in_app_purchase/in_app_purchase/AUTHORS
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
Labels: cla: yes, p: in_app_purchase

#3752 [in_app_purchase] Fix error message when trying to consume purchase on iOS
  packages/in_app_purchase/in_app_purchase/AUTHORS
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
Labels: cla: yes, p: in_app_purchase

#3753 [in_app_purchase] Update instructions on setting up example App
  packages/in_app_purchase/in_app_purchase/example/README.md
Labels: cla: yes, p: in_app_purchase

#3754 [google_maps_flutter] Fix handling of non-nullable invokeMethod return types
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
Labels: cla: yes, p: google_maps_flutter

#3305 [quick_actions] Update "eponymous concept" link.
  packages/quick_actions/quick_actions/README.md
Labels: cla: yes, last mile, p: quick_actions

#3671 [video_player] add http headers
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, p: video_player, platform-android, platform-ios

#3756 Drop redundant question marks used with dynamic.
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapi.dart
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
Labels: cla: yes, p: google_sign_in, p: in_app_purchase, platform-web

#3757 Drop redundant ? for dynamic
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
Labels: cla: yes, p: google_sign_in, platform-web

#3732 [in_app_purchase] moved android iap unit tests
  packages/in_app_purchase/in_app_purchase/android/build.gradle
  packages/in_app_purchase/in_app_purchase/android/src/test/java/android/text/TextUtils.java
  packages/in_app_purchase/in_app_purchase/android/src/test/java/android/util/Log.java
  packages/in_app_purchase/in_app_purchase/android/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/in_app_purchase/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#3762 Capitalise Platform class in README
  packages/android_intent/README.md
Labels: cla: yes, p: android_intent, waiting for tree to go green

#3760 Add tests for publish check tool command
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/publish_check_command_test.dart
Labels: cla: yes

#3746 Make sure androidx.lifecycle classes aren't R8'ed away when using flutter_plugin_android_lifecycle
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/proguard.txt
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes, p: flutter_plugin_android_lifecycle, platform-android

#3773 Update build-all test for null-safe template
  script/build_all_plugins_app.sh
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#3767 Update flutter_plugin_android_lifecycle dependency versions
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/local_auth/CHANGELOG.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, p: image_picker, p: local_auth, waiting for tree to go green

#3771 [google_maps_flutter] Fix TileOverlay cloning
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
Labels: cla: yes, p: google_maps_flutter

#3769 let google_maps_flutter_web version solve for older mockito
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-web
