Repository flutter/plugins, pull requests merged in 2021-10, with the labels that each got.

#4374 [google_maps_flutter]: LatLng longitude loses precision in constructor #90574
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/location_test.dart
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, last mile

#4406 Fix order-dependant platform interface tests
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/quick_actions_platform_interface_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes, waiting for tree to go green, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: url_launcher, p: video_player, p: quick_actions

#4405 [ci] Remove obsolete Dockerfile
  .ci/java8.Dockerfile
Labels: cla: yes, waiting for tree to go green

#4404 [webview_flutter] Add zoomEnabled to webview flutter platform interface
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, p: webview_flutter, last mile

#4391 [google_sign_in] Use a transparent image as a placeholder for the `GoogleUserCircleAvatar`
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/resources/README.md
  packages/google_sign_in/google_sign_in/resources/transparentImage.gif
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
Labels: cla: yes, waiting for tree to go green, p: google_sign_in, last mile

#4423 [camera] Fix CamcorderProfile Usages
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest_getRecordingProfileTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManagerTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/media/MediaRecorderBuilderTest.java
  packages/camera/camera/android/src/test/resources/robolectric.properties
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera/example/android/gradle.properties
Labels: cla: yes, waiting for tree to go green, p: camera, platform-android
