Repository flutter/plugins, pull requests merged in 2021-11, with the labels that each got.

#4402 [webview_flutter] Update webview packages for Android and iOS to implement `runJavascript` and `runJavascriptReturningResult`.
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview.podspec
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios, platform-android

#4466 Remove -Werror from deprecated plugin Android builds
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/build.gradle
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: connectivity, platform-android

#4450 [webview_flutter] Add platform interface method `loadRequest`.
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/webview_request_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4467 update build_runner dependencies in android_intent and file_selector example
  packages/android_intent/pubspec.yaml
  packages/file_selector/file_selector_web/example/pubspec.yaml
Labels: cla: yes, p: android_intent, p: file_selector, platform-web

#4468 [ci] Remove unused dep from file_selector.
  packages/file_selector/file_selector_web/example/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: file_selector, platform-web

#4471 [in_app_purchase] add pedantic as a dependency to in_app_purchase plugins
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-ios, platform-android

#4446 [webview_flutter] Add interface methods to load local files and HTML strings.
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#3325 [webview_flutter]Add zoom to android webview
  packages/webview_flutter/webview_flutter/AUTHORS
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, last mile, customer: marketplace, p2

#3407 [video_player]: initial test coverage file() constructor api
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: video_player, last mile

#4212 Fix NullPointerException
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InputAwareWebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-android

#4477 Add mirroring of master to main branch.
  .github/workflows/mirror.yml
Labels: cla: yes

#4487 Disable camera/quick_actions tests temporarily
  script/configs/exclude_native_unit_android.yaml
Labels: cla: yes, needs tests

#4490 [google_maps_flutter] Disable XCUITest
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: cla: yes, p: google_maps_flutter, platform-ios

#4488 [video_player] Don't restart when scrubbing to end
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for tree to go green, p: video_player

#4478 Adjust pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#4493 [ci] Increase Android and Web sharding
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#4475 Remove "pluginClass: none" from pubspecs
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: path_provider, p: shared_preferences, platform-windows, platform-linux

#4474 [flutter_plugin_tools] Add 'main' support
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4480 [webview_flutter] Implement loadRequest in iOS package.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview.podspec
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4494 [package_info] Bump SDK version of example app
  packages/package_info/CHANGELOG.md
  packages/package_info/example/android/app/build.gradle
Labels: cla: yes, waiting for tree to go green, p: package_info, platform-android, needs tests

#4461 Fix bugs in Dart Implementation of the Pigeon API
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4459 [webview_flutter_android] Fix bugs in Java Implementation of the Pigeon API
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/Releasable.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
Labels: cla: yes, p: webview_flutter, platform-android

#4496 [google_maps_flutter] Add new XCUITests that do not require permissions.
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, platform-ios

#4481 [webview_flutter] Update webview_flutter documentation
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4486 [webview_flutter] Implementations of `loadFile` and `loadHtmlString` for WKWebView
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4489 [webview_flutter] Update Widget Unit Tests to be platform agnostic
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: cla: yes, p: webview_flutter

#4497 [path_provider] Publish fully federated version
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, p: path_provider

#4508 [battery] Recreate Android example
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/example/android/.gitignore
  packages/battery/battery/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/battery/battery/example/android/app/src/debug/AndroidManifest.xml
  packages/battery/battery/example/android/app/src/main/AndroidManifest.xml
  packages/battery/battery/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/battery/battery/example/android/app/src/main/res/drawable/launch_background.xml
  packages/battery/battery/example/android/app/src/main/res/values-night/styles.xml
  packages/battery/battery/example/android/app/src/main/res/values/styles.xml
  packages/battery/battery/example/android/app/src/profile/AndroidManifest.xml
  packages/battery/battery/example/android/build.gradle
  packages/battery/battery/example/android/gradle.properties
  packages/battery/battery/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/battery/battery/example/android/settings.gradle
Labels: cla: yes, p: battery, platform-android, needs tests

#4506 Enable camera/quick_actions tests
  script/configs/exclude_native_unit_android.yaml
Labels: cla: yes, waiting for tree to go green

#4473 [ci] Add 'main' builders in bringup mode
  .ci.yaml
Labels: cla: yes

#4500 [flutter_plugin_tools] Add optional timing info
  .ci/scripts/build_examples_uwp.sh
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/drive_examples_win32.sh
  .ci/scripts/native_test_win32.sh
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool_runner.sh
Labels: cla: yes

#4492 [flutter_plugin_tools] Build gtest unit tests
  packages/url_launcher/url_launcher/example/linux/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_linux/example/linux/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/example/windows/CMakeLists.txt
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/cmake.dart
  script/tool/lib/src/common/gradle.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-windows, platform-linux

#4458 [in_app_purchase] Add support for promotional offers through Store-Kit wrappers
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios

#4504 [path_provider] Fix links in READMEs
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/README.md
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/README.md
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/README.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: path_provider, platform-ios, platform-android, platform-macos, platform-linux

#4513 [camera] Fix version and CHANGELOG
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera

#4507 [url_launcher] Add null check for extracting browser headers
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher/android/src/test/java/io/flutter/plugins/urllauncher/WebViewActivityTest.java
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-android

#4512 Add link to CHANGELOG style in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#4460 [webview_flutter] Fix Flaky Resize Test
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter, platform-android

#4094 [in_app_purchase]Iap/ios add cancel status
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/fakes/fake_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios

#4095 [in_app_purchase]IAP/android add cancel status
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4503 [webview_flutter_android] Implementation of Android WebView widget using pigeon
  packages/webview_flutter/analysis_options.yaml
  packages/webview_flutter/webview_flutter/analysis_options.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterDownloadListener.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewFactory.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewBuilder.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterDownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewBuilderTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/navigation_request.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/analysis_options.yaml
  packages/webview_flutter/webview_flutter_wkwebview/analysis_options.yaml
Labels: cla: yes, p: webview_flutter, platform-android

#4517 [in_app_purchase] Fix CHANGELOG for 0.2.0.
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios

#4509 [webview_flutter] Add onUrlChanged callback to platform interface.
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_callbacks_handler.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4521 Revert "[ci] Add 'main' builders in bringup mode"
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#4524 [webview_flutter] Revert addition of onUrlChanged
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_callbacks_handler.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, p: webview_flutter

#4501 [image_picker] Fix iOS RunnerUITests search paths
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Podfile
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: cla: yes, p: image_picker, platform-ios, needs tests

#4525 [webview_flutter] Disable flaky test on iOS
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter

#4409 [google_maps_flutter][android] suppress unchecked cast warning
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileProviderController.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, platform-android, last mile

#4449 [local_auth] Fix activity leak in LocalAuthPlugin
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
Labels: cla: yes, waiting for tree to go green, p: local_auth, platform-android, last mile

#4502 Bump plugin Android compileSdkVersions to 31
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_intent/CHANGELOG.md
  packages/android_intent/example/android/app/build.gradle
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/example/android/app/build.gradle
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/android/app/build.gradle
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/example/android/app/build.gradle
  packages/espresso/CHANGELOG.md
  packages/espresso/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/android/app/build.gradle
  packages/package_info/CHANGELOG.md
  packages/package_info/example/android/app/build.gradle
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/android/app/build.gradle
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/example/android/app/build.gradle
  packages/share/CHANGELOG.md
  packages/share/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/example/android/app/build.gradle
Labels: cla: yes, waiting for tree to go green, p: battery, p: webview_flutter, p: android_alarm_manager, p: android_intent, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: share, p: url_launcher, p: video_player, p: package_info, p: shared_preferences, p: espresso, p: wifi_info_flutter, p: sensors, p: quick_actions, p: connectivity, p: device_info, platform-android, p: flutter_plugin_android_lifecycle, needs tests

#4526 [shared_preferences] Publish fully federated version
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences

#4523 [in_app_purchase] Emit empty list when no transactions to restore.
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase

#4514 Enable Android integration tests in remaining plugins
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/camera/camera/example/android/app/src/androidTest/java/io/flutter/plugins/cameraexample/FlutterActivityTest.java
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase/example/android/app/src/androidTest/java/io/flutter/plugins/inapppurchaseexample/FlutterActivityTest.java
  packages/in_app_purchase/in_app_purchase/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/in_app_purchase/in_app_purchase/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/androidTest/java/io/flutter/plugins/inapppurchaseexample/FlutterActivityTest.java
  packages/shared_preferences/shared_preferences/example/android/app/src/androidTest/java/io/flutter/plugins/sharedpreferencesexample/FlutterActivityTest.java
  packages/shared_preferences/shared_preferences/example/android/app/src/debug/AndroidManifest.xml
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTest/java/io/flutter/plugins/urllauncherexample/FlutterActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/video_player/video_player/example/android/app/src/androidTest/java/io/flutter/plugins/videoplayerexample/FlutterActivityTest.java
  script/configs/exclude_integration_android.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, p: in_app_purchase, p: url_launcher, p: video_player, p: shared_preferences, platform-android

#4529 [url_launcher] Improve README and example
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#4528 [ci] Update labeler for special cases
  .github/labeler.yml
Labels: cla: yes

#4535 Update some plugins' targetSdkVersions to 31
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: cla: yes, p: path_provider, p: shared_preferences, platform-android, p: flutter_plugin_android_lifecycle, needs tests

#4533 Update all targetSdkVersions
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/example/android/app/build.gradle
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/android/build.gradle
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/build.gradle
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/android/build.gradle
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/android/build.gradle
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/android/build.gradle
Labels: cla: yes, p: battery, p: webview_flutter, p: android_alarm_manager, p: android_intent, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: share, p: video_player, p: package_info, p: espresso, p: wifi_info_flutter, p: sensors, p: quick_actions, p: connectivity, p: device_info, platform-android, needs tests

#4530 [flutter_plugin_tools] Check for missing version and CHANGELOG updates
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes

#4537 [webview_flutter] Adjust getTitle test
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter, platform-ios

#4539 [webview_flutter] Speculative getTitle fix
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter, platform-ios

#4531 [flutter_plugin_tools] Check for FlutterTestRunner in FTL tests
  script/tool/CHANGELOG.md
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: cla: yes

#4543 [webview_flutter] Added contributing section to the README.md
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4545 [webview_flutter] Migrate webview_flutter_wkwebview to analysis_options.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/analysis_options.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/navigation_request.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4546 [ci] Exclude files generated by Pigeon from analysis.
  analysis_options.yaml
  analysis_options_legacy.yaml
Labels: cla: yes, waiting for tree to go green

#4548 [quick_actions] Migrate to new analysis options
  packages/quick_actions/analysis_options.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/lib/main.dart
  packages/quick_actions/quick_actions/test/quick_actions_test.dart
  packages/quick_actions/quick_actions_platform_interface/CHANGELOG.md
  packages/quick_actions/quick_actions_platform_interface/lib/method_channel/method_channel_quick_actions.dart
  packages/quick_actions/quick_actions_platform_interface/lib/platform_interface/quick_actions_platform.dart
  packages/quick_actions/quick_actions_platform_interface/lib/types/quick_action_handler.dart
  packages/quick_actions/quick_actions_platform_interface/test/method_channel_quick_actions_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/quick_actions_platform_interface_test.dart
  script/configs/custom_analysis.yaml
Labels: cla: yes, p: quick_actions

#4550 [webview_flutter] Pre-emptively ignore prefer_const_constructor warning.
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4536 [url_launcher] Publish fully federated version
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#4549 [webview_flutter] Migrate webview_flutter_platform_interface to analysis_options.yaml
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/analysis_options.yaml
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/platform_interface/javascript_channel_registry_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/webview_request_test.dart
  script/configs/custom_analysis.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4554 [webview_flutter] Updates webview_flutter_platform_interface to version 1.5.2
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios, needs tests

#4553 [webview_flutter] Clean up prefer_const_constructor ignore statements
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4527 [in_app_purchase] Deprecated the `InAppPurchaseAndroidPlatformAddition.enablePendingPurchases` method.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4551 [url_launcher] Switch to new analysis options
  packages/url_launcher/analysis_options.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/lib/link.dart
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_ios/example/lib/main.dart
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_linux/example/lib/main.dart
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_macos/example/lib/main.dart
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/lib/method_channel_url_launcher.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/lib/main.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/lib/src/shims/dart_ui.dart
  packages/url_launcher/url_launcher_web/lib/src/shims/dart_ui_fake.dart
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/browser.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_windows/example/lib/main.dart
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: cla: yes, p: url_launcher, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web

#4544 [webview_flutter] Android implementation of `loadFile` and `loadHtmlString` methods
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4552 [webview_flutter] Migrate webview_flutter package to analysis_options.yaml
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/analysis_options.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  script/configs/custom_analysis.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter
