Repository flutter/plugins, pull requests merged in 2021-05, with the labels that each got.

#3844 Update third_party license checking
  script/tool/CHANGELOG.md
  script/tool/lib/src/license_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/license_check_command_test.dart
Labels: cla: yes

#3833 Add implement and registerWith method to plugins
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/lib/path_provider_linux.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/path_provider_linux_test.dart
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_stub.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Labels: cla: yes, p: connectivity, p: path_provider, p: shared_preferences, platform-linux, platform-macos, platform-windows

#3848 [google_sign_in] remove execute bit from a lot of files
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/google_sign_in/google_sign_in/android/gradle.properties
  packages/google_sign_in/google_sign_in/android/settings.gradle
  packages/google_sign_in/google_sign_in/android/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/BackgroundTaskRunner.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/Executors.java
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/README.md
  packages/google_sign_in/google_sign_in/example/android.iml
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/.gitignore
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/google_sign_in/google_sign_in/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/google_sign_in/google_sign_in/example/android/build.gradle
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/example/android/settings.gradle
  packages/google_sign_in/google_sign_in/example/example.iml
  packages/google_sign_in/google_sign_in/example/google_sign_in_example.iml
  packages/google_sign_in/google_sign_in/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_sign_in/google_sign_in/example/ios/Flutter/Debug.xcconfig
  packages/google_sign_in/google_sign_in/example/ios/Flutter/Release.xcconfig
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/google_sign_in/google_sign_in/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/google_sign_in/google_sign_in/example/ios/Runner/Base.lproj/Main.storyboard
  packages/google_sign_in/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/ios/Assets/.gitkeep
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, p: google_sign_in, platform-android, platform-ios

#3862 Temporarily disable Windows tests
  .ci/dev/try_builders.json
Labels: cla: yes

#3847 Add support for third_party packages in Dart code
  script/tool/lib/src/common.dart
  script/tool/test/common_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#3846 Move incremental_build.sh to run-on-changed-packages
  .cirrus.yml
  script/incremental_build.sh
  script/tool/lib/src/common.dart
Labels: cla: yes

#3835 [image_picker] Image picker phpicker impl
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker/example/ios/RunnerUITestiOS14/ImagePickerFromLimitedGalleryUITests.m
  packages/image_picker/image_picker/example/ios/RunnerUITestiOS14/Info.plist
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Tests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, last mile, p: image_picker, platform-ios

#3869 [image_picker]Fix the description
  packages/image_picker/image_picker/CHANGELOG.md
Labels: cla: yes, p: image_picker

#3865 Simplify the tooling bash scripts
  .cirrus.yml
  packages/video_player/video_player/CONTRIBUTING.md
  script/build_all_plugins_app.sh
  script/check_publish.sh
  script/common.sh
  script/tool_runner.sh
Labels: cla: yes, p: video_player

#3872 Exclude some missing integration tests
  .cirrus.yml
Labels: cla: yes

#3859 [google_sign_in] fix registration links
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
Labels: cla: yes, p: google_sign_in

#3821 [in_app_purchase] platform interface improvement
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform_addition_provider.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details_response.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
Labels: cla: yes, last mile, p: in_app_purchase

#3852 [in_app_purchase] Add InAppPurchaseException to platform interface
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/in_app_purchase_platform_interface.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/errors/errors.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/errors/in_app_purchase_exception.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/test/src/errors/in_app_purchase_exception_test.dart
Labels: cla: yes, last mile, p: in_app_purchase

#3851 [in_app_purchase] Implement registerPlatform method for iOS implementation
  packages/in_app_purchase/in_app_purchase_ios/README.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_test.dart
Labels: cla: yes, last mile, p: in_app_purchase, platform-ios

#3845 [in_app_purchase] Add warning in readme for double import of the Android billing client library
  packages/in_app_purchase/in_app_purchase/README.md
Labels: cla: yes, last mile, p: in_app_purchase

#3841 [in_app_purchase] Federated Android implementation
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/LICENSE
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/android/settings.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/AndroidManifest.xml
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/android/text/TextUtils.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/android/util/Log.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/build.yaml
  packages/in_app_purchase/in_app_purchase_android/lib/billing_client_wrappers.dart
  packages/in_app_purchase/in_app_purchase_android/lib/in_app_purchase_android.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/README.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/channel.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/change_subscription_param.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_product_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/stub_in_app_purchase_platform.dart
Labels: cla: yes, last mile, p: in_app_purchase, platform-android

#3840 [tool] version-check publish-check commands can check against pub
  script/tool/CHANGELOG.md
  script/tool/lib/src/common.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
Labels: cla: yes

#3880 Revert "[tool] github action to auto publish (skeleton) "
  .github/workflows/release.yml
Labels: cla: yes

#3878 Only mark PRs for publishing that change pubspec
  .github/post_merge_labeler.yml
Labels: cla: yes

#3870 [in_app_purchase] iOS example using in_app_purchase_ios package
  packages/in_app_purchase/in_app_purchase_ios/example/README.md
  packages/in_app_purchase/in_app_purchase_ios/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Flutter/Debug.xcconfig
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Flutter/Release.xcconfig
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/AppDelegate.h
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/AppDelegate.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Base.lproj/Main.storyboard
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/main.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/in_app_purchase_pluginTests/Info.plist
  packages/in_app_purchase/in_app_purchase_ios/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_ios/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_ios/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/example/test_driver/test/integration_test.dart
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/ProductRequestHandlerTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/TranslatorTest.m
Labels: cla: yes, p: in_app_purchase, platform-ios

#3861 [in_app_purchase] Android example using in_app_purchase_android package
  packages/in_app_purchase/in_app_purchase/example/README.md
  packages/in_app_purchase/in_app_purchase_android/example/README.md
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/AndroidManifest.xml
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/EmbeddingV1Activity.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/EmbeddingV1ActivityTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/FlutterActivityTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/drawable/launch_background.xml
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/res/values/styles.xml
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/in_app_purchase/in_app_purchase_android/example/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/keystore.example.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/settings.gradle
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/example/test_driver/test/integration_test.dart
  packages/in_app_purchase/in_app_purchase_android/lib/in_app_purchase_android.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-android

#3883 [in_app_purchase] Configure correct App Bundle identifier
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, p: in_app_purchase, platform-ios

#3884 Revert "Temporarily disable Windows tests"
  .ci/dev/try_builders.json
Labels: cla: yes

#3887 [in_app_purchase] update min Flutter version to 1.20.0
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#3885 Revert "Temporarily run Windows tests via GitHub Actions"
  .github/workflows/windows_ci.yml
  script/tool/lib/src/firebase_test_lab_command.dart
Labels: cla: yes, waiting for tree to go green

#3873 [image_picker] Image picker fix metadata
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Tests/ImageUtilTests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios

#3892 [video_player][camera] fix video_player camera tests
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/video_player/video_player/test/video_player_initialization_test.dart
Labels: cla: yes, p: camera, p: video_player

#3890 Overhaul CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#3882 Update tool README for packages use
  script/tool/README.md
Labels: cla: yes

#3891 Begin migrating tools to NNBD
  .cirrus.yml
  script/tool/bin/flutter_plugin_tools.dart
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common_test.dart
  script/tool/test/common_test.mocks.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#3849 Remove fallback Activity and watch uiMode
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/EmbeddingV1Activity.java
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-android

#3881 [image_picker] Image picker fix alert
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios, waiting for tree to go green

#3899 Migrate some tool commands to NNBD
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/test_command_test.dart
Labels: cla: yes

#3894 Bump min Android SDK to the version required at runtime
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/pubspec.yaml
  script/tool/lib/src/create_all_plugins_app_command.dart
Labels: cla: yes, p: google_maps_flutter, p: webview_flutter, platform-android, waiting for tree to go green

#3900 Remove section from WebView readme
  packages/webview_flutter/README.md
Labels: cla: yes, p: webview_flutter

#3897 [in_app_purchase] Expose the NSLocale object
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, p: in_app_purchase, platform-ios

#3896 [in_app_purchase] Add reference to the codelab in the README
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase

#3901 [espresso] Minor cleanup
  packages/espresso/CHANGELOG.md
  packages/espresso/analysis_options.yaml
  packages/espresso/example/lib/main.dart
  packages/espresso/example/test_driver/example.dart
  packages/espresso/pubspec.yaml
Labels: cla: yes, p: espresso, waiting for tree to go green

#3902 [url_launcher] Migrate maven repo from jcenter to mavenCentral
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/android/build.gradle
  packages/url_launcher/url_launcher/example/android/build.gradle
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher, platform-android, waiting for tree to go green

#3928 [webview_flutter] Bump version for republishing
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter

#3907 [battery] Migrate maven repo from jcenter to mavenCentral
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/android/build.gradle
  packages/battery/battery/example/android/build.gradle
  packages/battery/battery/pubspec.yaml
Labels: cla: yes, p: battery, platform-android, waiting for tree to go green

#3910 [device_info] Migrate maven repo from jcenter to mavenCentral
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/android/build.gradle
  packages/device_info/device_info/example/android/build.gradle
  packages/device_info/device_info/pubspec.yaml
Labels: cla: yes, p: device_info, platform-android, waiting for tree to go green

#3909 [connectivity] Migrate maven repo from jcenter to mavenCentral
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/build.gradle
  packages/connectivity/connectivity/example/android/build.gradle
  packages/connectivity/connectivity/pubspec.yaml
Labels: cla: yes, p: connectivity, platform-android, waiting for tree to go green

#3919 [path_provider] Migrate maven repo from jcenter to mavenCentral
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/android/build.gradle
  packages/path_provider/path_provider/example/android/build.gradle
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, p: path_provider, platform-android, waiting for tree to go green

#3911 [espresso] Migrate maven repo from jcenter to mavenCentral
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/example/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: cla: yes, p: espresso, platform-android, waiting for tree to go green

#3921 [sensors] Migrate maven repo from jcenter to mavenCentral
  packages/sensors/CHANGELOG.md
  packages/sensors/android/build.gradle
  packages/sensors/example/android/build.gradle
  packages/sensors/pubspec.yaml
Labels: cla: yes, p: sensors, platform-android, waiting for tree to go green

#3929 [in_app_purchase] Move to stable release
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase

#3912 [flutter_plugin_android_lifecycle] Migrate maven repo from jcenter to mavenCentral
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes, p: flutter_plugin_android_lifecycle, platform-android, waiting for tree to go green

#3925 [wifi_info_flutter] Migrate maven repo from jcenter to mavenCentral
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/android/build.gradle
  packages/wifi_info_flutter/wifi_info_flutter/example/android/build.gradle
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, p: wifi_info_flutter, platform-android, waiting for tree to go green

#3913 [google_maps_flutter] Migrate maven repo from jcenter to mavenCentral
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-android, waiting for tree to go green

#3914 [google_sign_in] Migrate maven repo from jcenter to mavenCentral
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/google_sign_in/google_sign_in/example/android/build.gradle
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, p: google_sign_in, platform-android, waiting for tree to go green

#3904 [android_alarm_manager] Migrate maven repo from jcenter to mavenCentral
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/android/build.gradle
  packages/android_alarm_manager/example/android/build.gradle
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes, p: android_alarm_manager, platform-android, waiting for tree to go green

#3906 [android_intent] Migrate maven repo from jcenter to mavenCentral
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/android_intent/example/android/build.gradle
  packages/android_intent/pubspec.yaml
Labels: cla: yes, p: android_intent, platform-android, waiting for tree to go green

#3918 [package_info] Migrate maven repo from jcenter to mavenCentral
  packages/package_info/CHANGELOG.md
  packages/package_info/android/build.gradle
  packages/package_info/example/android/build.gradle
  packages/package_info/pubspec.yaml
Labels: cla: yes, p: package_info, platform-android, waiting for tree to go green

#3923 [shared_preferences] Migrate maven repo from jcenter to mavenCentral
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences, platform-android, waiting for tree to go green

#3924 [video_player] Migrate maven repo from jcenter to mavenCentral
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/example/android/build.gradle
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-android, waiting for tree to go green

#3903 Enable web integration tests on stable
  .cirrus.yml
  packages/connectivity/connectivity_for_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
Labels: cla: yes, p: connectivity, p: file_selector, p: google_sign_in, p: url_launcher, platform-web, waiting for tree to go green

#3905 [path_provider] Migrate all integration tests to NNBD
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_macos/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_macos/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/test_driver/integration_test.dart
Labels: cla: yes, p: path_provider, platform-linux, platform-macos, platform-windows, waiting for tree to go green

#3930 [sensors] Update Cirrus image to Xcode 12.5, fix sensors analyzer warning
  .cirrus.yml
  packages/sensors/CHANGELOG.md
  packages/sensors/ios/Classes/FLTSensorsPlugin.m
  packages/sensors/pubspec.yaml
Labels: cla: yes, p: sensors, platform-ios

#3908 [camera] Migrate maven repo from jcenter to mavenCentral
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/example/android/build.gradle
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#3939 [image_picker] Fix camera alert localization analyzer warning
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios

#3940 [video_player] Fix pointer value to boolean conversion analyzer warnings
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-ios

#3941 [connectivity] Ignore Reachability pointer to int cast warning
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/ios/Podfile
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/example/macos/Podfile
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes, p: connectivity, platform-ios, platform-macos

#3893 [url_launcher] Migrate pushRouteNameToFramework to ChannelBuffers
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
Labels: cla: yes, p: url_launcher, waiting for tree to go green

#3947 [wifi_info_flutter] Ignore Reachability pointer to int cast warning
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Podfile
Labels: cla: yes, p: wifi_info_flutter, platform-ios

#3946 Make run-on-changed-packages flag handle repo-level changes
  script/tool/CHANGELOG.md
  script/tool/lib/src/common.dart
  script/tool/pubspec.yaml
  script/tool/test/common_test.dart
Labels: cla: yes

#3952 Remove codesign overrides from xctest command
  script/tool/lib/src/xctest_command.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#3954 [url_launcher] Fix Link test
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
Labels: cla: yes, p: url_launcher

#3958 [webview_flutter] Fix race in test
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter

#3927 Mass pubspec.yaml cleanup
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

#3922 [share] Migrate maven repo from jcenter to mavenCentral
  packages/share/CHANGELOG.md
  packages/share/android/build.gradle
  packages/share/example/android/build.gradle
  packages/share/pubspec.yaml
Labels: cla: yes, p: share, platform-android, waiting for tree to go green

#3961 [url_launcher] Fix Link test breakage from shadow DOM changes
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
Labels: cla: yes, p: url_launcher, platform-web

#3942 [share] Do not tear down channel onDetachedFromActivity.
  packages/share/CHANGELOG.md
  packages/share/android/src/main/java/io/flutter/plugins/share/SharePlugin.java
  packages/share/pubspec.yaml
Labels: cla: yes, p: share, platform-android, waiting for tree to go green

#3934 Enable NNBD for more plugin integration tests
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/test_driver/integration_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/integration_test.dart
  packages/local_auth/example/integration_test/local_auth_test.dart
  packages/local_auth/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_macos/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_macos/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_linux/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_linux/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_macos/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_macos/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_windows/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_windows/example/test_driver/integration_test.dart
Labels: cla: yes, p: camera, p: google_maps_flutter, p: local_auth, p: shared_preferences, p: url_launcher, platform-linux, platform-macos, platform-windows

#3960 Use collection and box literals in ObjC code
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/InAppPurchasePluginTest.m
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
Labels: cla: yes, p: camera, p: google_maps_flutter, p: image_picker, p: in_app_purchase, p: webview_flutter, platform-ios

#3966 [url_launcher] and [url_launcher_platform_interface] Fix tests broken my ChannelBuffers migration
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
Labels: cla: yes, p: url_launcher

#3932 Move integration test to null safety for multiple plugins
  packages/connectivity/connectivity/example/integration_test/connectivity_test.dart
  packages/connectivity/connectivity/example/test_driver/integration_test.dart
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_macos/example/integration_test/connectivity_test.dart
  packages/connectivity/connectivity_macos/example/test_driver/integration_test.dart
  packages/device_info/device_info/example/integration_test/device_info_test.dart
  packages/device_info/device_info/example/test_driver/integration_test.dart
  packages/image_picker/image_picker/example/integration_test/old_image_picker_test.dart
  packages/image_picker/image_picker/example/test_driver/integration_test.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase/example/test_driver/integration_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/test_driver/test/integration_test.dart
  packages/in_app_purchase/in_app_purchase_ios/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_ios/example/test_driver/test/integration_test.dart
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/test_driver/integration_test.dart
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/test_driver/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, p: connectivity, p: device_info, p: image_picker, p: in_app_purchase, p: quick_actions, p: webview_flutter, p: wifi_info_flutter, platform-android, platform-ios, platform-macos

#3967 [quick-actions] Revert migrating integration tests to NNBD
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/test_driver/integration_test.dart
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: cla: yes, p: quick_actions

#3953 Fix publish-check output
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/publish_check_command_test.dart
Labels: cla: yes, waiting for tree to go green

#3959 add a --dart-sdk option to the repo analysis command
  .cirrus.yml
  script/common.sh
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool_runner.sh
Labels: cla: yes, waiting for tree to go green

#3938 Migrate to .ci.yaml
  .ci.yaml
  .ci/dev/README.md
  .ci/dev/try_builders.json
Labels: cla: yes, waiting for tree to go green

#3972 Clean up cruft in pubspec.yaml files
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/camera/camera/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/sensors/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
Labels: cla: yes, p: battery, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: plugin_platform_interface, p: sensors, p: shared_preferences, p: url_launcher, platform-web, platform-windows

#3969 [flutter_plugin_android_lifecycle] Migrate integration test to NNBD
  packages/flutter_plugin_android_lifecycle/example/integration_test/flutter_plugin_android_lifecycle_test.dart
Labels: cla: yes, p: flutter_plugin_android_lifecycle

#3968 [video_player] Migrate integration tests to NNBD
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/test_driver/integration_test.dart
  packages/video_player/video_player/example/test_driver/video_player.dart
  packages/video_player/video_player/example/test_driver/video_player_test.dart
Labels: cla: yes, p: video_player

#3798 [camera] android-rework part 4: Android flash and zoom features
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/flash/FlashFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/flash/FlashMode.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtils.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/flash/FlashFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtilsTest.java
Labels: cla: yes, p: camera, platform-android

#3979 [video_player] Add URL for exoplayer to maven for all dependents
  packages/camera/camera/example/android/build.gradle
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/example/android/build.gradle
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: camera, p: video_player, platform-android

#3971 Point deprecated plugins to Plus versions
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/CHANGELOG.md
  packages/android_intent/README.md
  packages/android_intent/pubspec.yaml
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/README.md
  packages/battery/battery/pubspec.yaml
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/README.md
  packages/connectivity/connectivity/pubspec.yaml
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/README.md
  packages/device_info/device_info/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/README.md
  packages/package_info/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/README.md
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: connectivity, p: device_info, p: package_info, p: sensors, p: share, p: wifi_info_flutter

#3917 [local_auth] Migrate maven repo from jcenter to mavenCentral
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/example/android/build.gradle
  packages/local_auth/pubspec.yaml
Labels: cla: yes, p: local_auth, platform-android, waiting for tree to go green

#3926 [webview_flutter] Migrate maven repo from jcenter to mavenCentral
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/example/android/build.gradle
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-android, waiting for tree to go green

#3920 [quick_actions] Migrate maven repo from jcenter to mavenCentral
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/android/build.gradle
  packages/quick_actions/quick_actions/example/android/build.gradle
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: cla: yes, p: quick_actions, platform-android, waiting for tree to go green

#3916 [in_app_purchase] Migrate maven repo from jcenter to mavenCentral
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/android/build.gradle
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#3981 Allow reverts when checking versions
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_test.dart
Labels: cla: yes

#3980 Remove exoplayer workaround from everything but video_player
  packages/camera/camera/example/android/build.gradle
  packages/camera/camera/example/pubspec.yaml
  packages/image_picker/image_picker/android/build.gradle
  packages/image_picker/image_picker/example/pubspec.yaml
Labels: cla: yes, p: camera, p: image_picker, platform-android

#3973 [scripts/tool] use 'flutter pub get' for both dart and flutter packages
  script/tool/lib/src/analyze_command.dart
Labels: cla: yes

#3936 Added Windows to the description
  packages/path_provider/path_provider/README.md
Labels: cla: yes, p: path_provider, waiting for tree to go green

#3978 [google_maps_flutter] Add iOS unit and UI tests
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/Info.plist
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/Info.plist
Labels: cla: yes, p: google_maps_flutter, platform-ios, waiting for tree to go green

#3944 [in_app_purchase] Added support to request list of purchases
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/query_purchase_details_response.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android

#3976 [in_app_purchase] Revert changes from PR 3897
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, p: in_app_purchase, platform-ios

#3982 [script/tool] speed up the pub get portion of the analyze command
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: cla: yes, waiting for tree to go green

#3975 [video_player] Update README.md
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, last mile, p: video_player, waiting for tree to go green

#3915 [image_picker] Migrate maven repo from jcenter to mavenCentral
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/build.gradle
  packages/image_picker/image_picker/example/android/build.gradle
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-android, waiting for tree to go green

#3983 Enable pubspec dependency sorting lint
  analysis_options.yaml
  packages/espresso/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
Labels: cla: yes, p: espresso, p: path_provider, platform-linux, platform-macos, platform-windows, waiting for tree to go green

#3984 Add pubspec convention checks
  .cirrus.yml
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/battery/battery/pubspec.yaml
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity_for_web/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info/pubspec.yaml
  packages/device_info/device_info_platform_interface/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/example/pubspec.yaml
  packages/ios_platform_images/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/package_info/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/sensors/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/share/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/main.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/build_examples_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: plugin_platform_interface, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: wifi_info_flutter, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows, waiting for tree to go green

#3986 [video_player] Add iOS unit and UI tests
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/Podfile
  packages/video_player/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/video_player/video_player/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/video_player/video_player/example/ios/RunnerTests/Info.plist
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/example/ios/RunnerUITests/Info.plist
  packages/video_player/video_player/example/ios/RunnerUITests/VideoPlayerUITests.m
Labels: cla: yes, p: video_player, platform-ios, waiting for tree to go green
