Repository flutter/plugins, pull requests merged in 2021-01, with the labels that each got.

#3364 [camera_platform_interface] Added imageFormatGroup to initialize
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/image_format_group.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/image_group_test.dart
Labels: cla: yes

#3344 [camera] Fixed stale images in imageStream subscriptions
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3383 [camera] disable auto focus when using front facing camera on Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3369 [camera_platform_interface] Add platform interface methods for setting auto focus.
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/focus_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/focus_mode_test.dart
Labels: cla: yes

#3389 [camera_platform_interface] Add platform interface methods for locking capture orientation.
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/camera_platform_interface.dart
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/events/device_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/utils/utils.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/device_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/utils/utils_test.dart
Labels: cla: yes

#3396 [camera] set useAutoFocus to true by default
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3098 [image_picker] Update README.md
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3287 [in_app_purchase] Added serviceTimeout code
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
Labels: cla: yes, waiting for tree to go green

#3399 [image_picker] fix version
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3400 Ignore deprecated_member_use analysis lint
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
Labels: cla: yes, waiting for tree to go green

#3366 [battery] Migrate battery_plugin_interface to null safety
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/lib/method_channel/method_channel_battery.dart
  packages/battery/battery_platform_interface/pubspec.yaml
  packages/battery/battery_platform_interface/test/method_channel_battery_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes

#3397 Sync the PR template to the new style
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#3359 [camera] Implemented ImageStream ImageFormat setting for Dart and Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes

#3135 [google_maps_flutter_platform_interface] Adds support for holes in polygon overlays to the Google Maps plugin
  AUTHORS
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3409 [video_player] Migrate deprecated api
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes

#3380 [battery] Migrate battery to null safety
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/example/lib/main.dart
  packages/battery/battery/example/pubspec.yaml
  packages/battery/battery/integration_test/battery_test.dart
  packages/battery/battery/pubspec.yaml
  packages/battery/battery/test/battery_test.dart
Labels: cla: yes

#3141 [file_selector_web]: Add initial implementation
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/LICENSE
  packages/file_selector/file_selector_web/README.md
  packages/file_selector/file_selector_web/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/run_integration_test
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_web/test_driver/integration_test.dart
Labels: cla: yes, waiting for test harness

#3390 [camera] Implemented capture orientation locking. Fixed preview rotation issues. Fixed video and photo orientation upon save.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DeviceOrientationManager.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraUtilsTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera/example/ios/Runner/Info.plist
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
Labels: cla: yes, waiting for tree to go green

#1721 [google_maps_flutter] Adds support for holes in polygon overlays to the Google Maps plugin
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/PolygonOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
Labels: cla: yes, waiting for tree to go green

#3416 [file_selector_web] Add dummy ios directory.
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/ios/file_selector_web.podspec
  packages/file_selector/file_selector_web/pubspec.yaml
Labels: cla: yes

#3414 [camera] Fix picture capture causing a crash on some Huawei devices.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/PictureCaptureRequest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/PictureCaptureRequestTest.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3406 [camera] Fix initialization error in camera example on iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes

#3419 [camera] Fixes crash with using inner camera on some Android devices.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3413 [camera] Copy zoom settings from preview to final capture builder on Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#2941 [google_maps_flutter] fix to properly place polyline at initial camera position in example app
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3411 [camera] Fixes crash when taking a picture on iOS devices without flash
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes

#3422 [file_selector_platform_interface] Bump the cross_file version.
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
Labels: cla: yes

#2489 [local_auth] Allow device authentication (pin/pattern/passcode)
  packages/integration_test/android/gradle.properties
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/main/AndroidManifest.xml
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/example/android/build.gradle
  packages/local_auth/example/android/gradle.properties
  packages/local_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/example/android/settings_aar.gradle
  packages/local_auth/example/lib/main.dart
  packages/local_auth/integration_test/local_auth_test.dart
  packages/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/lib/auth_strings.dart
  packages/local_auth/lib/error_codes.dart
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_test.dart
Labels: cla: yes

#3329 [google_sign_in] Migrate to nnbd
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/src/common.dart
  packages/google_sign_in/google_sign_in/lib/testing.dart
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test_driver/integration_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: cla: yes

#3432 [script] Update build_all_plugins_app to exclude some plugins in `master`.
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes

#3412 [google_maps_flutter_web] Support for Holes in Polygons
  AUTHORS
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/google_maps_controller_integration.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shapes_integration.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/web/index.html
Labels: cla: yes

#3436 [google_sign_in, url_launcher] Document unendorsement of web.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes

#3437 [plugin_platform_interface] Use Mockito nnbd
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: cla: yes, waiting for tree to go green

#3435 [camera] combine release messages and versions
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3433 Add Labeler Github Action
  .github/labeler.yml
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#3442 Windows nullsafety prep
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: cla: yes

#3410 [path_provider] Migrate path_provider_windows to nullsafety
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_stub.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: cla: yes, p: path_provider

#3444 [camera] Ensure that channel.invokeMethod runs on the main thread
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, waiting for tree to go green

#3440 [google_maps_flutter_web] Hole Direction in Polygons
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/test/test_driver/shapes_integration.dart
Labels: cla: yes

#3418 [google_maps_flutter_platform_interface] add custom tile support
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_provider.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#3449 [google_maps_flutter_platform_interface] Fixes for custom tiles
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#3304 [ci][image_picker]enable xcode 12/iOS 14 for all tasks except lint
  .cirrus.yml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3459 Revert "[ci][image_picker]enable xcode 12/iOS 14 for all tasks except lint"
  .cirrus.yml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker

#3463 bump vmservice
  packages/integration_test/CHANGELOG.md
  packages/integration_test/pubspec.yaml
Labels: cla: yes, p: integration_test

#3462 Support breaking http change
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/pubspec.yaml
Labels: cla: yes, p: cross_file

#3465 [path_provider] drop uuid
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, p: path_provider

#3452 [cross_file] Migrate to null-safety.
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/cross_file/test/x_file_io_test.dart
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes, p: cross_file

#3467 [image_picker_platform_interface] fix test asset file location
  packages/cross_file/test/x_file_io_test.dart
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/picked_file_io_test.dart
Labels: cla: yes, p: cross_file, p: image_picker

#3468 Revert "[cross_file] Migrate to null-safety. (#3452)"
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/cross_file/test/x_file_io_test.dart
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes, p: cross_file

#3469 Reland "[cross_file] Migrate to null-safety. (#3452)"
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/cross_file/test/x_file_io_test.dart
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes, p: cross_file

#3470 [ci] fix ci failure on ios builds
  .cirrus.yml
Labels: cla: yes

#3478 [package_info] Register IntegrationTestPlugin in the example app.
  packages/package_info/CHANGELOG.md
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/EmbedderV1Activity.java
  packages/package_info/pubspec.yaml
Labels: cla: yes, p: package_info

#3480 [integration_test] Fix tests from changes to `flutter test` machine output
  packages/integration_test/CHANGELOG.md
  packages/integration_test/pubspec.yaml
  packages/integration_test/test/binding_fail_test.dart
Labels: cla: yes, p: integration_test

#2858 [url_launcher] Update description in pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#3461 [ci][image_picker][webviews_flutter] enable Xcode 12
  .cirrus.yml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker/pubspec.yaml
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: image_picker, p: webview_flutter, waiting for tree to go green

#3476 [url_launcher_web] Fix Link misalignment issue
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/test/lib/main.dart
  packages/url_launcher/url_launcher_web/test/test_driver/url_launcher_web_integration.dart
  packages/url_launcher/url_launcher_web/test/test_driver/url_launcher_web_integration_test.dart
Labels: cla: yes, p: url_launcher

#3484 Remove amirh from CODEOWNERS
  CODEOWNERS
Labels: cla: yes, waiting for tree to go green

#3473 [local_auth] Fix incorrect switch fallthrough
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/pubspec.yaml
Labels: cla: yes, p: local_auth

#3485 [path_provider_windows] Resolve FFI stabilization changes
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, p: path_provider
