Repository flutter/plugins, pull requests merged in 2021-04, with the labels that each got.

#3768 [google_maps_flutter] Fix NNBD migration mistake in example
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter

#3765 [webview_flutter] Fix scroll bar position for Android non-hybrid WebViews
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter

#3713 [video_player]Update README.me
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, last mile, p: video_player, waiting for tree to go green

#3786 [local_auth] Update Jetpack dependencies
  packages/local_auth/CHANGELOG.md
  packages/local_auth/android/build.gradle
  packages/local_auth/pubspec.yaml
Labels: cla: yes, p: local_auth, platform-android

#3787 [google_maps_flutter] remove unnecessary test
  packages/google_maps_flutter/google_maps_flutter/test/android_google_map_test.dart
Labels: cla: yes, p: google_maps_flutter

#3779 [tool] refactor publish plugin command
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes, waiting for tree to go green

#3784 [google_maps_flutter] Reword README
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#3778 [local_auth] Fix callback thread handling
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/ios/Podfile
  packages/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/local_auth/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/example/ios/XCTests/Info.plist
  packages/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/ios/Tests/FLTLocalAuthPluginTests.m
  packages/local_auth/pubspec.yaml
Labels: cla: yes, p: local_auth, platform-ios

#3731 [in_app_purchase] improve readme
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/doc/iap_android.gif
  packages/in_app_purchase/in_app_purchase/doc/iap_ios.gif
  packages/in_app_purchase/in_app_purchase/example/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#3790 [google_map_flutter] fix version
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter

#3777 Switch script/tools over to the new analysis options
  script/tool/analysis_options.yaml
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#3791 [flutter_webview] Fix `allowsInlineMediaPlayback` ignored on iOS
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios, waiting for tree to go green

#2983 [local_auth] Unnecessary reassignment in example removed
  packages/local_auth/example/lib/main.dart
Labels: cla: yes, p: local_auth, waiting for tree to go green

#3772 [in_app_purchase] Configured example app to use StoreKit Testing on iOS 14
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/README.md
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#3792 Fix and update version checks
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info_platform_interface/lib/model/android_device_info.dart
  packages/espresso/example/pubspec.yaml
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circles.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygons.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polylines.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/ios_platform_images/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/sensors/example/lib/snake.dart
  packages/sensors/example/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/lib/webview_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  script/tool/lib/src/common.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_test.dart
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-linux, platform-macos, platform-web, platform-windows

#3780 [local_auth] Fix iOS crash when no localizedReason
  packages/local_auth/CHANGELOG.md
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_test.dart
Labels: cla: yes, in review, last mile, p: local_auth, waiting for tree to go green

#3794 [in_app_purchase] Added currency code and numerical price to product detail model.
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_connection/product_details_test.dart
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#3782 [image_picker_platform_interface] Added pickMultiImage
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: cla: yes, p: image_picker

#3805 [google_sign_in] Fix "pick account" on iOS
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/ios/Tests/GoogleSignInPluginTest.m
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, p: google_sign_in, platform-ios, waiting for tree to go green

#3809 new dart formatter results
  packages/sensors/example/lib/snake.dart
Labels: cla: yes, p: sensors, waiting for tree to go green

#3812 [path_provider] Replace path_provider_linux widget tests with simple unit tests
  packages/path_provider/path_provider_linux/example/test/widget_test.dart
  packages/path_provider/path_provider_linux/test/path_provider_linux_test.dart
Labels: cla: yes, p: path_provider, platform-linux

#3811 [quick_actions] handle cold start on iOS correctly
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/ios/Runner/AppDelegate.m
  packages/quick_actions/quick_actions/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/quick_actions/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: cla: yes, p: quick_actions, platform-ios, waiting for tree to go green

#3801 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  script/tool/README.md
Labels: cla: yes, waiting for tree to go green

#3103 [local_auth] docs update
  packages/local_auth/CHANGELOG.md
  packages/local_auth/README.md
  packages/local_auth/pubspec.yaml
Labels: cla: yes, last mile, p: local_auth

#3814 Path provider windows crash fix
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, p: path_provider, platform-windows

#3815 fix incorrect `MD` in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#3795 [camera] android-rework part 1: Base classes to support Android Camera features
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeature.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraPropertiesImplTest.java
Labels: cla: yes, p: camera, platform-android

#3818 [tools] fix version check command not working for new packages
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_test.dart
Labels: cla: yes

#3819 Add a todo WRT correctly setting the X-Goog-AuthUser header
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
Labels: cla: yes, p: google_sign_in

#3781 [in_app_purchase] Implementation of platform interface
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/LICENSE
  packages/in_app_purchase/in_app_purchase_platform_interface/README.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/in_app_purchase_platform_interface.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform_addition_provider.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/in_app_purchase_error.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details_response.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_param.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_status.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_verification_data.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
Labels: cla: yes, p: in_app_purchase

#3823 [path_provider_*] code cleanup: sort directives
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_macos/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
Labels: cla: yes, p: path_provider, platform-linux, platform-macos, platform-windows, waiting for tree to go green

#3826 [in_app_purchase_platform_interface] Added additional fields to ProductDetails
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/test/src/types/product_details_test.dart
Labels: cla: yes, p: in_app_purchase

#3796 [camera] android-rework part 2: Android auto focus feature
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/autofocus/AutoFocusFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/autofocus/FocusMode.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/autofocus/AutoFocusFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/autofocus/FocusModeTest.java
Labels: cla: yes, p: camera, platform-android

#3827 [tool] combine run and runAndExitOnError
  script/tool/lib/src/common.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#3816 [google_sign_in_web] fix README typos.
  packages/google_sign_in/google_sign_in_web/README.md
Labels: cla: yes, p: google_sign_in, platform-web

#3217 Fix grammatical error in contributing guide
  CONTRIBUTING.md
Labels: cla: yes

#3831 [in_app_purchase] Make PurchaseDetails.status mandatory
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_details.dart
Labels: cla: yes, p: in_app_purchase

#3836 Prep the flutter_plugin_tools for publishing
  script/tool/CHANGELOG.md
  script/tool/LICENSE
  script/tool/README.md
  script/tool/pubspec.yaml
Labels: cla: yes

#3832 [in_app_purchase] Federated iOS implementation
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/LICENSE
  packages/in_app_purchase/in_app_purchase_ios/README.md
  packages/in_app_purchase/in_app_purchase_ios/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_ios/build.yaml
  packages/in_app_purchase/in_app_purchase_ios/ios/Assets/.gitkeep
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/InAppPurchasePluginTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/PaymentQueueTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/ProductRequestHandlerTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Tests/TranslatorTest.m
  packages/in_app_purchase/in_app_purchase_ios/ios/in_app_purchase.podspec
  packages/in_app_purchase/in_app_purchase_ios/lib/in_app_purchase_ios.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/channel.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/README.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/store_kit_wrappers.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/fakes/fake_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#3837 switch from using 'tuneup' to analyze to 'dart analyze' [infra]
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: cla: yes

#3839 Re-add bin/ to flutter_plugin_tools
  script/tool/CHANGELOG.md
  script/tool/bin/flutter_plugin_tools.dart
  script/tool/pubspec.yaml
Labels: cla: yes

#3776 [tool] add `all` and `dry-run` flags to publish-plugin command
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes, waiting for tree to go green
