Repository flutter/plugins, pull requests merged in 2021-06, with the labels that each got.

#3991 [script/tool] Use 'dart pub' instead of deprecated 'pub'
  script/tool/lib/src/test_command.dart
  script/tool/test/test_command_test.dart
Labels: cla: yes

#3956 [image_picker] Change storage location for camera captures to internal cache on Android, to comply with new Google Play storage requirements.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/android/src/main/AndroidManifest.xml
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker/android/src/main/res/xml/flutter_image_picker_file_paths.xml
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-android, waiting for tree to go green

#3987 [url_launcher] Add iOS unit and UI tests
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/ios/Podfile
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/url_launcher/url_launcher/example/ios/RunnerTests/Info.plist
  packages/url_launcher/url_launcher/example/ios/RunnerTests/URLLauncherTests.m
  packages/url_launcher/url_launcher/example/ios/RunnerUITests/Info.plist
  packages/url_launcher/url_launcher/example/ios/RunnerUITests/URLLauncherUITests.m
Labels: cla: yes, p: url_launcher, platform-ios, waiting for tree to go green

#3964 [multiple_web] Adapt web PlatformView widgets to work slotted.
  .cirrus.yml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/README.md
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/lib/main.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/example/run_test.sh
  packages/video_player/video_player_web/example/test_driver/integration_test.dart
  packages/video_player/video_player_web/example/web/index.html
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/README.md
  packages/video_player/video_player_web/test/tests_exist_elsewhere_test.dart
Labels: cla: yes, p: google_maps_flutter, p: url_launcher, p: video_player, platform-web, waiting for tree to go green

#3985 [video_player_web] fix: set autoplay to false during initialization
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/lib/video_player_web.dart
Labels: cla: yes, p: video_player, platform-web, waiting for tree to go green

#3957 [in_app_purchase] fix "autoConsume" param in "buyConsumable"
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_test.dart
Labels: cla: yes, last mile, p: in_app_purchase, waiting for tree to go green

#3995 [webview_flutter] Add iOS integration tests
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/ios/Podfile
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerUITests.xcscheme
  packages/webview_flutter/example/ios/RunnerTests/Info.plist
  packages/webview_flutter/example/ios/RunnerUITests/FLTWebViewUITests.m
Labels: cla: yes, p: webview_flutter, platform-ios, waiting for tree to go green

#3996 [google_sign_in] Add iOS unit and UI tests
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_sign_in/google_sign_in/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in/example/ios/RunnerTests/Info.plist
  packages/google_sign_in/google_sign_in/example/ios/RunnerUITests/GoogleSignInUITests.m
  packages/google_sign_in/google_sign_in/example/ios/RunnerUITests/Info.plist
Labels: cla: yes, p: google_sign_in, platform-ios, waiting for tree to go green

#3992 [camera] Prevent crash when setting unsupported FocusMode
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Podfile
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/UnitTests/CameraFocusTests.m
  packages/camera/camera/example/ios/UnitTests/Info.plist
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-ios

#4001 [image_picker] Removed redundant request for camera permission
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-android

#3999 Some small documentation fixes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  script/tool/README.md
Labels: cla: yes

#4000 [url_launcher] Fix breaking change version conflict
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher, waiting for tree to go green

#3998 [path_provider] Add iOS unit tests
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/ios/Podfile
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/path_provider/path_provider/example/ios/RunnerTests/Info.plist
  packages/path_provider/path_provider/example/ios/RunnerTests/PathProviderTests.m
Labels: cla: yes, p: path_provider, platform-ios, waiting for tree to go green

#3997 [ios_platform_images] Add iOS unit tests
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Podfile
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/ios_platform_images/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/ios_platform_images/example/ios/RunnerTests/Info.plist
  packages/ios_platform_images/example/ios/RunnerTests/IosPlatformImagesTests.m
  packages/ios_platform_images/example/lib/main.dart
Labels: cla: yes, p: ios_platform_images, platform-ios

#3950 [in_app_purchase_ios] Add Restore purchases button to example
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-ios

#4003 [quick_actions] Optimised UI test to prevent flaky CI failures
  packages/quick_actions/quick_actions/example/ios/RunnerUITests/RunnerUITests.m
Labels: cla: yes, p: quick_actions, platform-ios

#4004 Check in regenerated C++ example registrants
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider/example/windows/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider/example/windows/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugin_registrant.h
Labels: cla: yes, p: path_provider, p: shared_preferences, p: url_launcher, platform-linux, platform-windows, waiting for tree to go green

#3945 [in_app_purchase] Add "Restore purchases" button to example App
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#4005 Standardize XCTest locations and harnesses
  packages/camera/camera/example/ios/Podfile
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/camera/camera/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPluginTests.m
  packages/camera/camera/example/ios/RunnerTests/Info.plist
  packages/camera/camera/ios/camera.podspec
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in/ios/Tests/GoogleSignInPluginTest.m
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/image_picker/image_picker/example/ios/Podfile
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerTestImages.h
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerTestImages.m
  packages/image_picker/image_picker/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/Info.plist
  packages/image_picker/image_picker/example/ios/RunnerTests/MetaDataUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/ios/image_picker.podspec
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Info.plist
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/ProductRequestHandlerTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_ios/ios/in_app_purchase_ios.podspec
  packages/local_auth/example/ios/Podfile
  packages/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/example/ios/RunnerTests/Info.plist
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/ios/webview_flutter.podspec
Labels: cla: yes, p: camera, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: webview_flutter, platform-ios

#3988 [in_app_purchase] Fix Restore previous purchases link
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#4011 [shared_preferences] Add iOS unit tests
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/example/ios/RunnerTests/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/RunnerTests/SharedPreferencesTests.m
Labels: cla: yes, p: shared_preferences, platform-ios, waiting for tree to go green

#4010 [camera] Do not trigger flat device orientation on iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPluginTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-ios

#4008 [in_app_purchase] Explanation for casting details to implementations
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#4012 Remove "unnecessary" imports.
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4015 Enable linting of macOS podspecs
  .cirrus.yml
  packages/connectivity/connectivity/macos/connectivity.podspec
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/macos/connectivity_macos.podspec
  packages/package_info/macos/package_info.podspec
  packages/path_provider/path_provider/macos/path_provider.podspec
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/macos/path_provider_macos.podspec
  packages/shared_preferences/shared_preferences/macos/shared_preferences.podspec
  packages/url_launcher/url_launcher/macos/url_launcher.podspec
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/test/lint_podspecs_command_test.dart
Labels: cla: yes, p: connectivity, p: package_info, p: path_provider, p: shared_preferences, p: url_launcher, platform-macos

#4014 [flutter_plugin_tools] Simplify filesystem usage
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4018 [flutter_plugin_tools] Remove global state from tests
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4022 [flutter_plugin_tools] Remove xctest's --skip
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/xctest_command.dart
  script/tool/pubspec.yaml
  script/tool/test/xctest_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4024 [flutter_plugin_tools] Migrate xctest command to NNBD
  script/tool/lib/src/xctest_command.dart
  script/tool/test/mocks.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4027 [in_app_purchase] Avoid nullable Future.value
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios

#4023 Ignore upcoming unnecessary_imports analysis
  analysis_options.yaml
Labels: cla: yes, waiting for tree to go green

#4019 [image_picker] Fix rotation when camera is a source
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios

#4021 [image_picker] Reverted removal of camera permission request.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-android, waiting for tree to go green

#4020 [in_app_purchase] Added userIds to google play purchase
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#4029 [video_player] Remove pre-stable warning from README
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player

#4033 Link to this repo's guide in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#4009 Separate out the deprecated plugins in README.md
  CONTRIBUTING.md
  README.md
Labels: cla: yes

#4043 Enable macOS XCTest support
  .cirrus.yml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/example/macos/Podfile
  packages/path_provider/path_provider_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider_macos/example/macos/RunnerTests/Info.plist
  packages/path_provider/path_provider_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/macos/Podfile
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences_macos/example/macos/RunnerTests/Info.plist
  packages/shared_preferences/shared_preferences_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/Podfile
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/Info.plist
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/RunnerTests.swift
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/common_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes, p: path_provider, p: shared_preferences, p: url_launcher, platform-macos

#4040 Standardize example bundle ID domain
  packages/battery/battery/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity/connectivity/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity/connectivity/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/connectivity/connectivity_macos/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/device_info/device_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/integration_test/package_info_test.dart
  packages/package_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider/example/linux/CMakeLists.txt
  packages/path_provider/path_provider/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/path_provider/path_provider/example/windows/runner/Runner.rc
  packages/path_provider/path_provider_linux/example/linux/CMakeLists.txt
  packages/path_provider/path_provider_macos/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/linux/CMakeLists.txt
  packages/shared_preferences/shared_preferences/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/shared_preferences/shared_preferences/example/windows/runner/Runner.rc
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/url_launcher/url_launcher/example/windows/runner/Runner.rc
  packages/url_launcher/url_launcher_macos/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/video_player/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, p: battery, p: camera, p: connectivity, p: device_info, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-ios, platform-linux, platform-macos, platform-windows

#4037 [flutter_plugin_tools] Migrate publish and version checks to NNBD
  script/tool/lib/src/common.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/version_check_test.dart
Labels: cla: yes

#4048 [flutter_plugin_tools] Complete migration to NNBD
  script/tool/CHANGELOG.md
  script/tool/bin/flutter_plugin_tools.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4035 [in_app_purchase] Only register transactionObservers when someone is listening to purchaseUpdates
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/fakes/fake_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios

#4053 Fetch from origin before trying to switch channels
  .cirrus.yml
Labels: cla: yes

#4058 Ensure Java 8
  .ci/java8.Dockerfile
  .cirrus.yml
Labels: cla: yes

#3817 [url_launcher] Add a workaround for Uri encoding
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#4057 [flutter_plugin_tools] Split common.dart
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/common/process_runner.dart
  script/tool/lib/src/common/pub_version_finder.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/plugin_command_test.mocks.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/common/pub_version_finder_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4017 Support Hybrid Composition on Android
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#4060 Pin base image used in CI Dockerfile
  .ci/Dockerfile
  .cirrus.yml
Labels: cla: yes

#4038 [image_picker] Migrate README example to null-safety
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, waiting for tree to go green

#4051 [in_app_purchase_platform_interface] Fixed restoring purchases link
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_status.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#4062 [integration_test] Update README installation instructions
  packages/integration_test/README.md
Labels: cla: yes, p: integration_test, waiting for tree to go green

#4064 [flutter_plugin_tool] Refactor createFakePlugin
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4066 [flutter_plugin_tools] Simplify extraFiles in test utils
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4065 Update tool commands
  .cirrus.yml
  script/tool/README.md
Labels: cla: yes

#4063 [in_app_purchase] Added BillingClient.isFeatureSupported
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android

#4069 [image_picker] remove unused imports from example
  packages/image_picker/image_picker/example/lib/main.dart
Labels: cla: yes, p: image_picker, waiting for tree to go green

#4055 [in_app_purchase_android] add payment proxy
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#4071 [in_app_purchase_android] fix version for 'add payment proxy': pull/4055
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-android

#4076 Update cirrus gcp credentials
  .cirrus.yml
Labels: cla: yes

#4079 [in_app_purchase] update gradle tool to 4.1.0
  packages/in_app_purchase/in_app_purchase/example/android/build.gradle
  packages/in_app_purchase/in_app_purchase/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes, p: in_app_purchase, platform-android

#3783 [image_picker] Multiple image support
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
Labels: cla: yes, p: image_picker, platform-android, platform-ios, waiting for tree to go green

#3799 [camera] android-rework part 5: Android FPS range, resolution and sensor orientation features
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionPreset.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManager.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/SensorOrientationFeature.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeaturePixel4aTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManagerTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/SensorOrientationFeatureTest.java
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#4052 [camera] android-rework part 7: Android noise reduction feature
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/flash/FlashMode.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionMode.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeatureTest.java
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#4074 Add a link to the new wiki page about plugin and package PRs
  CONTRIBUTING.md
Labels: cla: yes

#4067 [flutter_plugin_tools] Add a new base command for looping over packages
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4061 [ci] Add release github action
  .github/workflows/release.yml
Labels: cla: yes, waiting for tree to go green

#4075 Add link to the version update entry
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#4077 [in_app_purchase] billingClient launchPriceChangeConfirmationFlow
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#4049 [in_app_purchase] Update readme.md
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, last mile, p: in_app_purchase, waiting for tree to go green

#4050 [in_app_purchase_android] Fixed typo in `LOAD_SKU_DOC_URL` and in the log message in `onBillingSetupFinished`
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: cla: yes, last mile, p: in_app_purchase, platform-android, waiting for tree to go green

#4086 [ci] increase auto publish job wait interval to 3 mins.
  .github/workflows/release.yml
Labels: cla: yes

#4091 [ci] Set release action owner as flutter
  .github/workflows/release.yml
Labels: cla: yes, waiting for tree to go green

#4098 Disable the "needs publishing" auto-labeler
  .github/workflows/pull_request_label.yml
Labels: cla: yes, waiting for tree to go green

#4100 [webview_flutter] Suppress iOS 9 deprecation warnings
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios

#4068 [flutter_plugin_tools] `publish-plugin` check against pub to determine if a release should happen
  script/tool/CHANGELOG.md
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes

#4089 [image_picker] Updated pickImage and pickVideo docs to expose the possible errors that can be thrown
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, waiting for tree to go green

#4090 Update .ci.yaml documentation link
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#4088 [url_launcher] Fix test button check for iOS 15
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/ios/RunnerUITests/URLLauncherUITests.m
Labels: cla: yes, p: url_launcher, platform-ios, waiting for tree to go green

#4101 Build all iOS example apps on current Flutter stable
  packages/battery/battery/example/ios/Runner.xcodeproj/project.pbxproj
  packages/battery/battery/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/connectivity/connectivity/example/ios/Runner.xcodeproj/project.pbxproj
  packages/connectivity/connectivity/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/device_info/device_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/device_info/device_info/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/package_info/example/ios/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/sensors/example/ios/Runner.xcodeproj/project.pbxproj
  packages/sensors/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/share/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/wifi_info_flutter/wifi_info_flutter/example/ios/Runner.xcworkspace/contents.xcworkspacedata
Labels: cla: yes, p: battery, p: connectivity, p: device_info, p: package_info, p: sensors, p: share, p: wifi_info_flutter, platform-ios, waiting for tree to go green

#4102 Add release status badge to README
  README.md
Labels: cla: yes

#4084 [flutter_plugin_tools] Migrate analyze to new base command
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: cla: yes

#4104 Don't install cocoapods during CI runs
  .cirrus.yml
Labels: cla: yes

#4106 [flutter_plugin_tools] Migrate podspec to new base command
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/test/lint_podspecs_command_test.dart
Labels: cla: yes

#4109 [flutter_plugin_tools] release 0.3.0
  script/tool/CHANGELOG.md
  script/tool/pubspec.yaml
Labels: cla: yes

#4085 [in_app_purchase] Add support for SKPaymentQueueDelegate and showPriceConsentIfNeeded
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/FIAPPaymentQueueDeleteTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/lib/example_payment_queue_delegate.dart
  packages/in_app_purchase/in_app_purchase_ios/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/channel.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_delegate_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_storefront_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/store_kit_wrappers.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4110 [flutter_plugin_tools] ignore flutter_plugin_tools when publishing
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4105 [flutter_plugin_tools] Migrate java-test to new base command
  script/tool/lib/src/java_test_command.dart
  script/tool/test/java_test_command_test.dart
Labels: cla: yes

#4112 Split some Cirrus script steps
  .cirrus.yml
Labels: cla: yes

#4111 [flutter_plugin_tools] Restructure version-check
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes

#4103 [image_picker]Update example app
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, waiting for tree to go green

#4108 Add Basic Junit Tests to some plugins
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/google_sign_in/google_sign_in/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/local_auth/android/build.gradle
  packages/local_auth/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/shared_preferences/shared_preferences/android/build.gradle
  packages/shared_preferences/shared_preferences/android/src/test/java/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.java
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/webview_flutter/android/build.gradle
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
Labels: cla: yes, p: google_sign_in, p: local_auth, p: shared_preferences, p: video_player, p: webview_flutter, platform-android

#4096 [in_app_purchase] Fix app exceptions caused by missing App Store receipt
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/in_app_purchase_ios_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4117 [image_picker] Fixed IOException when cache directory is removed
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/example/android/app/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-android, waiting for tree to go green

#4006 [url_launcher] Amend example's manifest and docs
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/example/android/build.gradle
  packages/url_launcher/url_launcher/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, last mile, p: url_launcher, platform-android

#4107 [flutter_plugin_tools] Move license-check tests to runCapturingPrint
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4087 [flutter_plugin_tools] Migrate build-examples to new base command
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/test/build_examples_command_test.dart
Labels: cla: yes

#4116 [flutter_plugin_tools] Migrate firebase-test-lab to new base command
  script/tool/CHANGELOG.md
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: cla: yes

#4099 [flutter_plugin_tools] Overhaul drive-examples
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: cla: yes, waiting for tree to go green
