Repository flutter/plugins, pull requests merged in 2021-08, with the labels that each got.

#4214 [google_maps_flutter] Temporarily disable googleMapsPluginIsAdded
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemapsexample/GoogleMapsTest.java
Labels: cla: yes, p: google_maps_flutter, platform-android

#4208 [google_sign_in] Mark iOS arm64 simulators as unsupported
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, p: google_sign_in, platform-ios, waiting for tree to go green

#4209 [google_maps_flutter] Mark iOS arm64 simulators as unsupported
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-ios, waiting for tree to go green

#4215 [image_picker] Check for failure in iOS metadata updates
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/MetaDataUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios, waiting for tree to go green

#4205 [flutter_plugin_tools] Track and log exclusions
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
Labels: cla: yes

#4213 Don't use 'flutter upgrade' on Cirrus
  .cirrus.yml
Labels: cla: yes

#4220 [image_picker] Fix README example
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker

#4217 [camera_web] Add `onCameraResolutionChanged` implementation
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4219 [camera_web] Add support for device orientation
  packages/camera/camera_web/example/integration_test/camera_settings_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera_settings.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/lib/src/types/orientation_type.dart
  packages/camera/camera_web/lib/src/types/types.dart
  packages/camera/camera_web/test/types/camera_error_code_test.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4222 [camera_web] Add support for a flash mode
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/test/types/camera_error_code_test.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4121 Add `buildViewWithTextDirection` to platform interface
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter

#3194 [image_picker] fix camera on Android 11
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker, platform-android, last mile

#3078 [webview_flutter] Only call onWebResourceError for main frame
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android, last mile

#4224 [camera_web] Add support for a zoom level
  packages/camera/camera_web/example/integration_test/camera_settings_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_settings.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/lib/src/types/types.dart
  packages/camera/camera_web/lib/src/types/zoom_level_capability.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_web/test/helpers/mocks.dart
  packages/camera/camera_web/test/types/camera_error_code_test.dart
  packages/camera/camera_web/test/types/zoom_level_capability_test.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4223 [ci.yaml] Auto-generate LUCI configs
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#4225 [camera_web] Rename `CameraSettings` to `CameraService`
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_metadata_test.dart
  packages/camera/camera_web/example/integration_test/camera_options_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_exception_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/integration_test/zoom_level_capability_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_web/test/helpers/helpers.dart
  packages/camera/camera_web/test/helpers/mocks.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4226 [camera_web] Don't request full-screen mode in `unlockCaptureOrientation`
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4227 [camera_web] Add `setFlashMode` comments
  packages/camera/camera_web/lib/src/camera.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4230 [camera_web] Handle camera errors in `takePicture`
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4234 [camera_web] Fix `getCapabilities` not supported error thrown when selecting a camera on Firefox
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/camera/camera_web/lib/src/shims/dart_js_util.dart
Labels: cla: yes, p: camera, platform-web

#4235 [camera_web] Add missing `setFlashMode` test
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
Labels: cla: yes, p: camera, platform-web

#4237 [camera_web] Update the web plugin README
  packages/camera/camera_web/README.md
Labels: cla: yes, p: camera, platform-web

#4236 [camera] Fix a disposed `CameraController` error thrown when changing a camera
  packages/camera/camera/example/lib/main.dart
Labels: cla: yes, waiting for tree to go green, p: camera

#4239 [camera_web] Add support for pausing and resuming the camera preview
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
Labels: cla: yes, p: camera, platform-web

#4232 Eliminate build_all_plugins_app.sh
  .cirrus.yml
  script/build_all_plugins_app.sh
  script/common.sh
  script/configs/exclude_all_plugins_app.yaml
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool_runner.sh
Labels: cla: yes

#4241 [video_player] removed video player is not functional on ios simulators warning
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: video_player

#4231 Move test packages from `dependencies` to `dev_dependencies`
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, p: video_player, platform-ios, platform-android

#4245 Add unit tests to `quick_actions` plugin
  packages/quick_actions/quick_actions/android/build.gradle
  packages/quick_actions/quick_actions/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
Labels: cla: yes, waiting for tree to go green, p: quick_actions, platform-android

#4246 [flutter_plugin_tool] Don't allow NEXT on version bumps
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes

#4204 [quick_actions] Android support only calling initialize once
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions/lib/quick_actions.dart
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/lib/platform_interface/quick_actions_platform.dart
Labels: cla: yes, p: quick_actions, platform-android

#4188 [flutter_plugin_tools] Add Android native UI test support
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/DartIntegrationTest.java
  packages/android_alarm_manager/example/android/app/src/androidTest/java/io/plugins/androidalarmmanager/MainActivityTest.java
  packages/android_intent/example/android/app/src/androidTestDebug/java/io/flutter/plugins/DartIntegrationTest.java
  packages/android_intent/example/android/app/src/androidTestDebug/java/io/flutter/plugins/androidintentexample/MainActivityTest.java
  packages/battery/battery/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/battery/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/FlutterActivityTest.java
  packages/camera/camera/example/android/app/src/androidTestDebug/java/io/flutter/plugins/DartIntegrationTest.java
  packages/camera/camera/example/android/app/src/androidTestDebug/java/io/flutter/plugins/cameraexample/FlutterActivityTest.java
  packages/connectivity/connectivity/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/connectivity/connectivity/example/android/app/src/main/java/io/flutter/plugins/connectivityexample/FlutterActivityTest.java
  packages/flutter_plugin_android_lifecycle/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/flutter_plugin_android_lifecycle/example/android/app/src/androidTest/java/io/flutter/plugins/flutter_plugin_android_lifecycle/MainActivityTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemapsexample/MainActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/androidTest/java/io/flutter/plugins/googlesigninexample/FlutterActivityTest.java
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/FlutterActivityTest.java
  packages/in_app_purchase/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/FlutterActivityTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/java/io/flutter/plugins/inapppurchaseexample/FlutterActivityTest.java
  packages/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/localauth/FlutterFragmentActivityTest.java
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/packageinfoexample/MainActivityTest.java
  packages/path_provider/path_provider/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/path_provider/path_provider/example/android/app/src/androidTest/java/io/flutter/plugins/pathprovider/MainActivityTest.java
  packages/quick_actions/quick_actions/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/quick_actions/quick_actions/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/FlutterActivityTest.java
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/sensors/example/android/app/src/main/java/io/flutter/plugins/sensorsexample/FlutterActivityTest.java
  packages/share/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/share/example/android/app/src/main/java/io/flutter/plugins/shareexample/FlutterActivityTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/DartIntegrationTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTestDebug/java/io/flutter/plugins/urllauncherexample/MainActivityTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  script/tool/CHANGELOG.md
  script/tool/lib/src/native_test_command.dart
  script/tool/pubspec.yaml
  script/tool/test/native_test_command_test.dart
Labels: cla: yes, p: battery, p: webview_flutter, p: android_alarm_manager, p: android_intent, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: share, p: url_launcher, p: package_info, p: sensors, p: quick_actions, p: connectivity, platform-android, p: flutter_plugin_android_lifecycle

#4156 [url_launcher] Add native unit tests for Windows
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/example/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/example/windows/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/windows/include/url_launcher_windows/url_launcher_windows.h
  packages/url_launcher/url_launcher_windows/windows/system_apis.cpp
  packages/url_launcher/url_launcher_windows/windows/system_apis.h
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.h
  packages/url_launcher/url_launcher_windows/windows/url_launcher_windows.cpp
Labels: cla: yes, p: url_launcher, platform-windows

#4162 [in_app_purchase] Add toString() to IAPError
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/errors/errors.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/errors/in_app_purchase_error.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details_response.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/purchase_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/test/src/errors/in_app_purchase_error_test.dart
Labels: cla: yes, p: in_app_purchase, last mile

#4123 [image_picker] Platform interface update cache
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: cla: yes, waiting for tree to go green, p: image_picker

#3895 [shared_preferences] Fix possible clash of string with double entry
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: shared_preferences, platform-android

#4242 Fix and test for 'implements' pubspec entry
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/pubspec.yaml
  packages/connectivity/connectivity_for_web/CHANGELOG.md
  packages/connectivity/connectivity_for_web/pubspec.yaml
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: cla: yes, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: url_launcher, p: video_player, p: shared_preferences, p: connectivity, platform-ios, platform-android, platform-macos, platform-web

#4244 [flutter_plugin_tools] Improve 'repository' check
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/pubspec.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: cla: yes, p: in_app_purchase, p: quick_actions, p: ios_platform_images

#4228 [image_picker] Fix pickImage not returning on iOS when dismissing the PHPicker view by swiping down.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker, platform-ios

#4059 [camera] android-rework part 9: Final implementation of camera class
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraRegionUtils.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraRegions.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DeviceOrientationManager.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/PictureCaptureRequest.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactory.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactoryImpl.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatures.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/focuspoint/FocusPointFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeature.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManager.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraPropertiesImplTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraRegionUtils_convertPointToMeteringRectangleTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraRegionUtils_getCameraBoundariesTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraUtilsTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraZoomTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/ImageSaverTests.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/PictureCaptureRequestTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/autofocus/AutoFocusFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/autofocus/FocusModeTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/exposurelock/ExposureLockFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/exposurelock/ExposureModeTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/exposureoffset/ExposureOffsetFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/flash/FlashFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/focuspoint/FocusPointFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeaturePixel4aTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManagerTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/SensorOrientationFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeatureTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtilsTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/media/MediaRecorderBuilderTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/types/ExposureModeTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/types/FlashModeTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/types/FocusModeTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/utils/TestUtils.java
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera_platform_interface/lib/src/events/device_event.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
Labels: cla: yes, p: camera, platform-android

#4254 [flutter_plugin_tools] Improve process mocking
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/gradle_test.dart
  script/tool/test/common/xcode_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: cla: yes

#4252 [flutter_plugin_tools] Introduce a class for packages
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/common/pub_version_finder.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/common/pub_version_finder_test.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#4260 [flutter_plugin_tool] Migrate publish_plugin_command_test to runCapturingPrint
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes

#4256 [camera] Expand CameraImage DTO with properties for lens aperture, exposure time and ISO.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraCaptureCallback.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/CameraCaptureProperties.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraCaptureCallbackStatesTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraCaptureCallbackTest.java
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_test.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-ios, platform-android

#4285 [flutter_plugin_tools] Switch 'publish' from --package to --packages
  script/tool/CHANGELOG.md
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes

#4289 Reland "[ci] update wait-on-check version and set verbose to false"
  .github/workflows/release.yml
Labels: cla: yes

#4281 [camera_web] Do not flip the video on the back camera
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, p: camera, platform-web

#4276 [flutter_plugin_tool] Add support for running Windows unit tests
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/file_utils.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/common/file_utils_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#4268 [flutter_plugin_tool] Move branch-switching logic from tool_runner.sh to tool
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/plugin_command_test.dart
  script/tool_runner.sh
Labels: cla: yes

#4290 [flutter_plugin_tool] Migrate 'publish' to new base command
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes
