Repository flutter/plugins, pull requests merged in 2021-12, with the labels that each got.

#4097 [in_app_purchase]Update the version number and CHANGELOG
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase

#4555 [webview_flutter] Add supporting interfaces for setting cookies to platform interface.
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_cookie.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/platform_interface/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/webview_cookie_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4566 [webview_flutter] Revert deprecation of clearCookies
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: webview_flutter, needs tests

#4567 [webview_flutter] Add a backgroundColor option to the webview platform interface
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, p: webview_flutter

#4562 [webview_flutter] Adds the `loadFlutterAsset` method to the interface.
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4547 [path_provider] Switch macOS to an internal method channel
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/lib/path_provider_macos.dart
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.dart
Labels: cla: yes, p: path_provider, platform-macos

#4570 [webview_flutter] Add a backgroundColor option to the iOS webview
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerUITests/FLTWebViewUITests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, p: webview_flutter, platform-ios

#4575 [flutter_plugin_tools] Add a new 'make-deps-path-based' command
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes

#4569 [webview_flutter] Add a backgroundColor option to the Android webview
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/BackgroundColorTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/debug/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/DriverExtensionActivity.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: cla: yes, p: webview_flutter, platform-android

#4558 [webview_flutter] Expose loadFile and loadHtmlString through app facing package.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4581 [webview_flutter] Android implementation of `loadFlutterAsset` method.
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterAssetManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/PluginBindingFlutterAssetManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/RegistrarFlutterAssetManagerTest.java
  packages/webview_flutter/webview_flutter_android/example/assets/www/index.html
  packages/webview_flutter/webview_flutter_android/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#3431 [webview_flutter] Add an option to set the background color of the webview
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4577 [flutter_plugin_tools] Improve package targeting
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/common/plugin_command_test.dart
Labels: cla: yes

#4563 [webview_flutter] Implement loadRequest in Android package.
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4573 [webview_flutter] Add loadRequest functionality to app facing package.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: cla: yes, p: webview_flutter

#4557 [webview_flutter] Add Android implementations for new cookie manager, to allow setting cookies directly and on webview creation.
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/utils/TestUtils.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4556 [webview_flutter] Add iOS implementations for new cookie manager, to allow setting cookies directly and on webview creation.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTCookieManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/wkwebview_cookie_manager_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4582 [webview_flutter] WKWebView implementation of loadFlutterAsset method.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/assets/www/index.html
  packages/webview_flutter/webview_flutter_wkwebview/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4561 [webview_flutter] Add setCookie to CookieManager and support initial cookies in creation params.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4593 [webview_flutter] Implements the loadFlutterAsset in the app facing package.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/assets/www/index.html
  packages/webview_flutter/webview_flutter/example/assets/www/styles/style.css
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: waiting for tree to go green, p: webview_flutter

#4594 [webview_flutter] Proof of concept web implementation
  packages/webview_flutter/webview_flutter_web/AUTHORS
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/LICENSE
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/example/.metadata
  packages/webview_flutter/webview_flutter_web/example/README.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/lib/main.dart
  packages/webview_flutter/webview_flutter_web/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/test_driver/integration_test.dart
  packages/webview_flutter/webview_flutter_web/example/web/favicon.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-192.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-512.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-maskable-192.png
  packages/webview_flutter/webview_flutter_web/example/web/icons/Icon-maskable-512.png
  packages/webview_flutter/webview_flutter_web/example/web/index.html
  packages/webview_flutter/webview_flutter_web/example/web/manifest.json
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui.dart
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui_fake.dart
  packages/webview_flutter/webview_flutter_web/lib/shims/dart_ui_real.dart
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: p: webview_flutter, platform-web

#4576 [webview_flutter] Default Android to hybrid composition
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter

#4540 [path_provider] Remove platform registration
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, p: path_provider, needs tests

#4596 [shared_preferences] Remove platform registration
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: waiting for tree to go green, p: shared_preferences, needs tests

#4602 Match repo state to ignored files list
  .gitignore
  packages/camera/camera/camera_android.iml
  packages/camera/camera/example/android.iml
  packages/camera/camera/example/camera_example.iml
  packages/camera/camera/example/camera_example_android.iml
  packages/google_maps_flutter/google_maps_flutter/example/android.iml
  packages/google_maps_flutter/google_maps_flutter/example/google_maps_flutter_example.iml
  packages/google_maps_flutter/google_maps_flutter/example/google_maps_flutter_example_android.iml
  packages/google_maps_flutter/google_maps_flutter/google_mobile_maps.iml
  packages/google_maps_flutter/google_maps_flutter/google_mobile_maps_android.iml
  packages/google_sign_in/google_sign_in/example/android.iml
  packages/google_sign_in/google_sign_in/example/example.iml
  packages/google_sign_in/google_sign_in/example/google_sign_in_example.iml
  packages/image_picker/image_picker/example/android.iml
  packages/image_picker/image_picker/example/image_picker_example.iml
  packages/local_auth/example/android.iml
  packages/local_auth/example/local_auth_example.iml
  packages/local_auth/example/local_auth_example_android.iml
  packages/local_auth/local_auth_android.iml
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/path_provider/path_provider/example/windows/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider/example/windows/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/shared_preferences/shared_preferences_macos/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher/example/linux/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/url_launcher/url_launcher/example/url_launcher_example.iml
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher/example/windows/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugin_registrant.h
  packages/url_launcher/url_launcher_macos/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugin_registrant.cc
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugin_registrant.h
  packages/video_player/video_player/example/android.iml
  packages/video_player/video_player/example/video_player_example.iml
  packages/video_player/video_player/example/video_player_example_android.iml
  packages/video_player/video_player/video_player_android.iml
Labels: p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, platform-windows, platform-macos, platform-linux, needs tests

#4600 [webview_flutter] Change import of FLTCookieManager.h to relative import
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, platform-ios, needs tests

#4603 Move custom analysis options into sub-packages
  packages/camera/analysis_options.yaml
  packages/camera/camera/analysis_options.yaml
  packages/camera/camera_platform_interface/analysis_options.yaml
  packages/camera/camera_web/analysis_options.yaml
  packages/camera/camera_web/pubspec.yaml
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in_platform_interface/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/analysis_options.yaml
  packages/image_picker/image_picker/analysis_options.yaml
  packages/image_picker/image_picker_for_web/analysis_options.yaml
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/analysis_options.yaml
  packages/video_player/analysis_options.yaml
  packages/video_player/video_player/analysis_options.yaml
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: video_player, platform-web, needs tests

#4560 [in_app_purchase] Fix upgrading subscription by deferred proration mode on android.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4411 [shared_preferences] Fix example in readme for mocking values
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: shared_preferences, last mile

#4598 Add missing return for nullably typed function
  script/tool/lib/src/pubspec_check_command.dart
Labels: waiting for tree to go green, needs tests

#4597 [in_app-purchase] Updated the ReadMe to remove the deprecated `InAppPurchaseAndroidPlatformAddition.enablePendingPurchases ` method
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase, last mile

#4606 [path_provider] Fix handling of null application ID
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/lib/src/get_application_id_real.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/get_application_id_test.dart
Labels: p: path_provider, platform-linux

#4607 [tools] fix typo in tools
  script/tool/lib/src/lint_android_command.dart
Labels: waiting for tree to go green

#4604 [local_auth] Switch to new analysis options
  packages/local_auth/CHANGELOG.md
  packages/local_auth/analysis_options.yaml
  packages/local_auth/example/lib/main.dart
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/lib/local_auth.dart
  packages/local_auth/pubspec.yaml
  packages/local_auth/test/local_auth_test.dart
  script/configs/custom_analysis.yaml
Labels: p: local_auth

#4611 [video_player] Fix a flaky test
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
Labels: p: video_player

#4588 [video_player] Eliminate platform channel from mock platform
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: waiting for tree to go green, p: video_player

#4618 Prevent setting user agent string to default value on every rebuild
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: p: webview_flutter, platform-android

#4601 [webview_flutter] Enable setAllowFileAccess on Android setting when loading files
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-android

#4589 [video_player] Remove test code from platform interface
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/video_player/video_player_platform_interface/test/test.dart
Labels: p: video_player

#4608 [camera]Fix crash due to calling engine APIs from background thread
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
Labels: p: camera, platform-ios

#4627 [video_player] Add 5.0 interface support
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/CONTRIBUTING.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web

#4630 Revert "[camera]Fix crash due to calling engine APIs from background thread"
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
Labels: waiting for tree to go green, p: camera, platform-ios

#2758 [video_player] Update texture on seekTo
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/Podfile
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.h
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-ios, last mile

#4617 [path_provider] Switch Android to an internal method channel
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

#4637 [path_provider] Fix Android compatibility with 2.5
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android
