Repository flutter/plugins, pull requests merged in 2021-07, with the labels that each got.

#4122 [in_app_purchase] Added country code to sk product wrapper
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4127 Exclude arm64 simulators from google_maps_flutter example project
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, p: google_maps_flutter, platform-ios

#4128 Exclude arm64 simulators from google_sign_in example project
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
Labels: cla: yes, p: google_sign_in, platform-ios

#4118 [flutter_plugin_tools] Add a summary for successful runs
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4120 [flutter_plugin_tools] Minor test cleanup
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/version_check_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4130 [flutter_plugin_tools] Remove most exitOnError:true usage
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes

#4119 [flutter_plugin_tools] Migrate publish-check to the new base command
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/publish_check_command_test.dart
Labels: cla: yes

#4113 [in_app_purchase] Initialize SKError with correct data type
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4132 [flutter_plugin_tool] Add more failure test coverage
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4134 [flutter_plugin_tools] Add --packages, and deprecated --plugins
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/list_command_test.dart
Labels: cla: yes

#4136 [url_launcher] Prepare plugin repo for binding API improvements.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: cla: yes, p: url_launcher, waiting for tree to go green

#4141 [video_player] Update to ExoPlayer 2.14.1
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-android

#4133 [flutter_plugin_tools] Migrate 'test' to new base command
  script/tool/lib/src/test_command.dart
  script/tool/test/test_command_test.dart
Labels: cla: yes

#3360 [video_player] Fixed HLS Streams on iOS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, platform-ios

#4142 [flutter_plugin_tools] Work around banner in drive-examples
  script/tool/CHANGELOG.md
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4137 [various] Prepare plugin repo for binding API improvements
  packages/battery/battery_platform_interface/test/method_channel_battery_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/connectivity/connectivity_platform_interface/test/method_channel_connectivity_test.dart
  packages/sensors/test/sensors_test.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, p: battery, p: camera, p: connectivity, p: sensors, p: video_player, p: webview_flutter, waiting for tree to go green

#4143 [plugin_platform_interface] Fix README broken link
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/pubspec.yaml
Labels: cla: yes, p: plugin_platform_interface, waiting for tree to go green

#4054 [camera] android-rework part 8: Supporting modules for final implementation
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraCaptureCallback.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraState.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/ImageSaver.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactory.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactoryImpl.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatures.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/CaptureTimeoutsWrapper.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/types/Timeout.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraCaptureCallbackStatesTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/ImageSaverTests.java
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#4092 [in_app_purchase] Add documentation for price change confirmations
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#4115 [in_app_purchase] Add currencySymbol to ProductDetails
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/types/product_details.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/test/src/types/product_details_test.dart
Labels: cla: yes, p: in_app_purchase, waiting for tree to go green

#3727 [video_player] Pause video when it completes
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, last mile, p: video_player, waiting for tree to go green

#4138 [in_app_purchase] Fix crash when retrieveReceiptWithError gives an error.
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4146 [flutter_plugin_tools] Only check target packages in analyze
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: cla: yes

#4145 [flutter_plugin_tools] Improve and test 'format'
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: cla: yes

#4072 [image_picker_platform_interface] Migrate image_picker to package:cross_file
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/image_picker_platform_interface.dart
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: cla: yes, p: image_picker

#4114 [in_app_purchase] Added priceCurrencySymbol to SkuDetailsWrapper
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_product_details.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#4144 [in_app_purchase] Add iOS currency symbol to ProductDetails
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/test/fakes/fake_ios_platform.dart
  packages/in_app_purchase/in_app_purchase_ios/test/in_app_purchase_ios_platform_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_ios/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4131 [quick_actions] Add const constructor
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/lib/quick_actions.dart
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions/test/quick_actions_test.dart
Labels: cla: yes, p: quick_actions, waiting for tree to go green

#4148 [various] Prepare plugin repo for binding API improvements
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, p: camera, p: video_player, waiting for tree to go green

#4083 [image_picker_for_web] Migrate image_picker to package:cross_file
  .cirrus.yml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/README.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/example/lib/main.dart
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/example/run_test.sh
  packages/image_picker/image_picker_for_web/example/test_driver/integration_test.dart
  packages/image_picker/image_picker_for_web/example/web/index.html
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/README.md
  packages/image_picker/image_picker_for_web/test/tests_exist_elsewhere_test.dart
Labels: cla: yes, p: image_picker, platform-web

#4149 [flutter_plugin_tools] Make unit tests pass on Windows
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/mocks.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4150 [flutter_plugin_tools] Support format on Windows
  script/tool/CHANGELOG.md
  script/tool/lib/src/format_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: cla: yes

#3266 [webview_flutter] Fix broken keyboard issue link
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter, waiting for tree to go green

#4154 [flutter_plugin_tools] Improve license-check output
  script/tool/CHANGELOG.md
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: cla: yes

#3898 [image_picker] Image picker fix camera device
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Podfile
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-ios, waiting for tree to go green

#4158 [camera] Fix coordinate rotation for setting focus- and exposure points on iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/RunnerTests/CameraExposureTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraUtilTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-ios, waiting for tree to go green

#4151 [camera] Introduce `camera_web` package
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/LICENSE
  packages/camera/camera_web/README.md
  packages/camera/camera_web/example/README.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/helpers.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/lib/main.dart
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_web/example/run_test.sh
  packages/camera/camera_web/example/test_driver/integration_test.dart
  packages/camera/camera_web/example/web/index.html
  packages/camera/camera_web/lib/camera_web.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_web/test/README.md
  packages/camera/camera_web/test/tests_exist_elsewhere_test.dart
Labels: cla: yes, p: camera, platform-web

#4163 [google_maps_flutter_web]: Update instructions to reflect current versions
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-web

#4164 [camera] Add `CameraOptions` used to constrain the camera audio and video
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/lib/src/types/camera_options.dart
  packages/camera/camera_web/lib/src/types/types.dart
  packages/camera/camera_web/test/more_tests_exist_elsewhere_test.dart
  packages/camera/camera_web/test/types/camera_options_test.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4167 [multiple_web] Update web plugin testing instructions.
  packages/connectivity/connectivity_for_web/example/README.md
  packages/file_selector/file_selector_web/example/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/README.md
  packages/google_sign_in/google_sign_in_web/example/README.md
  packages/url_launcher/url_launcher_web/example/README.md
  packages/video_player/video_player_web/example/README.md
Labels: cla: yes, p: connectivity, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: url_launcher, p: video_player, platform-web, waiting for tree to go green

#4157 [google_sign_in] Add iOS unit tests
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.modulemap
  packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in/ios/Classes/google_sign_in-umbrella.h
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, p: google_sign_in, platform-ios

#4166 [image_picker_for_web] Support multiple pick. Store name and other local file properties in XFile.
  packages/image_picker/image_picker_for_web/AUTHORS
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-web, waiting for tree to go green

#4171 [flutter_plugin_tools] Use -version with java
  script/tool/CHANGELOG.md
  script/tool/lib/src/format_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4161 [flutter_plugin_tests] Split analyze out of xctest
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/xcode.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/common/xcode_test.dart
  script/tool/test/xcode_analyze_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4172 [flutter_plugin_tools] Make firebase-test-lab fail when no tests run
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: cla: yes

#4175 [camera_web] Add `availableCameras` implementation
  packages/camera/camera_web/example/integration_test/camera_settings_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera_settings.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_metadata.dart
  packages/camera/camera_web/lib/src/types/media_device_kind.dart
  packages/camera/camera_web/lib/src/types/types.dart
  packages/camera/camera_web/test/types/camera_metadata_test.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4178 [webview_flutter] Refactored creation of Android WebView for testability.
  packages/webview_flutter/webview_flutter/android/build.gradle
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewFactory.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewBuilder.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewBuilderTest.java
Labels: cla: yes, p: webview_flutter, platform-android, waiting for tree to go green

#4176 [flutter_plugin_tools] Replace xctest and java-test with native-test
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/java_test_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xctest_command.dart
  script/tool/test/java_test_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/xctest_command_test.dart
Labels: cla: yes

#4183 [flutter_plugin_tools] Support YAML exception lists
  .cirrus.yml
  packages/e2e/analysis_options.yaml
  script/configs/README.md
  script/configs/custom_analysis.yaml
  script/configs/exclude_integration_android.yaml
  script/configs/exclude_integration_ios.yaml
  script/configs/exclude_integration_web.yaml
  script/configs/exclude_native_macos.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool_runner.sh
Labels: cla: yes

#4182 [camera_web] Add `createCamera` implementation
  packages/camera/camera_web/example/integration_test/camera_settings_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_settings.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_error_codes.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4189 Remove remaining V1 embedding references
  packages/battery/battery/CHANGELOG.md
  packages/battery/battery/example/android/app/src/androidTest/java/io/flutter/plugins/battery/EmbedderV1ActivityTest.java
  packages/battery/battery/example/android/app/src/main/AndroidManifest.xml
  packages/battery/battery/example/android/app/src/main/java/io/flutter/plugins/batteryexample/EmbedderV1Activity.java
  packages/package_info/example/android/app/src/androidTest/java/io/flutter/plugins/packageinfoexample/EmbedderV1ActivityTest.java
  packages/package_info/example/android/app/src/main/AndroidManifest.xml
  packages/package_info/example/android/app/src/main/java/io/flutter/plugins/packageinfoexample/EmbedderV1Activity.java
Labels: cla: yes, p: battery, p: package_info, platform-android

#4186 [camera_web] Add `initializeCamera` implementation
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4081 [video player]: update the url in the readme example
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player, waiting for tree to go green

#4184 Make java-test output more useful
  packages/android_alarm_manager/android/build.gradle
  packages/android_intent/android/build.gradle
  packages/battery/battery/android/build.gradle
  packages/camera/camera/android/build.gradle
  packages/connectivity/connectivity/android/build.gradle
  packages/device_info/device_info/android/build.gradle
  packages/espresso/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/image_picker/image_picker/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/android/build.gradle
  packages/package_info/android/build.gradle
  packages/path_provider/path_provider/android/build.gradle
  packages/quick_actions/quick_actions/android/build.gradle
  packages/sensors/android/build.gradle
  packages/share/android/build.gradle
  packages/shared_preferences/shared_preferences/android/build.gradle
  packages/url_launcher/url_launcher/android/build.gradle
  packages/video_player/video_player/android/build.gradle
  packages/webview_flutter/webview_flutter/android/build.gradle
  packages/wifi_info_flutter/wifi_info_flutter/android/build.gradle
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-android

#4147 Fix webview_flutter Android integration tests and add Espresso
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/WebViewTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/debug/AndroidManifest.xml
  packages/webview_flutter/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/WebViewTestActivity.java
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  script/configs/exclude_integration_android.yaml
Labels: cla: yes, p: webview_flutter, platform-android, waiting for tree to go green

#4193 Move unit tests to Android modules
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_sign_in/google_sign_in/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInPluginTests.java
  packages/image_picker/image_picker/android/build.gradle
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerCacheTest.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker/android/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/image_picker/image_picker/android/src/test/resources/pngImage.png
Labels: cla: yes, p: google_maps_flutter, p: google_sign_in, p: image_picker, platform-android

#4194 [flutter_plugin_tools] Test and comment Dart analysis
  .cirrus.yml
  script/configs/custom_analysis.yaml
  script/tool/test/analyze_command_test.dart
Labels: cla: yes

#4190 [camera_web] Add `buildPreview` implementation
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4195 Skip a flaky webview_flutter integration test and extend firebase testlab timeout
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: cla: yes, p: webview_flutter

#4199 wake lock permission
  packages/webview_flutter/webview_flutter/example/android/app/src/main/AndroidManifest.xml
Labels: cla: yes, p: webview_flutter, platform-android

#4185 [shared_preferences_web] Migrate tests to integration_test
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/README.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/example/lib/main.dart
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/example/run_test.sh
  packages/shared_preferences/shared_preferences_web/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_web/example/web/index.html
  packages/shared_preferences/shared_preferences_web/test/README.md
  packages/shared_preferences/shared_preferences_web/test/tests_exist_elsewhere_test.dart
  script/configs/exclude_integration_web.yaml
Labels: cla: yes, p: shared_preferences, platform-web, waiting for tree to go green

#4196 [camera_web] Add `takePicture` implementation
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4198 Remove pubspec.yaml examples from READMEs
  packages/e2e/README.md
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/README.md
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/README.md
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/README.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/README.md
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/README.md
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/README.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/README.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/README.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/README.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/README.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/README.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes, p: file_selector, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, p: shared_preferences, p: url_launcher, p: video_player, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows, waiting for tree to go green

#4191 [camera_platform_interface] Expand camera platform interface to support pausing the camera preview.
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: cla: yes, p: camera, waiting for tree to go green

#4197 [camera] Fix camera preview not always rebuilding on orientation change
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, waiting for tree to go green

#4187 [webview_flutter] Better documentation of Android Platform Views modes
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
Labels: cla: yes, p: webview_flutter, waiting for tree to go green

#4201 [in_app_purchase] Correct mistake with markdown in README.md
  packages/in_app_purchase/in_app_purchase_android/README.md
Labels: cla: yes, p: in_app_purchase, platform-android, waiting for tree to go green

#4202 Correct mistake with markdown in README.md
  packages/in_app_purchase/in_app_purchase_ios/README.md
Labels: cla: yes, p: in_app_purchase, platform-ios, waiting for tree to go green

#4203 [camera_web] Add `dispose` implementation
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, p: camera, platform-web, waiting for tree to go green

#4181 [image_picker] Move UI test
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerUITestiOS14/Info.plist
  packages/image_picker/image_picker/example/ios/RunnerUITests/ImagePickerFromLimitedGalleryUITests.m
Labels: cla: yes, p: image_picker, platform-ios, waiting for tree to go green

#4200 Adds test harnesses for integration tests on Android
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemapsexample/GoogleMapsTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemapsexample/MainActivityTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/debug/AndroidManifest.xml
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/debug/java/io/flutter/plugins/googlemapsexample/GoogleMapsTestActivity.java
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/src/androidTest/java/io/flutter/plugins/googlesigninexample/FlutterActivityTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/androidTest/java/io/flutter/plugins/googlesigninexample/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/debug/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/example/android/app/src/main/java/io/flutter/plugins/googlesigninexample/GoogleSignInTestActivity.java
  packages/google_sign_in/google_sign_in/example/android/app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/FlutterActivityTest.java
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerTest.java
  packages/image_picker/image_picker/example/android/app/src/debug/AndroidManifest.xml
  packages/image_picker/image_picker/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/ImagePickerTestActivity.java
  packages/image_picker/image_picker/example/integration_test/image_picker_test.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/quick_actions/quick_actions/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/FlutterActivityTest.java
  packages/quick_actions/quick_actions/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
  packages/quick_actions/quick_actions/example/android/app/src/debug/AndroidManifest.xml
  packages/quick_actions/quick_actions/example/android/app/src/main/java/io/flutter/plugins/quickactionsexample/QuickActionsTestActivity.java
  packages/quick_actions/quick_actions/example/pubspec.yaml
  script/configs/exclude_integration_android.yaml
Labels: cla: yes, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: quick_actions, platform-android, waiting for tree to go green
