Repository flutter/plugins, pull requests merged in 2021-02, with the labels that each got.

#3491 Remove Dart stubs from macOS plugins
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/lib/connectivity_macos.dart
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/lib/path_provider_macos.dart
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes, p: connectivity, p: path_provider

#3466 Migrate shared_preferences_platform_interfaces to null safety
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/method_channel_shared_preferences.dart
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/test/method_channel_shared_preferences_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, p: shared_preferences

#3487 Automatically add platform labels
  .github/labeler.yml
Labels: cla: yes

#3493 Add plugin issue query to README
  README.md
Labels: cla: yes, waiting for tree to go green

#3472 [camera] Fix example reference in camera's doc
  AUTHORS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera

#3496 [camera] Revert compileSdkVersion back to 29
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DeviceOrientationManager.java
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-android, waiting for tree to go green

#3495 Remove cyanglaz from CODEOWNER: google_sign_in, connectivity, package_info, video_player
  CODEOWNERS
Labels: cla: yes, waiting for tree to go green

#3502 Run pub global activate before pub global run
  .cirrus.yml
  script/build_all_plugins_app.sh
  script/check_publish.sh
  script/common.sh
  script/incremental_build.sh
Labels: cla: yes

#3506 Run activate before run
  script/check_publish.sh
Labels: cla: yes

#3498 [path_provider] Update macOS for NNBD
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/pubspec.yaml
Labels: cla: yes, nnbd, p: path_provider, platform-macos

#3330 [path_provider_linux] Migrate to null safety
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/lib/path_provider_linux.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
Labels: cla: yes, nnbd, p: path_provider, platform-linux

#3500 [google_maps_flutter_platform_interface ]fix version
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#3434 [google_maps_flutter] add tile overlays
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlayBuilder.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlayController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaySink.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaysController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/TileProviderController.java
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
Labels: cla: yes, p: google_maps_flutter, platform-android, platform-ios, waiting for tree to go green

#3501 Merge upcoming camera updates
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera

#3505 [shared_preferences] Update macOS for NNBD
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
Labels: cla: yes, nnbd, p: shared_preferences, platform-macos

#3438 Clean up CODEOWNERS
  CODEOWNERS
Labels: cla: yes

#3512 [google_maps_flutter] fix version
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, waiting for tree to go green

#3511 Add a note about Plus plugins to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#3494 [in_app_purchases] Remove TypeMatcher reference
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
Labels: cla: yes, p: in_app_purchase

#3515 Remove stray dependency
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: cla: yes, last mile, p: shared_preferences, platform-windows

#3492 [image_picker_platform_interface] migrate to nnbd
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/base.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/io.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/lost_data.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/picked_file_html_test.dart
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: image_picker, waiting for tree to go green

#3398 [package_info] Migrate to null safety
  packages/package_info/CHANGELOG.md
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
  packages/package_info/test/package_info_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: package_info

#3460 Migrate path_provider to null safety.
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
Labels: cla: yes, nnbd, p: path_provider

#3513 Update to ffi 0.3.0-nullsafety.1
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/windows/flutter/CMakeLists.txt
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, p: path_provider, platform-windows

#3234 [wifi_info_flutter] Check Permissions in Android O or higher
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutter.java
  packages/wifi_info_flutter/wifi_info_flutter/android/src/main/java/io/flutter/plugins/wifi_info_flutter/WifiInfoFlutterPlugin.java
  packages/wifi_info_flutter/wifi_info_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/wifi_info_flutter/wifi_info_flutter/example/lib/main.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, p: wifi_info_flutter, platform-android

#3518 [camera_platform_interface] Added stopRecordingVideo
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: cla: yes, p: camera

#3458 [camera] Clockwise rotation of focus point in android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-android

#3516 [shared_preferences_windows]-Migrate to null safety
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Labels: cla: yes, nnbd, p: shared_preferences, platform-windows

#3524 [image_picker] Migrate to null-safety
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/integration_test/old_image_picker_test.dart
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/old_image_picker_test.dart
Labels: cla: yes, last mile, nnbd, p: image_picker

#3509 [file_selector_platform_interface] File selector nnbd
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/lib/src/web_helpers/web_helpers.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  script/nnbd_plugins.sh
Labels: cla: yes, last mile, nnbd, p: file_selector, platform-web

#3523 [shared_preferences] Migrate platform plugins to null-safety
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/test/shared_preferences_web_test.dart
Labels: cla: yes, nnbd, p: shared_preferences, platform-linux, platform-web

#3497 [camera_platform_interface] Migrate to null safety
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_exception.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/focus_mode.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: camera

#3381 [ios_platform_images] Migrate to null safety
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: ios_platform_images

#3528 [file_selector_web] Fix typo in pubspec.
  packages/file_selector/file_selector_web/pubspec.yaml
Labels: cla: yes, p: file_selector, platform-web

#3423 [sensors] Migrate to null safety
  packages/sensors/CHANGELOG.md
  packages/sensors/integration_test/sensors_test.dart
  packages/sensors/lib/sensors.dart
  packages/sensors/pubspec.yaml
  packages/sensors/test/sensors_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: sensors

#3421 [quick_actions] Migrate to null safety
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/lib/quick_actions.dart
  packages/quick_actions/pubspec.yaml
  packages/quick_actions/test/quick_actions_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: quick_actions

#2480 [video_player] : Flutter's video plugin can cause crashes after a closing a flutter vi…
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player

#3424 [wifi_info_flutter] Migrate the platform interface to null safety
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/src/method_channel_wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/lib/wifi_info_flutter_platform_interface.dart
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/test/method_channel_wifi_info_flutter_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: wifi_info_flutter

#3333 [url_launcher] Fix PlatformException introduced in nnbd release
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
Labels: cla: yes, last mile, nnbd, p: url_launcher

#3521 Add section about how to use Material components in an app using WebView
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter

#3526 [shared_preferences] Migrate main package to null-safety
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/.gitignore
  packages/shared_preferences/shared_preferences/example/.metadata
  packages/shared_preferences/shared_preferences/example/android/.gitignore
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences/example/android/app/src/debug/AndroidManifest.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1Activity.java
  packages/shared_preferences/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/EmbeddingV1ActivityTest.java
  packages/shared_preferences/shared_preferences/example/android/app/src/main/java/io/flutter/plugins/sharedpreferencesexample/FlutterActivityTest.java
  packages/shared_preferences/shared_preferences/example/android/app/src/main/kotlin/io/flutter/plugins/example/MainActivity.kt
  packages/shared_preferences/shared_preferences/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/main/res/drawable/launch_background.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/main/res/values-night/styles.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/main/res/values/styles.xml
  packages/shared_preferences/shared_preferences/example/android/app/src/profile/AndroidManifest.xml
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/gradle.properties
  packages/shared_preferences/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences/example/android/settings.gradle
  packages/shared_preferences/shared_preferences/example/ios/.gitignore
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/shared_preferences/shared_preferences/example/ios/Runner/Runner-Bridging-Header.h
  packages/shared_preferences/shared_preferences/example/macos/.gitignore
  packages/shared_preferences/shared_preferences/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/macos/Flutter/Flutter-Release.xcconfig
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/shared_preferences/shared_preferences/example/web/favicon.png
  packages/shared_preferences/shared_preferences/example/web/icons/Icon-192.png
  packages/shared_preferences/shared_preferences/example/web/icons/Icon-512.png
  packages/shared_preferences/shared_preferences/example/web/manifest.json
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes, p: shared_preferences, platform-android, platform-ios, platform-macos, platform-web

#3507 [video_player] Update video_player_platform_interface to latest pigeon
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/test.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes, p: video_player

#3300 [share] Update README.md
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/pubspec.yaml
Labels: cla: yes, last mile, p: share, submit queue

#3503 [camera] Removed obsolete example folder from camera root
  packages/camera/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: cla: yes, p: camera, platform-android

#3530 [camera_platform_interface] Migrate to null safety
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: cla: yes, p: camera, waiting for tree to go green

#3534 Update example pubspecs to match templates
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/example/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, platform-linux, platform-macos, platform-windows

#3532 Add post merge labeler
  .github/post_merge_labeler.yml
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#3425 [wifi_info_flutter] Migrate to null safety
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/lib/wifi_info_flutter.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/test/wifi_info_flutter_test.dart
Labels: cla: yes, nnbd, p: wifi_info_flutter

#3540 Bump ffi dependencies
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, p: path_provider, platform-windows

#3542 Added comment about path depenendencies
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_intent/example/pubspec.yaml
  packages/battery/battery/example/pubspec.yaml
  packages/camera/camera/example/pubspec.yaml
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/device_info/device_info/example/pubspec.yaml
  packages/espresso/example/pubspec.yaml
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/in_app_purchase/example/pubspec.yaml
  packages/integration_test/example/pubspec.yaml
  packages/ios_platform_images/example/pubspec.yaml
  packages/local_auth/example/pubspec.yaml
  packages/package_info/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/example/pubspec.yaml
  packages/sensors/example/pubspec.yaml
  packages/share/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player/example/pubspec.yaml
  packages/webview_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
Labels: cla: yes, p: android_alarm_manager, p: android_intent, p: battery, p: camera, p: connectivity, p: device_info, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: ios_platform_images, p: local_auth, p: package_info, p: path_provider, p: quick_actions, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: wifi_info_flutter, platform-linux, platform-macos, platform-windows, waiting for tree to go green

#3499 [android_alarm_manager] Migrated android_alarm_manager to support null safety #75233
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/README.md
  packages/android_alarm_manager/example/integration_test/android_alarm_manager_test.dart
  packages/android_alarm_manager/example/lib/main.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/example/test_driver/integration_test.dart
  packages/android_alarm_manager/lib/android_alarm_manager.dart
  packages/android_alarm_manager/pubspec.yaml
  script/nnbd_plugins.sh
Labels: cla: yes, last mile, nnbd, p: android_alarm_manager

#3535 [image_picker] Migrate image_picker_web to null-safety
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/image_picker_for_web_test.dart
Labels: cla: yes, p: image_picker, platform-web

#3545 Honor, and scrub, the 1.0 compatibility promise
  packages/android_intent/README.md
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/README.md
  packages/connectivity/connectivity_macos/pubspec.yaml
  packages/device_info/device_info/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/README.md
  packages/package_info/pubspec.yaml
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/README.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/README.md
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/README.md
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
  packages/share/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/README.md
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/README.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/README.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/README.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes, p: android_intent, p: connectivity, p: device_info, p: package_info, p: path_provider, p: sensors, p: share, p: shared_preferences, p: url_launcher, p: video_player, platform-linux, platform-macos, platform-web, platform-windows

#3536 [video_player] Update video_player_web to point to new video_player_interface
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes, p: video_player, platform-web

#3539 [google_maps_flutter] Migrate platform interface to null safety
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/pattern_item.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_provider.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, p: google_maps_flutter

#3538 Enable CI tests on beta
  .cirrus.yml
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
Labels: cla: yes

#3537 [camera] Fixes crash on takePicture()
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/DeviceOrientationManager.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-android

#3533 [camera] NNBD migration of the camera plugin
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Flutter/Debug.xcconfig
  packages/camera/camera/example/ios/Flutter/Release.xcconfig
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
  script/nnbd_plugins.sh
Labels: cla: yes, p: camera, platform-ios

#3552 Fix the build-all exclusion list
  script/build_all_plugins_app.sh
  script/nnbd_plugins.sh
  script/tool/lib/src/common.dart
Labels: cla: yes

#3541 [path_provider] Update Windows implementation version
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, p: path_provider

#3547 [google_maps_flutter] Fix CameraPosition regression
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
Labels: cla: yes, p: google_maps_flutter

#3554 [file_selector_web] update documentation #76067
  packages/file_selector/file_selector_web/README.md
Labels: cla: yes, p: file_selector, platform-web

#3557 [url_launcher] Re-endorse null-safe web implementation.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#3281 Document how to use pigeon and update to the latest version.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/CONTRIBUTING.md
  packages/video_player/video_player/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player/ios/Classes/messages.h
  packages/video_player/video_player/ios/Classes/messages.m
  packages/video_player/video_player/pigeons/messages.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  script/incremental_build.sh
Labels: cla: yes, p: video_player, platform-android, platform-ios, waiting for tree to go green

#3556 Publish check
  script/check_publish.sh
  script/tool/lib/src/main.dart
  script/tool/lib/src/publish_check_command.dart
Labels: cla: yes

#3546 [video_player] Update video_player readme to change sample video to https
  packages/video_player/video_player/README.md
Labels: cla: yes, documentation, last mile, p: video_player

#3558 [camera] Added timeout to Android pre-capture sequence
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: cla: yes, p: camera, platform-android

#3560 Publish check ignores prerelease sdk
  script/tool/lib/src/publish_check_command.dart
Labels: cla: yes

#3543 [plugin_platform_interface] Migrate to v2 stable, null-safe
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
Labels: cla: yes, nnbd, p: plugin_platform_interface

#3565 [shared_preferences] fix crash when list type is dynaimc
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: cla: yes, p: shared_preferences, waiting for tree to go green

#2151 [webview_flutter] Support for loading progress tracking
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.h
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, needs-publishing, p: webview_flutter, platform-android, platform-ios, waiting for tree to go green

#3564 [shared_preferences] Migrate examples to NNBD
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_macos/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_macos/example/lib/main.dart
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/test_driver/integration_test.dart
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/lib/main.dart
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/test_driver/integration_test.dart
Labels: cla: yes, p: shared_preferences, platform-linux, platform-macos, platform-windows

#3561 [video_player] Ignore setting mixWithOthers in web
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes, p: video_player, platform-web

#3559 [path_provider] Migrate examples to null-safety
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/lib/main.dart
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/test/widget_test.dart
  packages/path_provider/path_provider_linux/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_macos/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_macos/example/lib/main.dart
  packages/path_provider/path_provider_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_macos/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider_macos/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/lib/main.dart
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, p: path_provider, platform-linux, platform-macos, platform-windows

#3566 [image_picker_for_web] Add doc comments to point out that some arguments aren't supported on the web
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-web

#3548 [google_maps_flutter] Migrate to NNBD
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/test_driver/integration_test.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/android_google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
  script/nnbd_plugins.sh
Labels: cla: yes, p: google_maps_flutter

#3570 [url_launcher] Bump platform interface package to stable NNBD
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
Labels: cla: yes, p: url_launcher

#3555 [in_app_purchase] Migrate to NNBD
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/build.yaml
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/example/test_driver/test/integration_test.dart
  packages/in_app_purchase/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/in_app_purchase_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/product_details.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/app_store_connection_test.dart
  packages/in_app_purchase/test/in_app_purchase_connection/google_play_connection_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/test/store_kit_wrappers/sk_test_stub_objects.dart
  packages/in_app_purchase/test/stub_in_app_purchase_platform.dart
  script/nnbd_plugins.sh
  script/tool/lib/src/publish_check_command.dart
Labels: cla: yes, p: in_app_purchase, platform-ios

#3568 [path_provider] Bump platform interface package to stable NNBD
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
Labels: cla: yes, p: path_provider

#3569 [flutter_plugin_android_lifecycle] Bump version for NNBD stable
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes, p: flutter_plugin_android_lifecycle

#3571 [package_info] Bump version for NNBD stable
  packages/package_info/CHANGELOG.md
  packages/package_info/example/integration_test/package_info_test.dart
  packages/package_info/example/lib/main.dart
  packages/package_info/example/macos/Runner.xcodeproj/project.pbxproj
  packages/package_info/example/pubspec.yaml
  packages/package_info/example/test_driver/integration_test.dart
  packages/package_info/lib/package_info.dart
  packages/package_info/pubspec.yaml
Labels: cla: yes, nnbd, p: package_info, platform-macos

#3573 [image_picker_platform_interface] Bump NNBD version to stable
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Labels: cla: yes, nnbd, p: image_picker

#3576 [flutter_plugin_android_lifecycle-sdk] Update Flutter SDK constraint
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: cla: yes, p: flutter_plugin_android_lifecycle, waiting for tree to go green

#3575 [path_provider] Bump platform packages to NNBD stable
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: cla: yes, nnbd, p: path_provider, platform-linux, platform-macos, platform-windows

#3580 [image_picker] use nnbd version of deps to resolve ci failure
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker

#3579 [image_picker] NNBD stable
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, p: image_picker, waiting for tree to go green

#3583 [url_launcher] Fix SDK copypasta in platform interface
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: cla: yes, p: url_launcher, waiting for tree to go green

#3562 [camera] Solves delay when using the zoom feature on iOS.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, platform-ios

#3585 [connectivity_platform_interface] nnbd stable release
  packages/connectivity/connectivity_platform_interface/CHANGELOG.md
  packages/connectivity/connectivity_platform_interface/pubspec.yaml
Labels: cla: yes, p: connectivity, waiting for tree to go green

#3586 [shared_preferences] Bump version for NNBD stable
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
Labels: cla: yes, p: shared_preferences

#3587 [battery] Bump platform version to NNBD stable
  packages/battery/battery_platform_interface/CHANGELOG.md
  packages/battery/battery_platform_interface/pubspec.yaml
Labels: cla: yes, nnbd, p: battery

#3589 [sensors] Update to NNBD stable
  packages/sensors/CHANGELOG.md
  packages/sensors/example/lib/main.dart
  packages/sensors/example/lib/snake.dart
  packages/sensors/example/pubspec.yaml
  packages/sensors/example/test_driver/test/integration_test.dart
  packages/sensors/pubspec.yaml
Labels: cla: yes, p: sensors

#3588 [connectivity_macos] move NNBD to stable
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/example/lib/main.dart
  packages/connectivity/connectivity_macos/example/pubspec.yaml
  packages/connectivity/connectivity_macos/example/test_driver/integration_test/connectivity_test.dart
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes, nnbd, p: connectivity, platform-macos, waiting for tree to go green

#3593 [cross_file] Stable null safety release
  packages/cross_file/CHANGELOG.md
  packages/cross_file/pubspec.yaml
Labels: cla: yes, nnbd, p: cross_file

#3595 [shared_preferences] Bump platform versions to NNBD stable
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: cla: yes, p: shared_preferences, platform-linux, platform-macos, platform-web, platform-windows

#3584 [url_launcher] Update platforms to NNBD stable
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_linux/example/lib/main.dart
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_macos/example/lib/main.dart
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_windows/example/lib/main.dart
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/test_driver/integration_test.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
Labels: cla: yes, nnbd, p: url_launcher, platform-linux, platform-macos, platform-web, platform-windows

#3582 [path_provider] Update to stable NNBD
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider/test/path_provider_test.dart
Labels: cla: yes, nnbd, p: path_provider

#3599 [connectivity_macos] fix version
  packages/connectivity/connectivity_macos/CHANGELOG.md
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes, p: connectivity, platform-macos

#3598 [google_maps_flutter] Bump platform interface version for NNBD stable
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter

#3597 [device_info_platform_interface] null safety stable release
  packages/device_info/device_info_platform_interface/CHANGELOG.md
  packages/device_info/device_info_platform_interface/pubspec.yaml
Labels: cla: yes, nnbd, p: device_info

#3600 [share] Bump version for NNBD stable
  packages/share/CHANGELOG.md
  packages/share/example/lib/image_previews.dart
  packages/share/example/lib/main.dart
  packages/share/example/pubspec.yaml
  packages/share/example/test_driver/test/integration_test.dart
  packages/share/pubspec.yaml
Labels: cla: yes, p: share

#3601 [android_intent] Bump version for NNBD stable
  packages/android_intent/CHANGELOG.md
  packages/android_intent/example/integration_test/android_intent_test.dart
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/example/test_driver/integration_test.dart
  packages/android_intent/pubspec.yaml
Labels: cla: yes, p: android_intent

#3602 [shared_preferences] Bump app-facing version for NNBD stable
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences

#3604 [connectivity_macos] fix flutter version constraint
  packages/connectivity/connectivity_macos/pubspec.yaml
Labels: cla: yes, p: connectivity, platform-macos

#3603 [url_launcher] Bump app-facing version for NNBD stable
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, p: url_launcher

#3607 [android_intent] Fix Flutter SDK version
  packages/android_intent/example/pubspec.yaml
  packages/android_intent/pubspec.yaml
Labels: cla: yes, p: android_intent

#3605 [file_selector_platform_interface] null safety stable release
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
Labels: cla: yes, p: file_selector

#3596 [connectivity] null safety stable release
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/example/pubspec.yaml
  packages/connectivity/connectivity/pubspec.yaml
  packages/connectivity/connectivity/test/connectivity_test.dart
Labels: cla: yes, nnbd, p: connectivity, waiting for tree to go green

#3578 [video_player_platform_interface] Bump version for NNBD stable
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/test.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: cla: yes, p: video_player, waiting for tree to go green

#3608 [android_alarm_manager] Bump version for NNBD stable
  packages/android_alarm_manager/CHANGELOG.md
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/pubspec.yaml
Labels: cla: yes, nnbd, p: android_alarm_manager

#3615 [local_auth] Bump version for NNBD stable
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/pubspec.yaml
Labels: cla: yes, nnbd, p: local_auth

#3618 [quick_action] null safety stable release
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/example/pubspec.yaml
  packages/quick_actions/example/test_driver/integration_test.dart
  packages/quick_actions/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#3616 [ios_platform_images] Bump version for stable NNBD
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/ios_platform_images/example/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
Labels: cla: yes, nnbd, p: ios_platform_images, platform-ios, waiting for tree to go green

#3614 [espresso] Update SDK requirement for null-safety
  packages/espresso/CHANGELOG.md
  packages/espresso/example/lib/main.dart
  packages/espresso/example/pubspec.yaml
  packages/espresso/pubspec.yaml
  script/nnbd_plugins.sh
Labels: cla: yes, nnbd, p: espresso, waiting for tree to go green

#3590 [google_maps_flutter] fixed a small bug in example app.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, last mile, p: google_maps_flutter

#3622 [google_sign_in_web] Ignore analyzer checks in generated files.
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
Labels: cla: yes, p: google_sign_in, platform-web

#3617 [google_sign_in] Bump platform interface version for NNBD stable
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Labels: cla: yes, p: google_sign_in

#3481 [shared_preferences] Removed deprecated AsyncTask API
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, last mile, p: shared_preferences, platform-android, waiting for tree to go green

#3619 [webview_flutter] null safety stable release
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/pubspec.yaml
Labels: cla: yes, p: webview_flutter

#3620 [wifi_info_flutter_platform_interface] null safety stable release
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter_platform_interface/pubspec.yaml
Labels: cla: yes, p: wifi_info_flutter

#3592 [camera] Fix example from README.md
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, p: camera, waiting for tree to go green

#3609 [device_info_platform_interface] handle null value from method channel
  packages/device_info/device_info_platform_interface/lib/device_info_platform_interface.dart
  packages/device_info/device_info_platform_interface/lib/method_channel/method_channel_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/android_device_info.dart
  packages/device_info/device_info_platform_interface/lib/model/ios_device_info.dart
  packages/device_info/device_info_platform_interface/test/method_channel_device_info_test.dart
Labels: cla: yes, nnbd, p: device_info

#3623 [google_maps_flutter] Bump app-facing version for NNBD stable
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, nnbd, p: google_maps_flutter, waiting for tree to go green

#3574 [video_player_web] Bump version for NNBD stable
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/pubspec.yaml
  packages/video_player/video_player_web/test/video_player_web_test.dart
Labels: cla: yes, nnbd, p: video_player, platform-web

#3624 [video_player] Bump app-facing version for NNBD stable
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player

#3475 [url_launcher] Update result to `True` when the url was loaded successfully.
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, last mile, p: url_launcher, platform-ios

#3621 [quick_action] fix delegate methods not called on iOS
  .cirrus.yml
  packages/quick_actions/CHANGELOG.md
  packages/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerUITests.xcscheme
  packages/quick_actions/example/ios/RunnerUITests/Info.plist
  packages/quick_actions/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/example/lib/main.dart
  packages/quick_actions/ios/Classes/FLTQuickActionsPlugin.m
Labels: cla: yes, p: quick_actions, platform-ios, waiting for tree to go green

#3550 [file_selector_web] Migrated to null-safety
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/README.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/example/lib/main.dart
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/example/run_test.sh
  packages/file_selector/file_selector_web/example/test_driver/integration_test.dart
  packages/file_selector/file_selector_web/example/web/index.html
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/more_tests_exist_elsewhere_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
Labels: cla: yes, nnbd, p: file_selector, platform-web

#3626 [device_info] null safety stable
  packages/device_info/device_info/CHANGELOG.md
  packages/device_info/device_info/example/pubspec.yaml
  packages/device_info/device_info/pubspec.yaml
Labels: cla: yes, nnbd, p: device_info

#3630 [file_selector] Return a non-null value from getSavePath on web
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/pubspec.yaml
Labels: cla: yes, p: file_selector, platform-web, waiting for tree to go green

#3629 [cross_file] Fix base class nullability
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/pubspec.yaml
Labels: cla: yes, p: cross_file

#2822 [in_app_purchase] Add support for InApp subscription upgrade/downgrade
  AUTHORS
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/example/README.md
  packages/in_app_purchase/example/android/app/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase/app_store_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/google_play_connection.dart
  packages/in_app_purchase/lib/src/in_app_purchase/purchase_details.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/test/billing_client_wrappers/purchase_wrapper_test.dart
Labels: cla: yes, last mile, p: in_app_purchase, platform-android, waiting for tree to go green

#3627 [wifi_info_flutter] null safety stable
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/example/lib/main.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/integration_test/wifi_info_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/example/test_driver/test/integration_test.dart
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
Labels: cla: yes, nnbd, p: wifi_info_flutter

#3610 [camera_platform_interface] Stable null safety release.
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: cla: yes, nnbd, p: camera

#3631 [file_selector] Migrate to null safety
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
Labels: cla: yes, nnbd, p: file_selector

#3625 [google_maps_flutter] embedded_views_preview not required since v1.0.0
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner/Info.plist
Labels: cla: yes, last mile, p: google_maps_flutter, platform-ios

#2835 Fix typo in image_picker_for_web README.md
  packages/image_picker/image_picker_for_web/README.md
Labels: cla: yes, last mile, p: image_picker

#2031 [url_launcher] Added a note to the README
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
Labels: cla: yes, in review, last mile, p: url_launcher

#3633 Make executor an instance property
  .gitignore
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences, platform-android, waiting for tree to go green

#3632 set ci runs on master and enable integration test on android alarm manager
  .cirrus.yml
  packages/android_alarm_manager/example/integration_test/android_alarm_manager_test.dart
  packages/android_alarm_manager/example/pubspec.yaml
  packages/android_alarm_manager/example/test_driver/integration_test.dart
Labels: cla: yes, p: android_alarm_manager

#3637 [google_sign_in] Bump app-facing version for NNBD stable
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, p: google_sign_in

#3643 [file_selector] Endorse web
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/pubspec.yaml
Labels: cla: yes, p: file_selector

#3642 [extension_google_sign_in_as_googleapis_auth] Migrate to null safety
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/lib/main.dart
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/lib/extension_google_sign_in_as_googleapis_auth.dart
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/google_sign_in/extension_google_sign_in_as_googleapis_auth/test/extension_google_sign_in_as_googleapis_auth_test.dart
Labels: cla: yes, p: google_sign_in

#3634 Fix Cirrus script for firebase testlab tests
  .cirrus.yml
Labels: cla: yes

#3644 [path_provider] Migrate all integration tests to NNBD
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/example/test_driver/integration_test.dart
  packages/path_provider/path_provider/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/pubspec.yaml
  packages/path_provider/path_provider_linux/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_macos/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/test_driver/integration_test.dart
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/test_driver/integration_test.dart
Labels: cla: yes, p: path_provider, platform-linux, platform-macos, platform-windows

#3451 [file_selector_platform_interface]: Verify that extensions don't have leading dots.
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: cla: yes, p: file_selector, waiting for tree to go green

#3635 [image_picker_for_web] Bump version for NNBD stable
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: cla: yes, p: image_picker, platform-web, waiting for tree to go green

#3639 [shared_preferences] Don't create additional Handler when method channel is called.
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, p: shared_preferences, platform-android, waiting for tree to go green
