Repository flutter/plugins, pull requests merged in 2021-09, with the labels that each got.

#4248 [flutter_plugin_tools] Fix build-examples for packages
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/pubspec.yaml
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
Labels: cla: yes

#4294 [flutter_plugin_tools] Add Linux support to native-test
  .cirrus.yml
  packages/url_launcher/url_launcher_linux/example/linux/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/example/linux/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/linux/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin_private.h
  script/tool/CHANGELOG.md
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: cla: yes, p: url_launcher, platform-linux

#4292 [tool] Add a way to opt a file out of formatting
  script/tool/CHANGELOG.md
  script/tool/lib/src/format_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4301 [camera] Ensure setExposureOffset returns new value on Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
Labels: bugfix, cla: yes, waiting for tree to go green, p: camera, platform-android

#4300 [video_player] Ensure seekTo is not called before video player is initialized.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for tree to go green, p: video_player

#4303 Add scripts for Windows LUCI recipe
  .ci.yaml
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/drive_examples_win32.sh
  .ci/scripts/prepare_tool.sh
  .ci/targets/windows_build_and_platform_tests.yaml
Labels: cla: yes

#4306 [ci.yaml] Add builders to recipes cq
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#4251 [google_sign_in] adds option to re-authenticate on google silent sign in
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, waiting for tree to go green, p: google_sign_in

#4304 [camera_web] Make plugin publishable for the first time.
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/README.md
  packages/camera/camera_web/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#4305 [plugin_tools] build-examples .pluginToolsConfig.yaml support
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/pubspec.yaml
  script/tool/test/build_examples_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4309 Remove gradle.properties from plugins
  packages/android_alarm_manager/android/gradle.properties
  packages/android_intent/android/gradle.properties
  packages/battery/battery/android/gradle.properties
  packages/camera/camera/android/gradle.properties
  packages/connectivity/connectivity/android/gradle.properties
  packages/device_info/device_info/android/gradle.properties
  packages/espresso/android/gradle.properties
  packages/flutter_plugin_android_lifecycle/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter/android/gradle.properties
  packages/google_sign_in/google_sign_in/android/gradle.properties
  packages/image_picker/image_picker/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/android/gradle.properties
  packages/local_auth/android/gradle.properties
  packages/package_info/android/gradle.properties
  packages/path_provider/path_provider/android/gradle.properties
  packages/quick_actions/quick_actions/android/gradle.properties
  packages/sensors/android/gradle.properties
  packages/share/android/gradle.properties
  packages/shared_preferences/shared_preferences/android/gradle.properties
  packages/url_launcher/url_launcher/android/gradle.properties
  packages/video_player/video_player/android/gradle.properties
  packages/wifi_info_flutter/wifi_info_flutter/android/gradle.properties
Labels: cla: yes, waiting for tree to go green, p: battery, p: android_alarm_manager, p: android_intent, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: share, p: url_launcher, p: video_player, p: package_info, p: shared_preferences, p: espresso, p: wifi_info_flutter, p: sensors, p: quick_actions, p: connectivity, p: device_info, platform-android, p: flutter_plugin_android_lifecycle

#4312 [flutter_plugin_tools] Adjust diff logging
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4288 [image_picker] add forceFullMetadata to interface
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: cla: yes, waiting for tree to go green, p: image_picker, platform-web

#4314 Revert "[image_picker] add forceFullMetadata to interface"
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: cla: yes, p: image_picker, platform-web

#4321 [ci] Allow neutral conclusion in publishing check
  .github/workflows/release.yml
Labels: cla: yes

#4311 Bring up new Windows test targets
  .ci.yaml
  .ci/scripts/build_all_plugins.sh
  .ci/scripts/build_examples_uwp.sh
  .ci/scripts/create_all_plugins_app.sh
  .ci/scripts/native_test_win32.sh
  .ci/scripts/plugin_tools_tests.sh
  .ci/targets/build_all_plugins.yaml
  .ci/targets/plugin_tools_tests.yaml
  .ci/targets/uwp_build_and_platform_tests.yaml
  .ci/targets/windows_build_and_platform_tests.yaml
  .cirrus.yml
Labels: cla: yes

#4323 [ci] Fix and standardize target/task names
  .ci.yaml
  .cirrus.yml
Labels: cla: yes

#4326 [ci] Update lewagon/wait-on-check-action to latest version.
  .github/workflows/release.yml
Labels: cla: yes, waiting for tree to go green

#4325 [ci] Enable the new Windows targets
  .ci.yaml
  script/tool/test/drive_examples_command_test.dart
Labels: cla: yes

#4129 Ignore unnecessary_import in legacy analysis options
  analysis_options_legacy.yaml
Labels: cla: yes, waiting for tree to go green

#4307 [video_player] interface: add support for content-uri based videos (a…
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: video_player

#4327 [camera] Bump minimum Flutter version and iOS deployment target
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/Flutter/AppFrameworkInfo.plist
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/ios/camera.podspec
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-ios

#4302 [webview_flutter] Implementation of the webview_flutter_platform_interface package
  packages/webview_flutter/webview_flutter_platform_interface/AUTHORS
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/LICENSE
  packages/webview_flutter/webview_flutter_platform_interface/README.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/javascript_channel_registry.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_callbacks_handler.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/auto_media_playback_policy.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_mode.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_error_type.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/platform_interface/javascript_channel_registry_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/types/javascript_channel_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4330 [video_player] add support for content-uri based videos
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: cla: yes, p: video_player, platform-web

#4322 [webview_flutter] Add download listener to Android webview
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterDownloadListener.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewBuilder.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterDownloadListenerTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewClientTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewBuilderTest.java
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4320 [flutter_plugin_tools] Remove an unnecessary logging message
  script/tool/lib/src/publish_plugin_command.dart
Labels: cla: yes, waiting for tree to go green

#4310 [flutter_plugin_tools] Make having no Java unit tests a failure
  .cirrus.yml
  script/configs/exclude_native_unit_android.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: cla: yes

#4298 [google_maps_flutter_web] Fix getScreenCoordinate, Circle zIndex
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/LICENSE
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/LICENSE
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/README.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/to_screen_location.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  script/tool/lib/src/license_check_command.dart
Labels: cla: yes, p: google_maps_flutter, platform-web

#4340 Renew cirrus gcp credentials
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#4341 [flutter_plugin_tools] Make no unit tests fatal for iOS/macOS
  .cirrus.yml
  packages/quick_actions/quick_actions/example/ios/Podfile
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/quick_actions/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/quick_actions/quick_actions/example/ios/RunnerTests/Info.plist
  packages/quick_actions/quick_actions/example/ios/RunnerTests/RunnerTests.m
  packages/share/example/ios/Podfile
  packages/share/example/ios/Runner.xcodeproj/project.pbxproj
  packages/share/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/share/example/ios/RunnerTests/Info.plist
  packages/share/example/ios/RunnerTests/RunnerTests.m
  script/configs/exclude_native_ios.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: cla: yes, p: share, p: quick_actions, platform-ios

#4218 [path_provider_linux] Using TMPDIR env as a primary temporary path
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/lib/path_provider_linux.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/path_provider_linux_test.dart
Labels: cla: yes, p: path_provider, platform-linux

#4349 [ci] use background script
  .cirrus.yml
Labels: cla: yes

#4348 Give the labeler access to PRs
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#4250 Fix crash from `null` Google Maps object
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/googlemapsexample/GoogleMapsTest.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, platform-android

#4332 Run firebase test in flutter-cirrus
  .cirrus.yml
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4336 [image_picker] Update README for image_picker's retrieveLostData() to support multiple files
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker

#4350 [ci] Grant contents: write permission to release.yml
  .github/workflows/release.yml
Labels: cla: yes

#3216 [multiple] Java 8 target for all plugins with -Werror compiler arg
  packages/android_alarm_manager/android/build.gradle
  packages/android_intent/CHANGELOG.md
  packages/android_intent/android/build.gradle
  packages/camera/camera/android/build.gradle
  packages/connectivity/connectivity/CHANGELOG.md
  packages/connectivity/connectivity/android/build.gradle
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/android/build.gradle
  packages/path_provider/path_provider/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/android/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: android_alarm_manager, p: android_intent, p: camera, p: path_provider, p: video_player, p: connectivity, platform-android, last mile

#4344 [video_player] Fix a disposed `VideoPlayerController` throwing an exception when being replaced in the `VideoPlayer`
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, p: video_player

#3374 [video_player] bugfix caption still showing when text is empty
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for tree to go green, p: video_player, last mile

#4342 [camera_web] Release the camera stream used to request video and audio permissions
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/README.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: cla: yes, waiting for tree to go green, p: camera, platform-web

#2443 Uncomment Marker icons now that ImageListener API change has landed in stable
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, last mile

#4210 [camera_web] Recording Video
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/README.md
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/pubspec.yaml
Labels: cla: yes, p: camera, platform-web

#4346 [google_sign_in_web] Update URL to `google_sign_in` package in README
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_sign_in, platform-web, last mile

#4353 [ios_platform_images] Bump minimum Flutter version and iOS deployment target
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Flutter/AppFrameworkInfo.plist
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/pubspec.yaml
  packages/ios_platform_images/ios/ios_platform_images.podspec
  packages/ios_platform_images/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: ios_platform_images, platform-ios

#4335 [image_picker] Bump minimum Flutter version and iOS deployment target
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/ios/Flutter/AppFrameworkInfo.plist
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/ios/image_picker.podspec
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker, platform-ios

#4354 [local_auth] Bump minimum Flutter version and iOS deployment target
  packages/local_auth/CHANGELOG.md
  packages/local_auth/example/ios/Flutter/AppFrameworkInfo.plist
  packages/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/example/pubspec.yaml
  packages/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/ios/local_auth.podspec
  packages/local_auth/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: local_auth, platform-ios

#4355 [path_provider] Bump minimum Flutter version and iOS deployment target
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/ios/Flutter/AppFrameworkInfo.plist
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/ios/path_provider.podspec
  packages/path_provider/path_provider/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: path_provider, platform-ios

#4356 [quick_actions] Bump minimum Flutter version and iOS deployment target
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/ios/Flutter/AppFrameworkInfo.plist
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions/ios/quick_actions.podspec
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: quick_actions, platform-ios

#4333 [google_maps_flutter] Bump minimum Flutter version and iOS deployment target
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, platform-ios

#4352 [in_app_purchase] Bump minimum Flutter version and iOS deployment target
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/README.md
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_ios/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_ios/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_ios/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_ios/ios/in_app_purchase_ios.podspec
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios

#4360 [video_player] Bump minimum Flutter version and iOS deployment target
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/ios/Flutter/AppFrameworkInfo.plist
  packages/video_player/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player/ios/video_player.podspec
  packages/video_player/video_player/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: video_player, platform-ios

#4357 [shared_preferences] Bump minimum Flutter version and iOS deployment target
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/ios/shared_preferences.podspec
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: shared_preferences, platform-ios

#4358 [camera_platform_interface] Add web-relevant docs
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/resolution_preset.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera

#4359 [url_launcher] Bump minimum Flutter version and iOS deployment target
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/ios/Flutter/AppFrameworkInfo.plist
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher/ios/url_launcher.podspec
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-ios

#4362 [camera] Remove iOS 9 availability check around ultra high capture sessions
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-ios

#4361 [webview_flutter] Bump minimum Flutter version and iOS deployment target
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/ios/Flutter/AppFrameworkInfo.plist
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios

#4240 [camera] Add web support
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/web/favicon.png
  packages/camera/camera/example/web/icons/Icon-192.png
  packages/camera/camera/example/web/icons/Icon-512.png
  packages/camera/camera/example/web/index.html
  packages/camera/camera/example/web/manifest.json
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
Labels: cla: yes, p: camera, platform-web

#4329 [flutter_plugin_tools] Add a federated PR safety check
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/federation_safety_check_command_test.dart
Labels: cla: yes

#4364 [in_app_purchase] Ensure the `introductoryPriceMicros` field is populated correctly.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4343 [webview_flutter] Extract Android implementation into a separate package
  packages/webview_flutter/webview_flutter_android/AUTHORS
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/LICENSE
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/settings.gradle
  packages/webview_flutter/webview_flutter_android/android/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DisplayListenerProxy.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterDownloadListener.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewFactory.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/ThreadedInputConnectionProxyAdapterView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewBuilder.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterDownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewBuilderTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/.metadata
  packages/webview_flutter/webview_flutter_android/example/README.md
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/MainActivityTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/debug/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/java/io/flutter/plugins/webviewflutterexample/WebViewTestActivity.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/drawable/launch_background.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/res/values/styles.xml
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/gradle.properties
  packages/webview_flutter/webview_flutter_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter_android/example/android/settings.gradle
  packages/webview_flutter/webview_flutter_android/example/assets/sample_audio.ogg
  packages/webview_flutter/webview_flutter_android/example/assets/sample_video.mp4
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/navigation_decision.dart
  packages/webview_flutter/webview_flutter_android/example/lib/navigation_request.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/test_driver/integration_test.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: cla: yes, p: webview_flutter, platform-android

#4367 Require authors file
  packages/camera/camera_web/AUTHORS
  packages/in_app_purchase/in_app_purchase_android/AUTHORS
  packages/in_app_purchase/in_app_purchase_ios/AUTHORS
  packages/in_app_purchase/in_app_purchase_platform_interface/AUTHORS
  packages/quick_actions/quick_actions/AUTHORS
  packages/quick_actions/quick_actions_platform_interface/AUTHORS
  script/tool/CHANGELOG.md
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/list_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/util.dart
Labels: cla: yes, p: camera, p: in_app_purchase, p: quick_actions, platform-ios, platform-android, platform-web

#2878 [video_player] VTT Support
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/bumble_bee_captions.vtt
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/src/web_vtt.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/web_vtt_test.dart
Labels: cla: yes, waiting for tree to go green, p: video_player

#4371 [camera_web] Update usage documentation
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/README.md
  packages/camera/camera_web/pubspec.yaml
Labels: cla: yes, p: camera, platform-web

#4372 Add false secret lists, and enforce ordering
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, p: google_sign_in, platform-web

#4334 [google_sign_in] Bump minimum Flutter version and iOS deployment target
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/ios/google_sign_in.podspec
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_sign_in, platform-ios

#4366 [webview_flutter] Migrate main package to fully federated architecture.
  packages/webview_flutter/webview_flutter/android/build.gradle
  packages/webview_flutter/webview_flutter/android/settings.gradle
  packages/webview_flutter/webview_flutter/android/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/DisplayListenerProxy.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterCookieManager.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterDownloadListener.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewFactory.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/ThreadedInputConnectionProxyAdapterView.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewBuilder.java
  packages/webview_flutter/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterDownloadListenerTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewClientTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/FlutterWebViewTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewBuilderTest.java
  packages/webview_flutter/webview_flutter/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/ios/Assets/.gitkeep
  packages/webview_flutter/webview_flutter/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/webview_flutter/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWKProgressionDelegate.h
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWebViewFlutterPlugin.h
  packages/webview_flutter/webview_flutter/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter/ios/Classes/JavaScriptChannelHandler.h
  packages/webview_flutter/webview_flutter/ios/Classes/JavaScriptChannelHandler.m
  packages/webview_flutter/webview_flutter/ios/webview_flutter.podspec
  packages/webview_flutter/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_android.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cupertino.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-ios, platform-android

#4365 [url_launcher] Error handling when URL cannot be parsed with Uri.parse
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/url_launcher_test.dart
Labels: cla: yes, waiting for tree to go green, p: url_launcher

#4369 [flutter_plugin_tools] Allow overriding breaking change check
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes, waiting for tree to go green

#4376 [flutter_plugin_tools] Improve version check error handling
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: cla: yes

#2653 [google_maps_flutter] Marker dragging events
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
Labels: cla: yes, in review, p: google_maps_flutter, needs tests

#4379 Remove some trivial custom analysis options files
  packages/cross_file/analysis_options.yaml
  packages/flutter_plugin_android_lifecycle/analysis_options.yaml
  packages/flutter_plugin_android_lifecycle/example/integration_test/flutter_plugin_android_lifecycle_test.dart
  packages/flutter_plugin_android_lifecycle/example/lib/main.dart
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/plugin_platform_interface/analysis_options.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
  script/configs/custom_analysis.yaml
Labels: cla: yes, p: plugin_platform_interface, p: cross_file, p: flutter_plugin_android_lifecycle

#4383 [webview_flutter] Adjust integration test domains
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: cla: yes, p: webview_flutter, platform-android

#4375 [webview_flutter] Update version number app_facing package
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4386 [in_app_purchase] Bump dependencies on json_serializable, build_runner
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/lib/src/store_kit_wrappers/sk_storefront_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios, platform-android

#4388 [ci] Temporary run publish task on Flutter stable channel.
  .cirrus.yml
Labels: cla: yes

#4319 [camera] Fix IllegalStateException being thrown in Android implementation when switching activities.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/build.gradle
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/MethodCallHandlerImplTest.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-android

#4377 [webview_flutter_android] Load example App's navigation controls immediately.
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4370 [in_app_purchase] Ensure the introductoryPriceMicros field is transported as a String.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_deprecated_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4390 [webview_flutter] Resolve _CastError thrown by example app.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter

#4373 [flutter_plugin_tools] Check licenses in Kotlin
  packages/shared_preferences/shared_preferences/example/android/app/src/main/kotlin/io/flutter/plugins/example/MainActivity.kt
  script/tool/CHANGELOG.md
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: cla: yes, p: shared_preferences, platform-android

#4382 [file_selector] Remove custom analysis options
  packages/file_selector/analysis_options.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/main.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/lib/src/web_helpers/web_helpers.dart
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/example/lib/main.dart
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
  script/configs/custom_analysis.yaml
Labels: cla: yes, p: file_selector, platform-web

#4392 [in_app_purchase] Handle restored purchases in iOS example app
  packages/in_app_purchase/in_app_purchase_ios/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_ios/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_ios/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-ios

#4393 [in_app_purchase] Handle `PurchaseStatus.restored` correctly in example.
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase

#4394 [webview_flutter] Fixed todos in FlutterWebView.java
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: webview_flutter, platform-android

#4385 [google_maps_flutter_web] Add Marker drag events
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, platform-web

#4363 [in_app_purchase] Fix in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: in_app_purchase, platform-android

#4395 Add file_selector to the repo list
  README.md
Labels: cla: yes, waiting for tree to go green

#4396 [flutter_plugin_tools] Validate pubspec description
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
  packages/espresso/CHANGELOG.md
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/pubspec.yaml
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/wifi_info_flutter/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/wifi_info_flutter/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: cla: yes, p: camera, p: file_selector, p: plugin_platform_interface, p: espresso, p: wifi_info_flutter

#2838 Google maps marker drag events impl
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/lib/drag_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
Labels: cla: yes, p: google_maps_flutter, platform-ios, platform-android
