Repository flutter/plugins, pull requests merged in 2022-09, with the labels that each got.

#6271 Update badges for pub.dev scores
  README.md
Labels: autosubmit

#6344 [webview_flutter] Implementation of the app facing WebViewCookieManager for v4
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.mocks.dart
Labels: p: webview_flutter, autosubmit, override: no versioning needed, override: no changelog needed

#6347 Update shared_preferences CODEOWNER
  CODEOWNERS
Labels: autosubmit

#6342 [webview_flutter_wkwebview] Implementation of WebViewWidget with WebKit
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios, autosubmit, override: no versioning needed, override: no changelog needed

#6334 [google_maps_flutter] Default Android to Hybrid Composition
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/example/build.excerpt.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/readme_excerpts.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android, autosubmit

#6349 Roll Flutter from 069f5042973d to 759d0e1b20c1 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6350 [google_maps_flutter] Fix integration tests
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter, override: no changelog needed

#6276 Add missing submodule command to setup for packages repo.
  script/tool/README.md
Labels: autosubmit

#6353 Roll Flutter from 759d0e1b20c1 to 02857c90cc6b (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6352 [path_provider] Update win32
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-windows, autosubmit

#6341 [video_player] Remove default method channel implementation
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/CONTRIBUTING.md
  packages/video_player/video_player_platform_interface/lib/messages.g.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pigeons/messages.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/video_player/video_player_platform_interface/test/test.dart
  packages/video_player/video_player_platform_interface/test/video_player_platform_interface_test.dart
Labels: p: video_player, autosubmit, override: allow breaking change

#6224 [camera] Avoid joining thread causing ANR
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#6358 Roll Flutter from 02857c90cc6b to 0e7257e698db (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6365 Roll Flutter from 0e7257e698db to 723b82e4f0f3 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6280 [webview_flutter] Implementation of the app facing WebViewController for v4
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
Labels: p: webview_flutter, autosubmit, override: no versioning needed, override: no changelog needed

#6373 Roll Flutter from 723b82e4f0f3 to ad1e76a20939 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6375 Roll Flutter from ad1e76a20939 to 66c306b45228 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6374 [ci] Rename PLUGIN_SHARDING to PACKAGE_SHARDING.
  .cirrus.yml
  script/tool_runner.sh
Labels: autosubmit

#6376 [misc] Add OpenSSF Scorecard badge to README.
  README.md
Labels: autosubmit

#6379 Roll Flutter from 66c306b45228 to 4cd734ae3a1c (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6385 Revert "[camera]: Bump robolectric from 4.5 to 4.8.2 in /packages/camera/camera_android/android"
  packages/camera/camera_android/android/build.gradle
Labels: p: camera, platform-android

#6384 [webview_flutter_wkwebview] Fixes typo in an internal method name, from `setCookieForInsances` to `setCookieForInstances`
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios, needs tests, autosubmit

#6355 Configure dependabot to ignore minor versions
  .github/dependabot.yml
Labels: autosubmit

#6367 [webview_flutter] Implementation of the app facing WebViewWidget for v4
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.mocks.dart
Labels: p: webview_flutter, autosubmit, override: no versioning needed, override: no changelog needed

#6383 Revert "[url_launcher]: Bump gradle from 3.4.2 to 7.2.2 in /packages/url_launcher/url_launcher_android/android #6194"
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: p: url_launcher, platform-android, needs tests, autosubmit

#6371 Roll Flutter (stable) from ffccd96b62ee to 4f9d92fbbdf0 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6418 [ci] Manually roll master
  .ci/flutter_master.version
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows

#6366 [webview_flutter_android] Adds the scroll position method to WebView and updates pigeon instructions
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6416 Manual update of scorecards to 2.0.3
  .github/workflows/scorecards-analysis.yml
Labels: autosubmit

#6339 [camera] Move ignores for body_might_complete_normally_catch_error
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
Labels: p: camera, platform-android, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#6422 Roll Flutter from 4930444f4afe to 2d5e181b7308 (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6415 [in_app_purchase] Add immediateAndChargeFullPrice ProrationMode
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
Labels: p: in_app_purchase, platform-android, autosubmit

#6427 Roll Flutter from 2d5e181b7308 to 4e8a28d29db7 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6216 [google_sign_in_android] Corrects typo in logs
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android, needs tests, autosubmit

#6431 Roll Flutter from 4e8a28d29db7 to 9c0901ed63d0 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6411 [plugin_platform_interface] Switch `PlatformInterface._instanceToken` to an expando.
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

#6417 [in_app_purchase] Replace errorColor to land deprecations (Part 2)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, needs tests, autosubmit

#6436 [ci] Update Cirrus to macOS Ventura and Xcode 14
  .cirrus.yml
Labels: autosubmit

#6440 Roll Flutter from 9c0901ed63d0 to 7714a8d034ad (33 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6443 Roll Flutter from 7714a8d034ad to 5816d20b86b9 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6445 Roll Flutter from 5816d20b86b9 to c07af53b3cb2 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6455 Roll Flutter from c07af53b3cb2 to 99475b1b0bee (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6429 [image_picker] Allow saving photos picked with PHPicker without permissions
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, autosubmit

#6456 Roll Flutter from 99475b1b0bee to b55bbb7bffc7 (36 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6457 [webview_flutter] Adds type definitions for common callback signatures in the navigation delegate
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/navigation_decision.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/navigation_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
Labels: p: webview_flutter, platform-ios

#6428 [webview_flutter_android] Updates Android implementation to deallocate native resources automatically
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/Releasable.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

#6458 Roll Flutter from b55bbb7bffc7 to cf01ecd19e61 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6459 [tools] Require implementation package README warning
  packages/camera/camera_android_camerax/example/README.md
  packages/camera/camera_web/example/README.md
  packages/camera/camera_windows/example/README.md
  packages/file_selector/file_selector_ios/example/README.md
  packages/file_selector/file_selector_linux/example/README.md
  packages/file_selector/file_selector_macos/example/README.md
  packages/file_selector/file_selector_web/example/README.md
  packages/file_selector/file_selector_windows/example/README.md
  packages/google_maps_flutter/google_maps_flutter_android/example/README.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/README.md
  packages/google_sign_in/google_sign_in_android/example/README.md
  packages/google_sign_in/google_sign_in_ios/example/README.md
  packages/google_sign_in/google_sign_in_web/example/README.md
  packages/image_picker/image_picker_android/example/README.md
  packages/image_picker/image_picker_for_web/example/README.md
  packages/image_picker/image_picker_ios/example/README.md
  packages/image_picker/image_picker_windows/example/README.md
  packages/in_app_purchase/in_app_purchase_android/example/README.md
  packages/in_app_purchase/in_app_purchase_storekit/example/README.md
  packages/local_auth/local_auth_android/example/README.md
  packages/local_auth/local_auth_ios/example/README.md
  packages/local_auth/local_auth_windows/example/README.md
  packages/path_provider/path_provider_android/example/README.md
  packages/path_provider/path_provider_ios/example/README.md
  packages/path_provider/path_provider_linux/example/README.md
  packages/path_provider/path_provider_macos/example/README.md
  packages/path_provider/path_provider_windows/example/README.md
  packages/quick_actions/quick_actions_android/example/README.md
  packages/quick_actions/quick_actions_ios/example/README.md
  packages/shared_preferences/shared_preferences_android/example/README.md
  packages/shared_preferences/shared_preferences_ios/example/README.md
  packages/shared_preferences/shared_preferences_linux/example/README.md
  packages/shared_preferences/shared_preferences_macos/example/README.md
  packages/shared_preferences/shared_preferences_web/example/README.md
  packages/shared_preferences/shared_preferences_windows/example/README.md
  packages/url_launcher/url_launcher_android/example/README.md
  packages/url_launcher/url_launcher_ios/example/README.md
  packages/url_launcher/url_launcher_linux/example/README.md
  packages/url_launcher/url_launcher_macos/example/README.md
  packages/url_launcher/url_launcher_web/example/README.md
  packages/url_launcher/url_launcher_windows/example/README.md
  packages/video_player/video_player_android/example/README.md
  packages/video_player/video_player_avfoundation/example/README.md
  packages/video_player/video_player_web/example/README.md
  packages/webview_flutter/webview_flutter_android/example/README.md
  packages/webview_flutter/webview_flutter_web/example/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/README.md
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/test/readme_check_command_test.dart
Labels: p: webview_flutter, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: quick_actions, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web, autosubmit, override: no changelog needed

#6446 [video_player] Fix invalid link in CHANGELOG on pub.dev
  packages/video_player/video_player/CHANGELOG.md
Labels: p: video_player, autosubmit

#6421 [webview_flutter_android] Expose the Java InstanceManager
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewFlutterPluginTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6369 [quick_actions]Migrate the plugin class to Swift, and remove custom modulemap
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/quick_actions_ios-umbrella.h
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios, autosubmit

#3356 [google_sign_in] Fix issue obtaining serverAuthCode on Android and add forceCodeForRefreshToken parameter
  AUTHORS
  packages/google_sign_in/google_sign_in/AUTHORS
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: cla: yes, p: google_sign_in, autosubmit

#6442 [video_player]fix ios 16 bug where encrypted video stream is not showing
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/example/lib/main.dart
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios, autosubmit

#6471 [video_player]remove integration tests for further investigation
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
Labels: p: video_player, platform-ios

#6475 Roll Flutter from cf01ecd19e61 to b31f41bd1aa6 (50 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6474 [tools] Add 'run_tests.sh' to the dev-only list
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#6479 Roll Flutter from b31f41bd1aa6 to 07665fba77bc (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6480 Roll Flutter from 07665fba77bc to 64f84f6a47d2 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6348 [camera] Add CameraSelector class to CameraX plugin
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraSelectorTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android, autosubmit

#6496 Roll Flutter from 64f84f6a47d2 to 7b6074fbc542 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6463 [file_selector] Annotate all creation of XTypeGroup with // ignore: prefer_const_contructor
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-ios, platform-windows, platform-macos, platform-linux, platform-web, autosubmit, override: no changelog needed

#6498 Enable depend_on_referenced_packages lint
  analysis_options.yaml
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_windows/example/pubspec.yaml
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_windows/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/example/pubspec.yaml
  packages/ios_platform_images/example/pubspec.yaml
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/local_auth/local_auth_android/example/pubspec.yaml
  packages/local_auth/local_auth_ios/example/pubspec.yaml
  packages/local_auth/local_auth_windows/example/pubspec.yaml
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider_android/example/pubspec.yaml
  packages/path_provider/path_provider_ios/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/quick_actions/quick_actions_android/example/pubspec.yaml
  packages/quick_actions/quick_actions_ios/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
Labels: p: webview_flutter, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: quick_actions, p: ios_platform_images, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web, needs tests, autosubmit, override: no changelog needed

#6502 Roll Flutter from 7b6074fbc542 to f57c2fe8ff49 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6499 [file_selector] Annotate all parameters of XTypeGroup with // ignore: prefer_const_literals_to_create_immutables
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-ios, platform-windows, platform-macos, platform-linux, platform-web, autosubmit, override: no changelog needed

#6477 [ci] Update Dockerfile
  .ci/Dockerfile
Labels: autosubmit

#6505 Update deprecated analysis options
  analysis_options.yaml
Labels: needs tests, autosubmit

#6503 [tool] Clean up "plugin" references
  .github/workflows/release.yml
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/package_command_test.dart
  script/tool/test/common/package_command_test.mocks.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/custom_test_command_test.dart
  script/tool/test/dependabot_check_command_test.dart
  script/tool/test/federation_safety_check_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/publish_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/update_release_info_command_test.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#6469 [camera] Add ProcessCameraProvider class to CameraX plugin
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android, autosubmit

#6506 Revert "[camera] Add ProcessCameraProvider class to CameraX plugin (#…
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android

#6510 Roll Flutter from f57c2fe8ff49 to 9bf849184d6c (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6513 [file_selector] Add all iOS files to example app
  packages/file_selector/file_selector/example/ios/Flutter/Debug.xcconfig
  packages/file_selector/file_selector/example/ios/Flutter/Release.xcconfig
  packages/file_selector/file_selector/example/ios/Podfile
Labels: p: file_selector, platform-ios, needs tests, autosubmit, override: no changelog needed

#6512 [tool] Adds a `fix` command
  script/tool/CHANGELOG.md
  script/tool/lib/src/fix_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/fix_command_test.dart
Labels: autosubmit

#6515 Roll Flutter from 9bf849184d6c to a11bef968893 (37 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6514 Roll Flutter (stable) from e3c29ec00c9c to 18a827f3933c (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6508 [camera] Re-land Add ProcessCameraProvider class to CameraX Plugin
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android, autosubmit

#6504 [image_picker_windows] Annotate XTypeGroup constructor with // ignore: prefer_const_constructors
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
Labels: p: image_picker, platform-windows, autosubmit, override: no versioning needed, override: no changelog needed

#6516 [tool] Only run postsubmit on changed packages
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#6520 Roll Flutter from a11bef968893 to 99fb2d36e807 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6521 [tool] Improve changed-package run mode logging
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit
