Repository flutter/plugins, pull requests merged in 2022-01, with the labels that each got.

#4613 [camera] Switch platform interface to new analysis options
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/analysis_options.yaml
  packages/camera/camera_platform_interface/lib/camera_platform_interface.dart
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/events/device_event.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/lib/src/types/exposure_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/focus_mode.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/lib/src/utils/utils.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/events/device_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
  packages/camera/camera_platform_interface/test/types/camera_exception_test.dart
  packages/camera/camera_platform_interface/test/types/exposure_mode_test.dart
  packages/camera/camera_platform_interface/test/types/flash_mode_test.dart
  packages/camera/camera_platform_interface/test/types/focus_mode_test.dart
  packages/camera/camera_platform_interface/test/types/resolution_preset_test.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/utils_test.dart
  script/configs/custom_analysis.yaml
Labels: p: camera

#4620 [ci] Pin Chromium version for web tests
  .cirrus.yml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/Butterfly-209.webm
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
  script/install_chromium.sh
  script/tool/CHANGELOG.md
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/mocks.dart
Labels: p: video_player

#4640 [plugin_platform_interface] Add a new method `verify` that prevents use of `const Object()` as token.
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface, needs tests

#4643 Update all plugins that use `verifyToken` to use `verify` instead
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/CHANGELOG.md
  packages/quick_actions/quick_actions_platform_interface/lib/platform_interface/quick_actions_platform.dart
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_interface/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, p: camera, p: file_selector, p: google_maps_flutter, p: image_picker, p: in_app_purchase, p: path_provider, p: url_launcher, p: video_player, p: quick_actions, last mile, needs tests

#4651 [plugin_platform_interface] Fix 'verify' for Fakes
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: p: plugin_platform_interface

#4652 [plugin_platform_interface] Update README and add a test
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: waiting for tree to go green, p: plugin_platform_interface

#4653 [ci] Switch the fetch head to 'main'
  .cirrus.yml
Labels: waiting for tree to go green

#4645 Run tests only on main branch.
  .ci.yaml
Labels: waiting for tree to go green

#4657 [google_sign_in] Bump GMS dependency and remove the need for Jetifier
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/android/build.gradle
  packages/google_sign_in/google_sign_in/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in, platform-android, needs tests

#4666 [webview_flutter] Remove duplicate integration test
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-ios, platform-android

#4664 Fix UNUSED_ELEMENT_PARAMETER for field formal initializers.
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images

#4491 [url_launcher_linux] file resource URI support for canLaunch
  .ci/Dockerfile
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-linux, last mile

#4614 [ci] Update the Dockerfile to a newer base image
  .ci/Dockerfile
Labels: waiting for tree to go green

#4639 [video_player] Validate size only when assets contain video tracks on iOS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/assets/Audio.mp3
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-ios

#4644 [video_player] Fix persisting of errorDescription even after successful reinitialize
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player, last mile

#4484 [google_maps_flutter] Clear duplicated dependencies
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, p: google_maps_flutter, last mile

#4659 [plugin_platform_interface] Test that `PlatformInterface` and `MockPlatformInterfaceMixinTest` have no instance methods
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
Labels: waiting for tree to go green, p: plugin_platform_interface, last mile

#4661 [camera]call engine API in main thread to fix a crash
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera/example/ios/RunnerTests/QueueHelperTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeFlutterResultTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/QueueHelper.h
  packages/camera/camera/ios/Classes/QueueHelper.m
  packages/camera/camera/ios/Classes/camera-umbrella.h
  packages/camera/camera/pubspec.yaml
Labels: p: camera, platform-ios

#4472 [url_launcher] Improving unit tests on mac
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/url_launcher/url_launcher_macos/macos/Classes/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: cla: yes, p: url_launcher, platform-macos

#4687 [camera]rename dispatchQueue to captureSessionQueue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/CameraPlugin.m
Labels: waiting for tree to go green, p: camera, platform-ios, needs tests

#4683 [video_player] Remove KVO observer on AVPlayerItem on iOS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-ios

#4688 [video_player] Update iOS README section
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player

#4668 [webview_flutter] Explain web registration
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, platform-web, last mile

#4672 [image_picker] Improves documentation around the destruction of the MainActivity.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, last mile

#4619 [camera]fix crash due to race condition in dispatch queue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#4691 [webview_flutter] Remove dependency on flutter.dev and google.com
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  script/tool/README.md
Labels: waiting for tree to go green, p: webview_flutter

#4694 [camera_web] Update camera_web to support Dart's new async requestFullscreen API
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/lib/src/camera_web.dart
Labels: p: camera, platform-web, needs tests

#4424 [file_selector] Add Windows support
  .ci/scripts/drive_examples_win32.sh
  packages/file_selector/file_selector_windows/.gitignore
  packages/file_selector/file_selector_windows/.metadata
  packages/file_selector/file_selector_windows/AUTHORS
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/LICENSE
  packages/file_selector/file_selector_windows/README.md
  packages/file_selector/file_selector_windows/example/.gitignore
  packages/file_selector/file_selector_windows/example/.metadata
  packages/file_selector/file_selector_windows/example/README.md
  packages/file_selector/file_selector_windows/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_windows/example/lib/home_page.dart
  packages/file_selector/file_selector_windows/example/lib/main.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/file_selector/file_selector_windows/example/pubspec.yaml
  packages/file_selector/file_selector_windows/example/windows/.gitignore
  packages/file_selector/file_selector_windows/example/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/example/windows/flutter/CMakeLists.txt
  packages/file_selector/file_selector_windows/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector_windows/example/windows/runner/CMakeLists.txt
  packages/file_selector/file_selector_windows/example/windows/runner/Runner.rc
  packages/file_selector/file_selector_windows/example/windows/runner/flutter_window.cpp
  packages/file_selector/file_selector_windows/example/windows/runner/flutter_window.h
  packages/file_selector/file_selector_windows/example/windows/runner/main.cpp
  packages/file_selector/file_selector_windows/example/windows/runner/resource.h
  packages/file_selector/file_selector_windows/example/windows/runner/resources/app_icon.ico
  packages/file_selector/file_selector_windows/example/windows/runner/runner.exe.manifest
  packages/file_selector/file_selector_windows/example/windows/runner/utils.cpp
  packages/file_selector/file_selector_windows/example/windows/runner/utils.h
  packages/file_selector/file_selector_windows/example/windows/runner/win32_window.cpp
  packages/file_selector/file_selector_windows/example/windows/runner/win32_window.h
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/windows/.gitignore
  packages/file_selector/file_selector_windows/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.h
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.h
  packages/file_selector/file_selector_windows/windows/file_selector_windows.cpp
  packages/file_selector/file_selector_windows/windows/include/file_selector_windows/file_selector_windows.h
  packages/file_selector/file_selector_windows/windows/string_utils.cpp
  packages/file_selector/file_selector_windows/windows/string_utils.h
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.h
  packages/file_selector/file_selector_windows/windows/test/test_main.cpp
  packages/file_selector/file_selector_windows/windows/test/test_utils.cpp
  packages/file_selector/file_selector_windows/windows/test/test_utils.h
  script/configs/exclude_integration_win32.yaml
Labels: cla: yes, waiting for tree to go green, p: file_selector, platform-windows

#4660 [camera_platform_interface] Fix asynchronous exceptions handling of the `initializeCamera` method
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: waiting for tree to go green, p: camera, last mile

#4696 [file_selector] Endorse Windows
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/windows/.gitignore
  packages/file_selector/file_selector/example/windows/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/flutter/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/example/windows/runner/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/runner/Runner.rc
  packages/file_selector/file_selector/example/windows/runner/flutter_window.cpp
  packages/file_selector/file_selector/example/windows/runner/flutter_window.h
  packages/file_selector/file_selector/example/windows/runner/main.cpp
  packages/file_selector/file_selector/example/windows/runner/resource.h
  packages/file_selector/file_selector/example/windows/runner/resources/app_icon.ico
  packages/file_selector/file_selector/example/windows/runner/runner.exe.manifest
  packages/file_selector/file_selector/example/windows/runner/utils.cpp
  packages/file_selector/file_selector/example/windows/runner/utils.h
  packages/file_selector/file_selector/example/windows/runner/win32_window.cpp
  packages/file_selector/file_selector/example/windows/runner/win32_window.h
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/exclude_integration_win32.yaml
Labels: waiting for tree to go green, p: file_selector, platform-windows

#3275 [video_player] Added the setCaptionOffset
  packages/video_player/video_player/AUTHORS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: cla: yes, waiting for tree to go green, p: video_player, last mile

#4519 [camera] Fix ImageStream ImageFormatGroup is Ignored in iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-ios

#4695 [camera]refactor flash mode and add unit test
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTFlashModeTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FlashMode.h
  packages/camera/camera/ios/Classes/FlashMode.m
Labels: waiting for tree to go green, p: camera, platform-ios

#4704 [camera]refactor more types into separate files, and add unit tests
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTFlashModeTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/CameraProperties.h
  packages/camera/camera/ios/Classes/CameraProperties.m
  packages/camera/camera/ios/Classes/FlashMode.h
  packages/camera/camera/ios/Classes/FlashMode.m
Labels: waiting for tree to go green, p: camera, platform-ios

#4708 [camera]refactor FLTCam outside of CameraPlugin
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
Labels: waiting for tree to go green, p: camera, platform-ios

#4709 [camera] Sample buffer handling on session queue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/SampleBufferQueueTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios
