Repository flutter/plugins, pull requests merged in 2022-04, with the labels that each got.

#5151 [camera] Migrate deprecated Scaffold methods to ScaffoldMessenger
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/test/main_test.dart
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera

#5111 [in_app_purchase] Make sure unsupported userInfo doesn't crash App
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-ios

#5150 [webview_flutter] Migrate deprecated Scaffold snackbars
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, platform-ios, platform-android

#5174 [image_picker] Publish federated version
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker

#5178 [espresso] Updates androidx.test.ext dependencies
  .ci/flutter_master.version
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: waiting for tree to go green, p: espresso, platform-android, needs tests

#5179 Roll Flutter from 5c6918933e15 to 5788f5ef07c2 (61 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5180 Roll Flutter from 5788f5ef07c2 to 08c46bcb58cf (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5181 Roll Flutter from 08c46bcb58cf to 120b3deb182c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5182 Roll Flutter from 120b3deb182c to 94fefaa49d86 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5183 Roll Flutter from 94fefaa49d86 to 676edd4c828f (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5186 Roll Flutter from f8e528a4ef80 to e382f1376a9b (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5187 Roll Flutter from e382f1376a9b to d08f7ab9c949 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5130 [webview_flutter_wkwebview] Added support for the rest of the creation params
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5190 Roll Flutter from d08f7ab9c949 to 2999e8531569 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5193 Roll Flutter from 2999e8531569 to f5f9ad915e55 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5129 [webview_flutter_wkwebview] Implement Dart side of the Pigeon HostApis
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5197 Roll Flutter from f5f9ad915e55 to c7d2935077fb (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5196 [local_auth_platform_interface] Export externally used types from local_auth_platform_interface.dart directly.
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/local_auth_platform_interface.dart
  packages/local_auth/local_auth_platform_interface/lib/types/types.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
Labels: waiting for tree to go green, p: local_auth, needs tests

#5198 Roll Flutter from c7d2935077fb to 64f7bf7e2ffd (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5200 Roll Flutter from 64f7bf7e2ffd to b528310f589b (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5202 Roll Flutter from b528310f589b to b0de14ce07c0 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5205 Roll Flutter from b0de14ce07c0 to e3f8b50fd523 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5206 Roll Flutter from e3f8b50fd523 to 8e259c0fa32b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5208 Roll Flutter from 8e259c0fa32b to 221235c7ed1a (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5210 Roll Flutter from 221235c7ed1a to b63c4a6db091 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5211 Roll Flutter from b63c4a6db091 to 2979ff6f1342 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5212 Roll Flutter from 2979ff6f1342 to 3109073fd9f9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5213 Roll Flutter from 3109073fd9f9 to cae740b9032f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5216 Roll Flutter from cae740b9032f to c14ca6d32112 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5217 Roll Flutter from c14ca6d32112 to c1227319ab95 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5220 Roll Flutter from c1227319ab95 to 8ff3640c9f04 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5221 Roll Flutter from 8ff3640c9f04 to 074ee4b2f446 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5222 Roll Flutter from 074ee4b2f446 to dd73a32c0ce8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5195 [local_auth] Update app facing package to use default method channel implementation in new platform interface package.
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/lib/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth

#5227 Roll Flutter from 61a86b5bee38 to b08647376976 (18 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5228 Roll Flutter from b08647376976 to 6b461de0129e (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4700 [local_auth] Add native Android implementation of platform interface
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/AUTHORS
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/LICENSE
  packages/local_auth/local_auth_android/README.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/android/lint-baseline.xml
  packages/local_auth/local_auth_android/android/settings.gradle
  packages/local_auth/local_auth_android/android/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/main/res/drawable/fingerprint_initial_icon.xml
  packages/local_auth/local_auth_android/android/src/main/res/drawable/fingerprint_success_icon.xml
  packages/local_auth/local_auth_android/android/src/main/res/drawable/fingerprint_warning_icon.xml
  packages/local_auth/local_auth_android/android/src/main/res/drawable/ic_done_white_24dp.xml
  packages/local_auth/local_auth_android/android/src/main/res/drawable/ic_fingerprint_white_24dp.xml
  packages/local_auth/local_auth_android/android/src/main/res/drawable/ic_priority_high_white_24dp.xml
  packages/local_auth/local_auth_android/android/src/main/res/layout/go_to_setting.xml
  packages/local_auth/local_auth_android/android/src/main/res/layout/scan_fp.xml
  packages/local_auth/local_auth_android/android/src/main/res/values/colors.xml
  packages/local_auth/local_auth_android/android/src/main/res/values/dimens.xml
  packages/local_auth/local_auth_android/android/src/main/res/values/styles.xml
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/example/README.md
  packages/local_auth/local_auth_android/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/local_auth_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/local_auth/local_auth_android/example/android/app/src/androidTest/java/io/flutter/plugins/localauth/FlutterFragmentActivityTest.java
  packages/local_auth/local_auth_android/example/android/app/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/local_auth/local_auth_android/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/local_auth/local_auth_android/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/local_auth/local_auth_android/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/local_auth/local_auth_android/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/local_auth/local_auth_android/example/android/build.gradle
  packages/local_auth/local_auth_android/example/android/gradle.properties
  packages/local_auth/local_auth_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/local_auth/local_auth_android/example/android/settings.gradle
  packages/local_auth/local_auth_android/example/android/settings_aar.gradle
  packages/local_auth/local_auth_android/example/integration_test/local_auth_test.dart
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_android/example/pubspec.yaml
  packages/local_auth/local_auth_android/example/test_driver/integration_test.dart
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/lib/types/auth_messages_android.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth, platform-android

#5230 Roll Flutter from 6b461de0129e to 355fd23a799d (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5232 Roll Flutter from 355fd23a799d to 8a899d4a74ff (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5233 Roll Flutter from 8a899d4a74ff to 9e0f0fe9d7b8 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5235 Roll Flutter from 9e0f0fe9d7b8 to 0f2b1a3baf20 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5203 [webview_flutter_wkwebview] Add support for cookie manager
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5237 Roll Flutter from 0f2b1a3baf20 to 33e540a92e39 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5239 Roll Flutter from 33e540a92e39 to 17be6d73e6cb (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5238 [google_sign_in] Publish federation
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in

#5240 Roll Flutter from 17be6d73e6cb to 888208c1f4e0 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5246 Roll Flutter from 888208c1f4e0 to fd73f2730c78 (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5247 Roll Flutter from fd73f2730c78 to 009688a99eb9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5248 Roll Flutter from 009688a99eb9 to 2b0255f0d9f3 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5249 [local_auth] Change stopAuthentication to return false instead of throwing on iOS.
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth, platform-ios

#5252 Roll Flutter from 5fb74db1a9cb to 86d43e428aaa (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5253 Roll Flutter from 86d43e428aaa to a20cd33d6734 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5242 [google_sign_in_web] Add `plugin_name` to `init` call.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in, platform-web

#5255 Roll Flutter from a20cd33d6734 to 9526c84b2e48 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5257 Roll Flutter from 9526c84b2e48 to 52d17b667250 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5258 Roll Flutter from 52d17b667250 to adda8e93881d (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5259 Roll Flutter from adda8e93881d to 61be9229b7f3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5260 Roll Flutter from 61be9229b7f3 to c2dc92ca881d (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5261 Roll Flutter from c2dc92ca881d to 3aba137efd31 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5262 Roll Flutter from 3aba137efd31 to cb968c5f3291 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5263 Roll Flutter from cb968c5f3291 to 05759325bad1 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4701 [local_auth] Refactor package to make use of new platform interface and native implementations
  packages/local_auth/local_auth/AUTHORS
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/lib/local_auth.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/lib/src/types/error_codes.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth

#5265 Roll Flutter from 05759325bad1 to ff9d6e5e339f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5266 Roll Flutter from ff9d6e5e339f to e2d12060a2bc (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5268 Roll Flutter from e2d12060a2bc to 08e467dde7a1 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5270 Roll Flutter from 08e467dde7a1 to 2b8333240d38 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5244 [webview_flutter_wkwebview] Implements the `HostApis` and methods for the `CookieManager`.
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

#5283 Roll Flutter from 329ceaef666f to ec8289c3f90c (26 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5284 Roll Flutter from ec8289c3f90c to 44be0b84ba54 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5286 Roll Flutter from 44be0b84ba54 to aa5d7b6972ee (12 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5289 Roll Flutter from aa5d7b6972ee to f4875ae865e9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5068 [video_player_web] Stop buffering when browser canPlayThrough.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-web

#5292 Roll Flutter from f4875ae865e9 to 3c4d7a1aed65 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5293 Add owners for Android implementations
  CODEOWNERS
Labels: waiting for tree to go green

#5294 Roll Flutter from 3c4d7a1aed65 to 3752fb7bd15e (11 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5295 Roll Flutter from 3752fb7bd15e to fd360c4a1d24 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5069 [video_player_avfoundation] Applies the standardized transform for videos with different orientations
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.h
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-ios

#5298 Roll Flutter from fd360c4a1d24 to ef5a6da35a72 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5300 Roll Flutter from eb54cefb97fa to c2ec2426ac39 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5302 Roll Flutter from c2ec2426ac39 to 220ffc77f375 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5304 Roll Flutter from 220ffc77f375 to ce6188bef15c (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5305 Roll Flutter from ce6188bef15c to fecc8904ff8c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5307 Roll Flutter from fecc8904ff8c to 9e4f2650dbf9 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5306 Add iOS path CODEOWNERS
  CODEOWNERS
Labels: waiting for tree to go green

#5311 Roll Flutter from b9f1a907b1aa to e526f859ef80 (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5297 [local_auth] support localizedFallbackTitle in IOSAuthMessages
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/lib/types/auth_messages_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth, platform-ios

#5313 Roll Flutter from e526f859ef80 to fce3cee7763c (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5317 Roll Flutter from fce3cee7763c to 3fefb2d5eb5f (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5318 Roll Flutter from 3fefb2d5eb5f to 0dccb58a73dd (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4946 [camera] Fix the orientation of videos recorded in landscape on Android
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManager.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManagerTest.java
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-android

#4863 [image_picker] Added image_picker_for_windows.
  packages/image_picker/image_picker_windows/AUTHORS
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/LICENSE
  packages/image_picker/image_picker_windows/README.md
  packages/image_picker/image_picker_windows/example/README.md
  packages/image_picker/image_picker_windows/example/lib/main.dart
  packages/image_picker/image_picker_windows/example/pubspec.yaml
  packages/image_picker/image_picker_windows/example/windows/.gitignore
  packages/image_picker/image_picker_windows/example/windows/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/flutter/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/flutter/generated_plugins.cmake
  packages/image_picker/image_picker_windows/example/windows/runner/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/runner/Runner.rc
  packages/image_picker/image_picker_windows/example/windows/runner/flutter_window.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/flutter_window.h
  packages/image_picker/image_picker_windows/example/windows/runner/main.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/resource.h
  packages/image_picker/image_picker_windows/example/windows/runner/resources/app_icon.ico
  packages/image_picker/image_picker_windows/example/windows/runner/runner.exe.manifest
  packages/image_picker/image_picker_windows/example/windows/runner/utils.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/utils.h
  packages/image_picker/image_picker_windows/example/windows/runner/win32_window.cpp
  packages/image_picker/image_picker_windows/example/windows/runner/win32_window.h
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.dart
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.mocks.dart
  script/configs/exclude_integration_win32.yaml
Labels: waiting for tree to go green, p: image_picker, platform-windows

#5322 [flutter_plugin_tools] Run pub get for custom-test
  script/tool/CHANGELOG.md
  script/tool/lib/src/custom_test_command.dart
  script/tool/pubspec.yaml
  script/tool/test/custom_test_command_test.dart
Labels: waiting for tree to go green

#5105 [video_player] Add setClosedCaptionFile method to VideoPlayerController
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: waiting for tree to go green, p: video_player

#5314 [various] Replaces manual hashing with Object.hash
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/events/camera_event.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/lib/types/auth_messages_android.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/lib/types/auth_messages_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/types/auth_options.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  script/tool/test/util.dart
Labels: waiting for tree to go green, p: camera, p: local_auth, p: video_player, platform-ios, platform-android

#5241 [webview_flutter_wkwebview] Instance Manager
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
Labels: p: webview_flutter, platform-ios

#5319 Roll Flutter from 0dccb58a73dd to 1b58a593deac (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5321 [local_auth] Fix default deviceSupportsBiometrics
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/lib/default_method_channel_platform.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
Labels: waiting for tree to go green, p: local_auth

#5309 [local_auth] Fix getEnrolledBiometrics returning non-enrolled biometrics on Android.
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth, platform-android

#5310 [url_launcher] Replace primary APIs with cleaner versions
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/lib/src/types.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/lib/url_launcher.dart
  packages/url_launcher/url_launcher/lib/url_launcher_string.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mocks/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: waiting for tree to go green, p: url_launcher

#5323 Added gaaclarke as codeowner
  CODEOWNERS
Labels: waiting for tree to go green

#5285 [image_picker] Migrate iOS to Pigeon and improve state handling
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/copyright.txt
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.dart
Labels: waiting for tree to go green, p: image_picker, platform-ios

#5329 [local_auth] Fix deviceSupportsBiometrics returning false on iOS when present biometric hardware is not enrolled.
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: p: local_auth, platform-ios

#5377 Pin dockerfile version
  .ci/Dockerfile
Labels: waiting for tree to go green

#5376 [flutter_plugin_tool] Allow re-pathifying dependencies
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: waiting for tree to go green

#5399 [url_launcher] Add canLaunch fallback for web on Android
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: waiting for tree to go green, p: url_launcher, platform-android

#5267 [path_provider] Fix Unchecked/Unsafe Operation Warning
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: waiting for tree to go green, p: path_provider, platform-android, needs tests

#5396 [google_sign_in] Switch to internal method channels
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: waiting for tree to go green, p: google_sign_in, platform-ios, platform-android

#4984 [google_maps_flutter] update maps sdk for Android
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/CircleControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolygonControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/PolylineControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: waiting for tree to go green, p: google_maps_flutter, platform-android, needs tests

#5427 ci: remove uwp test
  .ci.yaml
Labels: waiting for tree to go green

#5432 [flutter_plugin_tools] Remove UWP
  .ci/scripts/build_examples_uwp.sh
  .ci/targets/uwp_build_and_platform_tests.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/util.dart
Labels: waiting for tree to go green

#5434 [ci.yaml] Remove explicit caches
  .ci.yaml
Labels: waiting for tree to go green

#5426 [video_player] Fix XCUITest based on the new tooltip accessibility label
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-ios

#5437 Roll Flutter from 1b58a593deac to 4cea9afc1224 (147 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5441 Roll Flutter from 4cea9afc1224 to 5b713147404d (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5436 [flutter_plugin_tools] Validate code blocks in readme-check
  .cirrus.yml
  packages/camera/camera/README.md
  packages/espresso/README.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector_macos/README.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/url_launcher/url_launcher/README.md
  script/configs/temp_exclude_excerpt.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/readme_check_command_test.dart
Labels: waiting for tree to go green, p: camera, p: file_selector, p: google_sign_in, p: url_launcher, p: espresso, platform-macos, platform-web

#5442 Roll Flutter from 5b713147404d to 7a74222832f8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5443 Roll Flutter from 7a74222832f8 to 2eed8cbf9370 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5445 Roll Flutter from 2eed8cbf9370 to ad1d30017e69 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5131 [webview_flutter] fix warning
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, platform-ios, needs tests

#5446 Roll Flutter from ad1d30017e69 to 3fe2cbabc421 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5449 Roll Flutter from 3fe2cbabc421 to 0b3c5d1228f1 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5451 Roll Flutter from 0b3c5d1228f1 to fa519eb22fe3 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5452 Roll Flutter from fa519eb22fe3 to 84e099d5f467 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5454 Roll Flutter from 84e099d5f467 to b0d5d8ab2930 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5456 Roll Flutter from b0d5d8ab2930 to 2a24ee494db4 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5341 [webview_flutter_wkwebview] Implementation of Objective-C WKWebView Host Apis
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5457 Roll Flutter from 2a24ee494db4 to 7b8d50020338 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green
