Repository flutter/plugins, pull requests merged in 2022-05, with the labels that each got.

#5458 Roll Flutter from 7b8d50020338 to 6755ba59f436 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5459 Roll Flutter from 6755ba59f436 to 43555d05040c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5461 Roll Flutter from 43555d05040c to 0f1eb8bad788 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5462 Roll Flutter from 0f1eb8bad788 to e3d39f62a26b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5463 Roll Flutter from e3d39f62a26b to e66662f1cb75 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5464 Roll Flutter from e66662f1cb75 to a35af5b4659a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5465 Roll Flutter from a35af5b4659a to d600a3b48801 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5466 Roll Flutter from d600a3b48801 to f7df22590adf (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5469 Roll Flutter from ea080e58ba42 to 36be63ba19f5 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5470 Roll Flutter from 36be63ba19f5 to bd2ca58db388 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5468 [flutter_plugin_tools] Support non-plugin packages for `drive-examples`
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/util.dart
Labels: waiting for tree to go green

#5471 Roll Flutter from bd2ca58db388 to 7965ee25dd63 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5440 Add dependabot for Gradle dependencies
  .github/dependabot.yml
Labels: waiting for tree to go green

#5453 [flutter_plugin_tools] Include examples in `test`
  script/tool/CHANGELOG.md
  script/tool/lib/src/test_command.dart
  script/tool/pubspec.yaml
  script/tool/test/test_command_test.dart
Labels: waiting for tree to go green

#5473 Roll Flutter from 7965ee25dd63 to 597835d6bfc8 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5589 Roll Flutter from 597835d6bfc8 to 8ad88f162d78 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5590 Roll Flutter from 8ad88f162d78 to 0d56b91324f6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5591 Roll Flutter from 0d56b91324f6 to 2998734bf4ce (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5593 Roll Flutter from 2998734bf4ce to 912943be79db (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5599 Roll Flutter from 912943be79db to 2a102fe5bc7e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5601 Roll Flutter from 2a102fe5bc7e to 2e1ef66665b2 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5602 Roll Flutter from 2e1ef66665b2 to adb8b607e3d2 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5606 Roll Flutter from adb8b607e3d2 to 1aab2d83d932 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5605 [tools] Convert test utils to RepositoryPackage
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/gradle.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/gradle_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/create_all_plugins_app_command_test.dart
  script/tool/test/custom_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/federation_safety_check_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_plugin_command_test.dart
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/readme_check_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: waiting for tree to go green

#5608 Roll Flutter from 1aab2d83d932 to 8b395090c9c1 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5610 Roll Flutter from 8b395090c9c1 to b4f8d7c79296 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5611 Roll Flutter from b4f8d7c79296 to 896e5b332d36 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5613 Roll Flutter from 896e5b332d36 to 6f8ffecc7263 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5615 Roll Flutter from 6f8ffecc7263 to e291b58813f7 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5616 Roll Flutter from e291b58813f7 to e9c0ee1e08d6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5617 Roll Flutter from e9c0ee1e08d6 to b3838eb3de6d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5618 Roll Flutter from b3838eb3de6d to b5321d182a6b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5614 [camera] Update mocktail to latest.
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-web

#5626 Roll Flutter from b5321d182a6b to 82b91b0b45e5 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5629 Roll Flutter from 82b91b0b45e5 to 3c9f417326fa (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5630 Roll Flutter from 3c9f417326fa to 2e1c146eec61 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5631 Roll Flutter from 2e1c146eec61 to 122ab838f48b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5632 Roll Flutter from 122ab838f48b to 051f1b027f0d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5633 Roll Flutter from 051f1b027f0d to 35513c265c94 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5634 Roll Flutter from 35513c265c94 to f7db4893667e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5638 Roll Flutter from 0ea21bc5b397 to f771c9fee734 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5627 [github workflow] Resolve token-permissions security alerts
  .github/workflows/mirror.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: waiting for tree to go green

#5641 Roll Flutter from f771c9fee734 to 0a26277b58c4 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5644 Roll Flutter from 0a26277b58c4 to 603eb82734ab (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5646 Roll Flutter from 603eb82734ab to 758ebda16dc1 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5648 Roll Flutter from 758ebda16dc1 to 2f3f053c0dfb (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5649 Add issues/PRs badges to README
  README.md
Labels: waiting for tree to go green

#5650 Roll Flutter from 2f3f053c0dfb to ac30842c8259 (13 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5652 Roll Flutter from ac30842c8259 to e5718354020e (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5653 [local_auth] Overhaul README, and fix `error_codes.dart` visibility
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/build.excerpt.yaml
  packages/local_auth/local_auth/example/lib/readme_excerpts.dart
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/local_auth/local_auth/lib/error_codes.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: waiting for tree to go green, p: local_auth

#5654 Roll Flutter from e5718354020e to 47f48e4888e4 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5655 Roll Flutter from 47f48e4888e4 to 8e532db7b6ff (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5656 Roll Flutter from 8e532db7b6ff to cc9ac0787871 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5657 Roll Flutter from cc9ac0787871 to f56c0b3bbe69 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5658 Roll Flutter from f56c0b3bbe69 to d01b0f5d23f9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5660 Roll Flutter from d01b0f5d23f9 to b05b44e88ad9 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5662 Roll Flutter from b05b44e88ad9 to 90868d3ba33a (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5663 Roll Flutter from 90868d3ba33a to ae7fcc7e51f6 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5664 Roll Flutter from ae7fcc7e51f6 to c18097178c91 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5665 Roll Flutter from c18097178c91 to c6ced845e389 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5666 Roll Flutter from c6ced845e389 to 4bed76757db7 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5604 [webview_flutter_wkwebview] The rest of the Objective-C HostApi methods
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFHTTPCookieStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFPreferencesHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScriptMessageHandlerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScrollViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUserContentControllerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewConfigurationHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebsiteDataStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5696 Roll Flutter from 4bed76757db7 to df7111a848cb (42 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5209 [camera] Fix preview pause orientation
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: waiting for tree to go green, p: camera

#5325 [google_sign_in] Add forceCodeForRefreshToken parameter (and new SignInInitParameters class)
  packages/google_sign_in/google_sign_in_platform_interface/AUTHORS
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: waiting for tree to go green, p: google_sign_in

#5702 [google_sign_in] Fix tests to recognize new request attribute.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: p: google_sign_in

#5697 Roll Flutter from df7111a848cb to a9ac7fb03be1 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5701 [ios_platform_images] Ignore ImageProvider.load deprecation.
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: waiting for tree to go green, p: ios_platform_images

#5706 [image_picker] Switch unit tests to mock plaform implementation
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Labels: p: image_picker

#5703 [google_sign_in] Switch unit tests to mock platform implementation
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
Labels: waiting for tree to go green, p: google_sign_in

#5707 [ios_platform_images] Ignore ImageProvider.load deprecation
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: waiting for tree to go green, p: ios_platform_images

#5704 Roll Flutter from a9ac7fb03be1 to 8bec125aaf72 (38 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5709 Roll Flutter from 8bec125aaf72 to 6bba577bf230 (17 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5710 Roll Flutter from 6bba577bf230 to b3d7a691f6f9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5715 Roll Flutter from b3d7a691f6f9 to c13bc34717a6 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5699 [ci] Update the legacy analysis versions
  .cirrus.yml
Labels: waiting for tree to go green

#5717 Roll Flutter from c13bc34717a6 to ac80477e8d85 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5719 Roll Flutter from ac80477e8d85 to 2b2cda15293d (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5694 [tools] Fix `publish` flag calculation
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/publish_plugin_command.dart
  script/tool/test/publish_plugin_command_test.dart
Labels: waiting for tree to go green

#5215 [camera]handle iOS camera access permission
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/ios/Classes/CameraPermissionUtils.h
  packages/camera/camera/ios/Classes/CameraPermissionUtils.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#5635 [image_picker] Fix 'messages.g.h' file not found
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, platform-ios

#5765 [ci] Manually roll Flutter master
  .ci/flutter_master.version
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: waiting for tree to go green, p: camera, p: image_picker, p: local_auth, platform-ios, needs tests

#5768 Roll Flutter from 036cae36697a to bf7a32628eef (49 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5769 Roll Flutter from bf7a32628eef to bb9bbc601345 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5770 Roll Flutter from bb9bbc601345 to fd312f1ccff9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5771 Roll Flutter from fd312f1ccff9 to c248854d176b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5358 [in_app_purchase] fixed a memory leak error
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-ios, needs tests

#4806 [local_auth] Windows support.
  packages/local_auth/local_auth_windows/AUTHORS
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/LICENSE
  packages/local_auth/local_auth_windows/README.md
  packages/local_auth/local_auth_windows/example/.gitignore
  packages/local_auth/local_auth_windows/example/.metadata
  packages/local_auth/local_auth_windows/example/README.md
  packages/local_auth/local_auth_windows/example/integration_test/local_auth_test.dart
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/pubspec.yaml
  packages/local_auth/local_auth_windows/example/test_driver/integration_test.dart
  packages/local_auth/local_auth_windows/example/windows/.gitignore
  packages/local_auth/local_auth_windows/example/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/flutter/generated_plugins.cmake
  packages/local_auth/local_auth_windows/example/windows/runner/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/runner/Runner.rc
  packages/local_auth/local_auth_windows/example/windows/runner/flutter_window.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/flutter_window.h
  packages/local_auth/local_auth_windows/example/windows/runner/main.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/resource.h
  packages/local_auth/local_auth_windows/example/windows/runner/resources/app_icon.ico
  packages/local_auth/local_auth_windows/example/windows/runner/runner.exe.manifest
  packages/local_auth/local_auth_windows/example/windows/runner/utils.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/utils.h
  packages/local_auth/local_auth_windows/example/windows/runner/win32_window.cpp
  packages/local_auth/local_auth_windows/example/windows/runner/win32_window.h
  packages/local_auth/local_auth_windows/lib/local_auth_windows.dart
  packages/local_auth/local_auth_windows/lib/types/auth_messages_windows.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/test/local_auth_test.dart
  packages/local_auth/local_auth_windows/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/windows/include/local_auth_windows/local_auth_plugin.h
  packages/local_auth/local_auth_windows/windows/local_auth.h
  packages/local_auth/local_auth_windows/windows/local_auth_plugin.cpp
  packages/local_auth/local_auth_windows/windows/local_auth_windows.cpp
  packages/local_auth/local_auth_windows/windows/test/local_auth_plugin_test.cpp
  packages/local_auth/local_auth_windows/windows/test/mocks.h
Labels: waiting for tree to go green, p: local_auth, platform-windows

#5774 Update cirrus secret.
  .cirrus.yml
Labels: waiting for tree to go green

#5624 Add more Android plugin owners
  CODEOWNERS
Labels: waiting for tree to go green

#5772 [google_maps_flutter] Fix native unit tests on M1
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
Labels: waiting for tree to go green, p: google_maps_flutter, platform-ios

#5775 [tools] Validate example READMEs
  packages/espresso/example/README.md
  packages/file_selector/file_selector/example/README.md
  packages/google_maps_flutter/google_maps_flutter/example/README.md
  packages/google_sign_in/google_sign_in/example/README.md
  packages/google_sign_in/google_sign_in_android/example/README.md
  packages/google_sign_in/google_sign_in_ios/example/README.md
  packages/image_picker/image_picker/example/README.md
  packages/image_picker/image_picker_android/example/README.md
  packages/image_picker/image_picker_ios/example/README.md
  packages/image_picker/image_picker_windows/example/README.md
  packages/ios_platform_images/example/README.md
  packages/local_auth/local_auth/example/README.md
  packages/local_auth/local_auth_android/example/README.md
  packages/local_auth/local_auth_ios/example/README.md
  packages/path_provider/path_provider/example/README.md
  packages/path_provider/path_provider_android/example/README.md
  packages/path_provider/path_provider_ios/example/README.md
  packages/path_provider/path_provider_linux/example/README.md
  packages/path_provider/path_provider_macos/example/README.md
  packages/path_provider/path_provider_windows/example/README.md
  packages/quick_actions/quick_actions/example/README.md
  packages/quick_actions/quick_actions_android/example/README.md
  packages/quick_actions/quick_actions_ios/example/README.md
  packages/shared_preferences/shared_preferences/example/README.md
  packages/shared_preferences/shared_preferences_android/example/README.md
  packages/shared_preferences/shared_preferences_ios/example/README.md
  packages/shared_preferences/shared_preferences_linux/example/README.md
  packages/shared_preferences/shared_preferences_macos/example/README.md
  packages/shared_preferences/shared_preferences_windows/example/README.md
  packages/url_launcher/url_launcher/example/README.md
  packages/url_launcher/url_launcher_android/example/README.md
  packages/url_launcher/url_launcher_ios/example/README.md
  packages/url_launcher/url_launcher_linux/example/README.md
  packages/url_launcher/url_launcher_macos/example/README.md
  packages/video_player/video_player/example/README.md
  packages/video_player/video_player_android/example/README.md
  packages/video_player/video_player_avfoundation/example/README.md
  packages/webview_flutter/webview_flutter/example/README.md
  packages/webview_flutter/webview_flutter_android/example/README.md
  packages/webview_flutter/webview_flutter_web/example/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/README.md
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/list_command_test.dart
  script/tool/test/readme_check_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_command_test.dart
Labels: waiting for tree to go green, p: webview_flutter, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: espresso, p: quick_actions, p: ios_platform_images, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web

#5777 Roll Flutter from c248854d176b to 1994027986cf (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5779 Add more CODEOWNERS
  CODEOWNERS
Labels: waiting for tree to go green

#5643 [tools] Add `update-release-info`
  script/tool/CHANGELOG.md
  script/tool/README.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/update_release_info_command_test.dart
  script/tool/test/util.dart
Labels: waiting for tree to go green

#5776 [local_auth] Adds federated Windows support
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/windows/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/flutter/generated_plugins.cmake
  packages/local_auth/local_auth/example/windows/runner/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/runner/Runner.rc
  packages/local_auth/local_auth/example/windows/runner/flutter_window.cpp
  packages/local_auth/local_auth/example/windows/runner/flutter_window.h
  packages/local_auth/local_auth/example/windows/runner/main.cpp
  packages/local_auth/local_auth/example/windows/runner/resource.h
  packages/local_auth/local_auth/example/windows/runner/resources/app_icon.ico
  packages/local_auth/local_auth/example/windows/runner/runner.exe.manifest
  packages/local_auth/local_auth/example/windows/runner/utils.cpp
  packages/local_auth/local_auth/example/windows/runner/utils.h
  packages/local_auth/local_auth/example/windows/runner/win32_window.cpp
  packages/local_auth/local_auth/example/windows/runner/win32_window.h
  packages/local_auth/local_auth/lib/error_codes.dart
  packages/local_auth/local_auth/lib/src/local_auth.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: waiting for tree to go green, p: local_auth, platform-windows

#5708 [google_sign_in] Upgrade to GoogleSignIn 6.2, support arm64 simulators
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/ios/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in, platform-ios

#5782 Roll Flutter from 1994027986cf to a4a8e73bce15 (31 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5786 [ci] Updates iOS deprecation check to iOS 13
  .cirrus.yml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in, p: image_picker, p: url_launcher, platform-ios, needs tests

#5791 [google_maps_flutter_web] Remove custom analysis file.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/resources/icon_image_base64.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shape_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shapes_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circle.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/circles.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polygons.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/polylines.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/shims/dart_ui.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/shims/dart_ui_fake.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/to_screen_location.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/types.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: google_maps_flutter, platform-web

#5773 [path_provider] Fix integration tests on macOS
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
Labels: waiting for tree to go green, p: path_provider

#5672 [video_player] Fix order-dependent tests
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/test/video_player_test.dart
Labels: waiting for tree to go green, p: video_player

#5049 [google_sign_in] Suppress `deprecation` warnings
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: waiting for tree to go green, p: google_sign_in, platform-android, needs tests

#5795 Roll Flutter from a4a8e73bce15 to 1e1f4bcfb561 (65 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5799 Roll Flutter from 1e1f4bcfb561 to 1e10ceceb036 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5800 Roll Flutter from 1e10ceceb036 to 6aaabf6d5695 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5802 Roll Flutter from 6aaabf6d5695 to 4654fd011d13 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5803 Roll Flutter from 4654fd011d13 to b8b0c807bbe5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5804 Roll Flutter from b8b0c807bbe5 to de7c23e7e963 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5805 Roll Flutter from de7c23e7e963 to ec20ea80ad98 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5642 [google_sign_in, in_app_purchase_android] Add availability to mock models
  AUTHORS
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
Labels: waiting for tree to go green, p: google_sign_in, p: in_app_purchase, platform-android

#5636 [Camera] Return all possible cameras on iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#5793 [google_maps_flutter] Updates platform interface to new analysis options
  analysis_options.yaml
  analysis_options_legacy.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/callbacks.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/circle.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/location.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/maps_object_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polygon.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/screen_coordinate.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ui.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/location_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/maps_object_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/test_maps_object.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/tile_test.dart
  script/configs/custom_analysis.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: waiting for tree to go green, p: google_maps_flutter

#5811 [google_maps_flutter] Fix prefer_const_literals_to_create_immutables
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
Labels: waiting for tree to go green, p: google_maps_flutter, platform-web

#5813 Roll Flutter from ec20ea80ad98 to 7ece8f9f9435 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5815 Roll Flutter from 7ece8f9f9435 to f85209272dca (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5794 [ci] Initial migration to Cirrus Apple silicon
  .cirrus.yml
Labels: waiting for tree to go green

#5823 Roll Flutter from 35c0a3ee5c98 to 7ca498489d09 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5824 Roll Flutter from 7ca498489d09 to e4c7f6e1b027 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5826 Roll Flutter from e4c7f6e1b027 to ac29c11aecb8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5787 Fix issue where map updates don't take effect in Flutter v3.0.0
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: waiting for tree to go green, p: google_maps_flutter, platform-android

#5827 Roll Flutter from ac29c11aecb8 to efb9368573f6 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5806 [ios_platform_images] ignore DecoderCallback deprecation
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: waiting for tree to go green, p: ios_platform_images

#5830 Roll Flutter from efb9368573f6 to b5adbee145fd (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5783 [camera] Move camera streaming to platform interface
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/type_conversion.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_image_data.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/method_channel/type_conversion_test.dart
  packages/camera/camera_platform_interface/test/types/camera_image_data_test.dart
Labels: waiting for tree to go green, p: camera

#5832 Roll Flutter from b5adbee145fd to da24f105bd31 (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5829 [webview_flutter_wkwebview] Update variable names for changes coming in flutter/plugins#5700
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFHTTPCookieStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFPreferencesHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScriptMessageHandlerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScrollViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUserContentControllerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewConfigurationHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebsiteDataStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/function_flutter_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/function_flutter_api_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5834 Roll Flutter from da24f105bd31 to e8995736bf55 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5833 [camera] Switch to platform-interface-provided streaming
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
Labels: waiting for tree to go green, p: camera

#5850 [webview_flutter_wkwebview] Raise minimum Dart and Flutter version to 2.17 and 3.0.0, respectively.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, platform-ios, needs tests

#4986 [path_provider] Support unicode encoded version info values
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: waiting for tree to go green, p: path_provider, platform-windows

#5784 [camera_web] Use CameraAccessDenied for permission error
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-web

#5853 [path_provider_windows] Update to ffi 2.0.0
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-windows, platform-linux

#5158 [video_player] Android: video_player_android parts of rotationCorrection fix
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerPluginTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
Labels: waiting for tree to go green, p: video_player, platform-android
