Repository flutter/plugins, pull requests merged in 2022-12, with the labels that each got.

#5312 [google_maps_flutter] ios: re-enable test with popup
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios, autosubmit

#6748 [webview_flutter] Makes `enableDebugging` an Android specific method
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/v4/platform_webview_controller_test.dart
Labels: p: webview_flutter, platform-android

#6782 Revert "[google_maps_flutter] ios: re-enable test with popup"
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios

#6787 Roll Flutter from b2672fe8355f to 33f3e13dfff6 (72 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6758 [camera] Handle empty grantResults on permission request
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPermissionsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#6791 Roll Flutter from 33f3e13dfff6 to 30fc993caed5 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6290 [camera] Add ability to concurrently record and stream video
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-ios, platform-android, platform-windows, platform-web, autosubmit

#6796 Revert "[camera] Add ability to concurrently record and stream video"
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-ios, platform-android, platform-windows, platform-web

#6768 [webview_flutter_wkwebview] Moves legacy implementation into the legacy folder
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#6619 [google_maps_flutter] Add support to request map renderer for Android
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapInitializer.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapInitializerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/latest_renderer_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/legacy_renderer_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/readme_excerpts.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android, needs tests, autosubmit

#6799 [webview_flutter_wkwebview] Moves v4 classes to the src folder and removes v4 folder
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#6686 [webview_flutter] Added Android implementation of PlatformWebViewWidget
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-android

#6806 [webview_flutter] Adds implementation of AndroidWebviewPlatform
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_platform.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_cookie_manager_test.dart
Labels: p: webview_flutter, platform-android

#6807 [google_maps_flutter] Roll cupertino_icons for compatibility with Dart 3
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios, platform-android, autosubmit

#6808 [camera] Re-enable ability to concurrently record and stream video
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
Labels: p: camera, platform-ios, platform-android, platform-windows, platform-web, autosubmit

#6803 [video_player] Fix file URI construction
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: p: video_player, platform-android, autosubmit

#6810 Roll Flutter from a570fd25d83b to 521028c80827 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6809 [webview_flutter_android] Moves v4 classes to the src folder and removes v4 folder
  packages/webview_flutter/webview_flutter_android/lib/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_platform.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_flutter_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
Labels: p: webview_flutter, platform-ios, platform-android

#6811 [webview_flutter_wkwebview] Updates example app and convert integration tests for new implementation
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/navigation_decision.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/navigation_request.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#6820 Roll Flutter from 521028c80827 to eefbe85c8bd4 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6814 [webview_flutter] Moves v4 classes to the src folder and moves old code to legacy folder
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter_legacy.dart
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
Labels: p: webview_flutter

#6813 [tools] Recognize Pigeon tests in version-check
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_state_utils_test.dart
Labels: autosubmit

#6831 [camera] Attempt to fix flaky new Android test
  packages/camera/camera_android/example/integration_test/camera_test.dart
Labels: p: camera, platform-android

#6631 [google_maps_flutter] Modified `README.md` to fix minor syntax issues
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/build.excerpt.yaml
  packages/google_maps_flutter/google_maps_flutter/example/lib/readme_sample.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, needs tests, autosubmit

#6783 Reland "[google_maps_flutter] ios: re-enable test with popup #5312"
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerUITests/GoogleMapsUITests.m
Labels: p: google_maps_flutter, platform-ios, autosubmit, override: no versioning needed

#6816 [webview_flutter_android] Updates example app and convert integration tests for new implementation
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/navigation_decision.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/navigation_request.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
Labels: p: webview_flutter, platform-android

#6833 [webview_flutter] Updates example app and convert integration tests for new implementation
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/android.dart
  packages/webview_flutter/webview_flutter/lib/wkwebview.dart
Labels: p: webview_flutter

#6837 Roll Flutter from bd0791be3ff2 to 15af81782e19 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6843 Roll Flutter from 15af81782e19 to 028c6e29e0ca (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6841 [camera_android_camerax] `unnecessary_parenthesis` lint fix
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
Labels: p: camera, needs tests, autosubmit

#6842 [various] Enable avoid_print
  analysis_options.yaml
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/lib/readme_full_example.dart
  packages/camera/camera/example/test_driver/integration_test.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/test_driver/integration_test.dart
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_web/test/more_tests_exist_elsewhere_test.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector_linux/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_web/test/more_tests_exist_elsewhere_test.dart
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter_web/test/tests_exist_elsewhere_test.dart
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in_android/example/lib/main.dart
  packages/google_sign_in/google_sign_in_ios/example/lib/main.dart
  packages/google_sign_in/google_sign_in_web/test/tests_exist_elsewhere_test.dart
  packages/image_picker/image_picker_for_web/test/tests_exist_elsewhere_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform_addition.dart
  packages/ios_platform_images/example/lib/main.dart
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth/example/lib/readme_excerpts.dart
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/test/tests_exist_elsewhere_test.dart
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_ios/example/lib/main.dart
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/test/tests_exist_elsewhere_test.dart
  packages/video_player/video_player_web/test/tests_exist_elsewhere_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/lib/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/web_view.dart
  script/tool/analysis_options.yaml
Labels: p: webview_flutter, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: ios_platform_images, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web, autosubmit, override: no versioning needed, override: no changelog needed

#6844 [webview_flutter] Hide legacy export files inside `src` folders
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_flutter_legacy.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter_legacy.dart
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/webview_flutter_android_legacy.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/surface_android_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/webview_flutter_platform_interface_legacy.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/platform_interface/javascript_channel_registry_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/platform_interface/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/javascript_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/webview_cookie_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/webview_request_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_flutter_wkwebview_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios, platform-android

#6840 [webview_flutter_web] WebView 4.0 implementation for Web
  packages/webview_flutter/webview_flutter_web/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_web/example/lib/main.dart
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/lib/src/http_request_factory.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui_fake.dart
  packages/webview_flutter/webview_flutter_web/lib/src/shims/dart_ui_real.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_platform.dart
  packages/webview_flutter/webview_flutter_web/lib/src/webview_flutter_web_legacy.dart
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.mocks.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_widget_test.dart
Labels: p: webview_flutter, platform-web

#6846 [webview_flutter_platform_interface] Updates platform interface to new interface
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/README.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/javascript_channel_registry.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/webview_platform_callbacks_handler.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/webview_platform_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/auto_media_playback_policy.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/javascript_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/javascript_mode.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/web_resource_error_type.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/web_settings.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/webview_cookie.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/webview_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/method_channel/webview_method_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_mode.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/navigation_decision.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/navigation_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_navigation_delegate_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_controller_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_cookie_manager_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_cookie.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/webview_flutter_platform_interface_legacy.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/platform_interface/javascript_channel_registry_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/platform_interface/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/javascript_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/webview_cookie_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/legacy/types/webview_request_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/webview_platform_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.mocks.dart
  script/configs/exclude_all_plugins_app.yaml
Labels: p: webview_flutter, autosubmit, override: allow breaking change

#6850 Roll Flutter (stable) from b8f7f1f9869b to 135454af3247 (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6851 [webview_flutter_android] Copies Android implementation of webview_flutter from v4_webview
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/Releasable.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/navigation_decision.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/navigation_request.dart
  packages/webview_flutter/webview_flutter_android/example/lib/legacy/web_view.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_platform.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_android/lib/src/webview_flutter_android_legacy.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_flutter_android.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/surface_android_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
  script/configs/exclude_all_plugins_app.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6821 [local_auth] Fix failed biometric authentication not throwing error
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: p: local_auth, platform-ios, autosubmit

#6678 [image_picker] Don't store null paths in lost cache
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: p: image_picker, platform-android, autosubmit

#6857 [webview_flutter_android] Fix timeouts in the integration tests
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6853 [flutter_plugin_tools] If `clang-format` does not run, fall back to other executables in PATH
  script/tool/CHANGELOG.md
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: autosubmit

#6855 [video_player] Add compatibility with the current platform interface
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/pubspec.yaml
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/pubspec.yaml
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-android, platform-web, autosubmit

#6812 [image_picker] Improve image_picker for iOS to handle more image types
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/bmpImage.bmp
  packages/image_picker/image_picker_ios/example/ios/TestImages/heicImage.heic
  packages/image_picker/image_picker_ios/example/ios/TestImages/icnsImage.icns
  packages/image_picker/image_picker_ios/example/ios/TestImages/icoImage.ico
  packages/image_picker/image_picker_ios/example/ios/TestImages/proRawImage.dng
  packages/image_picker/image_picker_ios/example/ios/TestImages/svgImage.svg
  packages/image_picker/image_picker_ios/example/ios/TestImages/tiffImage.tiff
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, autosubmit

#6856 [webview_flutter] Copies app-facing implementation of webview_flutter from v4_webview
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/build.excerpt.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/lib/simple_example.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/platform_interface.dart
  packages/webview_flutter/webview_flutter/lib/src/legacy/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/v4/webview_flutter.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_flutter_legacy.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
  script/configs/exclude_all_plugins_app.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: webview_flutter, autosubmit

#6858 [image_picker_ios] Pass through error message from image saving
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerMetaDataUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, autosubmit

#6848 [local_auth] Bump `intl` from ^0.17.0 to ">=0.17.0 <0.19.0"
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
Labels: p: local_auth, platform-ios, platform-android, autosubmit

#6870 [camera] Remove deprecated Optional type
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#6519 [in_app_purchase] Add support for macOS
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Flutter/Flutter-Release.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Podfile
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/AppDelegate.swift
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Debug.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Release.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Configs/Warnings.xcconfig
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/MainFlutterWindow.swift
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase, platform-macos, autosubmit

#6863 [webview_flutter_wkwebview] Adds support for `WKNavigationAction.navigationType`
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
Labels: p: webview_flutter, platform-ios, autosubmit

#6864 [webview_flutter_android] Adds support for selecting Hybrid Composition
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/platform_views_service_proxy.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6872 [webview_flutter_android] Fixes bug where a `AndroidNavigationDelegate` was required to load a request
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6876 Roll Flutter from dbc9306380d8 to 9fb1ae839e0a (106 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6879 Roll Flutter from 9fb1ae839e0a to a45a2f311990 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6877 [webview_flutter] Exposes `WebResourceErrorType`
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: p: webview_flutter, autosubmit

#6845 [image_picker] Fix check for iOS 14+ authorization status
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, autosubmit

#6880 Roll Flutter from a45a2f311990 to e766ad07e600 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6885 Roll Flutter from e766ad07e600 to ae292cc4e5e4 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6889 Roll Flutter from ae292cc4e5e4 to 17482fd425ee (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6886 [webview_flutter_web] Adds auto registration of the `WebViewPlatform` implementation
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_platform.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
Labels: p: webview_flutter, platform-web, autosubmit

#6892 Roll Flutter from 17482fd425ee to d2127ad344e8 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6896 Roll Flutter from d2127ad344e8 to 120058fd3ded (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6901 Roll Flutter from 120058fd3ded to 0196e6050b75 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit
