Repository flutter/plugins, pull requests merged in 2022-03, with the labels that each got.

#4966 Roll Flutter from 7959c3953dbe to 377d7d768df1 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4716 [google_maps_flutter] Switch app-facing package to new analysis options
  packages/google_maps_flutter/google_maps_flutter/AUTHORS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: google_maps_flutter

#4968 Roll Flutter from 377d7d768df1 to 8b95cd6f35b7 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4970 Roll Flutter from 8b95cd6f35b7 to 1dd24b8af858 (9 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4971 Roll Flutter from 1dd24b8af858 to bf98767e8e55 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4972 Roll Flutter from bf98767e8e55 to 6c818d772a71 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4969 [in_app_purchase] Update app-facing package to new analysis options
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: in_app_purchase

#4976 Roll Flutter from 8f360c977a61 to 03ed3c911cd1 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4977 Roll Flutter from 03ed3c911cd1 to c8a930b6967e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4978 Roll Flutter from c8a930b6967e to 7372ad17f654 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4979 Roll Flutter from 7372ad17f654 to f8eee10f96fe (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4980 Roll Flutter from f8eee10f96fe to a13f893d9fa8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4981 Roll Flutter from a13f893d9fa8 to 87f5f4685c62 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4982 Roll Flutter from 87f5f4685c62 to f63e0c8d4682 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4993 Roll Flutter from f63e0c8d4682 to ae9a796cfae1 (19 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4997 Roll Flutter from ae9a796cfae1 to 646c22085e52 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4998 Roll Flutter from 646c22085e52 to fbf6a58bf19c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4381 [file_selector] Add macOS support
  .cirrus.yml
  packages/file_selector/file_selector_macos/.gitignore
  packages/file_selector/file_selector_macos/.metadata
  packages/file_selector/file_selector_macos/AUTHORS
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/LICENSE
  packages/file_selector/file_selector_macos/README.md
  packages/file_selector/file_selector_macos/example/.gitignore
  packages/file_selector/file_selector_macos/example/.metadata
  packages/file_selector/file_selector_macos/example/README.md
  packages/file_selector/file_selector_macos/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_macos/example/lib/home_page.dart
  packages/file_selector/file_selector_macos/example/lib/main.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/example/macos/.gitignore
  packages/file_selector/file_selector_macos/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Flutter/Flutter-Release.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Podfile
  packages/file_selector/file_selector_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_macos/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector_macos/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector_macos/example/macos/Runner/AppDelegate.swift
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/file_selector/file_selector_macos/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/file_selector/file_selector_macos/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Runner/Configs/Debug.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Runner/Configs/Release.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Runner/Configs/Warnings.xcconfig
  packages/file_selector/file_selector_macos/example/macos/Runner/DebugProfile.entitlements
  packages/file_selector/file_selector_macos/example/macos/Runner/Info.plist
  packages/file_selector/file_selector_macos/example/macos/Runner/MainFlutterWindow.swift
  packages/file_selector/file_selector_macos/example/macos/Runner/Release.entitlements
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/Info.plist
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/example/pubspec.yaml
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos.podspec
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  script/configs/exclude_integration_macos.yaml
Labels: cla: yes, p: file_selector, platform-macos

#5001 [file_selector] Endorse macOS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/macos/.gitignore
  packages/file_selector/file_selector/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/file_selector/file_selector/example/macos/Flutter/Flutter-Release.xcconfig
  packages/file_selector/file_selector/example/macos/Podfile
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/macos/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/file_selector/file_selector/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/file_selector/file_selector/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/file_selector/file_selector/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Debug.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Release.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/Configs/Warnings.xcconfig
  packages/file_selector/file_selector/example/macos/Runner/DebugProfile.entitlements
  packages/file_selector/file_selector/example/macos/Runner/Info.plist
  packages/file_selector/file_selector/example/macos/Runner/MainFlutterWindow.swift
  packages/file_selector/file_selector/example/macos/Runner/Release.entitlements
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/exclude_integration_macos.yaml
Labels: waiting for tree to go green, p: file_selector, platform-macos, needs tests

#5003 Roll Flutter from fbf6a58bf19c to 163a7ac116f4 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5006 Roll Flutter from 163a7ac116f4 to 671aa9e95e97 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5005 [quick_actions] Publish federated version
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: waiting for tree to go green, p: quick_actions

#5007 Roll Flutter from 671aa9e95e97 to 513df67edb69 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5010 Roll Flutter from 513df67edb69 to 03c92a99fdf8 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5014 Roll Flutter from 03c92a99fdf8 to a491a81f7873 (26 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4983 [camera]remove QueueHelper class
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/QueueUtilsTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera/ios/Classes/QueueUtils.h
  packages/camera/camera/ios/Classes/QueueUtils.m
Labels: waiting for tree to go green, p: camera, platform-ios

#4973 [camera]remove CAS operation and use dispatch queue instead
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner/main.m
  packages/camera/camera/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#5016 Roll Flutter from a491a81f7873 to 10805ca3fe6b (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4572 [camera] Fix for CameraAccessException that prevents image capture on certain devices running Android 7/8
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-android

#5013 [video_player] Add new option for allowBackgroundPlayback
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: waiting for tree to go green, p: video_player

#5018 Roll Flutter from 10805ca3fe6b to 06fb863ae5a4 (13 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5019 Roll Flutter from 06fb863ae5a4 to bb1b2fd07277 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5020 Roll Flutter from bb1b2fd07277 to 9240c9a02a87 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5021 Roll Flutter from 9240c9a02a87 to c8538873c80e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5022 Roll Flutter from c8538873c80e to 3172065fbab0 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5000 [ci] Run analysis with older versions of Flutter
  .cirrus.yml
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_command_test.dart
  script/tool/test/util.dart
Labels: waiting for tree to go green, p: camera, p: google_sign_in, p: video_player, p: quick_actions, platform-web

#5025 Roll Flutter from bf6fcee17345 to 9cfaabaed09e (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5030 Roll Flutter from 9cfaabaed09e to e8af40f06b24 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4893 [webview_flutter_wkwebview] Add support for WKNavigationDelegate
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5029 [webview_flutter_android] Change relative path to uri in generated pigeon test file
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-android, needs tests

#5032 Roll Flutter from e8af40f06b24 to bb2cca5f59a1 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5033 Roll Flutter from bb2cca5f59a1 to 57aa49028db7 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5037 Roll Flutter from 57aa49028db7 to 48172589e5ac (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5040 Roll Flutter from 48172589e5ac to 2ed7cdf35a0e (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5027 [flutter_plugin_tools] Fix subpackage analysis
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/plugin_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: waiting for tree to go green

#5043 Roll Flutter from 2ed7cdf35a0e to 201a64c98f35 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5034 [file_selector] Update macOS README and example
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/macos/Runner/DebugProfile.entitlements
  packages/file_selector/file_selector/example/macos/Runner/Release.entitlements
  packages/file_selector/file_selector/pubspec.yaml
Labels: waiting for tree to go green, p: file_selector, platform-macos, needs tests

#5047 Roll Flutter from 201a64c98f35 to 2f73173c36f8 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5055 Roll Flutter from 2f73173c36f8 to 2bd3e0d91485 (16 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5050 Update scorecard versions.
  .github/workflows/scorecards-analysis.yml
Labels: waiting for tree to go green

#5017 [in_app_purchase] Adds additional explanation on the importance of completing a purchase
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase

#5046 [flutter_plugin_tools] packages get -> pub get
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
Labels: waiting for tree to go green

#5059 Roll Flutter from 2bd3e0d91485 to c9755336785e (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5062 Roll Flutter from 722cbc52b85b to fd25dc848324 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5066 Roll Flutter from fd25dc848324 to 509ddfda5c1b (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4985 [in_app_purchase] Implements transaction caching for StoreKit
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FIATransactionCacheTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-ios

#5058 [flutter_plugin_tool] Add custom-test command
  script/tool/CHANGELOG.md
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/custom_test_command_test.dart
Labels: waiting for tree to go green

#5072 Roll Flutter from 1c2c9421121f to a217bbb6defe (46 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5074 Roll Flutter from a217bbb6defe to 5b3e42afd019 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5080 Roll Flutter from 5b3e42afd019 to 1de874e7364a (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5083 Roll Flutter from 1de874e7364a to 2c1dbba9344c (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5085 Roll Flutter from 2c1dbba9344c to d1c11213493c (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5089 Roll Flutter from d1c11213493c to 6af40a7004f8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#3426 [google_maps_flutter] Fix iOS crash by observing map frame change only once
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/PartiallyMockedMapView.h
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/PartiallyMockedMapView.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController_Test.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter-umbrella.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter.modulemap
  packages/google_maps_flutter/google_maps_flutter/ios/google_maps_flutter.podspec
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: google_maps_flutter, platform-ios

#5094 Roll Flutter from 8c1c2f6af555 to 97258979df13 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5095 Roll Flutter from 97258979df13 to 9671b7ddee8c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4634 [video_player] Platform interface changes to fix Android rotation for videos recorded in landscapeRight
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: waiting for tree to go green, p: video_player

#4991 [webview_flutter_wkwebview] Add support to clear cache
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5103 [video_player] Reduce server dependencies in tests
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
Labels: p: video_player, platform-android

#5098 [ci] Update Chrome install script and version.
  script/install_chromium.sh
Labels: waiting for tree to go green, last mile

#4988 [camera] Update README
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera

#4990 [webview_flutter_wkwebview] Add WKWebView method stubs
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5101 [webview_flutter_wkwebview] Add progress tracking support for flutter/flutter#93732
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5011 [Video_player] Upgraded to exoPlayer 2.17.0
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-android, needs tests

#5107 [tool] Fix typo in `publish-plugin` readme
  script/tool/CHANGELOG.md
  script/tool/README.md
Labels: waiting for tree to go green, last mile

#5112 [espresso] [video_player] Update espresso guava version
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/image_picker/image_picker/example/pubspec.yaml
Labels: p: image_picker, p: espresso, platform-android, needs tests

#4520 [camera] Fixed a crash when streaming on iOS
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTCam.h
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: camera, platform-ios

#5120 Roll Flutter from 9671b7ddee8c to b4325b68a260 (121 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5104 [webview_flutter_wkwebview] Update setters and getters to follow Flutter Style Guide
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#5121 Roll Flutter from b4325b68a260 to 37d619d2285e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5124 Roll Flutter from 37d619d2285e to 43029bebc485 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5125 Roll Flutter from 43029bebc485 to fb60ae53e553 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5126 Roll Flutter from fb60ae53e553 to f07f6fef9ae9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5128 Roll Flutter from f07f6fef9ae9 to 66ed64be4fd8 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5086 [webview_flutter_android] Clear local storage when `clearCache` is called
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android
