Repository flutter/plugins, pull requests merged in 2022-06, with the labels that each got.

#5780 [google_maps_flutter] Objective-C code clean up
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapsPlugin.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/FLTGoogleMapsPlugin.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.h
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/JsonConversions.m
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/google_maps_flutter-umbrella.h
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: waiting for tree to go green, p: google_maps_flutter, platform-ios

#5889 [image_picker_android] Remove `jetifier` and `enableUnitTestBinaryResources` from gradle properties
  packages/image_picker/image_picker_android/example/android/gradle.properties
Labels: p: image_picker, platform-android, needs tests, warning: land on red to fix tree breakage

#5700 [webview_flutter_wkwebview] Implement one callback method for review of the design
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/function_flutter_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/instance_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/function_flutter_api_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5855 ignore upcoming warnings in webview_flutter_platform_interface
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: webview_flutter

#5856 ignore upcoming warnings in webview_flutter_wkwebview.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios

#5905 Roll Flutter from e8995736bf55 to 889a15eb9df6 (176 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5890 [image_picker_android] Add jetifier back with gradle and androidx upgrades
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/build.gradle
  packages/image_picker/image_picker_android/example/android/gradle.properties
  packages/image_picker/image_picker_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, platform-android, needs tests

#5883 Update filter to run tasks only on PRs and main branch.
  .cirrus.yml
Labels: waiting for tree to go green

#5907 Revert "All the workflows have been migrated to use main. (#5874)"
  .github/workflows/mirror.yml
Labels: waiting for tree to go green

#5910 Roll Flutter from 889a15eb9df6 to 2e1ebd83b3f6 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5911 Roll Flutter from 2e1ebd83b3f6 to 52c47e96a33d (9 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5916 Roll Flutter from 52c47e96a33d to 1b2ee411aa13 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5920 [ci] Re-disable mirroring to master
  .github/workflows/mirror.yml
Labels: waiting for tree to go green

#5929 Roll Flutter from 1b2ee411aa13 to be0c1bd0f0ce (23 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5424 [url_launcher] Update README discussion of permissions
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: waiting for tree to go green, p: url_launcher, platform-android

#5921 [webview_flutter_wkwebview] Change callbacks setters to anonymous functions
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5931 Ignore upcoming warnings
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/type_conversion.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_image_data.dart
  packages/camera/camera_platform_interface/test/method_channel/type_conversion_test.dart
  packages/camera/camera_platform_interface/test/types/camera_image_data_test.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: video_player

#5933 [webview_flutter_wkwebview] Implement Dart side of Flutter Apis
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5935 Roll Flutter from be0c1bd0f0ce to 4ec296513cb2 (24 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5936 [tools] Check integration tests for `test`
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
  script/tool/CHANGELOG.md
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: waiting for tree to go green, p: path_provider, platform-android

#5939 Ignore upcoming warnings
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
Labels: waiting for tree to go green, p: url_launcher

#5941 Roll Flutter from 4ec296513cb2 to 25e0e290e6a4 (27 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5942 [camera] Publish federated implementations
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera

#4824 [file_selector]Improve API docs and examples
  packages/file_selector/file_selector/AUTHORS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/build.excerpt.yaml
  packages/file_selector/file_selector/example/lib/main.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: waiting for tree to go green, p: file_selector, platform-windows

#5951 Roll Flutter from 25e0e290e6a4 to bc08d85718b6 (36 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5954 Roll Flutter from bc08d85718b6 to 689b5cc68d2f (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5956 Roll Flutter from 689b5cc68d2f to 712860d33b00 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5944 [path_provider] Migrated path_provider_ios to pigeon.
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_ios/ios/Classes/FLTPathProviderPlugin.m
  packages/path_provider/path_provider_ios/ios/Classes/messages.g.h
  packages/path_provider/path_provider_ios/ios/Classes/messages.g.m
  packages/path_provider/path_provider_ios/lib/messages.g.dart
  packages/path_provider/path_provider_ios/lib/path_provider_ios.dart
  packages/path_provider/path_provider_ios/pigeons/copyright.txt
  packages/path_provider/path_provider_ios/pigeons/messages.dart
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_ios/test/messages_test.g.dart
  packages/path_provider/path_provider_ios/test/path_provider_ios_test.dart
Labels: p: path_provider, platform-ios

#5960 [google_maps_flutter] Add structure options to platform interface
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_objects.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_widget_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/map_configuration_serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/utils/map_configuration_serialization_test.dart
Labels: waiting for tree to go green, p: google_maps_flutter

#5962 [ci] Skip expensive native tests on stable in presubmit
  .cirrus.yml
Labels: waiting for tree to go green

#5945 Ignore deprecation for `styleFrom` button APIs
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_macos/example/lib/home_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_windows/example/lib/home_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: waiting for tree to go green, p: camera, p: file_selector, p: in_app_purchase, platform-ios, platform-android, platform-windows, platform-macos

#5967 Roll Flutter from 712860d33b00 to 0cd8f3d02b8a (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5825 [google_maps_flutter] Switch to using new structured options interface methods
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
Labels: waiting for tree to go green, p: google_maps_flutter

#5963 [url_launcher] Fixes call to setState after dispose.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: waiting for tree to go green, p: url_launcher, platform-web

#5965 [google_maps_flutter] Switch web to structured options
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: waiting for tree to go green, p: google_maps_flutter, platform-web

#5969 [webview_flutter_wkwebview] Fix bug of overriding default values of `NSURLRequest`
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5973 [webview_flutter_wkwebview] Fixes bug where an `NSError` not an `NSErrorData` was returned
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5974 [webview_flutter_wkwebview] Implements `currentUrl`
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5968 [webview_flutter_wkwebview] Return an NSNumber that represents a bool
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebsiteDataStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5971 [webview_flutter_wkwebview] Instantiate a `WKWebViewConfiguration` in `WKUIDelegate.onCreateWebView`
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.pigeon.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5975 [webview_flutter_wkwebview] Prevents `NSObject.removeObserver` from being called without calling `addObserver` first
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#5957 [camera] Ignore body_might_complete_normally_catch_error violation
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
Labels: p: camera, needs tests, autosubmit

#5982 Roll Flutter from 0cd8f3d02b8a to 873d343e091c (11 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5959 [path_provider]: Migrated path_provider for android to pigeon.
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/copyright.txt
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/messages_test.g.dart
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android, autosubmit

#5984 Roll Flutter from 873d343e091c to 7bad4eb9d871 (13 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5966 [url_launcher] Add a new launchUrl to platform interface
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/src/types.dart
  packages/url_launcher/url_launcher_platform_interface/lib/src/url_launcher_platform.dart
  packages/url_launcher/url_launcher_platform_interface/lib/url_launcher_platform_interface.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/url_launcher_platform_test.dart
Labels: p: url_launcher, autosubmit

#5988 Roll Flutter from 7bad4eb9d871 to 02558d69d923 (26 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5983 Added ignore deprecation comments to `styleFrom` button APIs (cont)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-android, autosubmit

#6009 [camera] Fix exception in registerWith
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-android

#6011 Roll Flutter from 02558d69d923 to dfaec11ba519 (29 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6007 Ignore upcoming warnings
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/test/test_api.dart
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/test/src/method_channel/webview_method_channel_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
Labels: waiting for tree to go green, p: webview_flutter, p: camera, p: google_maps_flutter, p: image_picker, p: video_player, p: ios_platform_images, platform-ios, platform-android, platform-web, autosubmit

#5976 [ci] Ensure complete dependabot coverage
  .cirrus.yml
  .github/dependabot.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/dependabot_check_command_test.dart
Labels: waiting for tree to go green

#5985 [url_launcher] Switch to new launchUrl interface
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/src/type_conversion.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mocks/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: waiting for tree to go green, p: url_launcher

#6015 Roll Flutter from dfaec11ba519 to 60f30e5d3ed4 (23 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5256 [google_sign_in_platform_interface] Add support for `serverClientId`
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: waiting for tree to go green, p: google_sign_in

#5723 [camera] Partially Address CameraAccessException: CAMERA_ERROR
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-android

#6037 Roll Flutter from a30012b27505 to 6c3a0e4d21da (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6036 [path_provider] Fixed support for querying the root external storage directory
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: p: path_provider, platform-android

#6044 ignore upcoming warnings
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#6054 [google_maps_flutter] Temporary fix for initial coordinate when the surface is changed
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter

#6055 Roll Flutter from 6c3a0e4d21da to baf86869b14a (51 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6058 Roll Flutter from baf86869b14a to 3b11ad8cfe78 (13 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6060 Roll Flutter from 3b11ad8cfe78 to 6c6ae063814c (28 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6038 [tools] Allow skipping packages by Dart version
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/util.dart
Labels: waiting for tree to go green
