Repository flutter/plugins, pull requests merged in 2022-10, with the labels that each got.

#6476 [file_selector] Convert XTypeGroup to const
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector, autosubmit

#6530 Roll Flutter from 99fb2d36e807 to a4b246f2a88c (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6507 [video_player] Fixes a bug where the aspect ratio of some HLS videos are incorrectly inverted
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: p: video_player, platform-ios, autosubmit

#6534 Roll Flutter from a4b246f2a88c to 55d67cc7d992 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6425 [quick_actions]Migrate the XCUITests to Swift
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.swift
Labels: p: quick_actions, platform-ios, autosubmit

#5915 [image_picker] add requestFullMetadata for iOS (optional permissions)
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Labels: p: image_picker, autosubmit

#6536 Roll Flutter from 55d67cc7d992 to d554fcb36a6e (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6537 Roll Flutter (stable) from 18a827f3933c to eb6d86ee27de (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6542 [file_selector] Use const instead of final for XTypeGroup.
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/example/pubspec.yaml
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/example/pubspec.yaml
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/example/pubspec.yaml
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-ios, platform-windows, platform-macos, platform-linux, platform-web, autosubmit

#6544 [image_picker_windows] Use const instead of final for XTypeGroup.
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
Labels: p: image_picker, platform-windows, needs tests, autosubmit

#6551 Roll Flutter from be86a916548a to eec8d9d9cc29 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6552 [tool] Fix version mistake in CHANGELOG
  script/tool/CHANGELOG.md
Labels: autosubmit

#6554 Roll Flutter from eec8d9d9cc29 to 23f22cb8535c (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6556 Roll Flutter from 23f22cb8535c to 89d9880f46e0 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6562 [various] Add some more Java lint ignores
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android_camerax/android/build.gradle
  packages/espresso/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/path_provider/path_provider_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: espresso, p: quick_actions, platform-android, p: flutter_plugin_android_lifecycle, autosubmit, override: no versioning needed, override: no changelog needed

#6564 Roll Flutter from 89d9880f46e0 to 4fed6aaeff8f (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6567 Roll Flutter from 4fed6aaeff8f to 91d88336ddcf (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6571 Roll Flutter from 91d88336ddcf to c738c8aa9616 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6563 [quick_actions] Update dependency versions
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: p: quick_actions, autosubmit

#6574 Roll Flutter from c738c8aa9616 to 08e1729204f3 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6570 [shared_preferences] fix typo
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: p: shared_preferences, platform-android, autosubmit

#6577 Roll Flutter from 08e1729204f3 to a707d05e9d4c (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6584 Roll Flutter from a707d05e9d4c to f26dd3730df8 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6433 [file_selector] Update file_selector_platform_interface by adding the new property 'uniformTypeIdentifiers' to the XTypeGroup.
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector, autosubmit

#6588 Roll Flutter from f26dd3730df8 to eea60f86f1b1 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6590 Roll Flutter from eea60f86f1b1 to abfaec68114b (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6569 [ci] Cirrus pre-alignment with flutter/packages, part 1
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
Labels: autosubmit

#6594 Roll Flutter (stable) from eb6d86ee27de to d9111f640213 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6593 Roll Flutter from abfaec68114b to 637e5bce662f (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6591 [ci] Update web mocks.
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: p: webview_flutter, p: google_maps_flutter, p: url_launcher, platform-web, autosubmit, override: no versioning needed, override: no changelog needed

#6555 [camera] Remove usage of `_ambiguate` method in example
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/pubspec.yaml
Labels: p: camera, needs tests, autosubmit

#6596 [tool] Get dependencies in package examples before publish check.
  script/tool/CHANGELOG.md
  script/tool/lib/src/publish_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/publish_check_command_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit

#6595 [in_app_purchase] Bumps `in_app_purchase_android` minimum version to 0.2.3
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase, autosubmit

#6599 Roll Flutter from 637e5bce662f to 59d26c481acc (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6541 [in_app_purchase][iOS] fix iOS promotional offers (SKPaymentDiscountWrapper was not used properly)
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: p: in_app_purchase, platform-ios, autosubmit

#6522 [local_auth] Fix device credential only check for API < 30
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: p: local_auth, platform-android, autosubmit

#6604 [in_app_purchase_storekit] Fixup iOS integration test placeholder and remove exclusion
  packages/in_app_purchase/in_app_purchase_storekit/example/test_driver/integration_test.dart
  script/configs/exclude_integration_ios.yaml
Labels: p: in_app_purchase, platform-ios, autosubmit, override: no changelog needed

#6511 [webview_flutter_android] Adds `WebViewClient.setSynchronousReturnValueForShouldOverrideUrlLoading`.
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android

#6618 [camera_platform_interface][flutter roll] Fix hashCode tests and manual roll
  .ci/flutter_master.version
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
Labels: p: camera, autosubmit

#6614 [various] Update Gradle in examples
  .cirrus.yml
  packages/camera/camera/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_sign_in/google_sign_in_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/quick_actions/quick_actions_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/url_launcher/url_launcher_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/video_player/video_player_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/webview_flutter/webview_flutter_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, p: url_launcher, p: video_player, p: quick_actions, platform-android, needs tests, autosubmit, override: no changelog needed

#6621 Roll Flutter from 29397c2c7dbb to 0fe29f585791 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6622 Fix strict language checks
  analysis_options.yaml
  packages/google_sign_in/google_sign_in_web/lib/src/generated/gapiauth2.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
Labels: p: google_sign_in, p: in_app_purchase, platform-ios, platform-web, autosubmit, override: no versioning needed, override: no changelog needed

#6626 Roll Flutter (stable) from d9111f640213 to 6928314d505d (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6454 [file_selector] Include the missing GetDirectoryPath method example and table of supported platforms
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector, needs tests, autosubmit

#6495 [webview_flutter_android] Adds Android implementation of PlatformNavigationDelegate
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/v4/android_navigation_delegate_test.dart
Labels: p: webview_flutter, platform-android, override: no versioning needed, override: no changelog needed

#6605 [tool] Update tool to set macOS deployment target to 10.15.
  script/tool/lib/src/create_all_plugins_app_command.dart
  script/tool/test/create_all_plugins_app_command_test.dart
Labels: autosubmit

#6633 [quick_actions_android] Manual roll to ignore failing `appShortcutLaunchActivityAfterStarting` test
  .ci/flutter_master.version
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: p: quick_actions, platform-android, needs tests, autosubmit

#6600 [tool] Rename all-plugins-app command
  .ci/scripts/build_all_plugins.sh
  .ci/scripts/create_all_plugins_app.sh
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/create_all_packages_app_command_test.dart
Labels: autosubmit

#6639 Roll Flutter from ea0ddc94ccc6 to 8f0c35d4869e (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit
