Repository flutter/plugins, pull requests merged in 2022-07, with the labels that each got.

#6061 [tools] Allow pre-release versions
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_command_test.dart
Labels: waiting for tree to go green

#6065 Roll Flutter from 1add0d790d78 to efd006e1b925 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6068 Roll Flutter from efd006e1b925 to 629f731b99c0 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6076 Roll Flutter from 629f731b99c0 to 39a38b7882fe (16 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5737 [webview_flutter] fix: unreliable encoding for web
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/lib/webview_flutter_web.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
Labels: p: webview_flutter, platform-web, autosubmit

#6078 Roll Flutter from 39a38b7882fe to 587cf5fa715f (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6072 [image_picker_ios] fix wrong plugin name
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, autosubmit

#6056 [webview_flutter_wkwebview] Prevent leaking when a callback method references an object that references itself
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#6080 Roll Flutter from 587cf5fa715f to 78e3b93664c7 (23 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5250 [google_sign_in] Support Dart-based configuration and `serverClientId`
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: p: google_sign_in, autosubmit

#6049 [camera] Ignore body_might_complete_normally_catch_error violation
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
Labels: p: camera, platform-android, needs tests, autosubmit

#6088 [video_player] Use epislon to compare values in matrix in test
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: video_player, autosubmit

#5405 [in_app_purchase] Migrate to Billing to 5.0.0
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: p: in_app_purchase, platform-android, needs tests

#6090 Roll Flutter from 78e3b93664c7 to d59923b2e260 (49 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#5048 [quick_actions] Android handle quick action without restart
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/AndroidManifest.xml
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions_android/example/lib/main.dart
  packages/quick_actions/quick_actions_android/pubspec.yaml
Labels: p: quick_actions, platform-android, autosubmit

#6092 [in_app_purchase] Update json_serializable
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: p: in_app_purchase, platform-android, needs tests, autosubmit

#5640 [camera] Update Android Camera Access Permission Error Codes
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPermissionsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-android

#5875 [google_maps_flutter_web ] Update README.md to discuss mouse issue when stacked
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web, autosubmit

#6095 Roll Flutter from d59923b2e260 to d092601debdd (35 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#6031 [webview_flutter_wkwebview] Switches the platform implementation to use the native API Wrapper
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTCookieManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTCookieManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKProgressionDelegate.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FlutterWebView_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/JavaScriptChannelHandler.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/JavaScriptChannelHandler.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webview_cupertino.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/wkwebview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/wkwebview_cookie_manager_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios, autosubmit

#6094 [file_selector] Add `allowsAny` to `XTypeGroup`
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: p: file_selector, autosubmit

#6081 [camera] Bump camera_web and camera_android versions to update permission exception codes
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera

#6103 Roll Flutter from 803ef6a456c3 to 5a5d021e51ca (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6104 [webview_flutter_wkwebvew] Fix UIScrollView regression for inset behavior
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios, autosubmit

#6098 [various] Remove duplicate native Android tests
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/WebViewTest.java
Labels: p: webview_flutter, p: image_picker, platform-android, autosubmit

#6108 [ci] Manual roll of Flutter to c4975d9be0e2f3ca6279ea4ba77b23cc549e2926
  .ci/flutter_master.version
Labels: autosubmit

#6111 Roll Flutter from c4975d9be0e2 to 4f9528293f54 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6117 [ci] Pin stable version
  .ci.yaml
  .ci/flutter_stable.version
  .cirrus.yml
Labels: autosubmit

#6123 [video_player] Update ExoPlayer to 2.18.0
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: p: video_player, platform-android, needs tests, autosubmit

#6085 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#6120 [file_selector] Throw for unsupported type groups
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/lib/src/utils.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: p: file_selector, platform-windows, platform-macos, platform-web, autosubmit

#6063 [webview_flutter_android] Adds support for use of old hybrid composition
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/surface_android_test.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6101 [video_player_web] Improve handling of "Infinite" videos.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/duration_utils_test.dart
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/duration_utils.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web, autosubmit

#6124 [tool] Bypass version/changelog checks for some PRs
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#6126 [file_selector] Enable ArgumentErrors for type groups
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector, autosubmit

#6127 [tool] Handle dependabot commit messages
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#6079 [webview_flutter_android] Add `Copyable` mixin and implement for all non-data and non-global classes
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6082 [webview_flutter_android] Updates the Java InstanceManager to take a listener for when an object is garbage collected
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6128 [video_player_web] Document video scrubbing and range requests.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/README.md
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-web, autosubmit

#6133 [google_maps_flutter] Add an interface for test inspection
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/google_maps_flutter_platform_interface.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_inspector_platform_test.dart
Labels: p: google_maps_flutter, autosubmit

#6134 Roll Flutter from 4f9528293f54 to 096bbbe2fcbf (120 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6119 [camera_windows] Allow retrying after initialization failure
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows, autosubmit

#6116 [google_maps_flutter] Use an interface for test inspection
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_map_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, autosubmit

#6136 Roll Flutter from 096bbbe2fcbf to fa42451a2596 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6137 Roll Flutter from fa42451a2596 to 6d8e365bc9da (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6144 Roll Flutter from 6d8e365bc9da to fa39206a2a34 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6146 [tool] Include `dev_dependencies` in `make-deps-path-based`
  script/tool/CHANGELOG.md
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/pubspec.yaml
  script/tool/test/make_deps_path_based_command_test.dart
Labels: autosubmit

#5914 [image_picker] add requestFullMetadata for iOS (optional permissions) - platform interface changes for multi image picking
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/multi_image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: p: image_picker, autosubmit

#6147 Roll Flutter from fa39206a2a34 to e3d08fb6d325 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6059 [local_auth] Remove FingerprintManager uses and fix deprecations
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/AuthenticationHelper.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: p: local_auth, platform-android, autosubmit

#6105 [webview_flutter_wkwebview] Implementation of WebKitWebViewController for WebKit
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-ios, autosubmit

#6131 [webview_flutter_wkwebview] Prevent crash from released deallocCallback
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, platform-ios, autosubmit

#6135 Avoid map shift when scrolling on iOS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/RunnerUITests/GoogleMapsUITests.m
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/google_maps_flutter/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios, autosubmit

#6039 [path_provider] Restore 2.8 compatibility on Android and iOS
  .cirrus.yml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/remove_dev_dependencies.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
  script/tool/test/remove_dev_dependencies_test.dart
Labels: p: path_provider, platform-ios, platform-android, autosubmit

#6145 [tool] Switch PR description overrides over to labels
  .cirrus.yml
  script/tool/CHANGELOG.md
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#6035 [file_selector] Convert Windows to Pigeon
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/windows/flutter/generated_plugins.cmake
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pigeons/copyright.txt
  packages/file_selector/file_selector_windows/pigeons/messages.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.mocks.dart
  packages/file_selector/file_selector_windows/test/test_api.dart
  packages/file_selector/file_selector_windows/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.h
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
  packages/file_selector/file_selector_windows/windows/string_utils.cpp
  packages/file_selector/file_selector_windows/windows/string_utils.h
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
Labels: p: file_selector, platform-windows, autosubmit

#6152 Roll Flutter from e3d08fb6d325 to 1aa44652e4c0 (67 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6153 migrate to new mockito API
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
Labels: p: google_maps_flutter, platform-web, override: no changelog needed

#6149 [camera_windows] Improve several error handling scenarios
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  script/tool/README.md
  script/tool/lib/src/common/package_state_utils.dart
Labels: p: camera, platform-windows, autosubmit

#6156 Roll Flutter from 1aa44652e4c0 to a62ee852950a (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit
