Repository flutter/plugins, pull requests merged in 2022-02, with the labels that each got.

#4724 [video_player] Publish fully federation version
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: waiting for tree to go green, p: video_player

#4725 [video_player] Adjust iOS test timeouts
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
Labels: waiting for tree to go green, p: video_player, platform-ios

#4721 [camera]writing file on background queue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera/ios/Classes/camera-umbrella.h
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#4727 [video_player] Wait to initialize m3u8 videos on iOS until size is set
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: waiting for tree to go green, p: video_player, platform-ios

#4728 [image_picker] Fix NSNull handling on iOS
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, platform-ios

#4578 [url_launcher] Mark Link as an invisible factory
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/lib/src/shims/dart_ui_fake.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-web, last mile, needs tests

#4736 [ci] Manually roll to latest Flutter
  .ci/flutter_master.version
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-web, last mile, needs tests

#4684 [shared_preferences] Documentation update for Readme.md
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: waiting for tree to go green, p: shared_preferences, last mile

#4734 create scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Labels: waiting for tree to go green

#4737 Roll Flutter from 6d96e66d0f70 to b662d32a358e (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4669 Remove most CODEOWNERS
  CODEOWNERS
Labels: waiting for tree to go green

#4740 Roll Flutter from b662d32a358e to 7868284a7342 (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4741 Roll Flutter from 7868284a7342 to 3b848ee12d47 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4735 [url_launcher_web] Update min Flutter version
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: waiting for tree to go green, p: url_launcher, platform-web, last mile

#4744 Roll Flutter from 3b848ee12d47 to ce5fdff8b03a (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4745 Roll Flutter from ce5fdff8b03a to db816591b007 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4748 [camera]manages ios camera's orientation states on capture session queue
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#4746 Roll Flutter from db816591b007 to f483b7d80831 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4722 [image_picker] Refactored tests to expose private interface in separate test header.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/MetaDataUtilTests.m
  packages/image_picker/image_picker/example/ios/RunnerTests/PhotoAssetUtilTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker/ios/Classes/ImagePickerPlugin.modulemap
  packages/image_picker/image_picker/ios/Classes/image_picker-umbrella.h
  packages/image_picker/image_picker/ios/image_picker.podspec
  packages/image_picker/image_picker/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, platform-ios

#4719 [url_launcher] Move away from shared method channel implementation in native packages.
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/lib/url_launcher_linux.dart
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/lib/url_launcher_macos.dart
  packages/url_launcher/url_launcher_macos/macos/Classes/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
Labels: p: url_launcher, platform-ios, platform-android, platform-windows, platform-macos, platform-linux

#4702 [quick_actions] Extract iOS implementation into a separate package.
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_ios/AUTHORS
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/LICENSE
  packages/quick_actions/quick_actions_ios/README.md
  packages/quick_actions/quick_actions_ios/example/README.md
  packages/quick_actions/quick_actions_ios/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/quick_actions/quick_actions_ios/example/ios/Flutter/Debug.xcconfig
  packages/quick_actions/quick_actions_ios/example/ios/Flutter/Release.xcconfig
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerUITests.xcscheme
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/quick_actions/quick_actions_ios/example/ios/Runner/AppDelegate.h
  packages/quick_actions/quick_actions_ios/example/ios/Runner/AppDelegate.m
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Base.lproj/Main.storyboard
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/Runner/main.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/RunnerTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.m
  packages/quick_actions/quick_actions_ios/example/lib/main.dart
  packages/quick_actions/quick_actions_ios/example/pubspec.yaml
  packages/quick_actions/quick_actions_ios/example/test_driver/integration_test.dart
  packages/quick_actions/quick_actions_ios/ios/Assets/.gitkeep
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/lib/quick_actions_ios.dart
  packages/quick_actions/quick_actions_ios/pubspec.yaml
  packages/quick_actions/quick_actions_ios/test/quick_actions_ios_test.dart
Labels: waiting for tree to go green, p: quick_actions, platform-ios

#4621 [camera_web] Release the camera stream of each available video input device
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-web, last mile

#4626 [webview_flutter_wkwebview] Start work on new ios implementation
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-ios

#4723 [shared_preferences] Move away from shared method channel implementation in native packages.
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_ios/CHANGELOG.md
  packages/shared_preferences/shared_preferences_ios/ios/Classes/FLTSharedPreferencesPlugin.m
  packages/shared_preferences/shared_preferences_ios/lib/shared_preferences_ios.dart
  packages/shared_preferences/shared_preferences_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/test/shared_preferences_ios_test.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/lib/main.dart
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/lib/shared_preferences_macos.dart
  packages/shared_preferences/shared_preferences_macos/macos/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/test/shared_preferences_macos_test.dart
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/lib/main.dart
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: waiting for tree to go green, p: shared_preferences, platform-ios, platform-android, platform-windows, platform-macos, platform-linux

#4777 [url_launcher] Major version bump for desktop Dart-based url_launcher implementations
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
Labels: waiting for tree to go green, p: url_launcher, platform-windows, platform-macos, platform-linux, last mile

#4778 Roll Flutter from f483b7d80831 to bb3275b9340f (51 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4729 [camera]skip app delegate during unit test
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner/main.m
Labels: waiting for tree to go green, p: camera, platform-ios, needs tests

#4781 Roll Flutter from bb3275b9340f to 5f3bee55ad48 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4783 Roll Flutter from 5f3bee55ad48 to 0ce527eb91a3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4718 [image_picker] Default to gallery instead of camera when picking multiple images on pre-iOS 14 devices.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.h
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker/pubspec.yaml
Labels: waiting for tree to go green, p: image_picker, platform-ios

#4711 [url_launcher] Documentation improvement for file scheme to readme
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: waiting for tree to go green, p: url_launcher, last mile

#4686 [path_provider] Documentation update for readme.md and example app
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/lib/main.dart
  packages/path_provider/path_provider/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider/pubspec.yaml
Labels: waiting for tree to go green, p: path_provider, platform-macos, needs tests

#4784 [ios_platform_images] Switch to new analysis options
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/analysis_options.yaml
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/example/pubspec.yaml
  packages/ios_platform_images/example/test/widget_test.dart
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: ios_platform_images

#4764 [path_provider] Remove use of deprecated pedantic package
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_android/example/pubspec.yaml
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_ios/example/pubspec.yaml
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_windows/example/pubspec.yaml
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: waiting for tree to go green, p: path_provider, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, last mile

#4785 [video_player] Switch platform interface to new analysis options
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/analysis_options.yaml
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: video_player

#4779 [url_launcher] Support new desktop implementation versions
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: waiting for tree to go green, p: url_launcher

#4788 [video_player] Update web analysis options
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/analysis_options.yaml
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/lib/main.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/shims/dart_ui.dart
  packages/video_player/video_player_web/lib/src/shims/dart_ui_fake.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: video_player, platform-web

#4793 Roll Flutter from 0ce527eb91a3 to 6656356bbf23 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4800 Roll Flutter from 6656356bbf23 to 8cd540f449a7 (11 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4782 Adds support for JavaScript channels to the new iOS implementation of `webview_flutter_wkwebview`.
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#4810 Roll Flutter from 8cd540f449a7 to 61ac285608cd (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4812 Roll Flutter from 61ac285608cd to 3870548fa6b1 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4814 Roll Flutter from 3870548fa6b1 to f54790b7b03f (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4817 Roll Flutter from f54790b7b03f to 350e3ee46d74 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4820 Roll Flutter from 350e3ee46d74 to f523ddd2d6ab (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4823 Roll Flutter from f523ddd2d6ab to 0f33a369bfb0 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4828 Roll Flutter from 0f33a369bfb0 to 5515400a1b02 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4830 Roll Flutter from 5515400a1b02 to ad612b59e5b6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4697 [local_auth] Add platform interface to prepare for migration to federated architecture
  packages/local_auth/local_auth_platform_interface/AUTHORS
  packages/local_auth/local_auth_platform_interface/CHANGELOG.md
  packages/local_auth/local_auth_platform_interface/LICENSE
  packages/local_auth/local_auth_platform_interface/README.md
  packages/local_auth/local_auth_platform_interface/lib/default_method_channel_platform.dart
  packages/local_auth/local_auth_platform_interface/lib/local_auth_platform_interface.dart
  packages/local_auth/local_auth_platform_interface/lib/types/auth_messages.dart
  packages/local_auth/local_auth_platform_interface/lib/types/auth_options.dart
  packages/local_auth/local_auth_platform_interface/lib/types/biometric_type.dart
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
Labels: waiting for tree to go green, p: local_auth

#4832 Roll Flutter from ad612b59e5b6 to 19586569438a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4808 [camera] Switch app-facing package to new analysis options
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/analysis_options.yaml
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/example/test_driver/integration_test.dart
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/lib/src/camera_preview.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera/test/utils/method_channel_mock.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: camera

#4836 Roll Flutter from 19586569438a to 024d5f8aaa7a (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4839 [flutter_plugin_tool] Remove podspec --allow-warnings
  script/tool/CHANGELOG.md
  script/tool/lib/src/lint_podspecs_command.dart
  script/tool/pubspec.yaml
  script/tool/test/lint_podspecs_command_test.dart
Labels: waiting for tree to go green

#4840 Roll Flutter from 024d5f8aaa7a to 79df99d18221 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4842 Roll Flutter from 79df99d18221 to 4d9e6d9b3ea2 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4844 Roll Flutter from 4d9e6d9b3ea2 to 1ae5dd194c33 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4845 Roll Flutter from 1ae5dd194c33 to 381cb280a35c (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4850 Roll Flutter from 381cb280a35c to ca2a751661c8 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4726 [video_player] Updated Pigeon version
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/CONTRIBUTING.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/copyright.txt
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/CONTRIBUTING.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.m
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/copyright.txt
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.dart
Labels: p: video_player, platform-ios, platform-android

#4807 [video_player] add allowBackgroundPlayback option platform interface changes
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/video_player_options_test.dart
Labels: waiting for tree to go green, p: video_player, last mile

#4858 [video_player] fix license header
  packages/video_player/video_player_platform_interface/test/video_player_options_test.dart
Labels: p: video_player

#4859 [webview_flutter] Fix debuggingEnabled on Android
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
Labels: waiting for tree to go green, p: webview_flutter, platform-android

#4861 [flutter_plugin_tool] Fix iOS/macOS naming
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/plugin_utils.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/util.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: waiting for tree to go green

#4834 [camera] Switch web package to new analysis options
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/analysis_options.yaml
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_metadata_test.dart
  packages/camera/camera_web/example/integration_test/camera_options_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_exception_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/integration_test/zoom_level_capability_test.dart
  packages/camera/camera_web/example/lib/main.dart
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/shims/dart_js_util.dart
  packages/camera/camera_web/lib/src/shims/dart_ui.dart
  packages/camera/camera_web/lib/src/shims/dart_ui_fake.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/lib/src/types/camera_metadata.dart
  packages/camera/camera_web/lib/src/types/camera_options.dart
  packages/camera/camera_web/lib/src/types/media_device_kind.dart
  packages/camera/camera_web/lib/src/types/zoom_level_capability.dart
  packages/camera/camera_web/pubspec.yaml
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: camera, platform-web

#4862 Roll Flutter from e9f83cf4f9df to 838634496214 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4864 Roll Flutter from 838634496214 to 286c9751d372 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4838 [image_picker] Update app-facing and web analysis options
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/analysis_options.yaml
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/analysis_options.yaml
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/image_picker/image_picker_for_web/example/lib/main.dart
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer_utils.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/test/image_resizer_utils_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: image_picker, platform-web

#3806 [local_auth] support localizedFallbackTitle in IOSAuthMessages
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth/lib/auth_strings.dart
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth/test/local_auth_test.dart
Labels: cla: yes, p: local_auth, platform-ios, last mile

#4865 Roll Flutter from 286c9751d372 to 14a2b1323bf9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4870 Roll Flutter from 14a2b1323bf9 to b62327903d31 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4872 [google_sign_in] Update platform interface analysis options
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/analysis_options.yaml
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: google_sign_in

#4876 Roll Flutter from 919d20511cf6 to adafd66d9cc7 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4780 [camera]remove "selfRef" for SavePhotoDelegate and ensure thread safety
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera/ios/Classes/CameraPlugin.m
  packages/camera/camera/ios/Classes/FLTCam.m
  packages/camera/camera/ios/Classes/FLTCam_Test.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.h
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera/ios/Classes/QueueHelper.h
  packages/camera/camera/ios/Classes/QueueHelper.m
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, platform-ios

#4732 [shared_preferences] upgraded ios to using pigeon
  packages/shared_preferences/shared_preferences_ios/CHANGELOG.md
  packages/shared_preferences/shared_preferences_ios/ios/Classes/FLTSharedPreferencesPlugin.m
  packages/shared_preferences/shared_preferences_ios/ios/Classes/messages.g.h
  packages/shared_preferences/shared_preferences_ios/ios/Classes/messages.g.m
  packages/shared_preferences/shared_preferences_ios/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_ios/lib/shared_preferences_ios.dart
  packages/shared_preferences/shared_preferences_ios/pigeons/copyright_header.txt
  packages/shared_preferences/shared_preferences_ios/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/test/messages.g.dart
  packages/shared_preferences/shared_preferences_ios/test/shared_preferences_ios_test.dart
Labels: waiting for tree to go green, p: shared_preferences, platform-ios

#4880 Roll Flutter from adafd66d9cc7 to 93c0c043cf2c (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4885 [camera] Restore compatibility with older Flutter
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
Labels: waiting for tree to go green, p: camera, needs tests

#4809 [webview_flutter_wkwebview] Add support for `WKUIDelegate`
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
Labels: p: webview_flutter, platform-ios

#4891 Roll Flutter from 93c0c043cf2c to 38dae1bfc045 (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4892 Roll Flutter from 38dae1bfc045 to 1bdcf04ddd7b (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4881 [google_sign_in] Update app-facing package analysis options
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/analysis_options.yaml
  packages/google_sign_in/google_sign_in/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/fife_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: google_sign_in

#4896 Roll Flutter from 1bdcf04ddd7b to c50b02f2c3e6 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4898 Roll Flutter from c50b02f2c3e6 to c849844feb3d (20 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4900 Roll Flutter from c849844feb3d to 54a9d6528289 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4902 Roll Flutter from 54a9d6528289 to 617de911982a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4905 Roll Flutter from 617de911982a to 3b05d806222a (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4910 [in_app_purchase] Updates the dependency on in_app_purchase_storekit.
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase

#4913 Roll Flutter from 3b05d806222a to c74a646b7bba (21 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4907 [webview] Fix comments (accidentially mixed `//` with `///`)
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: waiting for tree to go green, p: webview_flutter, last mile

#4912 [path_provider] Use a different Android channel name
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: waiting for tree to go green, p: path_provider, platform-android

#4921 [path_provider] Switch iOS to an internal method channel
  packages/path_provider/path_provider_ios/CHANGELOG.md
  packages/path_provider/path_provider_ios/ios/Classes/FLTPathProviderPlugin.m
  packages/path_provider/path_provider_ios/lib/path_provider_ios.dart
  packages/path_provider/path_provider_ios/pubspec.yaml
  packages/path_provider/path_provider_ios/test/path_provider_ios_test.dart
Labels: waiting for tree to go green, p: path_provider, platform-ios

#4914 Roll Flutter from c74a646b7bba to 47b5ed3948e8 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#4920 [in_app_purchase] Update iOS to new analysis options
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_storekit/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-ios

#4221 [url_launcher] Fixed missing # in links href when opening in new tab on the web
  AUTHORS
  packages/url_launcher/url_launcher_web/AUTHORS
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: url_launcher, platform-web, last mile

#4448 [image_picker] Support reading WebP images for iOS
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker/example/ios/TestImages/webpImage.webp
  packages/image_picker/image_picker/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, p: image_picker, platform-ios, last mile

#4937 [in_app_purchase] Update Android to new analysis options
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/analysis_options.yaml
  packages/in_app_purchase/in_app_purchase_android/example/lib/consumable_store.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_product_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_deprecated_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/stub_in_app_purchase_platform.dart
  script/configs/custom_analysis.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-android

#4964 Roll Flutter from 47b5ed3948e8 to 7959c3953dbe (52 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green
