Repository flutter/plugins, pull requests merged in 2022-08, with the labels that each got.

#6162 Roll Flutter from a62ee852950a to ab47f01ff173 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6032 [local_auth] Replace `USE_FINGERPRINT` to `USE_BIOMETRIC` post deprecation in example and README
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/android/app/src/main/AndroidManifest.xml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/example/android/app/src/main/AndroidManifest.xml
Labels: p: local_auth, platform-android, needs tests, autosubmit, override: no changelog needed

#6154 [camera_windows] Use `CameraAccessDenied` error code for camera permission errors
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/capture_controller_listener.h
  packages/camera/camera_windows/windows/photo_handler.cpp
  packages/camera/camera_windows/windows/photo_handler.h
  packages/camera/camera_windows/windows/preview_handler.cpp
  packages/camera/camera_windows/windows/preview_handler.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: p: camera, platform-windows, autosubmit

#6148 [webview_flutter_android] Updates the Dart InstanceManager to take a listener for when an object is garbage collected
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6155 [image_picker] Add missing exports for multi image picking types
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
Labels: p: image_picker, needs tests, autosubmit

#6173 [url_launcher] fix noop toString() diagnostics
  packages/url_launcher/url_launcher/lib/src/link.dart
Labels: p: url_launcher, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#6168 Roll Flutter from ab47f01ff173 to ac1aa511ca94 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6177 Roll Flutter from ac1aa511ca94 to 183d3e410102 (46 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6179 [various] Remove `pedantic`
  packages/espresso/example/pubspec.yaml
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/ios_platform_images/pubspec.yaml
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/path_provider/path_provider_macos/example/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/example/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_ios/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, p: file_selector, p: google_maps_flutter, p: in_app_purchase, p: local_auth, p: path_provider, p: plugin_platform_interface, p: shared_preferences, p: espresso, p: quick_actions, p: ios_platform_images, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, platform-web, p: flutter_plugin_android_lifecycle, autosubmit, override: no versioning needed, override: no changelog needed

#6174 Fix incorrect json key in `queryPurchasesAsync` response
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: waiting for tree to go green, p: in_app_purchase, platform-android

#6176 [path_provider_windows] bump dependency version of package:win32 in path_provider_windows
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: p: path_provider, platform-windows, autosubmit

#6175 [script] fix script noop interpolated toString()s
  script/tool/lib/src/common/package_looping_command.dart
Labels: needs tests, autosubmit

#6203 Roll Flutter from 183d3e410102 to 74aef9ff8786 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6169 [quick_actions] add custom modulemap with test submodule
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/RunnerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/ios/Classes/quick_actions_ios-umbrella.h
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios, autosubmit

#6170 [camera_windows] Check string size before Win32 MultiByte <-> WideChar conversions
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/string_utils.cpp
Labels: p: camera, platform-windows, needs tests

#6206 [quick_actions] backfill some unit tests for `FLTQuickActionsPlugin` class
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios, autosubmit

#6210 Roll Flutter from 74aef9ff8786 to b02f68a66c51 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6207 [ci] Run analyze with minimum resolved packages
  .cirrus.yml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/analyze_command.dart
  script/tool/pubspec.yaml
  script/tool/test/analyze_command_test.dart
Labels: p: webview_flutter, p: image_picker, p: local_auth, p: url_launcher, platform-ios, platform-android, platform-windows, platform-web, autosubmit

#6214 Roll Flutter from b02f68a66c51 to fec5f77cd2f7 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6215 Roll Flutter from fec5f77cd2f7 to 5820b5f03927 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6217 Roll Flutter from 5820b5f03927 to a4947768b729 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6211 [google_maps_ios] Cache `+[GMSServices sharedServices]` when first map is created
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios, autosubmit

#6219 Roll Flutter from a4947768b729 to 19eed7c870ca (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6212 [quick_actions]refactor into smaller components and 100% unit test coverage
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/RunnerTests.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTQuickActionsPlugin.m
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.m
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTQuickActionsPlugin_Test.h
  packages/quick_actions/quick_actions_ios/ios/Classes/PrivateHeaders/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.modulemap
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios, autosubmit

#6222 Roll Flutter from 19eed7c870ca to ac2f6ed23784 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6205 [in_app_purchase_storekit] Add identifier, type fields to SKProductDiscountWrapper
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/enum_converters.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/enum_converters.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_product_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
Labels: p: in_app_purchase, platform-ios, autosubmit

#6228 [path_provider] Bump kotlin to 1.7.10
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: waiting for tree to go green, p: path_provider, platform-android, needs tests

#6223 [webview_flutter] Maybe fix flakiness of integration tests
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: webview_flutter, platform-ios, platform-android, autosubmit, override: no versioning needed, override: no changelog needed

#6227 [webview_flutter_wkwebview] Remove flaky UI tests
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerUITests/FLTWebViewUITests.m
Labels: p: webview_flutter, platform-ios, autosubmit, override: no versioning needed, override: no changelog needed

#6226 Roll Flutter from ac2f6ed23784 to 9ad052a57e0f (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6237 Updating expiring cirrus key.
  .cirrus.yml
Labels: autosubmit

#6231 [path_provider] Revert Gradle and androidx.annotation bump in path_provider_android
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android, needs tests, autosubmit

#6172 [webview_flutter_android] Adds dispose methods for HostApi and FlutterApi of JavaObject
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6151 [webview_flutter_wkwebview] Implementation of PlatformNavigationDelegate for WebKit
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios, autosubmit, override: no versioning needed, override: no changelog needed

#6178 [camera] Add CameraX plugin for development
  .github/dependabot.yml
  packages/camera/camera_android_camerax/.metadata
  packages/camera/camera_android_camerax/AUTHORS
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/LICENSE
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/settings.gradle
  packages/camera/camera_android_camerax/android/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraxPluginTest.java
  packages/camera/camera_android_camerax/example/README.md
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/camera/camera_android_camerax/example/android/app/src/androidTest/java/io/flutter/plugins/cameraxexample/MainActivityTest.java
  packages/camera/camera_android_camerax/example/android/app/src/debug/AndroidManifest.xml
  packages/camera/camera_android_camerax/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/example/android/app/src/main/java/io/flutter/plugins/cameraexample/MainActivity.java
  packages/camera/camera_android_camerax/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/camera/camera_android_camerax/example/android/app/src/main/res/drawable/launch_background.xml
  packages/camera/camera_android_camerax/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/camera/camera_android_camerax/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/camera/camera_android_camerax/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/camera/camera_android_camerax/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/camera/camera_android_camerax/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/camera/camera_android_camerax/example/android/app/src/main/res/values-night/styles.xml
  packages/camera/camera_android_camerax/example/android/app/src/main/res/values/styles.xml
  packages/camera/camera_android_camerax/example/android/app/src/profile/AndroidManifest.xml
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/example/android/gradle.properties
  packages/camera/camera_android_camerax/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera_android_camerax/example/android/settings.gradle
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/example/test/widget_test.dart
  packages/camera/camera_android_camerax/example/test_driver/integration_test.dart
  packages/camera/camera_android_camerax/lib/camera_android_camerax.dart
  packages/camera/camera_android_camerax/lib/camera_android_camerax_method_channel.dart
  packages/camera/camera_android_camerax/lib/camera_android_camerax_platform_interface.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/camera_android_camerax_method_channel_test.dart
  packages/camera/camera_android_camerax/test/camera_android_camerax_test.dart
Labels: p: camera, platform-android, autosubmit

#6236 [multiple] format code
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.mocks.dart
Labels: p: webview_flutter, p: google_maps_flutter, p: image_picker, platform-android, platform-web, needs tests, override: no versioning needed, override: no changelog needed

#6208 [google_maps_flutter_platform_interface] Adds size to BitmapDescriptor (1/2)
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
Labels: p: google_maps_flutter, autosubmit

#6209 [google_maps_flutter_web] Pass BitmapDescriptor.fromBytes size to JS SDK (2/2)
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web, autosubmit

#6278 Prepare for fix to https://github.com/flutter/flutter/issues/109339.
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/quick_actions_platform_interface_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/webview_platform_test.dart
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: in_app_purchase, p: url_launcher, p: quick_actions, override: no changelog needed

#6204 [google_maps_flutter] Publish federation
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, autosubmit

#6285 Roll Flutter from c873c2100ad7 to cb936c51f8b2 (40 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6277 [camera]use weak self to fix a crash due to orientation change
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-ios, autosubmit

#6281 Add use_named_constants to analysis options and fix errors
  analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/padding.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/tile_overlay.dart
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/test/method_channel_video_player_test.dart
Labels: p: google_maps_flutter, p: image_picker, p: video_player, platform-ios, platform-android, platform-web, override: no versioning needed

#6289 [google_maps_flutter] update to correct version
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#6291 Roll Flutter from cb936c51f8b2 to 9eca99b8df79 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6279 [webview_flutter_platform_interface] Adds missing build params for WebViewWidget
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
Labels: p: webview_flutter, autosubmit

#6293 [file_selector] Endorse Linux implementation
  CODEOWNERS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/linux/.gitignore
  packages/file_selector/file_selector/example/linux/CMakeLists.txt
  packages/file_selector/file_selector/example/linux/flutter/CMakeLists.txt
  packages/file_selector/file_selector/example/linux/flutter/generated_plugins.cmake
  packages/file_selector/file_selector/example/linux/main.cc
  packages/file_selector/file_selector/example/linux/my_application.cc
  packages/file_selector/file_selector/example/linux/my_application.h
  packages/file_selector/file_selector/pubspec.yaml
Labels: p: file_selector, platform-linux, needs tests, autosubmit

#6294 Roll Flutter from 9eca99b8df79 to 663bb66bfd90 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5416 [file_selector_windows] Fix the problem that the initial directory does not work after completing a file selection on windows
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.h
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.h
Labels: p: file_selector, platform-windows, needs tests, autosubmit

#6297 Roll Flutter from 663bb66bfd90 to 723609bff1f7 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6298 Roll Flutter from 723609bff1f7 to 9d78b2fe2a03 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6301 Roll Flutter from 9d78b2fe2a03 to e04c8becf5ef (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6302 [various] Remove stale NNBD opt-out tags
  packages/google_sign_in/google_sign_in/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/example/test_driver/integration_test.dart
  packages/quick_actions/quick_actions/example/integration_test/quick_actions_test.dart
  packages/quick_actions/quick_actions/example/test_driver/integration_test.dart
Labels: p: google_sign_in, p: quick_actions, autosubmit, override: no changelog needed

#6240 [webview_flutter_wkwebview] Implementation of PlatformWebViewCookieManager for WebKit
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.mocks.dart
Labels: p: webview_flutter, platform-ios, autosubmit, override: no versioning needed, override: no changelog needed

#6305 Roll Flutter from e04c8becf5ef to abfba69f8776 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6306 [ci] Add file_selector_ios CODEOWNER
  CODEOWNERS
Labels: autosubmit

#6303 [camera]revert the weakSelf in FLTThreadSafeEventChannel
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-ios, autosubmit

#6311 Commit generated `cmake` boilerplate
  packages/image_picker/image_picker_windows/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider/example/linux/flutter/generated_plugins.cmake
  packages/path_provider/path_provider/example/windows/flutter/generated_plugins.cmake
  packages/path_provider/path_provider_linux/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences/example/windows/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences_linux/example/linux/flutter/generated_plugins.cmake
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher_linux/example/linux/flutter/generated_plugins.cmake
  packages/url_launcher/url_launcher_windows/example/windows/flutter/generated_plugins.cmake
Labels: p: image_picker, p: path_provider, p: url_launcher, p: shared_preferences, platform-windows, platform-linux, needs tests, override: no changelog needed

#6310 [in_app_purchase] Migrate `ThemeData.errorColor`
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
Labels: p: in_app_purchase, platform-ios, platform-android, needs tests, override: no versioning needed, override: no changelog needed

#6314 Roll Flutter from abfba69f8776 to 6d3f782fb004 (74 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6317 Roll Flutter from 6d3f782fb004 to 000b96cfdf84 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6312 Adds info about commands requiring Flutter-bundled dart
  script/tool/README.md
Labels: autosubmit

#6286 [tools] Validate code excerpt configuration
  script/tool/CHANGELOG.md
  script/tool/lib/src/readme_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/readme_check_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/util.dart
Labels: autosubmit

#6321 Roll Flutter from 000b96cfdf84 to 10b321f22cc7 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6322 Roll Flutter from 10b321f22cc7 to 041c3af53209 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6319 [google_maps_flutter] Update Android view selection
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android, autosubmit

#6333 Roll Flutter from 041c3af53209 to 5848306e3784 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6332 [various] Adopt `plugin_platform_interface`
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/test/shared_preferences_platform_interface_test.dart
Labels: p: google_sign_in, p: shared_preferences, autosubmit

#6320 [file_selector] Endorse ios and update examples
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/.gitignore
  packages/file_selector/file_selector/example/ios/.gitignore
  packages/file_selector/file_selector/example/ios/Flutter/AppFrameworkInfo.plist
  packages/file_selector/file_selector/example/ios/Flutter/Debug.xcconfig
  packages/file_selector/file_selector/example/ios/Flutter/Release.xcconfig
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/file_selector/file_selector/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/file_selector/file_selector/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/file_selector/file_selector/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/file_selector/file_selector/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/file_selector/file_selector/example/ios/Runner/Base.lproj/Main.storyboard
  packages/file_selector/file_selector/example/ios/Runner/Info.plist
  packages/file_selector/file_selector/example/ios/Runner/Runner-Bridging-Header.h
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/main.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/README.md
  packages/file_selector/file_selector_ios/example/lib/home_page.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  script/configs/exclude_integration_ios.yaml
Labels: p: file_selector, platform-ios

#6130 [google_sign_in] Add forceCodeForRefreshToken parameter platform implementations
  packages/google_sign_in/google_sign_in_android/AUTHORS
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/AUTHORS
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: p: google_sign_in, platform-ios, platform-android, autosubmit

#6336 Roll Flutter from 5848306e3784 to dfcd9650e36b (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6337 Upload firebase test result to a buket in flutter-cirrus.
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: needs tests, autosubmit

#6304 [webview_flutter_platform_interface] Fix build params
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_widget_test.dart
Labels: p: webview_flutter, autosubmit

#5713 [image_picker] add requestFullMetadata for iOS (optional permissions) - iOS changes
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.dart
Labels: p: image_picker, platform-ios, autosubmit

#6343 Roll Flutter from dfcd9650e36b to 069f5042973d (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit
