Repository flutter/plugins, pull requests merged in 2022-11, with the labels that each got.

#6550 [camera] Interface method to allow concurrent recording and streaming of video
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/video_capture_options.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: p: camera, needs tests, autosubmit

#6657 [ci]Temporarily disable starqlteue on firebase device lab
  .cirrus.yml
Labels: autosubmit

#6662 [video_player]add integration test for inverted aspect ratio bug
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
Labels: p: video_player, autosubmit

#6667 Roll Flutter (stable) from 6928314d505d to e99c9c7cd9f6 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6668 Roll Flutter from 0e98194681fd to e6300da2c39f (46 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6669 [ci] Removes unnecessary overrides.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  script/tool/CHANGELOG.md
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.mocks.dart
Labels: p: video_player, platform-android, needs tests, autosubmit

#6670 Roll Flutter from e6300da2c39f to 55e8cd178621 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6637 Add `Mac_x64 darwin_lint_podspecs` to LUCI
  .ci.yaml
  .ci/targets/mac_lint_podspecs.yaml
Labels: autosubmit

#6650 [webview_flutter] Fix typo
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview.dart
Labels: p: webview_flutter, needs tests, autosubmit, override: no versioning needed

#6673 Roll Flutter from 55e8cd178621 to e0e7027b6263 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6675 Roll Flutter from e0e7027b6263 to 5ea5a5330169 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6677 Roll Flutter from 5ea5a5330169 to a1289a41358d (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6681 Roll Flutter from a1289a41358d to a1432a9c5da2 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6684 Roll Flutter from a1432a9c5da2 to d3dcd7d532b6 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6692 Roll Flutter from c7d11549a51e to 098aac7ffeef (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6690 Roll Flutter (stable) from e99c9c7cd9f6 to 52b3dc25f647 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6694 Roll Flutter from 098aac7ffeef to 61e927d22fe6 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6682 Enable Mac ios_platform_tests tests
  .ci.yaml
  .ci/scripts/create_simulator.sh
  .ci/targets/mac_ios_platform_tests.yaml
Labels: autosubmit

#6572 [file_selector] Add getDirectoryPaths method to the file_selector_platform_interface.
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/method_channel/method_channel_file_selector.dart
  packages/file_selector/file_selector_platform_interface/lib/src/platform_interface/file_selector_interface.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/file_selector_platform_interface_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
Labels: p: file_selector, autosubmit

#6597 [quick_actions]Migrates all remaining components to Swift, and deprecate OCMock
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/DefaultShortcutItemParserTests.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTQuickActionsPluginTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/FLTShortcutStateManagerTests.m
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockMethodChannel.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemProvider.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/QuickActionsPluginTests.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.h
  packages/quick_actions/quick_actions_ios/ios/Classes/FLTShortcutStateManager.m
  packages/quick_actions/quick_actions_ios/ios/Classes/MethodChannel.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/ShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/ShortcutItemProviding.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: p: quick_actions, platform-ios, autosubmit

#6688 [quick_actions] Fix Android integration test flake
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: p: quick_actions, platform-android, autosubmit

#6691 [google_sign_in] Correctly passes `serverClientId` to native libs
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: p: google_sign_in, platform-ios, platform-android, autosubmit

#6659 [webview_flutter_wkwebview] Add support for AutoMediaPlaybackPolicy on iOS
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

#6710 Revert "[ci]Temporarily disable starqlteue on firebase device lab (#6…
  .cirrus.yml
Labels: autosubmit

#6723 [ci] Manually Roll Flutter from 61e927d22fe6 to d2e6dfefa5ca (143 revisions)
  .ci/flutter_master.version
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
Labels: p: url_launcher, platform-web, autosubmit, override: no changelog needed

#6724 Roll Flutter from d2e6dfefa5ca to 46d868c52517 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6674 [webview_flutter] Added Android implementation of PlatformWebViewController
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-android

#6725 Roll Flutter from 46d868c52517 to 633d7ef046c8 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6728 [ci] Improve analysis_options alignment with flutter/packages
  analysis_options.yaml
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_windows/example/integration_test/camera_test.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/place_marker.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.dart
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_macos/test/shared_preferences_macos_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/test/method_channel_shared_preferences_test.dart
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/test/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_web/test/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/update_release_info_command_test.dart
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: url_launcher, p: video_player, p: shared_preferences, platform-ios, platform-android, platform-windows, platform-macos, platform-web, autosubmit

#6660 [webview_flutter_wkwebview] Fixed bug where `onProgress` callback couldn't be changed after calling `WebKitWebViewController.setNavigationDelegate`
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios

#6730 Roll Flutter from 633d7ef046c8 to 29622285dd9e (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6727 [ci] Import flutter/packages install_chromium.sh
  .cirrus.yml
  script/install_chromium.sh
Labels: needs tests, autosubmit

#6729 Switch `ios_platform_tests` from Cirrus to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#6733 [webview_flutter] Update runJavaScriptReturningResult to return an object
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios, platform-android

#6742 Roll Flutter from 29622285dd9e to 06d90b8b9e26 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6744 [path_provider] Remove unused Guava dependency
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: p: path_provider, platform-android, needs tests, autosubmit

#6693 [ios_platform_images] remove deprecated APIs
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images, needs tests, autosubmit

#6750 Roll Flutter from 06d90b8b9e26 to 0eb2d51ec991 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6751 Roll Flutter (stable) from 52b3dc25f647 to b8f7f1f9869b (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6755 Roll Flutter from 0eb2d51ec991 to cb234730a11d (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6757 Roll Flutter from cb234730a11d to ff59250dbeb0 (3 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#6764 Roll Flutter from ff59250dbeb0 to 17c1dbc47378 (31 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#6766 Roll Flutter from 17c1dbc47378 to b2672fe8355f (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6737 [webview_flutter] Changes getScrollPosition to return an `Offset`
  packages/webview_flutter/webview_flutter/lib/src/v4/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/v4/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/v4/webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios, platform-android

#6736 [webview_flutter] Makes `JavaScriptChannelParams` immutable
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
Labels: p: webview_flutter, needs tests

#6734 [webview_flutter] Changes the gesture navigation method to be only for the iOS implementation only
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/src/v4/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios

#6754 [webview_flutter_wkwebvew] Sets key value in UiKitView
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios

#6735 [webview_flutter] Adds default value for LoadRequestParams.headers
  packages/webview_flutter/webview_flutter_android/test/v4/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios, platform-android

#6738 [webview_flutter] Adds `isForMainFrame` to `WebResourceError`
  packages/webview_flutter/webview_flutter_android/lib/src/v4/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/test/v4/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/v4/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/v4/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/v4/webkit_navigation_delegate_test.dart
Labels: p: webview_flutter, platform-ios, platform-android
