Repository flutter/plugins, pull requests merged in 2023-02, with the labels that each got.

#7068 [ci] Clean up analysis options
  analysis_options.yaml
Labels: autosubmit

#7069 [in_app_puchase_storekit] handle `appStoreReceiptURL` is nil
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, autosubmit

#6847 [camera][google_maps_flutter][path_provider] prepare for TestDefaultBinaryMessengerBinding.instance becoming non-nullable
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
Labels: p: camera, p: google_maps_flutter, p: url_launcher, p: video_player, platform-ios, platform-android, autosubmit, override: no versioning needed, override: no changelog needed

#7078 Roll Flutter from 0a22a1dbf475 to d27880801435 (58 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7074 [various] prepare for more const widgets
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/url_launcher/url_launcher/example/lib/encoding.dart
Labels: p: google_maps_flutter, p: local_auth, p: url_launcher, platform-ios, platform-android, platform-windows, autosubmit, override: no versioning needed, override: no changelog needed

#7070 Change `google_sign_in_ios` and `local_auth_ios ` owners
  CODEOWNERS
Labels: autosubmit

#7076 Update README.md
  README.md
Labels: autosubmit

#7079 [ci] More cirrus.yml pre-alignment with flutter/packages
  .ci/scripts/create_all_plugins_app.sh
  .cirrus.yml
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit

#7073 [camera_android] Default to legacy recording profile when EncoderProfiles unavailable
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#7092 Roll Flutter from d27880801435 to c5e8757fcb79 (54 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7105 Roll Flutter from c5e8757fcb79 to b8f5394a5ca6 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7011 [camera] flip/change camera while recording - platform interface
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: p: camera, autosubmit

#7107 Roll Flutter from b8f5394a5ca6 to 3c3c9a1bd98f (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7046 [camerax] Wrap methods necessary for preview implementation
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/surface.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/preview_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: p: camera, platform-android, autosubmit

#7090 [webview_flutter_web] Avoids XHR when possible.
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/run_test.sh
  packages/webview_flutter/webview_flutter_web/lib/src/content_type.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/content_type_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.mocks.dart
Labels: p: webview_flutter, platform-web, autosubmit

#7108 [Espresso] Update expressio dependencies
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: p: espresso, platform-android, autosubmit

#7110 [url_launcher_ios] Update minimum Flutter version to 3.3 and iOS 11
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/ios/Flutter/AppFrameworkInfo.plist
  packages/url_launcher/url_launcher/example/ios/Podfile
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/url_launcher/url_launcher_ios/example/ios/Podfile
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher_ios/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher_ios/example/lib/main.dart
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios.podspec
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: p: url_launcher, platform-ios, needs tests, autosubmit

#7093 Redistribute ownership of cross-platform plugin components
  CODEOWNERS
Labels: autosubmit

#7111 Update code documentation for failing case no valid object FETCH_HEAD
  script/tool/lib/src/update_release_info_command.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed

#7122 Roll Flutter from 3c3c9a1bd98f to e8eac0d047cd (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7132 Manual roll Flutter from e8eac0d047cd to 2303f42250b1 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7101 [google_maps_flutter_android] Fixes points losing precision when converting to LatLng
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android, autosubmit

#6945 [camera] availableCameras() implementation for CameraX re-write
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: p: camera, platform-android, autosubmit

#6096 [image_picker_android] Name picked files to match the original filenames where possible
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerPickTest.java
  packages/image_picker/image_picker_android/example/android/app/src/debug/AndroidManifest.xml
  packages/image_picker/image_picker_android/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/DriverExtensionActivity.java
  packages/image_picker/image_picker_android/example/android/app/src/main/java/io/flutter/plugins/imagepickerexample/DummyContentProvider.java
  packages/image_picker/image_picker_android/example/android/app/src/main/res/raw/ic_launcher.png
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: p: image_picker, platform-android, autosubmit

#7013 [google_sign_in] Slight cleanup in GoogleSignInPlugin
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: p: google_sign_in, platform-android, autosubmit

#7147 Manual roll Flutter from 2303f42250b1 to e3471f08d1d3 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7157 [file_selector] Relax xdg_directories constraint
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/pubspec.yaml
Labels: p: path_provider, platform-linux, autosubmit

#7155 [various] Raise JVM limit in example builds
  packages/camera/camera/example/android/gradle.properties
  packages/camera/camera_android/example/android/gradle.properties
  packages/camera/camera_android_camerax/example/android/gradle.properties
  packages/espresso/example/android/gradle.properties
  packages/flutter_plugin_android_lifecycle/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in_android/example/android/gradle.properties
  packages/image_picker/image_picker/example/android/gradle.properties
  packages/image_picker/image_picker_android/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle.properties
  packages/local_auth/local_auth/example/android/gradle.properties
  packages/local_auth/local_auth_android/example/android/gradle.properties
  packages/path_provider/path_provider/example/android/gradle.properties
  packages/path_provider/path_provider_android/example/android/gradle.properties
  packages/quick_actions/quick_actions/example/android/gradle.properties
  packages/quick_actions/quick_actions_android/example/android/gradle.properties
  packages/shared_preferences/shared_preferences/example/android/gradle.properties
  packages/shared_preferences/shared_preferences_android/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher_android/example/android/gradle.properties
  packages/video_player/video_player/example/android/gradle.properties
  packages/video_player/video_player_android/example/android/gradle.properties
  packages/webview_flutter/webview_flutter/example/android/gradle.properties
  packages/webview_flutter/webview_flutter_android/example/android/gradle.properties
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: espresso, p: quick_actions, platform-android, p: flutter_plugin_android_lifecycle, needs tests, autosubmit

#7109 [camera] flip/change camera while recording (split out PR for cam_avfoundation and cam_android)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-ios, platform-android, autosubmit

#7181 Revert "[camera] flip/change camera while recording (split out PR for cam_avfoundation and cam_android)"
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: p: camera, platform-ios, platform-android

#7071 [webview_flutter_android][webview_flutter_wkwebview] Adds support to retrieve native `WebView`
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterAndroidExternalApi.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewFlutterAndroidExternalApiTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewFlutterWKWebViewExternalAPITests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewFlutterWKWebViewExternalAPI.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewFlutterWKWebViewExternalAPI.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: p: webview_flutter, platform-ios, platform-android, autosubmit

#7135 [google_maps_flutter_android] Fixes initial padding not working while map has not been created yet.
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: p: google_maps_flutter, platform-android, autosubmit

#7156 [cameraX] Add integration test for availableCameras
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: p: camera, autosubmit

#7184 Roll Flutter from e3471f08d1d3 to df41e58f6f4e (83 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7186 Roll Flutter from df41e58f6f4e to 22e17bb71050 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6874 [ios_platform_images] Update minimum version to iOS 11
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/example/ios/Flutter/AppFrameworkInfo.plist
  packages/ios_platform_images/example/ios/Podfile
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/ios_platform_images/example/ios/Runner/Info.plist
  packages/ios_platform_images/ios/ios_platform_images.podspec
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images, platform-ios, needs tests, autosubmit

#6873 [in_app_purchase] Update minimum Flutter version to 3.3 and iOS 11
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Flutter/AppFrameworkInfo.plist
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, autosubmit

#6921 [google_sign_in_web] Migrate to the GIS SDK.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/example/build.yaml
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/auth2_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_load_legacy_init_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_load_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/gapi_mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/auth2_init.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/gapi.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/google_user.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_mocks/src/test_iife.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_utils_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/people_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/dom.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jsify_as.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jwt_examples.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/person.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/test_utils.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/utils_test.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/regen_mocks.sh
  packages/google_sign_in/google_sign_in_web/example/run_test.sh
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/people.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web, autosubmit

#7187 [image_picker] Fix images changing to incorrect orientation
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/jpgImageWithRightOrientation.jpg
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: p: image_picker, platform-ios, needs tests, autosubmit

#7190 Roll Flutter from 22e17bb71050 to 298d8c76ba78 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7112 [camerax] Implement camera preview
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/lib/camera_controller.dart
  packages/camera/camera_android_camerax/example/lib/camera_image.dart
  packages/camera/camera_android_camerax/example/lib/camera_preview.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.dart
Labels: p: camera, autosubmit

#6589 [image_picker] Update NSPhotoLibraryUsageDescription description in README
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: p: image_picker, autosubmit

#7189 Migrate these tests to the "new" API
  packages/camera/camera_android/test/method_channel_mock.dart
  packages/camera/camera_avfoundation/test/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/camera/camera_windows/test/utils/method_channel_mock.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/circle_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_maps_controllers.dart
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/marker_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polygon_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/polyline_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/tile_overlay_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
  packages/image_picker/image_picker_android/test/image_picker_android_test.dart
  packages/image_picker/image_picker_platform_interface/test/new_method_channel_image_picker_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/ios_platform_images/test/ios_platform_images_test.dart
  packages/local_auth/local_auth_android/test/local_auth_test.dart
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
  packages/quick_actions/quick_actions_android/test/quick_actions_android_test.dart
  packages/quick_actions/quick_actions_ios/test/quick_actions_ios_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/method_channel_quick_actions_test.dart
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/test/method_channel_shared_preferences_test.dart
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/surface_android_test.dart
Labels: p: webview_flutter, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: quick_actions, p: ios_platform_images, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, autosubmit

#7194 Roll Flutter from 298d8c76ba78 to 0be7c3f30d64 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7191 [google_sign_in] Endorses next web package.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in, autosubmit

#7188 [Android] Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#7089 [webview_flutter] Adds examples of accessing platform-specific features for each class
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: p: webview_flutter, autosubmit

#7196 Roll Flutter from 0be7c3f30d64 to 33e4d21f7c13 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7045 [plugins] Disables the AndroidGradlePluginVersion issue ID in all android packages
  packages/camera/camera_android/android/build.gradle
  packages/espresso/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/path_provider/path_provider_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: p: webview_flutter, p: camera, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: url_launcher, p: video_player, p: shared_preferences, p: espresso, p: quick_actions, platform-android, p: flutter_plugin_android_lifecycle, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#7195 [espresso] Update some dependencies
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: p: espresso, platform-android, needs tests, autosubmit

#6875 [local_auth] Add Android theme compatibility documentation
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/pubspec.yaml
Labels: p: local_auth
