Repository flutter/plugins, pull requests merged in 2023-01, with the labels that each got.

#6540 [in_app_pur] Add screenshots to pubspec.yaml
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase, autosubmit

#6909 [google_maps_flutter] Fixed minor syntax error in the README.md
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/readme_sample.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter, autosubmit

#6891 Update `image_picker_ios` CODEOWNER
  CODEOWNERS
Labels: autosubmit

#6918 Roll Flutter from 231855fc87d0 to 43b912090224 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6914 [shared_preferences] Convert macOS to Pigeon
  packages/shared_preferences/shared_preferences_macos/CHANGELOG.md
  packages/shared_preferences/shared_preferences_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_macos/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_macos/lib/shared_preferences_macos.dart
  packages/shared_preferences/shared_preferences_macos/macos/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_macos/macos/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_macos/pigeons/copyright_header.txt
  packages/shared_preferences/shared_preferences_macos/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_macos/pubspec.yaml
  packages/shared_preferences/shared_preferences_macos/test/shared_preferences_macos_test.dart
  packages/shared_preferences/shared_preferences_macos/test/test_api.g.dart
Labels: p: shared_preferences, platform-macos, autosubmit

#6919 Roll Flutter from 43b912090224 to 507062032fa4 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6747 [tool] Don't add Guava in the all-packages app
  script/tool/lib/src/create_all_packages_app_command.dart
Labels: autosubmit

#6938 [webview_flutter_platform_interface] Improves error message when `WebViewPlatform.instance` is null
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.dart
Labels: p: webview_flutter, autosubmit

#6900 == override parameters are non-nullable
  script/tool/test/util.dart
Labels: needs tests

#6902 [file_selector] Switch to Pigeon for macOS
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pigeons/copyright.txt
  packages/file_selector/file_selector_macos/pigeons/messages.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.mocks.dart
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
Labels: p: file_selector, platform-macos, autosubmit

#6915 [google_sign_in] Renames generated folder to js_interop.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/gapi_utils_test.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/js_interop/gapiauth2.dart
  packages/google_sign_in/google_sign_in_web/lib/src/load_gapi.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web, autosubmit

#6923 Roll Flutter from 507062032fa4 to 7ddf42eae5ee (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6940 [shared_preferences] Switch to `shared_preferences_foundation`
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/ios/.gitignore
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/shared_preferences/shared_preferences/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: p: shared_preferences, platform-ios, needs tests, autosubmit

#6946 [tool] Replace `flutter format`
  script/tool/CHANGELOG.md
  script/tool/lib/src/format_command.dart
  script/tool/pubspec.yaml
  script/tool/test/format_command_test.dart
Labels: autosubmit

#6635 [path_provider] Switch to Pigeon for macOS
  packages/path_provider/path_provider_macos/CHANGELOG.md
  packages/path_provider/path_provider_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/path_provider/path_provider_macos/lib/messages.g.dart
  packages/path_provider/path_provider_macos/lib/path_provider_macos.dart
  packages/path_provider/path_provider_macos/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_macos/macos/Classes/messages.g.swift
  packages/path_provider/path_provider_macos/pigeons/copyright.txt
  packages/path_provider/path_provider_macos/pigeons/messages.dart
  packages/path_provider/path_provider_macos/pubspec.yaml
  packages/path_provider/path_provider_macos/test/messages_test.g.dart
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.dart
  packages/path_provider/path_provider_macos/test/path_provider_macos_test.mocks.dart
Labels: p: path_provider, platform-macos, autosubmit

#6952 [shared_preferences_foundation] Add Swift runtime search paths for Objective-C apps
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/example/ios/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/RunnerTests/RunnerTests.m
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: p: shared_preferences, platform-ios

#6953 Roll Flutter from 0d91c0343bdc to 220169878e77 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6954 [tool] Check for search paths in Swift plugins
  .ci.yaml
  .ci/targets/mac_lint_podspecs.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/main.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/lint_podspecs_command_test.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit

#6955 [shared_preferences] Revert recent iOS example changes
  packages/shared_preferences/shared_preferences/example/ios/.gitignore
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Debug.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Flutter/Release.xcconfig
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.h
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.m
  packages/shared_preferences/shared_preferences/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/shared_preferences/shared_preferences/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner/main.m
  packages/shared_preferences/shared_preferences_foundation/example/ios/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/Runner-Bridging-Header.h
  packages/shared_preferences/shared_preferences_foundation/example/ios/RunnerTests/RunnerTests.m
Labels: p: shared_preferences, platform-ios, autosubmit, override: no changelog needed

#6910 [android_webview_controller] Fixes bug where an `AndroidController` couldn't be reused
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6943 [webview_flutter_android] Fixes crash when the Java `InstanceManager` was used after plugin was removed from engine
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: p: webview_flutter, platform-android, autosubmit

#6956 Roll Flutter from 220169878e77 to 68dd63d66ba6 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6957 Roll Flutter from 68dd63d66ba6 to 1220245b330c (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6979 Roll Flutter from 1220245b330c to 8c2fdb803e49 (2 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6983 Roll Flutter from 8c2fdb803e49 to cc7845e71a9d (2 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6150 [camera] Allow logical cameras to use all physical cameras via zoom on android 11+
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraZoom.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtils.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPropertiesImplTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraZoomTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomUtilsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#6815 [camera] Use startVideoCapturing and expose concurrent stream/record
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
Labels: p: camera, autosubmit

#6987 Roll Flutter from cc7845e71a9d to 973cff40b402 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6989 [path_provider] Switch to `path_provider_foundation`
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
  script/configs/exclude_all_plugins_app.yaml
Labels: p: path_provider, autosubmit

#6680 [video_player] Expose `VideoScrubber` so it can be used to create custom video timelines
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: p: video_player, needs tests

#6881 [webview_flutter_android] Adds support for receiving Java callback `WebChromeClient.onShowFileChooser`
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FileChooserParamsFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FileChooserParamsTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.pigeon.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_platform.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_flutter_android.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.pigeon.dart
Labels: p: webview_flutter, platform-android, autosubmit

#6995 [webview_flutter_android] Fix throwing `StateError` when `onShowFileChooser` was nonnull
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
Labels: p: webview_flutter, platform-android

#7003 Roll Flutter from 973cff40b402 to a07e8a6ac43d (60 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7007 Roll Flutter from a07e8a6ac43d to f33e8d3701b5 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6573 [file_selector] add getDirectoryPaths implementation on Linux
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_linux/example/lib/home_page.dart
  packages/file_selector/file_selector_linux/example/lib/main.dart
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/file_selector/file_selector_linux/lib/file_selector_linux.dart
  packages/file_selector/file_selector_linux/linux/.gitignore
  packages/file_selector/file_selector_linux/linux/file_selector_plugin.cc
  packages/file_selector/file_selector_linux/linux/test/file_selector_plugin_test.cc
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
Labels: p: file_selector, platform-linux

#7010 Roll Flutter from f33e8d3701b5 to bd7bee0f9eb8 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7012 [local_auth] Convert Windows to Pigeon
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/local_auth/local_auth_windows/lib/local_auth_windows.dart
  packages/local_auth/local_auth_windows/lib/src/messages.g.dart
  packages/local_auth/local_auth_windows/pigeons/copyright.txt
  packages/local_auth/local_auth_windows/pigeons/messages.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/test/local_auth_test.dart
  packages/local_auth/local_auth_windows/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/windows/local_auth.h
  packages/local_auth/local_auth_windows/windows/local_auth_plugin.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.h
  packages/local_auth/local_auth_windows/windows/test/local_auth_plugin_test.cpp
  packages/local_auth/local_auth_windows/windows/test/mocks.h
Labels: p: local_auth, platform-windows, autosubmit

#7017 Roll Flutter from bd7bee0f9eb8 to c35efdaa6854 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7014 Ignore deprecated member use on DecoderBufferCallback
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: p: ios_platform_images, needs tests, autosubmit

#6585 [various] Enable use_build_context_synchronously
  analysis_options.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_linux/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/example/lib/main.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: webview_flutter, p: file_selector, p: image_picker, p: in_app_purchase, platform-ios, platform-android, platform-windows, platform-macos, platform-linux, needs tests, autosubmit

#7026 [path_provider] Fix iOS `getApplicationSupportDirectory` regression
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/RunnerTests/RunnerTests.swift
  packages/path_provider/path_provider_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/pubspec.yaml
Labels: p: path_provider, platform-ios, platform-macos

#6991 [url_launcher] Convert Windows to Pigeon
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pigeons/copyright.txt
  packages/url_launcher/url_launcher_windows/pigeons/messages.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/windows/messages.g.cpp
  packages/url_launcher/url_launcher_windows/windows/messages.g.h
  packages/url_launcher/url_launcher_windows/windows/system_apis.cpp
  packages/url_launcher/url_launcher_windows/windows/system_apis.h
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.h
  packages/url_launcher/url_launcher_windows/windows/url_launcher_windows.cpp
Labels: p: url_launcher, platform-windows, autosubmit

#7025 Roll Flutter from c35efdaa6854 to a815ee634202 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6939 [camerax] Adds functionality to bind UseCases to a lifecycle
  CODEOWNERS
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/lib/src/use_case.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android, autosubmit

#7028 [tool/ci] Add minimum supported SDK validation
  .cirrus.yml
  packages/file_selector/file_selector/example/pubspec.yaml
  packages/file_selector/file_selector_ios/example/pubspec.yaml
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/example/pubspec.yaml
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  script/tool/CHANGELOG.md
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/pubspec_check_command_test.dart
Labels: p: webview_flutter, p: file_selector, p: path_provider, p: plugin_platform_interface, platform-ios, platform-android, platform-linux, platform-web, p: flutter_plugin_android_lifecycle, autosubmit, override: no versioning needed

#6911 [camera] Add back Optional type for nullable CameraController orientations
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: p: camera, platform-android, autosubmit

#4747 [google_sign_in] Add doc for iOS auth with SERVER_CLIENT_ID
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: p: google_sign_in, autosubmit

#7048 Roll Flutter from a815ee634202 to 75680ae99e85 (58 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7038 [tool] Improve main-branch detection
  script/tool/CHANGELOG.md
  script/tool/lib/src/common/package_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#7030 [in_app_purchase] Prep for more const widgets
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, platform-android, needs tests, autosubmit

#7063 [ci] Switch remaining macOS host tests to LUCI
  .ci.yaml
  .ci/targets/macos_build_all_plugins.yaml
  .ci/targets/macos_lint_podspecs.yaml
  .ci/targets/macos_platform_tests.yaml
  .cirrus.yml
Labels: autosubmit

#7064 [ci] Part 1 of swapping iOS platform test arch
  .ci.yaml
Labels: autosubmit

#6986 [camerax] Add system services to plugin
  packages/camera/camera_android_camerax/android/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraPermissionsManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraPermissionsManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/DeviceOrientationManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.pigeon.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.pigeon.dart
Labels: p: camera, platform-android, autosubmit

#6996 [webview_flutter_wkwebview][webview_flutter_android] Fixes bug where the `WebView`s could not be released
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: p: webview_flutter, platform-ios, platform-android, autosubmit

#7034 [camerax] Allow instance manager to create identical objects
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/InstanceManagerTest.java
Labels: p: camera, platform-android, autosubmit

#7065 [ci] Increase heavy workload memory
  .cirrus.yml
Labels: autosubmit

#7027 [various] Update to use sharedDarwinSource
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/ios/Assets/.gitkeep
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/macos/Assets/.gitkeep
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/shared/Assets/.gitkeep
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: p: in_app_purchase, p: shared_preferences, platform-ios, platform-macos, needs tests, autosubmit

#7051 Roll Flutter from 75680ae99e85 to 0a22a1dbf475 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit
